[2020-05-18 12:49] shahzad31 commented on #203
Great, thanks for verifying, i have put a PR, will fix all mentioned issues.

[2020-05-18 12:52] DanRoscigno commented on #203
Thanks!!!

[2020-05-18 14:23] #204 closed, assigned to shahzad31

[2020-05-18 20:16] justinkambic opened #207 "Monitor List can say "no monitors found" while still loading"
**Describe the bug**
We should check if the Monitor List component is still `await`ing a server response before allowing the table's `noItemsMessage` to be `"No uptime monitors found"`. If the query takes a long time (this happens to me when I put 100 items on the page at once), it will say there weren't any found and a couple of seconds later display the items.

**To Reproduce**
Steps to reproduc

[2020-05-18 20:28] shahzad31 commented on #207
i suspect this will be resolved once we merge https://github.com/elastic/kibana/pull/66216

[2020-05-18 20:29] justinkambic commented on #207
I'm about to review that, so if it's no longer an issue I'll add `resolves` keywords to that PR.

[2020-05-19 10:44] #196 closed, assigned to shahzad31

[2020-05-20 22:50] justinkambic opened #208 "Autocomplete in Uptime search bar is not working"
**Describe the bug**
The autocomplete suggestions are not appearing when text is inputted to the search bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up Uptime on `master`.
2. Navigate to the Overview page.
3. Input some text to the search bar
4. Nothing happens

**Expected behavior**
The search bar is supposed to suggest fields and values based on the input.

**Debug logs**
No re

[2020-05-20 23:21] justinkambic opened #209 "Certain searches trigger internal server error"
**Describe the bug**
For certain search queries, parsing can result in a query like:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Type some non-query syntax text into the search bar.
2. Wait a moment for the parsing to happen.
3. Check your Kibana server log and see the error.
4. You can also see the error in your browser's network tab. Filter for `500` status code.

This error ha

[2020-05-21 01:53] shahzad31 commented on #209
this is fixed in this PR https://github.com/elastic/kibana/pull/66888

[2020-05-21 19:03] justinkambic opened #210 "Add functional test for kuery bar interaction"
**Is your feature request related to a problem? Please describe.**
We discovered [a regression](https://github.com/elastic/uptime/issues/208) where we broke our typeahead functionality in the Uptime app. We need to make sure this can't happen again, so we must add a functional test.

**Describe the solution you'd like**
A test that interacts with the kuery bar in Uptime to create a search value.

[2020-05-21 21:44] #208 closed, assigned to nobody

[2020-05-25 11:49] shahzad31 opened #211 "Cert Page Responsiveness"
Need to improve cert page responsiveness

![image](https://user-images.githubusercontent.com/3505601/82810348-84df6900-9e8e-11ea-9e52-54a9b2ce4898.png)

[2020-05-25 13:32] katrin-freihofner opened #212 "Monitor Availability Reporting"
Information about all locations and their availability.

Open questions:

Displaying monitor level availability on the overview page?
UI indicator for the absence of expected data (ie Heartbeat not running when expected)

[2020-05-25 13:32] elasticmachine commented on #212
Pinging @elastic/observability-design (design)

[2020-05-25 13:33] katrin-freihofner commented on #212
[Product brief](https://github.com/elastic/observability-dev/issues/791)

[2020-05-26 13:02] shahzad31 commented on #207
i believe this has been fixed in https://github.com/elastic/kibana/pull/66216

[2020-05-26 16:29] justinkambic opened #213 "API test for dynamic settings negative values"
**Is your feature request related to a problem? Please describe.**
We [added code](https://github.com/elastic/kibana/issues/65381) to ensure the API doesn't support values < 1 for our TLS settings fields.

**Describe the solution you'd like**
We should add functional API tests to ensure that we receive `400` errors for negative values in the TLS fields.

**Describe alternatives you've considered**

[2020-05-26 16:49] shayvilk commented on #170
hi,
Sorry for the late replay :)
the setup is that I'm monitoring our site host machines logs\metrics, these mechanisms are working on hostname.
I'm also using heartbeat to monitor the site's uptime, for this, I'm using the true DNS URL's of the sites to verify I'm not getting a false positive due to networking issues (local address vs real life FW\loadbalanced addresses).

the issue is that the h

[2020-05-26 20:10] shahzad31 opened #214 "Monitor Availability Reporting (Per Location)"
This is an implementation issue for https://github.com/elastic/observability-dev/issues/791

See https://github.com/elastic/observability-dev/issues/794 for personas / user stories

ACs
Availability is calculated as the percentage of "up" test results to the total number of tests in the relevant period
Availability is calculated and displayed per geo-node per monitor
Availability is calculated on

[2020-05-26 20:47] #211 closed, assigned to andrewvc

[2020-05-27 20:17] andrewvc opened #215 "[Uptime] Switch away from Auto-date histogram"
We started using auto data histogram again and have noticed that it sometimes uses too few buckets resulting in awkward looking histograms. Let's switch back to using: https://github.com/elastic/kibana/blob/master/x-pack/plugins/uptime/server/lib/helper/get_histogram_interval.ts for our histograms on the overview page since it does what we expect, evenly dividing time.

[2020-05-28 09:23] katrin-freihofner commented on #186
The aggregation does not fit in the filter bar in my opinion. @drewpost the aggregation should be the same for the whole screen and all charts, right?

[2020-05-28 09:59] drewpost commented on #186
Hi @katrin-freihofner - the filter bar drives which results should be included in all charts and tables on the page. Hierarchically, the filter bar is the main control for what data you see. Charts with further breakdown capabilities (ie the performance distribution) would always break down the data after the filters had been applied to it. ie If I filtered by iOS and then broke down the chart by

[2020-05-28 12:33] shahzad31 opened #216 "[Uptime] Display relative date in cert column in certs page"
In certificates page we have cert status column which displays status as Expired, OK, Expires soon, in offline discussion we have realised that it's hard for user to grasp, full information looking at valid until date, user is interested in, if it's expiring soon, in how many days? months? it's ok for how many days/months.

So we should display that info in cert column saying, Expire soon in 2 mon

[2020-05-28 13:12] shahzad31 commented on #194
Resolved by https://github.com/elastic/kibana/pull/66832

[2020-05-28 13:12] #194 closed, assigned to shahzad31

[2020-05-28 17:47] katrin-freihofner commented on #212
# Design update

I tried the idea @shahzad31 had, to toggle the table and the world map. They present kind of the same information, but the table shows more details. As we were discussing [hiding the worldmap](https://github.com/elastic/uptime/issues/192) this could be a way to handle that.

Also, I took the chance to clean-up the existing UI elements a bit.

<img width="1370" alt="Screenshot 2020

[2020-05-28 22:04] andrewvc commented on #212
I like the toggle. I think it'll also be simpler to implement, and handle changes to content a bit better as well (what if the number of pages decreases). ++ on moving forward here.

[2020-05-28 22:19] andrewvc opened #217 "Expose tags in UI"
Today one can set tags in heartbeat, and filter by them in the overview, but tag data is not showed anywhere. We should probably show tags on the overview page and on the details page.

[2020-05-29 09:07] shahzad31 commented on #212
I am also in favour of toggle but only in case space is the constraint, otherwise we should keep both views intact. I think for bigger screens, it should be ok, since list columns are mostly going to be very small, they won't take enough space.

[2020-05-29 12:38] justinkambic commented on #212
We persist some UI state, like page size. The toggle seems like something we might want to consider persisting as well. If we keep the toggle, as a user I'd probably find it really annoying if I prefer one view over the other and it resets any time the local state is deleted.

[2020-06-02 17:14] justinkambic opened #218 "Stop updating the URL to manage state changes"
We support representing slices of our state in the app URL. We should continue doing so, but in a different way. Today, we have a state store that should contain the source of truth for all our app's non-local state. We have a lot of code that ships state directly to the URL, and then the store. This can cause headaches because of intermingling of where and how updates happen.

We should instead o

[2020-06-03 08:08] #186 closed, assigned to katrin-freihofner

[2020-06-03 08:58] katrin-freihofner commented on #212
Latest update:
- we moved the overall availability from the right to the left
- the table and worldmap have a new headline "Monitor locations"
<img width="1376" alt="Screenshot 2020-06-03 at 10 51 55" src="https://user-images.githubusercontent.com/20965076/83617134-f2734f80-a588-11ea-9db2-e59cbb753399.png">

[2020-06-03 08:58] #212 closed, assigned to katrin-freihofner

[2020-06-03 13:48] #206 closed, assigned to justinkambic

[2020-06-03 14:52] andrewvc commented on #202
Closing since this is already merged. We should try to backport to 7.7.2

[2020-06-03 14:52] #202 closed, assigned to nobody

[2020-06-03 16:46] shahzad31 commented on #212
We are going to rename "Monitor locations" label to "Monitoring from"

[2020-06-03 18:59] #207 closed, assigned to justinkambic

[2020-06-04 14:34] katrin-freihofner commented on #180
Quick update
<img width="1442" alt="Screenshot 2020-06-04 at 16 31 47" src="https://user-images.githubusercontent.com/20965076/83770083-f08cb780-a680-11ea-8bda-455727e001ed.png">

Todo
- tooltip for charts? (could be our standard tooltips)
- breakdown action

[2020-06-04 14:39] katrin-freihofner commented on #185
Initial design
<img width="1217" alt="Screenshot 2020-06-04 at 16 35 03" src="https://user-images.githubusercontent.com/20965076/83770473-642ec480-a681-11ea-963c-5d2d8167b9c7.png">

- I used a table for the errors. Is this all the data we need there?
- With the data grid for the high traffic pages, users would be able to switch out columns by themselves. If there is a way of proper grouping or red

[2020-06-04 16:40] justinkambic opened #219 "Extract ES fields to a constants file"
During [a recent review](https://github.com/elastic/kibana/pull/68005), it [was noted](https://github.com/elastic/kibana/pull/68005#discussion_r435239081) that we should extract Elasticsearch field names to a constants file, rather than using them directly in code.

This is a practice adopted by other teams, and would help keep our codebase cleaner.

[2020-06-04 23:00] andrewvc opened #220 "Support for APM service.name in Heartbeat/Uptime"
Today, linking between Uptime / APM is done only via URL. It would be trivial to add a common option to heartbeat monitor options `service_name`, that added the appropriate field for APM. This could then be used by the integrations links on the monitor overview/detail page to cross-link to APM.

[2020-06-08 12:34] drewpost commented on #220
Trivial effort and high return - I am in favour of prioritising this. Can we elaborate a bit more with some user stories to really bring home the value of it @andrewvc and then discuss with the team when to bring it in?

[2020-06-08 16:03] andrewvc commented on #145
This is already merged in, targeting 8.0!

[2020-06-08 16:04] andrewvc commented on #145
See https://github.com/elastic/kibana/pull/64059

[2020-06-08 16:04] #145 closed

[2020-06-08 19:15] #179 closed, assigned to justinkambic

[2020-06-08 19:50] bmorelli25 commented on #20
I've updated the issue description as it looks like most tasks have been accomplished. The only remaining task is to create a section on Uptime in Heartbeat.

cc @EamonnTP

[2020-06-09 00:44] andrewvc commented on #220
As a user of both APM and Uptime, I'd like to more easily navigate between the two apps. Being able to jump from an uptime outage to an APM analysis of the same outage is something I expect. I'd like to be able to view a discrete error, then easily view that time segment in the relevant service in APM.

[2020-06-09 14:37] #180 closed, assigned to katrin-freihofner

[2020-06-09 17:54] #216 closed, assigned to andrewvc

[2020-06-11 17:11] justinkambic opened #221 "Create localStorage helper"
We are referencing `localStorage` increasingly in the Uptime app for some features to help them remain "sticky", rather than defaulting to the usual state while browsing or between usage sessions. To prevent this from getting out of hand (divergent implementations, code redundancy), we should create a hook or other helper function that we can reference throughout the application to get access to t

[2020-06-11 20:07] justinkambic commented on #201
Resolved by https://github.com/elastic/kibana/pull/68005

[2020-06-11 20:07] #201 closed, assigned to justinkambic

[2020-06-12 12:49] #203 closed, assigned to shahzad31

[2020-06-12 12:49] #209 closed, assigned to nobody

[2020-06-15 11:00] roncohen commented on #180
1. Page load distribution graph is actually a histogram right? The current graph indicates that exactly 1.8% of page loads finished in exactly 1.2s. In reality, there's a bucket around 1.2s, maybe ranging from 1.0s to 1.4s, and the amount of page loads that finished in the range 1.0s to 1.4s amounts to 1.8% of the number pages loaded? If that's right, i think that graph should be a bar chart with

[2020-06-16 04:16] tbragin commented on #220
+1 on this effort. Aligning and using most important ECS fields across our apps is so important.

cc @elastic/observability-pm @roncohen @alvarolobato

[2020-06-16 05:35] shahzad31 opened #222 "[Uptime] Ability to view sample document in discover"
**Is your feature request related to a problem? Please describe.**
In heartbeat we have some data that's hidden from uptime app, even though we are adding new features, it's always hard to catch up, is user needs to debug some problem, they may needs to look at raw data. Which can now be done using creating hearbeat index pattern and then taking a look at discover manually.

**Describe the solutio

[2020-06-16 07:34] cyrille-leclerc commented on #220
+1 on this initiative.

@andrewvc minor comment: I think that the ECS field name is `service.name` rather than `service_name` (see [Elastic Common Schema (ECS) / Service Fields](https://www.elastic.co/guide/en/ecs/master/ecs-service.html)).

The next integration between APM and Uptime my wishlist is the usage of `transaction.id` and `trace.id` in uptime 👼

[2020-06-16 16:04] #214 closed, assigned to andrewvc

[2020-06-18 16:22] justinkambic opened #223 "QoS Availability Alerting implementation"
**Is your feature request related to a problem? Please describe.**
We want to enable our users to create QoS alerts for their endpoint availability.

**Describe the solution you'd like**
We'll add a new alert type for this functionality. Users will access it from the Overview page, or the monitor detail page. Additionally, the UI functionality will be available from the Management page for the cre

[2020-06-18 16:51] justinkambic opened #224 "Lack of synchronization between kuery bars on Overview/Monitor Status alert"
**Describe the bug**
When the user updates the kuery bar in the alerting flyout from within the Overview page, the kuery bar behind the flyout doesn't update to reflect the changes. This leads to a confusing UI state when the user clicks out of the flyout, because the rest of the app reflects the updated state, while the kuery bar still shows outdated filters.

![Jun-18-2020 12-47-34](https://user

[2020-06-19 20:48] tbragin commented on #222
Seems like a good idea, especially from consistency purposes.

[2020-06-25 07:22] SlavikCA opened #225 "[Uptime] doesn't show some monitors, when using NOW as enddate"
**Describe the bug**
Uptime app in Kibana doesn't show some monitors, when using NOW as enddate

**To Reproduce**
Steps to reproduce the behavior:
- I have 16 monitors, which are reported from 3 systems (some reported from each, some from only 1)
- When all 3 reporting system (with Heartbeat) was working - all 16 monitors was visible in Uptime for "Last 24hr"
- 1 reporting system went down
- Now o

[2020-06-25 07:26] SlavikCA commented on #225
All monitors (note that timeframe is "TO: an hour ago"):
![Screen Shot 2020-06-25 at 12 23 49 AM](https://user-images.githubusercontent.com/6293679/85675017-346c4e80-b67a-11ea-93ca-bf8847281371.jpg)

Now, I select "Last 24hr" and few monitors are missing:
![Screen Shot 2020-06-25 at 12 25 20 AM](https://user-images.githubusercontent.com/6293679/85675205-6087cf80-b67a-11ea-9198-7ff92ac28b20.jpg)

N

[2020-06-30 03:15] nikulinivan opened #226 "Synthetic monitor don't store credentails in journey result as clear text"
**Is your feature request related to a problem? Please describe.**
If authentication with credentials routine is a part of transaction, then they will be stored as clear text in ES cluster as a part of playwright script body.

**Describe the solution you'd like**
Use credentials as a configuration parameters for synthetic monitor. Use parameterization inside playwright script. Source code for step

[2020-06-30 03:23] nikulinivan opened #227 "Synthetic monitor. Filed monitor.status don't reflect overall state of the healtcheck"
**Describe the bug**
Rel: https://github.com/elastic/cloud/issues/61253
`monitor.status` field currently don't properly reflect overall synthetic transaction status. (down only if headless browser engine isn't available) Any failed step won't change status to down(also related to `summary.down`, `summary.up` fields). Blocker for alerting.

**To Reproduce**
1. Create playwright script with intentio

[2020-06-30 14:25] shahzad31 opened #228 "Ping histogram should generate meaningful buckets"
Right now ping histogram uses `auto_date_histogram` it hasn't been working well to create buckets, it creates buckets, either too big or too small.

I think if user selects a range like for example last 24h, in that case histogram should generate 1h interval, same goes for last 7 days, should result in 1d interval.That way by looking at histogram one can have meaningful interoperation. We should h

[2020-06-30 14:29] justinkambic commented on #228
We should at the very least calculate the interval to prevent massively wide buckets from forming, rather than relying on `auto_date_histogram`. Coupled with common-sense intervals like the issue describes it should provide a more meaningful viz.

[2020-07-07 16:00] andrewvc opened #229 "[DESIGN] Synthetics MVP"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)

Data available for use in UI

* Per run
  * Overall status (up/down) (required)
  * DOM source for the final step
  * Filmstrip
  * Waterfall (v2)
* Individual steps
  * Name of the step (user defined) (required)
  * Source code that powers the step (required)
  * Status (Success, Fail, Skipped) (required)

[2020-07-07 16:00] elasticmachine commented on #229
Pinging @elastic/observability-design (design)

[2020-07-08 10:58] hendry-lim opened #230 "Monitor status list displays Internal Server Error if remote heartbeat index is configured"
**Describe the bug**
"Internal Server Error" is displayed on Uptime monitor list if retrieving monitor list through CCS.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a remote cluster 7.9.0 --> 7.8.0
2. Browse to the Uptime UI in Kibana
3. Configure remote cluster heartbeat index in Uptime settings
4. Internal Server Error is displayed on monitor status list

![uptime-7 9-CCS int

[2020-07-08 15:50] andrewvc commented on #225
@SlavikCA can I ask which version this is (in both heartbeat and Uptime)? We fixed some issues that are similar to this in 7.8.0.

[2020-07-13 23:37] hendry-lim commented on #230
This issue seems to be fixed in the latest `7.9.0-SNAPSHOT` build.

[2020-07-14 02:26] andrewvc commented on #227
Handled elsewhere

[2020-07-14 02:26] #227 closed, assigned to nobody

[2020-07-14 03:51] andrewvc commented on #227
Moved https://github.com/elastic/synthproxy/issues/2

[2020-07-14 12:46] drewpost commented on #229
cc: @andrewvc @katrin-freihofner

A few comments/questions:

- If we're capturing timing information, is it possible to capture two values? One for backend (ie `TTFB` or `responseEnd`) and one for "page load" ie `onLoadStart`- Is this massively more work?
- I think we should consider pass/fail as language vs up/down. Something that communicated functionality vs availability?
- What increments will

[2020-07-14 14:32] drewpost commented on #229
Another thought - we should have something to indicate when a step is not a full page load so the user isn't expecting to see the full complement of data that comes from a page load

[2020-07-15 01:51] andrewvc commented on #220
@cyrille-leclerc great ideas for `transaction` stuff in future versions! Heartbeat PR is here: https://github.com/elastic/beats/pull/19932

@katrin-freihofner any input on this? Adding the menu item to the integrations list should be very straightforward to the uptime UI.

[2020-07-15 04:43] hendry-lim opened #231 "Monitor list does not include monitors without TLS"
**Describe the bug**
The Uptime UI uses a query which requires `tls.server` field value.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a http/icmp monitor in heartbeat
2. Observe the monitor events are ingested into ES
3. Go to Kibana - Uptime
4. Monitor is not listed on the monitor list

**Expected behavior**
All monitors, including http, icmp, etc, should be listed on the monit

[2020-07-15 09:11] katrin-freihofner commented on #220
I think this a great initiative. Linking to the service from the integrations menu should work. I think this could even work better with the new [integrations menu](https://github.com/elastic/uptime/issues/128). A shared component for this is already available.

[2020-07-15 09:39] shahzad31 commented on #231
Hi @hendry-lim thanks for opening the issue.

Actually the query you have posted is to get list of certificates from certs page. Uptime monitor list does shows list of all monitors. Monitor list query doesn't have exist filter for `tls.server`

Would you able to show the heartbeat config(masked), i will try to reproduce the issue you are facing.

[2020-07-15 09:56] hendry-lim commented on #231
Hi @shahzad31 thank you for your fast reply.

I can't seem to replicate this either. I think we can close this for now.

I sincerely apologise for the false alarm.

[2020-07-15 09:56] #231 closed, assigned to nobody

[2020-07-15 11:36] shahzad31 opened #232 "[Uptime] Reduce uptime bundle size removing unnecessary packages and using lazy loading"
Uptime raw bundle size is 482k, we have some room to improve it,
![image](https://user-images.githubusercontent.com/3505601/87540520-21a8d080-c6a0-11ea-9831-cef7d499b0ad.png)

Lodash is almost 50% of it, we can remove that, as well by using lazy loading we can move some components to other bundles.

- [ ] Remove lodash
- [ ] Use lazy loading

[2020-07-15 12:49] drewpost opened #233 "Core Vitals RUM Panel"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)
Core Vitals has a massive impact on google ranking/placement and is a solid representation of user experience. We want to feature it on our RUM dashboard

**User stories**
As a front-end engineer with an Elastic RUM tagged website
I want to see my Core Web Vitals scores for my my origins
So that I can underst

[2020-07-15 12:49] elasticmachine commented on #233
Pinging @elastic/observability-design (design)

[2020-07-15 21:49] andrewvc opened #234 "[RUM UI] Add notification for agent upgrades to UI"
**Is your feature request related to a problem? Please describe.**

For some features, like the upcoming web vitals, users will need to ensure that users are running the latest version of the RUM agent to see any data. This issue will certainly come up again, and we should strive to keep users on the latest copy of the agent.

**Describe the solution you'd like**

On the RUM dashboard we could add

[2020-07-15 21:49] elasticmachine commented on #234
Pinging @elastic/observability-design (design)

[2020-07-16 01:05] andrewvc commented on #215
Looks like we still have weird bucketing sometimes:

![image](https://user-images.githubusercontent.com/131427/87614752-854df080-c6d6-11ea-97fa-5ec7d2a45b0a.png)

[2020-07-16 20:27] andrewvc opened #235 "Elastic Agent and Heartbeat Integration - Phase 1 (HTTP/ICMP/TCP Ping)"
We'd like to be able to centrally manage monitors in Uptime via the UI vs using the Heartbeat YML as is done today. We can look at the Security app for inspiration, an Uptime monitor is somewhat analogous to a security policy.

UI ACs:
1. Ability to perform CRUD (Create Read Update Delete) operations on all monitors from within the Uptime app.
2. Ability to deploy "Uptime" integration to any agent

[2020-07-16 20:56] andrewvc opened #236 "[Design] Ingest Management MVP"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)

This is the design issue corresponding to https://github.com/elastic/uptime/issues/235

The main issue here is that users would like to be able to configure (CRUD) monitors via the Kibana GUI instead of YAML.

**Rough Design Outline**

Our initial discussion here has been around:

1. UI to be built primarily

[2020-07-16 20:56] elasticmachine commented on #236
Pinging @elastic/observability-design (design)

[2020-07-17 02:23] andrewvc opened #237 "Simple, Singular Monitor Alerts"
**Is your feature request related to a problem? Please describe.**

Alerting today generally performs a search that matches 1+ results, then sends out a single message summarizing everything that happened. Users have generally said that they prefer a single message instead.

Additionally, users complain that they can't access all fields they'd like to access. With multiple grouped alerts this is c

[2020-07-19 04:01] #230 closed, assigned to nobody

[2020-07-20 15:50] katrin-freihofner commented on #234
Like this?
<img width="1128" alt="Screenshot 2020-07-20 at 17 50 06" src="https://user-images.githubusercontent.com/20965076/87958158-7938a900-cab1-11ea-81a6-b2de3f81eab8.png">

I suggest adding an action for the user to upgrade.

@drewpost @andrewvc

[2020-07-21 10:12] katrin-freihofner commented on #233
@drewpost
I think we could use a panel with Eui stats like the one we already have for this

<img width="1428" alt="Screenshot 2020-07-21 at 12 09 11" src="https://user-images.githubusercontent.com/20965076/88041679-0a0f9300-cb4b-11ea-9095-874de870ca6c.png">

+ a button group to toggle mobile vs desktop
+ a subheadline stating that is data is not from all browsers

Can we add information about how

[2020-07-21 10:25] drewpost commented on #233
@katrin-freihofner - I think that's OK however I'm not sure how that would communicate the percentage of people within the bands for each score? ie if <2s is good 2-4s is ok and >4s is bad - we need to show the percentage of impressions/results that fall into those bands for the given period. That may be a bit much to communicate textually.

I also LOVE the ability to compare periods of time. Real

[2020-07-21 14:59] andrewvc opened #238 "[Design] RUM Core vitals + Key Metrics"
We'll need to add the following metrics to the RUM page (all averages):

1. CLS: Cumulative Layout Shift
2. FID: First Input Delay
3. TBT: Total Blocking Time
4. LCP: Largest Contentful Paint
5. FCP: First Contentful Paint

- We can put them in one UI block, though we may later group CLS,LCP and FID under Core vitals.
- These values all have their own ranges of good to warning to bad, and should p

[2020-07-21 14:59] elasticmachine commented on #238
Pinging @elastic/observability-design (design)

[2020-07-21 15:18] andrewvc commented on #238
Closing as dupe of https://github.com/elastic/uptime/issues/233

[2020-07-21 15:18] #238 closed, assigned to nobody

[2020-07-21 15:23] andrewvc commented on #233
This requires the RUM agent need to make changes to add these metrics to transaction docs and out of spans. See https://github.com/elastic/apm-server/issues/3972

[2020-07-21 18:31] justinkambic commented on #237
I am +1 on adding this enhancement; it's a request we've gotten from many different outlets. I also agree that field grouping seems like something that a lot of people are going to want, and it makes sense to maintain it as a feature of the Alerting API rather than hosting many similar but disparate implementations across solutions.

Given the amount of functionality we have added for alerting thu

[2020-07-21 21:31] andrewvc opened #239 "Synthetics MVP"
**Business Justification**
80% of what end users perceive as "load time" comes from the processing, parsing, and rendering of hundreds of individual objects per page in their browser on their device. In order to offer a competitive observability solution, Elastic needs to be able to monitor end-user functionality, front-end UX and performance metrics for single pages and complex multi-step user jo

[2020-07-21 21:37] andrewvc opened #240 "Move RUM tab to sidebar"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)

We want to move the RUM tab to its own app in the sidebar. This should just entail adding the sidebar link to the RUM page and not much else.

The breadcrumbs will change to "End User Experience" or whatever the sidebar tab is named (@katrin-freihofner do you remember what this was to be called?)

[2020-07-22 00:34] andrewvc commented on #223
I think we should delay this until we've made progress on https://github.com/elastic/uptime/issues/237 in which we'll redo the alerts to focus on single monitors.

[2020-07-22 00:36] andrewvc commented on #224
Candidly, there's something weird about these things being synchronized. If the flyout didn't hide the background with a translucent div I'd say yeah, syncing makes sense, but given that it does it's weird that we expect the flyout to change the obscured background.

@katrin-freihofner WDYT here UI-wise? I kind of think it should be independent or we should come up with some other solution if the

[2020-07-22 00:38] andrewvc commented on #222
This is a great idea. Maybe it can go in the ping history? @katrin-freihofner what are your thoughts?

[2020-07-22 01:20] andrewvc commented on #205
Closing in favor of https://github.com/elastic/uptime/issues/237

[2020-07-22 01:20] #205 closed, assigned to nobody

[2020-07-22 01:26] andrewvc commented on #219
Can we go deeper here? It's getting to the point where a lot of our code is impossible to understand due to everything being a constant, thus negatively impacting code readability.

My reasoning is that:
* This makes code harder to read
* It takes extra work to do this in the first place
* It saves us some small amount of effort in the rare event that we change a field name
* It adds a small amoun

[2020-07-22 01:27] andrewvc commented on #190
The heartbeat side has been merged in https://github.com/elastic/beats/pull/18327

[2020-07-22 01:42] andrewvc commented on #149
Closing this as we've already merged docs between Kibana and solutions.

[2020-07-22 01:42] #149 closed

[2020-07-22 01:44] andrewvc commented on #104
Can you be more specific here? Is it the units that must change?

[2020-07-22 01:45] andrewvc commented on #15
Fixed in https://github.com/elastic/kibana/pull/67790 (targeting 7.9.0).  If this doesn't resolve anyone in this thread's use cases feel free to open a new issue.

[2020-07-22 01:45] #15 closed

[2020-07-22 01:46] andrewvc commented on #19
This should be resolved in https://github.com/elastic/kibana/pull/67790 targeting 7.9.0 . If there are other features desired please open a new issue.

[2020-07-22 01:46] #19 closed

[2020-07-22 01:52] andrewvc commented on #184
Fixed in https://github.com/elastic/kibana/pull/71428

[2020-07-22 01:52] #184 closed, assigned to nobody

[2020-07-22 07:18] katrin-freihofner commented on #240
I think @drewpost can help us here.

[2020-07-22 07:23] katrin-freihofner commented on #224
I agree. The view in the background should not be updated. Didn't we once discuss to have a hint how many monitors will be affected by this filter?

We could also do something similar to what the Metrics app does:
<img width="609" alt="Screenshot 2020-07-22 at 09 22 54" src="https://user-images.githubusercontent.com/20965076/88147068-00defe80-cbfd-11ea-8e30-b80c732f3a66.png">

[2020-07-22 14:47] hendry-lim opened #241 "Default time range filter should respect the default time filter defined in Kibana Advanced Settings"
**Describe the bug**
As the title above. APM had the same issue, but it was fixed in [#71464](https://github.com/elastic/kibana/pull/71464).

**To Reproduce**
Steps to reproduce the behavior:
1. Configure default time filter in Kibana Advanced Settings to 1h
2. Navigate to Uptime
3. The time range filter shows 15 minutes.

**Expected behavior**
The default time range filter in Uptime should has th

[2020-07-22 15:07] hbharding commented on #236
I think this relates to https://github.com/elastic/kibana/issues/72546 (cc @mostlyjason)

[2020-07-22 17:23] andrewvc commented on #215
Reopened since the pings over time graph didn't get this fix.

[2020-07-22 17:27] justinkambic commented on #219
I'm usually fine with doing things inline until I notice myself repeatedly writing the same code. Even from a testing standpoint with functions, I've taken the practice of exporting module-level implementation details to write unit tests, without the intention of those functions being imported anywhere else.

It's really common in the Kibana repo to host constant values in dedicated files. This ha

[2020-07-22 17:35] justinkambic commented on #104
I was commenting on [the code that creates formatting for our chart labels](https://github.com/elastic/kibana/blob/master/x-pack/plugins/uptime/public/lib/helper/charts/get_label_format.ts).

There's are some locale assumptions there that need to be refactored. Essentially, at the time the charts were showing labels by default that looked silly for different time ranges. It's worth investigation,

[2020-07-22 17:43] justinkambic commented on #224
@andrewvc the simplest solution then is to treat this as a completely different piece of state from the overview page (which would probably simplify this component as well) and not have the flyout impact the overview page selection. It would enable us to store the flyout's selections entirely in local state, and provide defaults from the overview page, if they're available.

@katrin-freihofner the

[2020-07-23 12:15] katrin-freihofner commented on #185
Implemented by https://github.com/elastic/kibana/issues/73037

[2020-07-23 12:15] #185 closed, assigned to katrin-freihofner

[2020-07-24 01:02] #215 closed, assigned to andrewvc

[2020-07-28 14:30] #232 closed, assigned to shahzad31

[2020-07-29 13:51] #220 closed, assigned to justinkambic

[2020-07-30 10:52] katrin-freihofner commented on #233
## Overview
### All core vitals
<img width="1164" alt="Screenshot 2020-07-30 at 12 46 49" src="https://user-images.githubusercontent.com/20965076/88914336-c3b0e700-d262-11ea-8005-804b1ce6e2d6.png">

## Details
### Tooltips
Tooltips could provide further details what these bar charts and the percentages mean.
<img width="840" alt="Screenshot 2020-07-30 at 12 44 23" src="https://user-images.githubus

[2020-07-30 12:32] katrin-freihofner commented on #233
Do we always have all metrics available? Are there any corner cases (no data/not enough data...) I should be aware of?

[2020-07-30 17:17] shahzad31 opened #242 "User should be able to create simple monitor down alert by single click"
Enabling a simple down alert right now requires lot's of clicking, filling and steps. If user wants an alert as soon as monitor is down, it should be easy to configure.

I purpose we add an alert icon in monitor list, by clicking that simple icon user should be able to enable/disable alert on that monitor.

It will be added before expand row icon

![image](https://user-images.githubusercontent.com

[2020-07-31 13:28] andrewvc opened #243 "Agent indexing strategy"
All data will go under

type: synthetics
dataset: monitor
namespace: default

[2020-07-31 14:11] andrewvc commented on #243
Need to add PR to ES for mapping template

[2020-07-31 14:21] shahzad31 commented on #219
@andrewvc i think if constant is label properly like for example `observer.geo.name` is probably hard to type, declared constant can be just OBSERVER_GEO_NAME, it will just help with type checking like you mention and also i dont have to worry if i typed it correctly.

[2020-08-03 13:19] katrin-freihofner commented on #234
I talked to @drewpost about this and we are going to change the message a bit. It should say

RUM agent vX.X [Upgrade](https://www.elastic.co/guide/en/apm/agent/rum-js/master/upgrade-to-v5.html#v5-update-rum-agent)

With a tooltip explaining:

`RUM agent is up to date`
`vX.Y available`

Upgrade URL: https://www.elastic.co/guide/en/apm/agent/rum-js/master/upgrade-to-v5.html#v5-update-rum-agent.

We

[2020-08-03 14:36] drewpost commented on #234
The copy change was an attempt to make it consistent with the messaging that users see in their Elastic Cloud deployments.

[2020-08-04 01:57] andrewvc opened #244 "Add Chart annotations"
**Is your feature request related to a problem? Please describe.**

It'd be useful to add custom annotations for events in your infrastructure. Thus https://github.com/elastic/kibana/pull/64796

**Describe the solution you'd like**

TBD, we should talk with the APM team about annotations in Uptime

[2020-08-04 02:06] andrewvc opened #245 "Incident support in uptime"
**Is your feature request related to a problem? Please describe.**

Today when a site becomes unreachable or otherwise fails a check in Uptime a user gets multiple failed pings. This creates an information overload since a user must read each one to see if they're related, or simply assume that they are.

**Describe the solution you'd like**

We should create discrete incidents with unique IDs tyi

[2020-08-04 16:27] tbragin commented on #245
I love the idea of exploring heuristics for grouping uptime alerts into incidents. While I see it as a larger goal in observability to group alerts into incidents across data types, I like the idea of starting small in a well-scoped domain of uptime monitoring to investigate this. I'm curious whether the framework for doing so as well as the UX for exposing incidents can eventually be applied to o

[2020-08-04 18:11] andrewvc commented on #245
@tbragin I agree uptime's an ideal initial use case. I assume the lessons we learn UI wise will be quite portable.

There's probably a larger story here for a unified incident concept across observability, but I don't think we should try to go there yet. This initial take will be very reliant on existing heartbeat datastructures, so no generic API or data-model across apps.

That said, we could ge

[2020-08-04 21:45] andrewvc opened #246 "Group by Tag/Domain"
**Is your feature request related to a problem? Please describe.**

When monitoring a large number of services the Uptime overview page makes it hard to see if groups of services are all working. We currently show a very granular view, with one row per monitor. One logical service may be the source of multiple failures, but it's hard to ascertain with the current monitor view, which has no groupin

[2020-08-04 21:55] andrewvc opened #247 "[DESIGN] Group by Tag/Domain"
This is the design issue for https://github.com/elastic/uptime/issues/246

**Summary of the problem** (If there are multiple problems or use cases, prioritize them)

When monitoring a large number of services the Uptime overview page makes it hard to see if groups of services are all working. We currently show a very granular view, with one row per monitor. One logical service may be the source of

[2020-08-04 21:55] elasticmachine commented on #247
Pinging @elastic/observability-design (design)

[2020-08-05 12:23] hmdhk commented on #233
Thanks @katrin-freihofner , the design looks great.

One suggestion: Instead of the message for data availability, we can show the percentage of transactions that had this data compared to the ones that didn't. e.g. "These metrics are representative of 83% of transactions due to browser support" or similar.

[2020-08-05 12:45] katrin-freihofner commented on #233
@jahtalab thank you, that is great input. I will update the message.

[2020-08-05 12:47] katrin-freihofner commented on #233
[Figma file](https://www.figma.com/file/2v4vCAIJtT7faWsZo7VE2F/Dashboard?node-id=65%3A2289)

[2020-08-06 02:46] andrewvc commented on #128
Working on this now, one wrinkle here is that for APM we now link with the Domain by default, but users can override the domain if they set `service.name` to create an explicit link. I'll probably have the text change if `service.name` is set, and indicate that they
can set it if it isn't.

[2020-08-06 11:36] #233 closed, assigned to katrin-freihofner

[2020-08-06 13:00] shahzad31 opened #248 "Monitor status availability alert only fire with status check threshold"
Uptime monitor status alert has two thresholds status and availability, both should be independent of each other.

But at the moment, it only fires when status threshold breaches, availability threshold should fire regardless of status.

[2020-08-06 13:05] #248 closed, assigned to nobody

[2020-08-06 20:45] #101 closed

[2020-08-11 02:26] SlavikCA commented on #225
heartbeat version 7.8.0 (amd64), libbeat 7.8.0 [f79387d32717d79f689d94fda1ec80b2cf285d30 built 2020-06-14 17:31:16 +0000 UTC]

Kibana is 7.8.0 in the Cloud

[2020-08-12 16:56] katrin-freihofner commented on #236
[Video that shows the current state](https://www.loom.com/share/354a63b72b1f4967bcfbce5c5245f81d)

Open questions:
1.  Do we need an entry point from the monitor overview page?
1. Who is going to provide the content for the integration page? 
1. Do we need anything additional on the configuration side? 
1. Should the add data button in Uptime go to IM -> add monitor view?
And if not, where does a

[2020-08-13 01:46] andrewvc commented on #236
@katrin-freihofner looks great!

1. Yes, I think an entry point from the monitor overview page would be great. I think we discussed using the current 'add data' button, which should go away.
2. @drewpost would you be able to provide the text content for the integrations page?
3. I'd like us to add as many advanced options as possible this release after we get the basics. I think we can experiment

[2020-08-13 19:48] mostlyjason commented on #236
@katrin-freihofner thanks again for working on this overall the design looks great!

1. How do you add a new monitor? It seems like an add monitor button would be good to add? It might be good to think about consistency between apps here as well. Does it make sense for all apps to have an add data button in the same place so its easy to find?
2. Thanks Drew!
3. @andrewvc Can you remind me what you

[2020-08-14 07:09] katrin-freihofner commented on #236
Sorry, I did not communicate that clearly. There is a button that on the overview page to add monitors. The question here was more about, do we want to have an edit/delete button in the list of monitors on the overview page.

I started working on that for Logs and Uptime and will update you soon.

The context menu there is still the old version of our actions menu. I think both, edit and delete co

[2020-08-14 07:45] #237 closed, assigned to justinkambic

[2020-08-14 17:16] mostlyjason commented on #128
@katrin-freihofner @andrewvc sorry to be a stinker I know naming is hard! When I first saw integrations in the menu text I was confused and thought you were referring to the synthetics integration package. We are using the word "integrations" to mean two different things. What is the reason to call it integrations instead of actions?

[2020-08-14 18:08] andrewvc commented on #236
@katrin-freihofner @mostlyjason @ruflin @drewpost one thing we missed here, that I discussed with @mostlyjason is a 'policy' selector (policies are what are called 'configurations' in IM today, but that will change soon) and a link to the add policy button. This is already part of the IM UI, SS below

![image](https://user-images.githubusercontent.com/131427/90279498-ecbea380-de2e-11ea-809b-acebba

[2020-08-14 18:57] andrewvc commented on #236
@mostlyjason and I resolved most of the questions he mentioned in a zoom, we're fine on the flyout, multi-region support is coming post 7.10

[2020-08-17 07:56] katrin-freihofner commented on #128
@mostlyjason I think the latest idea is to use the label "investigate" for all of these (observability-wide). The reason why we don't want it to be "actions" is the naming conflict with altering based actions.

[2020-08-19 03:30] andrewvc commented on #229
@katrin-freihofner this screenshot from a POC might be helpful

![image](https://user-images.githubusercontent.com/131427/90588902-642f6280-e1a2-11ea-825f-1cd7bb00391c.png)

[2020-08-19 17:05] #240 closed, assigned to shahzad31

[2020-08-19 22:35] andrewvc commented on #236
Added ` UI to be built primarily in Uptime with simple or no UI in IM. Will cross-link from IM to Uptime's richer UI.` to ACs after discussion with @alvarolobato .

Let's figure out if we want no UI or little UI. I know @katrin-freihofner prefers a minimal IM UI. I'm worried about two UIs where one is clearly better. IMHO link to Uptime would be better. Thoughts?

[2020-08-20 12:44] ruflin commented on #236
@andrewvc I assume this means the same experience as we have today with Endpoint in 7.9?

[2020-08-20 16:23] andrewvc commented on #236
Yes. I think we need more feedback here from @drewpost and @katrin-freihofner

[2020-08-20 17:03] andrewvc commented on #239
After meeting with @urso and @andrewkroh we discussed a variety of options.

For the purposes of this MVP we'll try to release as a docker container with the node library bundled using the forked process model we currently use. We'll disable seccomp within the container and use the container for security. In the future we may have to figure something else out to get the mix of UX / security we wan

[2020-08-21 09:12] shahzad31 opened #249 "Uptime load time is stalled by index_status API"
In uptime we have two workflows on landing page, if user has data it's being checked by index_status API.

If user has data only then we initiate other requests like monitor list, ping histogram etc

we shouldn't stall page to wait for index_status result. We should initiate requests as soon as user lands on the page, and if index_status result false, it will display the no data found UI

As you c

[2020-08-25 09:42] #234 closed, assigned to katrin-freihofner

[2020-08-27 05:02] #242 closed, assigned to shahzad31

[2020-08-27 11:24] drewpost opened #250 "[Design] Uptime Real Browser Test Run Test Details"
**User stories**
As a user of real browser based monitors
I want to be able to view a page load waterfall and filmstrip of the page load
So that I can understand what to load experience was of every object on the page
and how it impacted the perceived performance
and so I can troubleshoot errors

**List known (technical) restrictions and requirements**
Ideal Implementation

A view per step of the

[2020-08-27 11:24] elasticmachine commented on #250
Pinging @elastic/observability-design (design)

[2020-08-27 11:25] drewpost commented on #250
https://github.com/elastic/uptime-dev/issues/22

[2020-08-31 08:42] katrin-freihofner commented on #236
Quick video walk-through of what we are thinking of as the user flow:
https://www.loom.com/share/de2b2d39514d472c986b10b7eae5c74e

[2020-09-01 03:52] andrewvc commented on #236
@katrin-freihofner love the new walk-through, two questions:

1. Is there a reason there's a new place to get the list of centrally managed monitors in Uptime? Why not use the overview page list?
2. Is there a delete button in there I missed?

[2020-09-01 09:43] ruflin opened #251 "[Brainstorm] Geo support for Uptime with Elastic Agent"
When running Elastic Agent for Uptime (heartbeat) one of the important informations is about where this Agent is running. The same monitors are run in different locations to get a global view on how services are doing. This geo information is added to each event.

This issue is to brainstorm on how this could work with Elastic Agent, Fleet in Cloud or on Prem.

To have each even enriched with the

[2020-09-01 09:43] ruflin commented on #251
@andrewvc @blakerouse @ph Let me know what you think. I opened this to have it written down somewhere and get feedback on it.

[2020-09-01 14:09] #236 closed, assigned to katrin-freihofner

[2020-09-01 14:23] katrin-freihofner commented on #236
For now, we don't need any bulk actions and that is why we will not need the list of monitors in the settings.
We are going to have edit and delete actions on the overview page. Each line in the monitor list will have an edit/delete monitor action in the expanded view. The edit navigates to the settings page of the monitor, the delete triggers the confirmation popover.

[2020-09-01 16:17] blakerouse commented on #251
@ruflin I think this is a perfect example of a `geo` provider with the new variable substitution work. Difference is that I think we should create a specific `geo` provider.

With a specific `geo` provider we can configure the provider manually if needed or have options on that specific provider.

[code]

The geo provider could also perform checks to determine if running on a public cloud and auto

[2020-09-02 06:47] ruflin commented on #251
@blakerouse I like this idea. As you said, if it is a provider we can add more magic over time.

[2020-09-04 09:19] drewpost commented on #180
Added Core Vitals in 7.10 https://github.com/elastic/uptime/issues/233

[2020-09-04 16:47] shahzad31 opened #252 "Page load distribution chart behavior on initial data"
Issue originating from https://github.com/elastic/kibana/pull/75685#issuecomment-687181597

Page load distribution chart on CSM, show huge tooltip cascaded on top of one point when data is relatively new, this isn't a big issue once more data comes in, it would be nice if we can clean this up

<details>
<summary>Click to expand</summary>

![image](https://user-images.githubusercontent.com/3505601/

[2020-09-21 20:19] justinkambic commented on #229
@katrin-freihofner I had a few follow-up questions:

1. When a snapshot is selected, do we want to display the full image as a modal, popover, or some other element?
1. How should we make the empty state for snapshot images look?
  ![image](https://user-images.githubusercontent.com/18429259/93816319-5c416300-fc25-11ea-8c1c-6751f22aec49.png)

[2020-09-22 11:52] drewpost opened #253 "Change Client Side Monitoring Branding to User Experience"
Update all references to Client Side Monitoring to User Experience in 7.10 dashboard

H1 title
Kibana Nav
URL

Anywhere else?

[2020-09-22 12:54] katrin-freihofner commented on #229
@justinkambic

My initial thought was to show the preview always in 16:9 and the full screenshot on hover.
![screenshot-preview](https://user-images.githubusercontent.com/20965076/93861291-8dbb3c80-fcc0-11ea-9fa3-6c4b4e0800c7.gif)

But I think we should also show the full screenshot in full size as an overlay when the preview image is clicked. Especially on smaller screens or touch devices, this c

[2020-09-22 13:03] shahzad31 commented on #229
I love this :)
![image](https://user-images.githubusercontent.com/3505601/93885659-b3f2d380-fce4-11ea-8aed-5cd2826d05b9.png)

[2020-09-22 13:09] formgeist commented on #253
We need to update the promo callout in APM app for RUM services

[2020-09-22 14:28] justinkambic commented on #229
Ok thanks for clearing those up Katrin!

[2020-09-22 14:28] justinkambic commented on #229
@shahzad31 one of the perks of the job is getting to make placeholders like this

[2020-09-22 19:48] formgeist commented on #253
I've opened https://github.com/elastic/kibana/issues/78207 to handle the updated copy of the callout in APM app.

[2020-09-23 08:19] katrin-freihofner commented on #229
Design update:
[Figma file](https://www.figma.com/file/VNNDSawIv5crAuOBk3xCzJ/Synthetic-monitoring?node-id=1%3A103)
[Video walk-through](https://www.loom.com/share/ebea4a0bb53c4ff9bc0ceb101e6d3dbe)

[2020-09-24 11:26] #253 closed, assigned to shahzad31

[2020-09-29 13:04] andrewvc opened #254 "Add `type` to monitors details page for new `browser` type"
On the monitor details page we don't show the monitor type (see current SS below). This hasn't been a problem so far because the URL scheme effectively is the type. With real browsers though it's ambiguous since the URL will be HTTP. CC @drewpost @katrin-freihofner . I propose we add a new type field just below URL containing `icmp|tcp|http|browser`.

![image](https://user-images.githubusercontent

[2020-09-29 14:44] paulb-elastic opened #255 "Callout the new experimental Synthetics feature in Uptime UI"
**Is your feature request related to a problem? Please describe.**
We will be making Synthetics available as an experimental feature at the same time we release 7.10.

To increase awareness and early adoption, we would like to call this out in the Uptime UI, where users can go to find out more information.

**Describe the solution you'd like**
Add a callout to the Uptime UI that advertises Synthet

[2020-09-29 16:37] paulb-elastic opened #256 "Uptime and User Experience to be available in Navigational Search"
**Is your feature request related to a problem? Please describe.**
Navigational Search is going to be deployed in the Kibana UI, so we want to ensure that the *Uptime* and *User Experience* apps are identified when searching for associated text.

**Describe the solution you'd like**
The *Uptime* and *User Experience* apps should be identified when searching for specific keywords. The keywords are

[2020-09-29 16:38] paulb-elastic commented on #256
@drewpost can you help define the search terms for each of the apps please?

[2020-09-29 17:02] drewpost commented on #256
**Uptime**: Synthetic(s), ping(s), check(s), availability, response duration, response time, outside in, reachability, reachable, digital, performance, web performance, web perf
**User Experience**: RUM, Real User Monitoring, DEM, Digital Experience Monitoring, EUM, End User Monitoring, UX, Javascript, APM, Mobile, digital, performance, web performance, web perf

cc @PaulB-Elastic @andrewvc

[2020-09-29 20:38] alexfrancoeur commented on #256
Linking out to the broader initiative of registering search aliases for registered applications and features https://github.com/elastic/kibana/issues/76778

[2020-10-01 20:41] justinkambic opened #257 "[Uptime] Use KVP data structure for synthetics UI state management"
Today, we use an unordered list to contain and query the synthetic journey data in UI state. Given that each of these entities has a unique identifying value `check_group`, we should update the code to use a KVP-style data structure.

This [came up in code review](https://github.com/elastic/kibana/pull/77960#issuecomment-701806005), but we are electing to add it in a follow-up refactor to keep the

[2020-10-01 20:45] justinkambic opened #258 "Add proper typing to Ping.Synthetics.Payload field"
The Ping type as it exists has some definite assumptions about the fields it contains, but this field may contain a variety of field sets, and the same name may be used for different types depending on the document it contains.

We should instead define these types separately, and use a `oneOf`-style annotation.

[2020-10-02 19:13] DanRoscigno opened #259 "improve getting started experience"
Uptime has a good getting started experience, and the anomaly detection button on each monitor is wonderful.  Unfortunately, the anomaly detection requires location (`observer.geo.name`) and the basic configuration provided in the getting started (Elastic Home > Add Metric Data > Uptime) does not provide location info in the snippet.  Here is the example config:
[code]

How about adding a second e

[2020-10-05 18:07] shahzad31 commented on #254
instead of adding a new row, i propose we use an EuiBadge to display HTTP/BROWSER or ICMP in front of url value or maybe in the title.  It can also be before "Up in 3 Location" text

[2020-10-05 19:54] justinkambic commented on #255
Does this need an accompanying docs page? AFAIK we don't have an existing public URL detailing how to use synthetics.

I will create a PR that adds the callout with some placeholder copy, but we'll want to isolate what this URL will be as soon as we can.

[2020-10-06 01:16] #254 closed, assigned to nobody

[2020-10-06 09:14] katrin-freihofner commented on #250
[Figma file](https://www.figma.com/file/VNNDSawIv5crAuOBk3xCzJ/Synthetic-monitoring?node-id=1%3A103)

[2020-10-06 22:00] andrewvc opened #260 "Remove Synthetics from package repo"
We merged a partially built synthetics package that should be reverted and not released in 7.10 since we're waiting on fleet integration till a future release for heartbeat.

CC @justinkambic @ph

[2020-10-07 00:05] #255 closed, assigned to nobody

[2020-10-07 14:44] justinkambic commented on #260
I'll open PRs to remove synthetics from `integrations` and `package-storage` repos.

[2020-10-12 09:06] drewpost opened #261 "Error Details Page"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)
We have lots of data points but they are siloed
A user receives an alert from a signal (ie failed test) but the related underlying data we hold cannot be shown in a single view
It takes a lot of time to troubleshoot an error

**User stories**
As an Operations Engineer/SRE/DevOps Engineer
I need to be made awa

[2020-10-12 09:06] elasticmachine commented on #261
Pinging @elastic/observability-design (design)

[2020-10-12 09:08] drewpost opened #262 "Rich Synthetics Alert Message"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)
Our alerts at present are quite basic and lacking contextual charts/graphs/metrics/screenshots. This creates additional steps to get this information. Further, there is no way to go "further" once an alert has been received.

**User stories**
As an Operations Engineer/SRE/DevOps Engineer
I need to be made awa

[2020-10-12 09:08] elasticmachine commented on #262
Pinging @elastic/observability-design (design)

[2020-10-12 09:13] drewpost opened #263 "Worst Performers and Optimisation Suggestions"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)
We have a lot of RUM data but little inkling of how to prioritise it
Without web performance expertise, it's difficult to know what to do once a problem has been identified

**User stories**
As a DevOps Engineer
I want to understand what technical characteristics of my front end code are most impacting my end

[2020-10-12 09:13] elasticmachine commented on #263
Pinging @elastic/observability-design (design)

[2020-10-13 12:10] katrin-freihofner commented on #229
I started creating [engineering issues](https://github.com/elastic/kibana/issues/80130) for this one.

[2020-10-13 20:23] justinkambic opened #264 "Supply redirect for settings page"
**Is your feature request related to a problem? Please describe.**
When I am directed to the settings page, after saving my settings I anticipate going back to where I came from. For example, as a user I want to create a simple one-click alert for my newly-created monitor. Illustrated process:

- I try clicking the button, and am prompted to go to the settings page.

  ![image](https://user-images

[2020-10-13 20:33] justinkambic opened #265 "Typo in simple alert creation toast"
**Describe the bug**

While reviewing https://github.com/elastic/uptime/issues/237 for our test plan, I discovered that there was a typo in the confirmation message received when an alert is created:

![image](https://user-images.githubusercontent.com/18429259/95912233-8bed1200-0d70-11eb-9eb5-c7a0e9e9d466.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a connector for Uptime
2

[2020-10-16 15:17] justinkambic opened #266 "Improve simple alert success toast copy"
**Is your feature request related to a problem? Please describe.**
Today, we've got a toast that notifies our users when they've enabled a one-click alert in our UI. This is great, but we can make it better.

**Describe the solution you'd like**
The message today reads:

[code]

It would be much nicer if we included the name of the monitor in the message, and had a less naive approach to delimitin

[2020-10-19 14:02] katrin-freihofner commented on #229
Missing pieces:
- layout and details for expanded row
- empty/error states

<img width="1372" alt="Screenshot 2020-10-19 at 16 02 10" src="https://user-images.githubusercontent.com/20965076/96461321-85edaa00-1224-11eb-98e3-456b6fc74444.png">

[2020-10-19 14:04] katrin-freihofner commented on #250
Engineering ticket: https://github.com/elastic/kibana/issues/80162

[2020-10-19 17:03] justinkambic opened #267 "Monitor simple alert spinner doesn't go away after error"
**Describe the bug**
When I attempt to configure an alert without SSL enabled, I encounter an error. This is the correct behavior, but after the toast goes away, there's still a loading spinner in the UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the Elastic stack with heartbeat data
2. Configure an action connector via the _Settings_ page
3. Click the switch to enable an alert
4.

[2020-10-19 23:27] #265 closed, assigned to justinkambic

[2020-10-20 08:41] hmdhk opened #268 "[Design] Show browser logs for failed journeys/steps"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)
[Showing browser logs](https://github.com/elastic/synthetics/issues/82) helps users investigate failed journeys.

**User stories**
As a user who is investigating a journey failure, it's helpful to know what browser logs exist before the failure.
The browser logs are captured in the agent with [this PR](https:

[2020-10-20 08:41] elasticmachine commented on #268
Pinging @elastic/observability-design (design)

[2020-10-20 09:09] drewpost commented on #268
I think this is a serious usability improvement. I'd be a big fan of prioritising this.

[2020-10-20 10:23] katrin-freihofner commented on #250
@drewpost could you please add a list of:
- MIME types
- errors/response codes
- key page load events
we should visualize?

[2020-10-20 10:39] drewpost commented on #250
**MIME Types:**
application
audio
example
font
image
model
text
video
plain text
css
html
javascript
from-data

Errors/response codes should handle all HTTP response codes

Key load events:
start render
First Paint
DOM Interactive
DOM content loaded
onLoad
Document Complete

We should also allow for users to choose additional markers (ie if a company is using custom marks/measures. for things like

[2020-10-20 11:11] katrin-freihofner commented on #250
I don't think it makes sense to have different colors for each of them. Should we even pick colors for mime types? Can we group them?

[2020-10-20 11:12] katrin-freihofner commented on #250
Yes, but in the waterfall we are only indicating 4xx and 5xx, right?

[2020-10-20 11:13] katrin-freihofner commented on #250
That is a new feature and not something I see in this initial version. Let's put it in a separate ticket.

[2020-10-20 11:59] #260 closed, assigned to nobody

[2020-10-20 11:59] paulb-elastic commented on #260
Changes merged in

[2020-10-20 14:33] drewpost commented on #250
All 4xx and 5xx. I'd also include 301, 307 and 308 as they all indicate the URL for the object you have isn't correct and it's introducing a performance penalty when that incorrect URL is being called and has to redirect.

[2020-10-20 14:34] drewpost commented on #250
@vigneshshanmugam Does the agent capture custom marks and measures today? If so, are they stored in a specific field? I'm wondering if, for v1, we could have it automatically display vertical markers for any values stored in those fields?

[2020-10-20 14:36] drewpost commented on #250
I think we should do fixed colours for MIME types. I hear you on there being too many.

HTML
Javascript
CSS
Font
Media (audio and video types grouped)
Other (groups everything else?)

@paulb-elastic Can I get your input on this one?

[2020-10-20 23:19] andrewvc opened #269 "Show tag values for monitors"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)

It is possible today to tag monitors in Uptime, and to search by these tags. We have a tags drop down in the filter bar already. However, we do not provide any way to see:

1. Which tags a monitor currently has
2. To navigate to similar monitors easily based on tags

I would categorize these as fairly obviou

[2020-10-20 23:19] elasticmachine commented on #269
Pinging @elastic/observability-design (design)

[2020-10-21 08:45] katrin-freihofner commented on #269
Do you mean clicking on the badge filters down the overview page?

I guess we could show the first 3 (or dependent on the no. of characters even less) and have a `4 tags badge`. We have something like that in APM:
<img width="394" alt="Screenshot 2020-10-21 at 10 44 43" src="https://user-images.githubusercontent.com/20965076/96695889-74bead80-138a-11eb-99de-93f0d810daf6.png">

...but in a persiste

[2020-10-23 15:31] paulb-elastic commented on #250
Here are my thoughts.

### MIME Types

I'd agree to try to simplify the amount of information, colour and legends, we should show fewer MIME types, such as:
* HTML
* JS
* CSS
* Font
* Images
* Everything else

### HTTP Status Codes

I think it's useful to show them all (including 200s, as it's often useful to spot a 200 vs a 201 for example).  We can also then callout those that are **error codes*

[2020-10-25 15:26] tbragin commented on #269
@katrin-freihofner it's worth mentioning that Kibana is rolling out saved object tagging. Not sure if there are any concepts or elements we can reuse there. https://github.com/elastic/kibana/pull/79096

[2020-10-26 13:22] vigneshshanmugam commented on #250
Not right now, we are not capturing any performance metrics data(Nav Timing, Paint Metrics, User Timing, Long tasks etc) right now in the synthetics agent. Seeing this issue, It's time to prioritise and start capturing from the agent if we are going to showcase them in the UI.

@drewpost For the metrics part, IMO we should align with the existing RUM stuff to make the UX page in consistent with th

[2020-10-27 02:32] andrewvc commented on #269
@katrin-freihofner I'm thinking these tags are more like tags here on github issues. Ideally they wouldn't require a popover to view, I think you'd want to have them at your fingertips.

@tbragin these are tags defined in the heartbeat.yml, and later in fleet UI, so the saved objects don't apply (yet), but they may in the future, so thanks for the heads up!

[2020-10-27 08:36] katrin-freihofner commented on #269
@andrewvc
1. This is user-defined content. Which means we need to find a solution that can handle 10+ tags in the UI. I think my proposal is more scalable than listing all the tags from the heartbeat.yml in the UI.

2. Does this mean, with saved objects we have two tagging solutions side-by-side?

[2020-10-27 12:47] tbragin commented on #269
My point about saved objects tagging in Kibana was one of more visual consistency, and perhaps re-user of EUI components to help us, if applicable. I understand that our tags come from user-defined values in the Heartbeat shipper.

[2020-10-27 14:12] katrin-freihofner commented on #269
Yes, definitely. Thanks for pointing me in that direction. I think it could be very confusing to have two types of tags in the UI.

[2020-10-27 15:23] paulb-elastic commented on #243
Resolved in https://github.com/elastic/elasticsearch/issues/61665

[2020-10-27 15:23] #243 closed, assigned to nobody

[2020-10-27 15:28] #239 closed, assigned to nobody

[2020-10-28 17:57] drewpost commented on #250
OK - 100% agree with Paul and Vignesh.

MIME Types

HTML
JS
CSS
Font
Images
Everything else

HTTP Status Codes

All result codes that are not one of the below are "normal" and are displayed with the object URL
PLUS
4xx - errors
401 might be something we change in the future, as you'll sometimes get a 401 response which then triggers a subsequent authorisation request, so doesn't always mean someth

[2020-10-29 14:41] shahzad31 commented on #241
Closing since this is done via https://github.com/elastic/kibana/pull/79418

[2020-10-29 14:41] #241 closed, assigned to andrewvc

[2020-10-29 16:43] bmorelli25 commented on #20
With the docs redesign happening soon, we won't be targeting the last remaining bullet point in this issue.

[2020-10-29 16:43] #20 closed

[2020-11-02 09:30] shahzad31 opened #270 "Proposal to align Uptime UI and UX UI filters"
**Is your feature request related to a problem? Please describe.**

In UX app we have filters like browser, os, location and in uptime UI filters are like tags, scheme, ports,

both works the same, they filters the data and apply to all the content below, both displays top 10 terms and only search offline on those 10 values.

but they look totally different, in UX app, they are displayed in left,

[2020-11-02 09:31] elasticmachine commented on #270
Pinging @elastic/observability-design (design)

[2020-11-02 13:33] shahzad31 commented on #217
closing in favour of https://github.com/elastic/uptime/issues/269

[2020-11-02 13:33] #217 closed, assigned to nobody

[2020-11-02 13:37] shahzad31 commented on #269
@katrin-freihofner that saved objects UI i think it displayed tags in expanded list, i think we can strike a balance here, instead of show an abstraction like environments above, may be we can show 2-5 tags in expanded state and if there are more show those in popover like above,

[2020-11-03 09:05] katrin-freihofner commented on #144
Will be solved soon by https://github.com/elastic/eui/issues/3564

[2020-11-03 09:05] #144 closed

[2020-11-03 09:13] katrin-freihofner commented on #268
I think this is solved by https://github.com/elastic/kibana/issues/80156

[2020-11-03 09:13] #268 closed, assigned to nobody

[2020-11-03 09:18] katrin-freihofner commented on #247
I think we have a couple of concepts in place to solve this problem:
- this could also be solved by filtering down the existing view.
- one could create a dashboard for that.
- also we could introduce saved views like the Metrics UI.

[2020-11-03 12:44] hmdhk commented on #268
@katrin-freihofner, just to clarify, this issue is for browser logs (which potentially should be displayed for failed steps), are you implying that we will use the same design for agent logs for browser logs as well?

[2020-11-03 13:24] katrin-freihofner commented on #268
@jahtalab would you mind adding an example for both just to make sure I understand the issue at hand?

[2020-11-03 15:41] paulb-elastic commented on #268
Don't we have them both in the current design, or is there another set of logs?
![image](https://user-images.githubusercontent.com/70908889/98007070-dd764300-1dea-11eb-97b8-3b451def9aa9.png)

[2020-11-06 11:51] #190 closed, assigned to shahzad31

[2020-11-09 15:35] #229 closed, assigned to katrin-freihofner

[2020-11-10 02:41] andrewvc opened #271 "Remote Zip URL support for heartbeat synthetics"
**Is your feature request related to a problem? Please describe.**

Today users need to use some custom process of their own design to move files onto the same machine as heartbeat for synthetic suites. This won't work for cloud and is a waste of effort given that most people can / will use git.

**Describe the solution you'd like**

We should make it possible for heartbeat to download remote zip

[2020-11-10 02:48] andrewvc opened #272 "Add environment field to Heartbeat / Uptime UI"
**Is your feature request related to a problem? Please describe.**

Per @cyrille-leclerc 's suggestion ( https://github.com/elastic/beats/pull/20330#issuecomment-720989461 ) we should add an environment field to Heartbeat / Uptime, similar to how this is done in APM. Labeled environments are common, and already part of our synthetics solution, so this fits neatly.

**Describe the solution you'd li

[2020-11-10 07:24] vigneshshanmugam commented on #271
Thanks Andrew for kick starting this issue. Totally 💯 to the approach and we would need this to improve the DX. Just one idea, may be we can use `api tokens` instead of the `username` and `password` fields, one advantage is that the users can limit the scope of the tokens (read_repo, write_repo, etc.).

[2020-11-10 10:47] katrin-freihofner commented on #262
The feature is on hold for now

[2020-11-10 10:49] katrin-freihofner commented on #261
This feature is on hold for now

[2020-11-10 17:21] paulb-elastic commented on #271
We had a discussion about this earlier, considering that the initial version might be best to get the suite files from an HTTP endpoint (e.g. ZIP download), as opposed to a git clone. This still delivers value in being able to get the suite assets on demand when the test runs, with the following benefits:
* Don’t need to download the git repository
  * There may be security concerns from users (ev

[2020-11-10 21:19] andrewvc commented on #271
@paulb-elastic I've updated the issue description to reflect the move to Zip over HTTP from git.

[2020-11-12 08:53] drewpost commented on #272
I'm open to this. So I'm clear, the hierarchy of this would be a monitor has a service name and that monitor in a given service can also have an environment field?

cc @nehaduggal \

[2020-11-12 08:59] drewpost opened #273 "Add Include & Exclude Option to User Experience Filters"
As a user of UX
I want to be able to be able to use the filters to both include and exclude items (currently can only use include)
So that I can analyse my data manually without needing to spend a lot of time checking/unchecking a ton of options
And so that I can remove unwanted cohorts from the analysis

Typical scenario: I want to exclude all headlesscrhome traffic from User Experience as it's o

[2020-11-12 10:17] cyrille-leclerc commented on #272
@drewpost we share the same understanding here with a slight difference: I thought of each monitor indicating a `service.name`and a `service.environment` when your phrasing suggests 2 levels of nesting.
My idea may be more verbose but easier to read thanks to the "flatness" of the data structure.

Here is a "mockup of the yaml configuration" that came to my mind:

[code]

[2020-11-18 12:29] shahzad31 opened #274 "[Uptime] Simplify kuery bar to use simple keyword search instead of field specific kql"
**Is your feature request related to a problem? Please describe.**
Uptime kuery bar use kql to search for monitors, although this is very powerful, it allows configurable syntax, but it has overhead for normal users, it's useful for advance users, but you need to have know-how of how elastic search, kql and heartbeat index works.

![image](https://user-images.githubusercontent.com/3505601/99530461

[2020-11-18 12:30] shahzad31 commented on #274
Users have left feedback to simplify apm kuery bar as well, so i feel like if we can implement this, we will provide lot's of value to our users.

[2020-11-18 13:21] katrin-freihofner commented on #274
I think that sounds good. If we decide on this, we should make sure this is an Observability-wide effort.

[2020-11-19 11:47] paulb-elastic commented on #274
Agreed, I would think it makes sense for this to be consistent across Observability

[2020-11-19 13:01] tbragin commented on #274
+1 on consistency across observability.

[2020-11-19 17:31] shahzad31 commented on #274
i have opened an issue in observability repo to get more feedback on this https://github.com/elastic/observability-dev/issues/1220

[2020-11-30 10:28] vigneshshanmugam opened #275 "heartbeat error message summary contains stack trace data"
Heartbeat should only use the `error.message` data instead of `error.stack` from synthetics agent as part of the generating the monitor summary

## Heartbeat data
[code]

## Synthetics document
[code]

[2020-11-30 22:44] andrewvc commented on #262
This is also dependent on https://github.com/elastic/kibana/issues/49392 , which allows us to put URLs in alerts

[2020-12-02 02:46] andrewvc commented on #275
Fixed in https://github.com/elastic/beats/commit/862883fb0119cab9f0722b85d119ee8c3e6e28fc

[2020-12-02 02:46] #275 closed, assigned to andrewvc

[2020-12-04 11:01] paulb-elastic commented on #235
To claify, this is Phase 1 of the Elastic Agent and Heartbeat Integration, to support HTTP Ping integration end-to-end

As an Elastic user
I want to be able to add an HTTP Ping Heartbeat monitor to an Elastic Agent via an integration
So that I can centrally deploy the monitor without having to install and configure a separate Heartbeat Agent binary and YML file

ACs:
* User can add a Heartbeat HTT

[2020-12-04 11:12] paulb-elastic opened #276 "Elastic Agent and Synthetic (Real Browser) Integration"
This builds upon the initial [Phase 1 implementation](https://github.com/elastic/uptime/issues/235).

As an Elastic user
I want to be able to add an real browser Synthetic monitor to an Elastic Agent via an integration
So that I can centrally deploy the monitor without having to install and configure a separate Synthetic or Heartbeat Agent binary and YML file

ACs:
* User can add a Synthetic (real

[2020-12-07 14:34] shahzad31 commented on #177
This is already done ,so closing,

[2020-12-07 14:34] #177 closed, assigned to nobody

[2020-12-07 16:20] shahzad31 commented on #66
@andrewvc do we still need this?

[2020-12-07 16:47] shahzad31 opened #277 "Simplify status by location Display"
**Is your feature request related to a problem? Please describe.**
Right now in uptime, we display status by location saying, Up in 1/1 location or Down in 2/3 Locations

![image](https://user-images.githubusercontent.com/3505601/101378993-0ab78480-38b4-11eb-80ca-ff4765fd00b0.png)

This information is displayed in Monitor list as well as in details page.

**Describe the solution you'd like**
This

[2020-12-07 16:47] shahzad31 commented on #277
@drewpost @katrin-freihofner any inputs?

[2020-12-08 08:42] paulb-elastic commented on #222
@elastic/observability-design do you have a recommendation where the link/action should go?

[2020-12-08 09:49] shahzad31 commented on #222
My suggestion is to add Discover app icon in Ping list table actions.

[2020-12-09 10:46] shahzad31 opened #278 "Improve debugging experience in uptime for es queries"
We need to improve errors and debugging experience in uptime, whenever we face some issues from user , when they are not able to use product, it's really hard to get info back.

For example for this issue https://github.com/elastic/kibana/issues/84858

I propose we add session storage in uptime  ui, once user enables that flag, we console all es queries being run in uptime server in kibana logs, u

[2020-12-09 10:51] katrin-freihofner commented on #277
Sounds like an improvement to me, let's do it.

[2020-12-14 14:01] #278 closed, assigned to andrewvc

[2020-12-14 16:26] #269 closed, assigned to dominiqueclarke

[2020-12-16 10:39] formgeist commented on #270
@shahzad31 Just FYI, we're making this a design team priority to research and further propose a consistent and updated filtering experience across our Observability apps - you can follow along in https://github.com/elastic/observability-dev/issues/1244

[2020-12-17 08:25] paulb-elastic commented on #256
Added reference to https://github.com/elastic/kibana/issues/86165, to also add deep links to the navigational search

[2020-12-21 16:09] andrewvc commented on #224
@justinkambic I think that's the right decision. The searches backing the two pages are actually a bit different, and ultimately entangling these two things is more trouble than it's worth. From the UI side, I think the right answer is to go back to masking the overview page while the flyout is active so people aren't mislead.

Thoughts @katrin-freihofner @drewpost ?

[2021-01-04 10:56] drewpost commented on #224
I agree - these should not be synced. Mask it up!

[2021-01-06 13:22] formgeist commented on #273
We probably need some UX design on how the exclude / include interactions will work within the select popovers. I'm putting this on the project board for 7.12 design. cc @paulb-elastic

[2021-01-11 09:20] shahzad31 opened #279 "[Uptime] Add functional tests for alerts with different action connectors"
**Is your feature request related to a problem? Please describe.**
As part of fix https://github.com/elastic/kibana/pull/87460,

we weren't able to add functional tests for connectors like page duty, since it wasn't immediately clear how can we mock those.

This need further research and work to mock few action connectors and make sure alert continue working with those connectors.

[2021-01-11 09:37] shahzad31 opened #280 "[Uptime] Kuery bar broken for dark theme"
**Describe the bug**
Kuery bar dark theme is broken

![image](https://user-images.githubusercontent.com/3505601/104164956-01609100-53f9-11eb-965a-f985b192ad59.png)

[2021-01-11 13:56] shahzad31 opened #281 "Waterfall view step navigation move to left of step name"
We have arrow left/right nav to move to next/prev step in a journey on water fall view.

Right now it's on the right side of step name, since step name length can change, nav position keeps hopping, making it difficult to click.

i propose that we move nav to the left of step name

![image](https://user-images.githubusercontent.com/3505601/104190332-3d591d80-541c-11eb-9ef6-eb8a98108205.png)

[2021-01-11 15:30] #280 closed, assigned to andrewvc

[2021-01-12 03:26] alexfrancoeur commented on #256
Spreading the news that aliases are now supported with https://github.com/elastic/kibana/issues/76778

[2021-01-12 12:02] shahzad31 opened #282 "Uptime tabs reset filters while switching between settings/certificates"
**Describe the bug**

If user has selected some filter on overview, while switching to some other tabs resets those.

We should keep those in url, it creates unpleasant experience for users.

![image](https://user-images.githubusercontent.com/3505601/104312125-76ee5f00-54d6-11eb-870d-1b1109d4dbf9.png)

[2021-01-12 15:01] justinkambic opened #283 "[Uptime] Move setup mock calls to centralized global location"
**Is your feature request related to a problem? Please describe.**
Today, we have several mocks that we call in our unit tests. We set these up in `beforeAll` blocks like:

[code]
A lot of this code is redundant, and ideally we'd reference these parameterless mock functions only once. It is rare that we'd want to use any of the functions they override, because they frequently cause false test fail

[2021-01-13 10:19] paulb-elastic opened #284 "[Bug] Waterfall chart not working with large number of requests"
When viewing the waterfall chart for a page has a large number of network requests (it varies, but above 500), not all of the data is not shown.

On a page that should include 1000 network requests where I have increased the timeout to ensure all resources load (I’m not getting a page load timeout error), it typically only shows up to about 500 requests.

I don’t know if it’s relevant, but there i

[2021-01-13 10:35] drewpost opened #285 "[Bug] Test Results page caching screenshots"
**Describe the bug**
The test results page for each monitor appears to be caching the screenshots for the last viewed monitor

**To Reproduce**
1 - open a real browser monitor and let the screenshots load
2 - go back to Uptime overview
3 - select a different monitor

You'll see the previous monitors' images remain there for some time, then go to a no image available state and then load the correct

[2021-01-13 10:42] drewpost commented on #284
In Chrome 87.0.4280.141 on macOS it stops at 261

<img width="2234" alt="image" src="https://user-images.githubusercontent.com/7509768/104441345-71068580-558b-11eb-9a0a-3ded5d22c4c4.png">

In Safari 14.0.3 on macOS it will render all lines but it does spike system resources and sometimes will have strange periods where you scroll down and nothing renders for a while

https://user-images.githubuser

[2021-01-13 18:16] paulb-elastic commented on #285
Just to add to this, it doesn’t only appear to be the screenshot, but the whole table that’s cached (i.e. the other columns in the history table as well).

This also seems to be the case in 7.10, however it may just appear more obvious now that the screenshot thumbnails will be shown in 7.11.

[2021-01-14 10:51] #282 closed, assigned to andrewvc

[2021-01-14 13:33] justinkambic opened #286 "Loading messages sometimes do not display sensible copy"
**Describe the bug**
There are a few cases in the Uptime app where we display loading messages with copy that doesn't reflect the correct situation. Typically the message says something like "No data available," and once data loads the message disappears and the data are rendered on the screen.

The two places we have identified this so far are on the _Certificates_ page and the _Pings list_.

**T

[2021-01-14 14:26] dominiqueclarke commented on #285
@drewpost @paulb-elastic Here is the video of the fix. Please note on loading, I changed the content to say "Loading ping history" (it's somewhat cut off by my awesome screenshot extension but you can see some of the content in the video). After loading, it'll say "No pings found". Do you have any feedback on the content? https://drive.google.com/file/d/1Zm__8vbPjo1TZ30IRMLXIxzFdWsgqFPQ/view

[2021-01-14 14:42] drewpost commented on #285
1 - I love that this the screenshot app is actually called "awesome screenshot extension" and that wasn't you being sarcastic.

2 - This looks good. I am partial to saying "Loading Test Runs" to be more inclusive of real browser based monitors vs pings

WDYT @paulb-elastic ?

[2021-01-14 18:11] paulb-elastic commented on #285
Agreed - I'd prefer to avoid the term ping.

Being picky, do we refer to "Test Runs" as a thing?  If not, then we should probably lowercase it "Loading test runs", or if that suggests something about what we call those entities, then maybe just "Loading history..." as it's on the history table, and the ellipsis make it clear it's not in the final state (and I think we use elsewhere)?

[2021-01-14 18:38] paulb-elastic commented on #224
As discussed in the design syn, it is ok that modify the kuery in the alert box should not change the kuery on the main overview page, however the _background_ overview page should be faded so that the alert overlay is more prominent and visually disconnected from the overview page.

[2021-01-14 22:27] paulb-elastic commented on #273
This now won’t be done as an individual change in User Experience, in favour of a wider Observability filtering initiative.

[2021-01-15 12:50] formgeist commented on #263
**Design update - Jan 15, 2021**

https://user-images.githubusercontent.com/4104278/104728954-fc247e80-5737-11eb-8132-48ebb80b0855.mp4

Here's a short update on the designs for the performance optimizations feature in UX. I've put together a small prototype of the basic screens. The overview of cohorts and pages along with the triage detail page. Next up is exploring the incident management of cre

[2021-01-15 13:26] shahzad31 commented on #263
Wow these are exciting.

[2021-01-15 15:29] dominiqueclarke commented on #285
I am partial to the generic `Loading history...` and `No history found`

[2021-01-15 18:37] #285 closed, assigned to shahzad31

[2021-01-17 15:34] tbragin commented on #263
@formgeist @drewpost These look great!

[2021-01-19 16:18] #284 closed, assigned to andrewvc

[2021-01-25 17:11] justinkambic opened #287 "Bad UX when user does not have proper index-level permissions"
**Describe the bug**
Today, when a user has insufficient Elasticsearch permissions (i.e., Uptime is running against an index named `heartbeat-is-great` and she doesn't have read access to this index), she's shown an error message like:

![image](https://user-images.githubusercontent.com/18429259/105739355-04ce3f00-5f06-11eb-88ff-5a87801c427d.png)

**To Reproduce**
Steps to reproduce the behavior:

[2021-01-25 17:15] justinkambic opened #288 "Refactor unit tests using enzyme render to avoid EUI upgrade mentions"
Today, when the EUI team [upgrades to a new version](https://github.com/elastic/kibana/pull/88881) we are frequently mentioned for CODEOWNER review when snapshots change. These almost always change because the EUI team adds some new class or attribute to the components they maintain, which then break our snaps.

Given that they only merge breaking changes for majors, we can reduce a marginal amoun

[2021-01-26 11:04] shahzad31 opened #289 "Uptime monitor status toggle alert should implement recovery action"
**Describe the bug**

We added actions for connectors like Slack PG,Service Now, JIra etc in PR , those connector will create message or ticket in respective platforms, alerting team has implemented recovery action.

While in a normal monitor status alert flyout user can configure recovery action, we should automatically do that as part of toggle simple alert which user can configure easily from m

[2021-01-28 11:43] tbragin commented on #287
@mukeshelastic @drewpost @jasonrhodes @andrewvc  My understanding is that these are the kinds of problems we want to fix with default out of the box roles and permissions across observability. Might be good to look at as an example?

[2021-01-28 12:36] drewpost commented on #287
Hey @tbragin - Thanks for the reminder about the OOTB roles and permissions initiative. We should certainly make sure Uptime and UX maps to these new roles.

We'll still have the occasion where users set up custom roles or we inherit custom roles in existing installs where they don't have access to Uptime or User Experience so I think we still need to improve the base experience regardless. Justin

[2021-01-28 14:24] justinkambic opened #290 "[Waterfall chart] URL visualization strategy"
# Summary of the problem

This issue tracks discussion on our proposed strategies for visualizing URLs in the waterfall chart.

### Example URL:

`https://my-website-domain.co/long/path/to/resource/with/file-name-and-timestamp-910293829329.png`

### Current solution

We visualize URLs in our waterfall chart today by truncating all text between the beginning and the end of the string:

`https://my-

[2021-01-28 14:24] elasticmachine commented on #290
Pinging @elastic/observability-design (design)

[2021-01-28 15:42] justinkambic commented on #287
This issue will require a little investigation to make certain that we don't accidentally break esoteric use cases as well, i.e. the plugin uses an index pattern like `heartbeat*`, where some users have access to `heartbeat-more-specific*` and others have access to `heartbeat-other-specific*`.

We determined any new error dialogue we introduce should be driven specifically by Elasticsearch's error

[2021-01-29 08:06] drewpost opened #291 "Large Screenshots - Usability Challenges"
When viewing the large screenshots from the test result screen have a few UX challenges

1 - The "enlarge" icon is in a random position on the screenshot. Further, especially on lighter backgrounds, it's virtually impossible to see

<img width="183" alt="Screenshot 2021-01-29 at 08 03 42" src="https://user-images.githubusercontent.com/7509768/106248383-d0f66080-6208-11eb-9163-38ddda2e3e3f.png">

2

[2021-01-29 08:06] elasticmachine commented on #291
Pinging @elastic/observability-design (design)

[2021-01-29 12:57] andrewvc opened #292 "Synthetics Data Stream Naming"
I'd like to propose the following streams:

    synthetics-tcp-*: TCP monitors
    synthetics-http-*: Lightweight HTTP Monitors
    synthetics-icmp-*: ICMP Monitors
    synthetics-browser-*: Browser based checks
    synthetics-browser.screenshots-*: Screenshots from browser based checks
    synthetics-browser.network-*: Network data from browser based checks
    synthetics-api-*: API journey check

[2021-01-29 16:10] justinkambic commented on #292
@andrewvc we ran into some technical limitations when trying to set up the names for the data streams. The stream name follows the pattern `type-packageName-dataSetName-namespace`.

1. **type:** the type of the package specified in the manifest. This is `logs | metrics | synthetics | etc`, in our case, synthetics
1. **name:** the name of the package. In our case, synthetics
1. **dataset name:** th

[2021-01-29 18:23] ycombinator commented on #292
@justinkambic Everything you've said above is correct based on my explorations and our conversations as of yesterday.

This morning I took a look at the `apm` package (sorry, I should've done this yesterday) and — long story short — have figured out how to get the data stream names to be what @andrewvc suggested in this issue's description. I've pushed up a commit to your branch that will achieve

[2021-01-29 18:30] ycombinator commented on #292
Implementation note: when defining sub-folders for each of the above data streams under the `data_stream/` folder in the `synthetics` package, I believe the folders will need to be named `browser`, `screenshots`, and `network` respectively. For reference, see https://github.com/elastic/package-storage/tree/production/packages/endpoint/0.17.0/data_stream/process and https://github.com/elastic/packa

[2021-01-29 20:38] justinkambic commented on #292
Oh great, thank you for this awesome update, and the additional information about how the package should be structured.

[2021-01-29 21:21] andrewvc commented on #292
To confirm, it sounds like we're OK with the original spec then?  If not, let's update the top of this issue to reflect any necessary changes.

[2021-01-29 21:33] justinkambic commented on #292
The comments above were news to me vs what we discussed yesterday, so it sounds like we do not need to update the spec.

[2021-02-01 23:52] andrewvc commented on #262
I'll add to this that there is another way to do the link today, where the alerts page (in alert management) can link back to our app, so we aren't really blocked here. We can use `registerNavigation` from the [Alerts Navigation UI](https://github.com/elastic/kibana/tree/master/x-pack/plugins/alerts#alert-navigation) to create a link from the alerts UI to our app. No one else does this currently,

[2021-02-01 23:58] andrewvc opened #293 "[META] Move existing APIs to async search"
We should migrate our existing APIs to async search to enable support for searchable snapshots.

A premilinary list of targets is listed below:

- [x] #352
	- [x] https://github.com/elastic/uptime/issues/362
	- [x] https://github.com/elastic/uptime/issues/364
- [x] #353
- [x] #354
- [x] #355
- [x] #356

[2021-02-02 10:39] cyrille-leclerc opened #294 "When activating a "status alert" on a monitor, the settings of the notification are missing"
**Describe the bug**

Uptim v7.10

When activating a "status alert" on a monitor, the settings of the notification are missing.

The alerts created with the toggle "enable status alert" are invalid because the configuration of the notification connector are missing.

**To Reproduce**

[![Alt text](https://img.youtube.com/vi/wEOs2r5EHfI/0.jpg)](https://www.youtube.com/watch?v=wEOs2r5EHfI)

See vide

[2021-02-02 12:32] paulb-elastic opened #295 "SPIKE: Investigate options for a script recorder"
Before embarking on a script recorder, this spike it to look at options of how we might be able to build this.

The initial requirement is to be able to record a browser flow (e.g. loading a URL, interacting with elements on the page, including keyboard and mouse input to navigate between pages, forms etc.), which generates Synthetic/Playwright code in the format of the `journey` and `step` object

[2021-02-02 12:35] paulb-elastic opened #296 "SPIKE: what can we get from the user agent string to determining device type?"
A spike to investigate options before requiring to build https://github.com/elastic/apm-server/issues/3912.

This spike is to do some analysis of the data we already capture from the user agent string, and how we can use this to determine the device type.

An ES [issue](https://github.com/elastic/elasticsearch/issues/65057) covers this, but this spike is to look at how we can distinguish between:

[2021-02-02 15:24] drewpost commented on #291
Actions:
Get rid of all forward/backward buttons and expand button screenshot from the thumbnail
Add keyboard controls (left and right cursor) to move between screenshots on the lightbox (expanded) version of the image
Move controls on the lightbox (expanded) image from the bottom, to the left and right of the image (not on top of the image itself)
The thumbnail image should never change, but alwa

[2021-02-02 17:37] andrewvc commented on #294
Thanks for the report @cyrille-leclerc , my first thought here is that we should, for these alerts, have a default message that gets used. Users would be able to edit the alerts later, but this is intended to be a single click feature, and the default message should be in place.

@katrin-freihofner @drewpost @paulb-elastic thoughts on this as a fix?

[2021-02-03 16:03] andrewvc commented on #295
To summarize our recent meeting on this, next steps would be:

1. Create a browser extension that allows for the creation of a single journey and CRUD operations on the steps
2. Ability to the recorded test
2. Savable IR format that can be reloaded in the extension UI
3. Output JS code based on this

[2021-02-04 13:11] paulb-elastic commented on #294
@andrewvc do you mean we’d create a default configuration for each type of connector (just populating the mandatory fields)? If so, does this add complexity in needing to define sensible defaults for all the different connector mandatory params?

As per @andrewvc's question, is this toggle meant to be a *single click* enable? If so, should this control not be disabled, if all the mandatory configu

[2021-02-04 14:37] justinkambic commented on #294
I believe [this is fixed](https://github.com/elastic/kibana/pull/87460) in `8.x`, `7.11`, and `7.12`.

@shahzad31 configured a trial ServiceNow account and we were able to ship alerts using the connector we created in the Uptime UI. I logged detailed steps in my review of the patch. We also tested PagerDuty, server log, and Slack. I didn't test MS Teams but I believe Shahzad did.

[2021-02-04 21:15] cyrille-leclerc commented on #294
@andrewvc , @paulb-elastic @justinkambic FYI I'm doing some research with @katrin-freihofner on a medium term observability wide solution that would "accidentally" solve this specific problem so let's be cautious before considering an expensive fix.

@justinkambic  I'm not sure to catch how you could fix this. I tried on edge-oblt but I didn't see how the UX would have changed to solve this proble

[2021-02-05 12:56] paulb-elastic commented on #174
We are now showing absolute times for these, so this is no longer needed.

[2021-02-05 12:56] #174 closed, assigned to dominiqueclarke

[2021-02-05 15:50] justinkambic commented on #294
Ok - I will find some time to investigate. I'll try to coordinate with @shahzad31 when he returns.

[2021-02-08 11:24] paulb-elastic commented on #256
@drewpost, https://github.com/elastic/kibana/issues/86165 mentions about adding deep links as well, to go directly to **Overview** and **Settings**.

By definition, all of the search terms you’ve listed above (for Uptime) will go to the **Overview** page anyway (as this is the landing page for Uptime).

However, do you have a view on what terms should result in **Settings**?

For example, should s

[2021-02-08 11:29] drewpost commented on #256
@paulb-elastic That's a decent point. TBH, that's about the only example I can think of that would go somewhere else. Unless we get really clever ie identifying monitor names and dynamically adding them to the searchable index so I could search for "Checkout Flow" and it shows Uptime there and. deep links into the monitor

[2021-02-08 11:31] shahzad31 commented on #256
Another cool nav point would be if user searches for "Down monitors" we can land them to overview page by filtering to down monitors, same can be true for "Down websites" for browser checks.

[2021-02-08 11:34] shahzad31 commented on #256
I believe we can also add for other filters if needs be

"TCP Pings", "ICMP Pings" "HTTP Pings" etc

[2021-02-08 14:40] shahzad31 commented on #256
@drewpost to have a more dynamic search provider, where you can even search using, monitor names, url et, one can register search provider in the app

https://github.com/elastic/kibana/tree/master/x-pack/plugins/global_search#registering-custom-result-providers

that you can power using your own custom search api.

[2021-02-08 15:13] shahzad31 commented on #294
@cyrille-leclerc that error isn't related to alerting, edge-olbt is broken because of kibana v2 migration.

can you please try it on 7.11 branch, perhaps https://dev-oblt.elastic.dev/app/uptime

the way we fixed it , we are using a default set of params to configure service now and pager duty etc use case.

[2021-02-08 15:32] justinkambic opened #297 "Improve Waterfall Data Formatting Snapshot tests"
**Describe the issue**
Today we have a [suite of tests in the waterfall component](https://github.com/elastic/kibana/blob/master/x-pack/plugins/uptime/public/components/monitor/synthetics/step_detail/waterfall/data_formatting.test.ts#L32) that rely on large snapshot strings. It would be nice to reduce the size of these strings, or come up with an alternative that makes them easier to track when ch

[2021-02-08 15:38] justinkambic opened #298 "[Tech debt] Fix misspelling in codebase"
This is not a user-facing concern, but we have misspelled the term `metadata` in many places in the plugin (i.e. as `meta data` or `metaData`).

Rather than ask devs to fix this piecemeal or as part of their normal changes, we should simply mass-rename to correct this.

[2021-02-09 11:36] formgeist opened #299 "[UX] Create incident reports of a poorly performing cohorts"
# Summary

Related to https://github.com/elastic/uptime/issues/263

As a user inspects the auto-generated reports that we present on the poorly performing cohorts and pages, there's a need to be able to create an incident or snapshot of that presented report of 30 days in order to compare the impact of future enhancements.

### User flow

- As a user, I want to be able to save the auto-generated r

[2021-02-09 11:36] elasticmachine commented on #299
Pinging @elastic/observability-design (design)

[2021-02-09 11:37] formgeist commented on #263
I've opened a separate issue to track the definition of the incidents and how they are created, maintained, and stored https://github.com/elastic/uptime/issues/299

[2021-02-09 11:38] formgeist commented on #299
@drewpost When you have a moment, could take a look at the above definition of the incident? I also wonder if incident is the right term, perhaps a "snapshot" (although that also clashes with some other terminology in Kibana/Elastic).

[2021-02-09 14:41] justinkambic opened #300 "Handle additional ServiceNow fields in UI"
**Is your feature request related to a problem? Please describe.**
In https://github.com/elastic/kibana/pull/90547 some [new fields](https://github.com/elastic/kibana/pull/90547/files#diff-657f5a22290082d78c800490586aefc72d9b457a4363af32a4b80c1880d74d04R122) were added to our ServiceNow alert API object template. These values are hardcoded as `null` today, but it would be better to allow people to

[2021-02-09 21:41] #256 closed, assigned to andrewvc

[2021-02-10 18:57] justinkambic opened #301 "Test Redux Sagas directly"
We have many sagas managing effects of state changes in our codebase, and very little test coverage for them.

In many cases this is fine, because they're simple API requests. In some areas, however, we have complex logic embedded in these effects.

The [docs](https://redux-saga.js.org/docs/advanced/Testing.html) on testing sagas are a little sparse on detail, and it's a bit disconcerting that "Te

[2021-02-10 20:12] andrewvc opened #302 "Support trace based linking with APM"
Today linking between Uptime and APM is done via either URL or APM `service.name`. The connection would be stronger if we used APM trace headers. Sending those headers would be a simple add to heartbeat and allow for much richer cross-linking between apps. Users would be able to just from a specific failure on heartbeat's side to the trace for that exact transaction

Tasks:
- [ ] Add trace fields

[2021-02-10 20:52] andrewvc commented on #262
Opened https://github.com/elastic/kibana/issues/91022 to track the nav link

[2021-02-15 12:10] shahzad31 opened #303 "Display stderr per journey in step list view"
In our new view for journey steps, we are not displaying stderr documents per journey

https://github.com/elastic/kibana/issues/80156

we need to add a view above/below steps list we can display journey stderr documents.

There is also a related issue we are highlighting too many stderr being captured per journey

https://github.com/elastic/synthetics/issues/222

[2021-02-16 16:34] shahzad31 commented on #303
we should explore using log ui shared component which is used to display logs for these logs.

[2021-02-17 17:49] paulb-elastic commented on #296
Building on from this, in the Tech Sync we discussed about investigating the logic needed to determine the script/algorithm that can categorise the device type from the data we have (expected to be the UA string).

Once this has been defined, test this using the reindex api to inject the device type for real edge data, which can then be reviewed (e.g. in Lens).

[2021-02-19 18:36] paulb-elastic commented on #235
With the custom UI being put together in https://github.com/elastic/kibana/issues/91062, phase 1 is being extended to include HTTP Ping, ICMP Ping and TCP Ping monitor types.

[2021-02-19 19:58] andrewvc opened #304 "GUI Synthetics Recorder (tech preview)"
The script recorder will be worked on and implemented incrementally, falling into the following phases:

### Prerequisites

- [x] Validate if chromium can be bundled as part of the Electron application
- [x] Spike with Playwright and Synthetics

### Phase 1

Goal: Enable users to write / edit tests without knowing javascript.

- [x] Can perform full range of CRUD operations on recorded steps (This

[2021-02-19 20:00] andrewvc commented on #295
Closing in favor of https://github.com/elastic/uptime/issues/304 , @vigneshshanmugam has already made great progress on the scope of the original spike.

[2021-02-19 20:00] #295 closed, assigned to vigneshshanmugam

[2021-02-22 22:39] vigneshshanmugam commented on #304
Two options we can do for bundling the chromium

1. use the browser fetcher to start downloading chromium before the electron process kicks and we show the recorder UI

2. We bundle it along with recorder app and modify the synthetic driver runner to launch the executable from installed path via `executablePath` launch option.

Reference - https://playwright.dev/docs/installation/

[2021-02-22 22:41] andrewvc commented on #304
@vigneshshanmugam I think bundling it makes sense for now, and will work better in air-gapped envs

[2021-02-22 22:47] vigneshshanmugam commented on #304
Good point @andrewvc, Yes lets go with option 2 and bundle it along with the recorder app.

[2021-02-23 09:50] paulb-elastic commented on #304
We should consider if the “export as a script” is a better thing to implement initially, over “make Synthetics understand IR” as this means we can also use the recorder in advanced cases where additional script code needs adding (e.g. for some dynamic logic). If we only have a “save IR” option and paste that into the Heartbeat/Synth script, we don’t have the opportunity for additional script code

[2021-02-23 15:58] andrewvc opened #305 "Use ML embeds instead of direct integration on Uptime duration chart"
Today we directly integrate ML data into the Uptime duration chart. In the future we'd like to replace this with the exploratory view, which likely won't have ML integration on a first iteration, or a second.

Additionally, the current ML experience is not as good as it is in the ML app. When we replace the duration chart with the exploratory view we should separate out the ML experience. It could

[2021-02-23 17:46] paulb-elastic commented on #267
This has been fixed in https://github.com/elastic/kibana/pull/91453

[2021-02-23 17:46] #267 closed, assigned to shahzad31, justinkambic

[2021-02-23 18:09] paulb-elastic opened #306 "Capture SpeedIndex"
As a user of Synthetic Monitoring
I want to know the SpeedIndex of each page I test
So that I can get an indication of visual performance

ACs:
* Capture and store SpeedIndex for each step of a real browser (Synthetic) test
* SpeedIndex is available in the reporting UI (e.g. performance breakdown, exploratory view etc.)

Note there are different implementations for gathering SpeedIndex, such as fr

[2021-02-24 00:33] vigneshshanmugam commented on #304
Moved the list to the main description

[2021-02-24 15:02] #274 closed, assigned to justinkambic

[2021-02-24 18:11] paulb-elastic opened #307 "Quick access to edit Fleet/Integration monitor from Uptime"
As a user of Synthetics that is implemented using Fleet
I want to be able to easily find a way to edit my monitor from Uptime
So that I don’t need to remember how to find how to do this in Fleet

ACs
* When a monitor has been configured via Fleet/Integrations, there is a one click method of getting to the configuration page that resides in Fleet, from the Uptime UI, for that monitor
* When finishe

[2021-02-24 19:56] paulb-elastic opened #308 "Onboarding and managing monitors from Uptime UI"
Placeholder ticket that will need more details.

This is to cover the requirement of the onboarding process and ongoing management of monitors, from the Uptime UI, that are running under Fleet.

Refer to this [doc](https://docs.google.com/document/d/1w2ZZq53cN5aDVeln_0XGWv2FVb0SUOBXY1Yn51RuJ5w/edit#heading=h.uvo1cbzesuqb) for more details on user journeys.

This will need input from the @elastic/o

[2021-02-24 20:00] paulb-elastic opened #309 "[Meta] Heartbeat and Elastic Integration"
Meta issue to track the various deliverables of the integration between Heartbeat and the Elastic Agent:
- [ ] Elastic Agent and Heartbeat Integration - Phase 1
  - HTTP/ICMP/TCP Ping available as an integration in Fleet (i.e. not separately accessible via Uptime) https://github.com/elastic/uptime/issues/235
  - Includes being based on a custom UI https://github.com/elastic/kibana/issues/91062
  -

[2021-02-24 20:09] paulb-elastic opened #310 "Move Add Data flow from Uptime/Heartbeat to Agent"
Move Add Data flow from Uptime/Heartbeat to Agent

Placeholder that may need defining in more detail.

With the move towards Agent, the *Add Data* workflow in Uptime (that directs users to download/install/run Heartbeat), needs changing to be implemented via Agent/Fleet.

[2021-03-03 21:51] andrewvc commented on #251
One thing to consider here is that heartbeat sets geo info on `observer.geo` while most other beats set it on `host`. How does that impact this work?

[2021-03-10 18:49] paulb-elastic opened #311 "Remove Uptime Specific Anomaly Detection and Direct to ML"
The Uptime implementation of alerting around anomaly detection is not correct (https://github.com/elastic/kibana/issues/93388) and this needs a wider overhaul across Observability.

As such, this issue is to remove the Uptime specific creation of enabling anomaly detection (accessed via the **Enable anomaly detection** button in the **Monitor duration chart**). This currently brings up an Uptime f

[2021-03-15 18:40] paulb-elastic opened #312 "Deprecate Uptime specific anomaly detection alerts"
Having removed the ability to add Uptime specific ML jobs/alerts directly from Uptime (https://github.com/elastic/uptime/issues/311), we need to deprecate these custom alerts, which will be a breaking change, scheduled for 8.0.

The expectation is that the main ML/alerts are used, instead of an Uptime specific version.

[2021-03-22 17:10] andrewvc opened #313 "Remove map component on monitor detail page"
This component isn't very useful compared to the list view of locations, and is somewhat heavy as a dep. It's also easy to break, and hard to see. On balance, it makes sense to remove it. Let's do so.

[2021-03-22 17:15] andrewvc commented on #313
Dupe of https://github.com/elastic/kibana/issues/86485

[2021-03-22 17:15] #313 closed, assigned to nobody

[2021-03-31 11:39] paulb-elastic commented on #296
Closing as https://github.com/elastic/elasticsearch/pull/69322 merged
https://github.com/elastic/synthetics/issues/151 exists to specifically categorise Synthetic monitors

[2021-03-31 11:39] #296 closed, assigned to shahzad31

[2021-04-06 15:53] paulb-elastic commented on #311
Discussed in refinement, and we will prioritise fixing https://github.com/elastic/kibana/issues/93388 over this issue (which is likely to require a wider Observability overhaul).

[2021-04-06 15:59] paulb-elastic commented on #291
Discussed in refinement, closing as the feature works better now (accepting no keyboard prev/next controls).

[2021-04-06 15:59] #291 closed, assigned to nobody

[2021-04-06 16:33] paulb-elastic opened #314 "Update Uptime tests to use the new ES Client"
As per https://github.com/elastic/kibana/issues/83910#issuecomment-805783494, although Uptime has been [updated](https://github.com/elastic/kibana/issues/83910#issuecomment-731153653) to use the new ES Client, there are some outstanding tests to migrate over.

These need to be done by 7.15 FF.

[2021-04-08 14:14] shahzad31 opened #315 "Refactor monitor list api to do less"
Currently main monitor list api do much, it fetches list of monitors, their status, pagination information and as well as down history histogram. All of those in same sequential way adds to the cost and makes query less performant.

Potentially we can make query better by separating down history and pagination into separate API, this will make monitor list responsive in terms of user experience

[2021-04-15 18:33] #165 closed, assigned to nobody

[2021-04-20 13:09] #249 closed, assigned to shahzad31

[2021-04-20 16:12] #235 closed, assigned to andrewvc

[2021-04-21 10:32] paulb-elastic opened #316 "Beta link does not open in new tab"
The new beta link (implemented in https://github.com/elastic/kibana/issues/91421) would be better to open in a new tab, so the user does not lose the context of the Uptime page they are currently in

![image](https://user-images.githubusercontent.com/70908889/115539682-29338080-a295-11eb-8d87-66feb660ad43.png)

[2021-04-22 18:02] shahzad31 commented on #172
not valid anymore

[2021-04-22 18:02] #172 closed, assigned to shahzad31

[2021-04-22 19:31] #316 closed, assigned to justinkambic

[2021-04-23 16:15] #271 closed, assigned to justinkambic

[2021-04-26 14:48] dominiqueclarke commented on #307
There are two ways I see editing Uptime monitors in fleet operating

1. Edit button directs users to the fleet edit page
   - Edit url is straightforward, can be easily constructed with the integration policy id and the integration policy id
   - Open in a new tab to keep Uptime context
2. Edit button opens up an Uptime workflow for editing the monitor
   - The Fleet PackagePolicyService exposes u

[2021-04-26 16:07] paulb-elastic commented on #271
For reference, an example configuration in a `heartbeat.docker.yml` for a remote ZIP location downloading from GitHub, could be:
[code]

[2021-04-29 16:42] #289 closed, assigned to justinkambic

[2021-05-03 15:41] justinkambic commented on #316
Tested this, works great
![May-03-2021 11-40-53](https://user-images.githubusercontent.com/18429259/116898505-7227f500-ac04-11eb-9f58-2ccd49f9e7d4.gif)

[2021-05-03 15:44] justinkambic commented on #274
Both search features seem to be working:

Simple search:
![image](https://user-images.githubusercontent.com/18429259/116898826-d945a980-ac04-11eb-975b-2889a63c90e0.png)

`KB`:
![image](https://user-images.githubusercontent.com/18429259/116898746-c29f5280-ac04-11eb-8286-fd11e4ab6a63.png)

[2021-05-04 12:46] paulb-elastic opened #317 "Metrics selector has disappeared from Synthetics in Exploratory View"
The option to select the metric to display in Exploratory View seems to have disappeared when selecting Synthetic monitoring data (it’s there for RUM data)

![image](https://user-images.githubusercontent.com/70908889/117005314-ff3f7c80-acde-11eb-919c-6082ed96790f.png)

This was there in a previous version, so a recent PR must have removed it somehow.

[2021-05-04 12:48] justinkambic commented on #271
Was able to test this feature using the supplied example zip.

![image](https://user-images.githubusercontent.com/18429259/117005611-74965780-acb5-11eb-9a22-1d0944516069.png)

[2021-05-04 13:05] justinkambic commented on #289
Tested locally, works well
![image](https://user-images.githubusercontent.com/18429259/117007650-e4a5dd00-acb7-11eb-9dca-b8f95af566fc.png)

[2021-05-04 14:50] liciavale opened #318 "Replace title Exploratory View page with Analyze Data"
To maintain a coherent experience with the entry point CTA we need to replace the current title `Exploratory View` with `Analyze Data`.

![Screenshot 2021-04-29 at 19 21 45](https://user-images.githubusercontent.com/8301088/117022029-ce1b7800-acef-11eb-8c9b-df1c2598049e.png)

[2021-05-10 10:29] paulb-elastic opened #319 "[Exploratory View] Screen re-layout when hovering between Synthetic Monitoring and UX"
There seems to be an odd re-layout of the screen when moving the mouse between the **Synthetic Monitoring** and **User Experience (RUM)** buttons.  The text (in the centre) and table (at the bottom) shift, and it seems scroll bars appear and disappear.

It’s quite subtle, but is not a nice experience when looking at the screen.

![Video_2021-05-10_112505](https://user-images.githubusercontent.com/

[2021-05-10 12:44] paulb-elastic commented on #317
It turns out that this was not available.  Closing this (and will open a new one to add the feature).

[2021-05-10 12:44] #317 closed, assigned to dominiqueclarke

[2021-05-10 12:50] paulb-elastic opened #320 "[Exploratory View] Add metrics selector to Synthetic data selection path"
As a user of Heartbeat monitoring the health of my infrastructure
I want to plot specific performance metrics of specific monitors on a graph
So that I can determine if performance is improving or not

ACs:
* When selecting **Synthetic Monitoring** from the **Exploratory View** (Analyze Data), I can define the metric to show (the same as I can when selecting **User Experience (RUM)** data
* The me

[2021-05-10 12:51] paulb-elastic opened #321 "[Exploratory View] Add Multi Series"
As someone interesting in using raw data to investigate performance
I want to be able to create multiple series on the same chart with unique data/filter combos
So that I can identify items of interest in the data that wouldn't otherwise be visible

ACs:

- Users can add multiple series to a single chart (at least 5)
- The first series defines the chart type and what can be shown in subsequent ser

[2021-05-10 12:53] paulb-elastic opened #322 "[Exploratory View] Add to Case"
As a user of the Observability cases capability
I want to be able to add a visualisation I've created in the exploratory view to an existing case
So that I can communicate observed insight visually in a way that users can then come back and manipulate themselves

ACs:

- There is an "add to case" option in exploratory view
- The case option shows all open cases
- There is a search box to filter th

[2021-05-10 12:55] paulb-elastic opened #323 "[Exploratory View] Replace existing charts"
**Uptime**
Donut up/down chart - replace with lens only. No clickthrough
Pings over Time Overview - replace with lens only. No clickthrough
Downtime History - replace with lens only. No clickthrough
Pings over Time (in monitor details) - Stays the same format, replace with exploratory view embeddable and add "explore" button
Monitor Duration (ping) - Stays the same format, replace with exploratory

[2021-05-10 12:55] paulb-elastic opened #324 "[Exploratory View] Add mobile APM"
~Placeholder issue to be defined~

This description added by @justinkambic:
Add a new Data Type to support APM mobile data. It will allow users to explore latency, memory usage, cpu consumption of mobile devices that are logged to APM indices.

[2021-05-10 12:56] paulb-elastic opened #325 "[Exploratory View] Move from experimental to GA"
MVP
- Update and polish the end-to-end user experience in the exploratory view based on the new design like filters etc. (work in progress https://github.com/elastic/observability-dev/issues/1229)
- Define entry points - When users access the feature from the graphs in other views we need to show the same graphs and keep them consistent
- Content, CTAs, contextual info need to be checked with UX w

[2021-05-10 14:39] paulb-elastic opened #326 "[Exploratory View] Embed Exploratory Viewer into Cases"
Placeholder issue to be defined

* Add Popover containing empty Exploratory View from existing Cases

[2021-05-10 19:29] justinkambic commented on #319
Are you still able to reproduce this? Which version of FF? I'm not seeing it in Chrome, Firefox, or Firefox Dev edition.

[2021-05-11 11:46] paulb-elastic opened #327 "Exploratory View Polish"
Carried over from https://github.com/elastic/uptime-dev/issues/51

  - [x] Use EUI viz colors for charts
  - [x] Use sentence case and abbreviations for legends and tooltips (for example: currently it says "Secondes" where it could be "s") (fixed in https://github.com/elastic/kibana/pull/101520)
  - [x] Currently the reports produce charts with different heights, it should be the same height for a

[2021-05-11 15:56] paulb-elastic commented on #319
Ok, I can see now there is a specifc way of seeing the problem.

Go to **User Experience** and click **Analyze Data**

This will auto select the **User Experience (RUM)** option, which is where the problem shows up (hover, without clicking on any of the selections).

[2021-05-12 07:28] RobDTech commented on #80
How about allowing users to plug in modules?

[2021-05-12 10:11] paulb-elastic commented on #314
This is being done in https://github.com/elastic/kibana/pull/99801

[2021-05-12 11:56] justinkambic commented on #314
Apologies, I didn't realize there was a separate issue. I was reviewing the meta issue from the Kibana team and saw our tests weren't checked off.

[2021-05-12 15:05] #318 closed, assigned to dominiqueclarke

[2021-05-12 18:47] justinkambic commented on #319
@paulb-elastic, @dominiqueclarke and I paired on this issue and identified that it is indeed caused by v7 theme in Firefox. At this point we should discuss how much effort is worth investing in fixing this specific issue given that it only impacts Firefox users, and that v7 theme will go away eventually anyway.

[2021-05-13 13:48] paulb-elastic commented on #319
@justinkambic / @dominiqueclarke it will affect anyone using Firefox with 7.13 as this is the default theme, unless v8 has been enabled. (Sometimes it happens with **Synthetic Monitoring** selected too, so we should consider it's likely for anyone using Exploratory View with Firefox).

I do personally find it quite jarring - in fact, it almost hurts my eyes as the whole layout shifts - odd to expl

[2021-05-14 09:28] paulb-elastic opened #328 "Update Synthetic Integration readme to clarify special Docker image for Elastic Agent"
With the addition of real browser Integrations (https://github.com/elastic/uptime/issues/276) the Synthetic Integration readme needs updating to make it clear that Real Browser integrations can only run on Elastic Agents that are running from a specific Docker image (i.e. they will **not** work on the binary (non Docker) installation **or** the standard Docker Elastic Agent installation).  The spe

[2021-05-14 12:58] dominiqueclarke commented on #319
Eui has provided a suggested fix for the v7 buttons and this fix is currently in review.

[2021-05-14 16:19] #319 closed, assigned to dominiqueclarke

[2021-05-17 10:38] #314 closed, assigned to nobody

[2021-05-19 09:46] paulb-elastic opened #329 "Create a test to check compatible index pattern based on the current format"
To ensure we don’t inadvertently make a change that might impact customers, create a test to check the index pattern as used by Exploratory View.

[2021-05-20 14:34] paulb-elastic opened #330 "The last successful screenshot should be from the same location"
When a step fails and we show the screenshot of the last successful check as a comparison to the failure, it does so using the screenshot of the most recent successful test prior to the failure.

However, when tests for the same monitor are running from multiple locations, the screenshot we show will be the most recent (prior to the failure) regardless of location.

It’s not uncommon for websites

[2021-05-27 14:52] shahzad31 opened #331 "Improving typings in the uptime code"
In uptime plugin code, we have lot's of usage of `any` type in the typscript code, example being

https://github.com/elastic/kibana/blob/master/x-pack/plugins/uptime/server/rest_api/index_state/get_index_pattern.ts#L16

We should get rid of all the usage of `any`

we can start with low hanging fruits, where we don't need many changes and then tackle complex usage of any.

[2021-06-01 16:57] paulb-elastic commented on #320
@drewpost / @liciavale please confirm the menu option for this (e.g. changing Monitor duration to KPI over time)

[2021-06-02 10:34] drewpost commented on #320
I am 100% ok with switching to KPI over time as it's more generic and fits the vision of the product. In fact, I'd argue that |pings histogram" goes away and we add in Performance Distribution as an option. Pings become a metric in the KPI over time definition section cc @shadab-elastic @paulb-elastic @liciavale

[2021-06-02 19:57] justinkambic opened #332 "Allow click anywhere on monitor list item to drill into monitor"
**Is your feature request related to a problem? Please describe.**
Today, users can click anywhere on a row item when looking at Synthetics journeys to drill into step details.

![Jun-02-2021 09-35-02](https://user-images.githubusercontent.com/18429259/120544085-09769880-c3bb-11eb-9404-c4419540afe7.gif)

We can't do this on the monitor list from the overview page. Users need to click the monitor I

[2021-06-04 09:01] paulb-elastic opened #333 "[Meta] Screenshot and Filmstrip Features"
Meta issue for tracking screenshot and filmstrip related issues.

Screenshots
* De-duplicate images https://github.com/elastic/synthetics/issues/285
* Re-assemble chunked synthetics images https://github.com/elastic/kibana/issues/100474
* Document how to retain data with fleet integration and ILM policies https://github.com/elastic/synthetics/issues/286
* Flexible screenshot functionality https://

[2021-06-04 09:51] paulb-elastic opened #334 "[Exploratory View] Add Label as an option in the filter and breakdown selector"
As a Web Performance Engineer at an ecommerce company
I want to filter and/or breakdown the Exploratory View data (especially Core Web Vitals) by label
So that I can see the performance data broken down by my online brands (for which I use labels to distinguish them)

ACs:
* There is a `Label` option in the **Filter** drop down in Exploratory View in the **User Experience (RUM)** workflow
* There

[2021-06-07 15:00] shahzad31 commented on #334
We want to save these custom filters in saved object or user will have to selected label field every time from the custom popover?

[2021-06-18 07:31] shahzad31 commented on #327
Relevant issues are fixed and remaining will not be relevant after redesign

[2021-06-18 07:31] #327 closed, assigned to justinkambic

[2021-06-22 12:39] katrin-freihofner commented on #322
There is already a "add to new/existing case" workflow for alerts, we might be able to reuse.

[2021-06-23 22:47] andrewvc commented on #276
@drewpost @paulb-elastic @dominiqueclarke I'd like to expand the last AC around the experience setting up the docker image. We should do the following IMHO:

1. Attempt to detect if the agent policy is backed by `offline` agents (e.g. ones capable of running synthetics)
2. Show an error if that is the case *before* the policy is saved clearly explaining the situation
3. Create a tutorial in correc

[2021-06-28 18:15] justinkambic opened #335 "[Synthetics] Notify user when no previous run exists"
**Is your feature request related to a problem? Please describe.**
Today, we provide the user with a screenshot of the last successful check in the Synthetics step view:

![image](https://user-images.githubusercontent.com/18429259/123684124-17cd9e00-d81b-11eb-8186-61d9dfd740a1.png)

**Describe the solution you'd like**
When there is not a previously-successful journey, this area of the UI is devoi

[2021-06-29 08:25] paulb-elastic commented on #335
We might need to be careful with the wording, as there could be other reasons for no "last successful" image.  With options for images not to be captured at all, or only on bad, there may have been successful runs, it’s just we don’t have images for them.  Similarly, depending on the purge time for screenshots, the last successful run may have since had the screenshots purged.

Depending on how ex

[2021-06-29 08:26] paulb-elastic commented on #335
Also linking to https://github.com/elastic/uptime/issues/330 as it's in a related area.

[2021-06-29 09:05] paulb-elastic commented on #276
I do like the idea of this - giving a more useful pointer of a misconfiguration before it’s set up (at which point the user is left debugging why they have no data).

I guess the only thing would be if there is a use case where a user might want to set up a load of monitors before assigning the policy to an agent, in which case this would prevent that.  I’m not convinced that is a valid use case,

[2021-06-29 12:14] #320 closed, assigned to justinkambic

[2021-06-29 12:49] justinkambic commented on #335
We actually query for the last successful step before getting the screenshot for it already, so there is probably no concern with performance. We should definitely make sure all the possible states are covered; last successful step without a snapshot should appear too.

[2021-07-01 13:32] justinkambic opened #336 "[Synthetics] [Discuss] Journey with 0 completed steps shows as successful"
**Is your feature request related to a problem? Please describe.**

Today, when there's a journey with 0 completed steps (i.e. none failed, none passed), we show it as successful in the UI, and allow users to drill into it.

![image](https://user-images.githubusercontent.com/18429259/124132370-bee64b80-da4e-11eb-82db-cd80e8d1c4b5.png)

![image](https://user-images.githubusercontent.com/18429259/12

[2021-07-01 13:32] elasticmachine commented on #336
Pinging @elastic/observability-design (design)

[2021-07-01 20:58] justinkambic opened #337 "[Synthetics] Improve performance of de-dupe support"
We recently introduced support for the chunking strategy the Synthetics agent uses to reduce index size. We can further optimize this by caching blocks locally; for some cases this can completely remove the need for querying image data. In average cases, it can reduce the required fetched data considerably.

We should also investigate if it's possible for us to implement some kind of request batch

[2021-07-05 15:26] paulb-elastic commented on #324
This has been done in https://github.com/elastic/kibana/pull/99565

[2021-07-05 15:26] #324 closed, assigned to justinkambic

[2021-07-08 16:27] justinkambic opened #338 "[Synthetics] Extract reference to o11y nav Page Template from page components"
Today, we have twofold rendering logic in our [main router switch](https://github.com/elastic/kibana/blob/master/x-pack/plugins/uptime/public/routes.tsx#L136), where we can either render the Observability nav sidebar template directly, or allow the component to do it itself. This adds some complexity and inconsistency with the way page components are designed. It's trivial to share any needed data

[2021-07-13 11:11] paulb-elastic opened #339 "Uptime not handling different sized screenshots (mobile) particularly well"
Kibana 7.14 (local, checked with build just now)

When using mobile device emulation in a Synthetics test, for example with:

[code]
Uptime has trouble showing the different sized image in some places.

Hovers and clicks to see the big (non thumbnail) image seems to be ok
<details>
<summary>Click to expand</summary>

![image](https://user-images.githubusercontent.com/70908889/125440372-d76b992f-47

[2021-07-13 14:54] vigneshshanmugam commented on #339
~~@paulb-elastic This is a bug because of the way our Synthetics agent chops the given image based on the dimensions of the device, When we construct squares from the given dimensions, if the block results in floating point number, we chop that value off and always go for the nearest truncated value to make sure the underlying library is able to construct block -  As a result we are missing few di

[2021-07-13 17:08] vigneshshanmugam commented on #339
Should not have jumped in early without seeing the full screenshots. This is not related to synthetics agent, Probably a UI bug.

I was referring to the black borders around the image which you wont see for any desktop screenshots.

[2021-07-13 19:24] justinkambic opened #340 "Improve empty state for Uptime TLS page"
**Is your feature request related to a problem? Please describe.**

Currently, when there are no TLS records to show, this is what the user sees:

![image](https://user-images.githubusercontent.com/18429259/125512632-c46dbcf2-a39a-4a31-a70e-0a5850b3cf3b.png)

We also show the same message when the app is loading.

**Describe the solution you'd like**

We need to create dedicated loading/empty stat

[2021-07-13 19:24] elasticmachine commented on #340
Pinging @elastic/observability-design (design)

[2021-07-14 14:15] vigneshshanmugam opened #341 "[Synthetics] Improve the network waterfall chart"
For all network requests that went over HTTPS, we show the `secure` icon in the network waterfall.

Instead of showing the secure icon, we can show an `insecure` icon for any requests that went over HTTP. This would make it easier users spot the `insecure` requests and also gives back some area.

<img width="1074" alt="Screen Shot 2021-07-14 at 07 15 10" src="https://user-images.githubusercontent.

[2021-07-14 14:30] justinkambic opened #342 "[Meta] Ping list location filtering issues/improvements"
There are several issues we have noticed with the way location filtering works on the Ping List component today:

1. There can be cases where locations that aren't present on the current monitor show up as options for filtering. (you can see this in the screenshot below; the monitor has one location but many options to filter by)
2. It's not possible to filter by unnamed locations. (also visible i

[2021-07-15 12:49] shahzad31 commented on #273
This is already done in 7.14 in this PR https://github.com/elastic/kibana/pull/101459

[2021-07-15 12:50] #273 closed, assigned to nobody

[2021-07-15 12:51] shahzad31 commented on #270
this is more or less done in https://github.com/elastic/kibana/pull/101459

[2021-07-15 12:51] #270 closed, assigned to nobody

[2021-07-16 13:39] justinkambic opened #343 "[Synthetics Integration] Hide error message for empty field"
**Is your feature request related to a problem? Please describe.**
Today, we display an error message when there's an invalid or empty value in the http timeout field.

**Describe the solution you'd like**
I'm thinking it might be better to hide this message since it doesn't really apply. We could just highlight the field to signify it's required.

**Describe alternatives you've considered**
We co

[2021-07-16 13:39] elasticmachine commented on #343
Pinging @elastic/observability-design (design)

[2021-07-16 13:53] justinkambic commented on #320
This is looking good:

![image](https://user-images.githubusercontent.com/18429259/125958676-d372dedd-7921-48c4-a7ab-939660a31be0.png)

![image](https://user-images.githubusercontent.com/18429259/125958852-9b6bef21-8508-4c56-8995-9e1bdecaa5fb.png)

[2021-07-16 13:58] justinkambic commented on #324
This is looking good:

![image](https://user-images.githubusercontent.com/18429259/125959596-ba9fc6c3-149f-4917-99d3-526f3cb7615c.png)

[2021-07-16 14:12] justinkambic commented on #327
I checked the various polish items locally and they seem to be looking good.

[2021-07-20 16:05] justinkambic opened #344 "[Synthetics] Cap height of step display rows"
**Is your feature request related to a problem? Please describe.**
In review of https://github.com/elastic/kibana/pull/106128 we noticed that in the case of mobile-sized screenshots, the UI tends to render the screenshots in a way that causes the overall height of the row to increase significantly.

**Describe the solution you'd like**
We should cap row height, while showing a scaled-down image.

[2021-07-22 08:56] paulb-elastic opened #345 "Sticky forum post entry to describe TLS certs alert changes in 7.14.0"
ACs:
* Create a sticky forum item (in the [Uptime Forum](https://discuss.elastic.co/c/observability/uptime/75)) to inform users of the change of behaviour in 7.14.0 that will see TLS alerting change to alert on each certificate expiry individually (as opposed to bundle them in a single alert, as was the case prior to 7.14.0

[2021-07-22 17:05] paulb-elastic commented on #321
Linking https://github.com/elastic/kibana/pull/103855
Linking https://github.com/elastic/kibana/issues/106394

[2021-07-22 20:47] justinkambic opened #346 "[UX] Search existing hits while waiting for results"
**Is your feature request related to a problem? Please describe.**
Today, when I type a query into the search bar in the User Experience dashboard, the "top pages" items disappear and I see a loading dialogue. It's possible one or more of the top pages I wanted to see was already in the result set, or was further down the fold.

**Describe the solution you'd like**
We should continue to display th

[2021-07-27 03:19] andrewvc opened #347 "Cloud object store support for screenshots"
We've made great strides in reducing the amount of space screenshots take, but we can go further still. It would make sense to add support to heartbeat / kibana for uploading screenshots directly to cloud object stores like AWS S3/Google cloud storage etc/and Azure Storage to take advantage of their low cost.

Since we already support screenshot refs for indirect references to image data, we could

[2021-07-27 09:02] paulb-elastic commented on #276
Linking to https://github.com/elastic/beats/issues/26398 which is the requirement for an Elastic Agent + Synthetics dependencies image

[2021-07-28 15:31] dominiqueclarke commented on #345
This was created here: https://discuss.elastic.co/t/change-in-elastic-7-14-updates-to-the-uptime-tls-certificate-rule-for-alerts/279874

[2021-07-28 15:31] #345 closed, assigned to dominiqueclarke

[2021-07-30 12:58] justinkambic opened #348 "Implement tests and worker/watcher pattern in Redux saga"
We [recently noted](https://github.com/elastic/kibana/pull/103979#discussion_r679436184) that there's an opportunity to improve our redux sagas. Presently they're untested and, while most are essentially boilerplate, several of them have complex logic that we should be testing.

Additionally, we could investigate the possibility of implementing the worker/watcher pattern, as noted in the linked co

[2021-07-31 19:24] #337 closed, assigned to dominiqueclarke

[2021-08-03 15:29] paulb-elastic opened #349 "Migrate `telemetry_collectors_fleet.ts` to the new Elasticsearch client"
As per https://github.com/elastic/kibana/issues/83910#issuecomment-888925997, `kibana/x-pack/test/api_integration/apis/uptime/rest/telemetry_collectors_fleet.ts` needs migrating to the new ES client (note we had some something similar in https://github.com/elastic/kibana/pull/82003 but `telemetry_collectors_fleet.ts` is still outstanding).

[2021-08-03 15:38] paulb-elastic opened #350 "Remove `IIndexPattern` type from `exploratory_view/types.ts`"
As per https://github.com/elastic/kibana/issues/107220#issue-956102591 we need to remove `IIndexPattern` type from `x-pack/plugins/observability/public/components/shared/exploratory_view/types.ts`.

[2021-08-04 12:21] #349 closed, assigned to nobody

[2021-08-12 17:09] drewpost opened #351 "[Meta] Synthetics Integration Categorisation and Search Terms"
We should have the Synthetics Integration package in the following categories:

Web
Monitoring
Elastic Stack

The following search terms should also find the integration

Uptime
Synthetic
User Journey
Browser
Web
Monitor
Availability
Performance
Web Perf
Web Performance
DEM
Digital Experience Monitoring

- [ ] elastic/integrations#1534 - Update Synthetics categorization
- [ ] Implement Synthetics

[2021-08-12 18:34] #338 closed, assigned to dominiqueclarke

[2021-08-13 09:26] paulb-elastic commented on #351
@drewpost just to confirm, do you want it removed from `Elastic Stack` (and `Custom` as I think it's still in there)?  Also, you want a new category called `Elastic Synthetics`?

[2021-08-13 09:42] drewpost commented on #351
@paulb-elastic edit: yes in Elastic Stack. I've updated the main issue to reflect this.

No to custom unless we have a good reasoning behind it?

[2021-08-16 12:45] dominiqueclarke commented on #351
Keyword support does not currently exist for search terms. elastic/package-spec#209 has been raised as a feature request.

[2021-08-16 13:13] paulb-elastic opened #352 "Move existing APIs to async search - Overview Page"
We should migrate our existing APIs to async search to enable support for searchable snapshot as described in https://github.com/elastic/uptime/issues/293

[2021-08-16 13:50] dominiqueclarke commented on #351
@drewpost @paulb-elastic

To clarify, I actually did remove it from Custom when I added it to Elastic Stack. Can we confirm if you want it added back to Custom?

[2021-08-16 14:19] paulb-elastic opened #353 "Move existing APIs to async search - Monitor detail page"
We should migrate our existing APIs to async search to enable support for searchable snapshot as described in https://github.com/elastic/uptime/issues/293

[2021-08-16 14:19] paulb-elastic opened #354 "Move existing APIs to async search - Certificates page"
We should migrate our existing APIs to async search to enable support for searchable snapshot as described in https://github.com/elastic/uptime/issues/293

[2021-08-16 14:19] paulb-elastic opened #355 "Move existing APIs to async search - Synthetics Pages"
We should migrate our existing APIs to async search to enable support for searchable snapshot as described in https://github.com/elastic/uptime/issues/293

[2021-08-16 14:19] paulb-elastic opened #356 "Move existing APIs to async search - User Experience App"
We should migrate our existing APIs to async search to enable support for searchable snapshot as described in https://github.com/elastic/uptime/issues/293

[2021-08-17 13:12] drewpost commented on #351
Do not it to custom, please.

[2021-08-17 13:49] paulb-elastic opened #357 "[Synthetics] Document offline synthetics use case"
Uptime issue for working on the requirement in https://github.com/elastic/observability-docs/issues/663

[2021-08-17 17:36] paulb-elastic commented on #322
@liciavale (cc @drewpost), we might need some help working out the best design for this (see also Katrin's comment above).

[2021-08-19 17:54] dominiqueclarke commented on #337
Verified that API calls are working as expected, and validated regression for the following
- Screenshots on monitor details page
- Screenshot slideshow on monitor details page
- Screenshot popover on monitor details page
- Screenshots on step details page
- Screenshot slideshow on step details page
- Screenshot popover on monitors details page
- Screenshot loading when navigating using check navi

[2021-08-19 17:58] dominiqueclarke commented on #338
This was mainly a code change that was validated in #104939.

For regression, Uptime page templates continue to be valid, with only one h1 per page with only valid html markup nested inside.

[2021-08-20 04:00] andrewvc commented on #339
I'm still seeing this on 7.15. I accidentally tested this as part of the 7.15 test plan:

![image](https://user-images.githubusercontent.com/131427/130177070-7e5ac1dd-cf2a-434c-b5bd-a0e6a3c08222.png)

[2021-08-20 16:08] #350 closed, assigned to justinkambic

[2021-08-20 17:10] justinkambic commented on #339
@andrewvc how does it look when you expand the row? IIRC the original complaint in this issue was that the image rendered way incorrectly for "portrait" aspect ratios (per the GIF in the issue description). While the image in the row does look somewhat goofy compared to desktop screenshots, we never changed that rendering as a part of this fix. I think if we did make it so the rows didn't grow at

[2021-08-24 16:36] dominiqueclarke commented on #276
This has been resolved.

[2021-08-24 16:36] #276 closed, assigned to andrewvc

[2021-08-31 14:04] justinkambic opened #358 "[Uptime] Support email for simple monitor alerts"
**Is your feature request related to a problem? Please describe.**
Today, users cannot set up an email connector for simple monitor alerts.

**Describe the solution you'd like**
We could add email as a connector for our simple alerts feature.

**Describe alternatives you've considered**
N/A

**Additional context**
We currently don't do this because we lack the necessary field definitions to define

[2021-08-31 18:40] justinkambic opened #359 "Detect when mapping is missing in Heartbeat indices and report in Uptime app"
**Describe the bug**
Today, we get lots of bug reports that people cannot query their Uptime data. Almost always, it's because their mapping is somehow not correct. The remediation is to stop Heartbeat, delete their improperly-mapped indices, and restart Heartbeat. We could probably detect this error state and direct them to documentation that will show them how to fix the problem.

This could pot

[2021-08-31 18:40] elasticmachine commented on #359
Pinging @elastic/observability-design (design)

[2021-08-31 18:43] justinkambic commented on #359
CC @liciavale - you may want to provide some insight on how this should look. At the moment I was thinking of an alternate empty state to what we display today:

![image](https://user-images.githubusercontent.com/18429259/131558298-78f79d44-13c6-4aa0-bccb-b58b0af2bf69.png)

If you have thoughts to share I'd welcome them 🙂

[2021-09-03 18:26] liciavale commented on #359
Hey @justinkambic  LGTM

[2021-09-07 18:13] justinkambic opened #360 "[Uptime] Certs loading state UX on page reload"
**Describe the bug**
When the page is reloaded on the Uptime app's Certs page, the UI tells the user there are no items. After the initial fetch, the loading experience is much nicer and accurately reflects the state of the data.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure some monitors that will use TLS
2. Navigate to the certs page
3. Refresh the page
4. Notice the warning th

[2021-09-07 19:31] paulb-elastic commented on #339
We confirmed that the original issue (of not being able to see the full height of the image) is still working in 7.15.

[2021-09-07 19:31] #339 closed, assigned to andrewvc

[2021-09-07 20:22] paulb-elastic commented on #339
https://github.com/elastic/synthetics/issues/371 raised to cover the separate issue of the border that is sometimes visible with some viewports.

[2021-09-08 08:45] drewpost opened #361 "Exploratory View GA Definition"
### Capabilities

- [x] Look and feel and user experience match the new designs as contained here.
- [x] Single series
- [x] Multi-Series
- [x] Same cohort, different time
- [x] Different cohort, same time
- [x] Mobile APM, User Experience and Synthetics series options
- [x] Chart type controls
- [x] Series names as the series data type
- [x] Breakdowns enabled only on first series (alternative, b

[2021-09-08 08:52] shahzad31 commented on #361
`When broken down, legend shows series name pre-pended to broken down value name
`
this is not an easy thing to do, can we push this out of MVP scope?

[2021-09-08 14:04] drewpost commented on #361
Let's bring this up at refinement. It was super hard to understand the legend when there was a broken down series without this capability. cc @dominiqueclarke I think I remember you saying you looked at this?

[2021-09-08 17:33] #360 closed, assigned to nobody

[2021-09-13 10:33] shahzad31 commented on #334
@paulb-elastic  I think this needs futher refinement, we need design and need to determine which EUI component can be used for this

[2021-09-13 16:47] shahzad31 commented on #286
fixed in https://github.com/elastic/kibana/pull/111526

[2021-09-13 16:47] #286 closed, assigned to nobody

[2021-09-14 09:55] drewpost commented on #325
Closing as redundant - this is the issue to look at for GA definition https://github.com/elastic/uptime/issues/361

[2021-09-14 09:55] #325 closed, assigned to nobody

[2021-09-14 12:52] dominiqueclarke commented on #361
" Time period comparisons on charts with time series X axis must automatically match the length of the main series. User can pick start OR end date/time and we auto fill". This behavior wasn't immediately obvious to Justin and I. We may need to design a small callout to explain this behavior. Also, how does this meld with the ability to timeshift with "same cohort, different time". We may need des

[2021-09-14 15:37] andrewvc commented on #361
@dominiqueclarke I suspect that @drewpost meant that the length of time being compared must remain constant. You could only compare 12:00AM-3:00AM with another 3 hour period, but not a 2 hour period for instance.

[2021-09-14 17:03] paulb-elastic commented on #361
Updated the requirement for sensible defaults to `Series names as the series data type`

[2021-09-14 17:08] paulb-elastic commented on #321
Discussed in refinement, closing in favour of https://github.com/elastic/uptime/issues/361

[2021-09-14 17:08] #321 closed, assigned to justinkambic

[2021-09-15 15:41] shahzad31 opened #362 "Move Ping histogram API to Async search - Overviewpage"
We should migrate our existing APIs to async search to enable support for searchable snapshot as described in #293

[2021-09-15 17:17] #354 closed, assigned to dominiqueclarke

[2021-09-16 10:27] shahzad31 commented on #322
@drewpost Observability cases are still behind feature flag, does that effect this ticket?

[2021-09-16 10:33] drewpost commented on #322
@shahzad31 My understanding is that they will be out from there in 7.16. @cyrille-leclerc can you confirm if that is still on track?

[2021-09-16 11:55] katrin-freihofner commented on #322
This is the workflow we currently have in place in the alerts view:

## Creating a new case
<img width="1378" alt="Screenshot 2021-09-16 at 13 54 05" src="https://user-images.githubusercontent.com/20965076/133607663-bdaed977-31a8-4438-b1b2-f355a98f5408.png">

## Adding alert to an existing case
<img width="1378" alt="Screenshot 2021-09-16 at 13 53 54" src="https://user-images.githubusercontent.com

[2021-09-21 13:43] paulb-elastic commented on #328
This is not needed

[2021-09-21 13:43] #328 closed, assigned to dominiqueclarke

[2021-09-21 15:37] dominiqueclarke commented on #334
I am confused. What field does `label` map to?

[2021-09-21 17:17] paulb-elastic commented on #334
Labels can be added in the RUM tag, for anything (e.g. using `apm.addLabels({ foo: "bar" });`).

Some users use this for a type of categorisation for their pages (e.g. different brands, or maybe product pages vs information pages).  Having a breakdown by label, allows those users to separate them in Exploratory View.

[2021-09-21 22:14] andrewvc opened #363 "Perform upgrade test from 7.16 to 8.0.0"
Aside from https://github.com/elastic/kibana/issues/112757 there are no known issues WRT upgrading from 7.16 to 8.0.0. We should manually test this flow however and see if we're missing anything. Ideally we'd setup demo monitors for each protocol in 7.x then do the upgrade and poke around.

[2021-09-23 10:55] #359 closed, assigned to lucasfcosta

[2021-09-28 16:42] shahzad31 opened #364 "Move monitor list histogram API to Async search"
As part of meta https://github.com/elastic/uptime/issues/293 we need to move monitor list histogram API to Async search

[2021-09-28 16:47] shahzad31 opened #365 "[Exploratory View] Add embeddable component"
In order to replace existing charts in observability apps, we need an embeddable version of exploratory view.

AC's

- We should be able to embed exploratory view into amy app
- Ability to pass time date picker range and series attributest to render
- Option to edit chart in exploratory view

This requirement blocks https://github.com/elastic/uptime/issues/323

and was determined as part of https:

[2021-09-30 08:58] drewpost opened #366 "Make Agent Flow the Primary Flow in Uptime for 7.16"
We are going to move to Integrations and Agent based monitor management as our primary workflow from 7.16 onwards. We also want to make the script recorder beta open for all users to optionally use and provide feedback on. To achieve this, we need to make the following changes:

- [ ] ~~Change the tile on "Home > Add Data" to match that in the Integration (title and description)~~
- [ ] ~~Change t

[2021-09-30 09:02] shahzad31 commented on #366
We also need to update tha Add data button link as well, right?

[2021-09-30 09:28] shahzad31 opened #367 "[Exploratory View] Add link from case back to exploratory view"
Derived from issue https://github.com/elastic/uptime/issues/322

- There should be a link from cases back into exploratory view that loads the given chart in exploratory view

We have added Add to case button in exploratory view, in this user can add lens based exploratory view visualization into case.

But once added in case, it opens it by default in lens, there is no way to link it back to expl

[2021-09-30 09:30] #322 closed, assigned to lucasfcosta

[2021-09-30 10:18] paulb-elastic commented on #367
@shahzad31 does this effectively replace https://github.com/elastic/uptime/issues/326?

[2021-09-30 11:01] paulb-elastic opened #368 "Not seeing unhandled exceptions"
Using beta.14 of Synthetics (from the 8.0.0-SNAPSHOT Docker Heartbeat image) and the 7.x branch of Kibana, I am not seeing the unhandled exceptions as implemented in https://github.com/elastic/synthetics/issues/226.

I have a monitor configured to hit a web page with the following JS script error:
[code]

This generates an error in the browser as expected, but this is not being shown against the r

[2021-10-04 17:57] dominiqueclarke opened #369 "[Observability] [Exploratory View] Collapse series config accordions when applying changes"
As an analyst, I want to be able to clearly focus on my chart configured with exploratory view, without distractions.

When clicking 'Apply changes' in exploratory view, we should collapse the series accordions to allow the user to better focus on the chart.

[2021-10-04 17:58] dominiqueclarke opened #370 "[Observability] [Exploratory View] Change title to match figma"
The title of exploratory view is incorrect. It should be updated to match the figma, which says `Explore data`.

Figma: https://www.figma.com/file/UDXscgU9o3p6auDOy6Zov7/Exploratory-view?node-id=1163%3A230098

[2021-10-04 21:44] dominiqueclarke opened #371 "[Synthetics integration] Add option to add script from the Elastic Synthetics Recorder"
As a QA engineer, I want to be able to create synthetics monitors within the Synthetics Integration, using the Elastic Synthetics Recorder.

AC
- [ ] A third "tab" is added to the synthetics integration for the script recorder method with a tech preview label for this mechanism
- [ ] The tab content will include a link to the Elastic Synthetics Recorder download page.
- [ ] The tab content will in

[2021-10-05 14:18] #369 closed, assigned to justinkambic

[2021-10-05 14:18] #370 closed, assigned to justinkambic

[2021-10-06 10:31] drewpost opened #372 "Exploratory View - Synthetics Step Level Capabilities"
As a user of the Exploratory View
I want to be able to analyse data based on the individual step level of a multi-step synthetic journey
So that I can view information that's specific to a certain part of my application or journey without the cognitive load that comes from having the entire journey shown

Essential: Monitor becomes multi- level. You have monitor name which will included aggregated

[2021-10-06 16:46] paulb-elastic commented on #361
Discussed in refinement - let's keep this ticket open to track as we approach FF (at which point we might split this up)

[2021-10-06 18:36] paulb-elastic commented on #371
@dominiqueclarke discussed with @drewpost, let's mark this as tech preview rather than beta at this stage

[2021-10-06 18:39] paulb-elastic commented on #371
@dominiqueclarke we've also clarified in the ACs that the ZIP URL should still be the default

[2021-10-06 18:58] dominiqueclarke commented on #371
Sorry, does tech preview mean "experimental"?

[2021-10-07 07:48] #364 closed, assigned to justinkambic

[2021-10-07 09:49] #334 closed, assigned to justinkambic

[2021-10-07 17:30] paulb-elastic commented on #371
Yes, they have been used interchangeably in the past

@drewpost, can you confirm which to use?

[2021-10-12 11:40] shahzad31 opened #373 "[Exploratory View] Refactor URL filter to allow wildcards"
We need to overhaul URL filtering in exploratory view to accomodate wildcards matching.

Ideally we should use the same component from user experience.

[2021-10-13 16:21] paulb-elastic commented on #189
Closing, led by leading with fleet and make it minor

[2021-10-13 16:21] #189 closed, assigned to nobody

[2021-10-15 13:37] drewpost opened #374 "[Exploratory View] Make Synthetics Series "Monitor" and "Step" Options Single select"
To avoid creating meaningless datasets which would result from creating an average of a metric across multiple monitors and to prevent UX confusion with commonly named steps across multiple monitors showing up in the steps menu, we should implement the following:

In a synthetics series:

- Monitor field is single select
- The step name field related to the monitor is single select

- If no monito

[2021-10-15 13:50] #373 closed, assigned to justinkambic

[2021-10-18 12:54] shahzad31 opened #375 "[Exploratory View] Implement percentile reference lines in page load distribution chart"
Since lens team has implemented refernce lines/threshold layer capabilities and also ability to add text on those lines, we should implement those in page load distribution chart to match it with user experince app.

They will look like these in page load dist chart

![image](https://user-images.githubusercontent.com/3505601/137733621-c5b28908-dd8e-49b8-a7dc-29314dcc7f6d.png)

From UX app
![image]

[2021-10-18 21:09] #372 closed, assigned to justinkambic

[2021-10-19 14:00] drewpost opened #376 "Add Link to Quick Start to Integration Main Description"
Add the following copy to the main synthetics integration description:

"Elastic Synthetic monitoring is included with all license levels via the Uptime app in Observability. In this release, you will need to set up your own synthetic testing nodes to execute your tests. For step by step instructions on how to set up a synthetic testing node for Elastic Synthetics with Elastic Agent, click here fo

[2021-10-19 17:33] paulb-elastic opened #377 "Script Recorder Initial Docs"
For the 7.16 release, we will create limited documentation for the Script Recorder, in the GitHub [repo](https://github.com/elastic/synthetics-recorder), as opposed to *proper* documentation pages, which we will look to implement in 8.0 (as per https://github.com/elastic/observability-docs/issues/988).

ACs:
* Create a location in the GitHub [repo](https://github.com/elastic/synthetics-recorder) t

[2021-10-20 04:13] #371 closed, assigned to shahzad31

[2021-10-20 13:53] #376 closed, assigned to justinkambic

[2021-10-20 15:20] drewpost opened #378 "[Exploratory View] Filtering Enhancements (include/exclude, batch select, hierarchy)"
PLACEHOLDER

[2021-10-20 15:21] drewpost opened #379 "[Exploratory View] Fixed Thresholds"
PLACEHOLDER

[2021-10-20 15:21] drewpost opened #380 "[Exploratory View] Annotations"
PLACEHOLDER

[2021-10-20 15:22] drewpost opened #381 "[Exploratory View] Pie Charts (single and compare)"
PLACEHOLDER

[2021-10-20 15:22] drewpost opened #382 "[Exploratory View] Multiple Synced Charts Option"
PLACEHOLDER

[2021-10-20 15:22] drewpost opened #383 "[Exploratory View] Saved Charts"
PLACEHOLDER

[2021-10-20 15:23] drewpost opened #384 "[Exploratory View] Saved Report Templates"
PLACEHOLDER

[2021-10-20 15:23] drewpost opened #385 "[Exploratory View] Shared Saved Charts"
PLACEHOLDER

[2021-10-20 15:24] drewpost opened #386 "Synthetic Monitoring Result Codes and Severity"
PLACEHOLDER

[2021-10-21 12:19] drewpost opened #387 "[Script Recorder] Notarise Electron App"
On macOS, we need to notarise our application to prevent Gatekeeper from throwing an error when it's run that requires a user to process a security exception. This requires admin access which a lot of users won't have, is a frustrating step for users who do have permissions and is reputation ally damaging.

https://kilianvalkhof.com/2019/electron/notarizing-your-electron-application/

[2021-10-21 13:24] #368 closed, assigned to dominiqueclarke

[2021-10-21 14:26] justinkambic opened #391 "[Uptime] Allow logical AND in Monitor Status rule"
**Is your feature request related to a problem? Please describe.**
We [received a request](https://discuss.elastic.co/t/uptime-alert-on-ha-heartbeat-deployments/287138) from a user to be able to receive alerts only when their service is down in _all_ locations. Today, if we configure an alert with multiple locations and any of them go down, the rule will become active.

**Describe the solution you

[2021-10-21 20:09] dominiqueclarke commented on #354
Post FF testing

Kibana branch 7.16

Certificates page LGTM.

<img width="1518" alt="Screen Shot 2021-10-21 at 4 04 06 PM" src="https://user-images.githubusercontent.com/11356435/138349539-13308cd4-edec-4d7e-8bc7-8c9a199d63c6.png">

Also did regression on TLS alerts, since the PR made some adjustments to that as well. That also LGTM.

[2021-10-25 17:50] paulb-elastic commented on #361
https://github.com/elastic/kibana/issues/116172 added to the list, ready for splitting out and prioritising.

[2021-10-26 08:07] shahzad31 opened #392 "[Step Lists Page] Adds step duration for each step in steps list"
we have a step list page for each synthetics monitor journey run, it display step name, image and a link to waterfall chart

it also has few more info like browser console etc in expanded form

we should also add a step duration for each step , it can be a new column in the table, just like we have in the ping list on monitor details page

![image](https://user-images.githubusercontent.com/3505601

[2021-10-26 10:39] shahzad31 opened #393 "Add refersh buttons to step list and waterfall pages"
We have previos/next navigation in the step list to go next/prev checks, but when you are on last check, next check button will be disabled, but if the new checks is already ingested, you will have to reload the page or go back to the ping list, to find the next check

Next check button isn't enabled when new check appears, either we should add refresh button, to reload the data, in that case butt

[2021-10-26 14:47] justinkambic opened #394 "[Uptime] Improve error handling when CCS is not enabled"
We recently added the capability to configure the Uptime app's index pattern via `kibana.yml`. This works fine, but we also noticed that if the user is attempting to use cross-cluster search on a cluster that is not configured to use this feature, there is no helpful error message and the Kibana server log will flood with errors that are unrelated to the root cause.

In an attempt to abate the ine

[2021-10-26 14:51] shahzad31 commented on #394
this also happens if you will configure CCS via uptime settings page

[2021-10-26 14:56] justinkambic commented on #394
@shahzad31 I have updated the issue's description to make it agnostic to the configuration method.

[2021-10-26 16:55] paulb-elastic commented on #331
Might be useful to break this down into multiple PRs

[2021-10-26 17:34] justinkambic commented on #376
Post FF Testing LGTM

![image](https://user-images.githubusercontent.com/18429259/138931123-5a1f8f1d-d614-45d2-bd65-1ceeee622ac5.png)

[2021-10-26 20:29] justinkambic commented on #369
Post FF Testing LGTM

![Oct-26-2021 16-29-00](https://user-images.githubusercontent.com/18429259/138956041-6d54e463-7cc1-4a24-a254-d1ccc9d4a6e5.gif)

[2021-10-27 10:51] shahzad31 commented on #371
POST FF Testing Done, Looks good

- [x] A third "tab" is added to the synthetics integration for the script recorder method with a tech preview label for this mechanism
- [x] The tab content will include a link to the Elastic Synthetics Recorder download page.
- [x] The tab content will include a file upload link
- [x] The file upload link will support select and drag and drop
- [x] The file uploa

[2021-10-27 16:03] justinkambic commented on #377
Regarding this issue, how specific do we want the installation instructions to be? Should we assume the user doesn't know how to install a binary on their given platform, or is it ok to link them to the releases and say "download, unpack, and install the binary for your platform"?

[2021-10-27 18:09] vigneshshanmugam commented on #377
Pasting from the slack conversation.

[2021-10-27 18:37] paulb-elastic commented on #377
@drewpost do you have a specific level you want this aimed at?  This is meant as an initial set of docs before they are *properly* set up in the docs area - how detailed do you want this?

[2021-10-28 09:22] drewpost commented on #377
Aren't we offering pre-packaged versions of the app to download in exe or .app (inside a dmg)? This would be my preferred approach vs asking them to do anything in a command line. Again, thinking lowest common denominator for the primary user this tool is aimed at. Command line = scary!

Aside from that I think we should also document the high level process of getting started (ie just hit record,

[2021-10-28 18:19] justinkambic commented on #377
The associated PR does not address all of these concerns. It does outline the basic usage of the recorder and the main features. We don't have any screenshots included as of yet, for instance. Are we ok with text-only docs in the repo itself, until we have a proper docs page set up where we can maintain screenshots etc.?

[2021-11-01 11:08] lucasfcosta commented on #359
Just to confirm, is this what one is supposed to see after they've deleted their Heartbeat indexes?

It looks different form the screenshot from earlier, so I just wanted to confirm.

![Screenshot 2021-11-01 at 11 07 42](https://user-images.githubusercontent.com/6868147/139662568-0b4f1951-1ed1-4cc9-a08b-2cc91fef772c.png)

[2021-11-01 11:20] shahzad31 commented on #359
@lucasfcosta yes you are right, this is a new view which represent mapping error state.

[2021-11-01 14:53] justinkambic commented on #377
I've updated that PR so as not to resolve this, but it will provide a baseline set of docs that we can iterate over.

[2021-11-01 17:28] justinkambic commented on #364
Post-FF testing LGTM:

![image](https://user-images.githubusercontent.com/18429259/139713791-4e773906-c773-49f3-b68b-97b33fb3f6f0.png)

All I did was make sure that the histogram showed up in the monitor list. Assuming the original PR contained the necessary embeddable replacement code.

[2021-11-01 18:10] lucasfcosta commented on #322
I've tested this PR in two ways: [following Dominique's comments on the PR](https://github.com/elastic/kibana/pull/112463#pullrequestreview-764358413), and following Paul's instructions in this issue.

# Test Results (As per Paul's description)

As per Paul's description, here's how I've tested this issue:

1. I created five cases:
    1. two open cases from different reporters each
    2. one in-

[2021-11-01 18:14] justinkambic commented on #334
Post FF testing LGTM

Tested this against dev cluster and the search/application of the breakdown looked good to me. Couldn't seem to get data to show, but I'm thinking that's more a product of the underlying data than an issue with the software.

![Nov-01-2021 14-13-57](https://user-images.githubusercontent.com/18429259/139720251-897894e7-dc56-4cc3-b689-45658ae39c9b.gif)

[2021-11-01 18:40] justinkambic commented on #373
Post-FF testing LGTM
![Nov-01-2021 14-39-45](https://user-images.githubusercontent.com/18429259/139723645-65cdc651-156b-4ca8-84b5-22855511bc7b.gif)

[2021-11-01 18:59] dominiqueclarke commented on #365
No data available is showing in the example, despite having monitors in the `heartbeat-*` index within the past 5 days. I am running elasticsearch and heartbeat locally, running the master heartbeat binary and es via `yarn es snapshot` on the 7.16 Kibana branch. Tested on commit `0c347055e667851383a7415dfeaaa985bc01fe07`

<img width="820" alt="Screen Shot 2021-11-01 at 2 57 46 PM" src="https://use

[2021-11-01 19:14] justinkambic commented on #372
Post-FF Testing LGTM

![untitled](https://user-images.githubusercontent.com/18429259/139727954-e49f7a5b-2f04-4499-bbcd-ab8d5982a177.gif)

[2021-11-01 20:02] justinkambic commented on #370
Post-FF Testing LGTM

![image](https://user-images.githubusercontent.com/18429259/139734081-2ab1f1a2-2cee-4313-bfa1-2503ea6111bb.png)

[2021-11-01 20:10] justinkambic commented on #321
Not performing testing on this as it's a dupe.

[2021-11-01 20:28] dominiqueclarke commented on #368
Seeing expected console output on Kibana branch 7.16 on commit `0c347055e667851383a7415dfeaaa985bc01fe07`

[2021-11-02 09:24] shahzad31 commented on #322
@lucasfcosta

Thanks for the detailed testing
Regarding
`When selecting tags, as the popup changed dimensions, the position of the select element ended up being a bit weird. Is that an issue I should report on Kibana or in our component library?
`

Please open an issue in the kibana repo, we will redirect it to the team which owns this component, i think it's woned by RAC initiative.

And thanks f

[2021-11-02 17:10] #330 closed, assigned to nobody

[2021-11-08 16:45] awahab07 commented on #330
**Post FF Testing**

LGTM
- Does respect the location for monitor-with-locations when listing **last successful check**.
- Doesn't list **last successful check** for a failed step with no prior successful steps.
- Correctly shows the last successful screenshot and links to last successful step.

**Monitors with locations** (Used oblt-edge for testing)
1. A successful ping on 1:34:24 PM with first

[2021-11-10 10:37] shahzad31 commented on #360
POST FF Testing looks good !!

[2021-11-15 17:11] #365 closed, assigned to dominiqueclarke

[2021-11-16 13:39] andrewvc commented on #357
Blocked on https://github.com/elastic/beats/issues/28749

[2021-11-17 10:15] paulb-elastic commented on #366
Discussed with @drewpost  and because of a change in approach for the integrations, we want to keep the flow as it is (i.e. the same in 7.16 as it is in 7.15), in terms of how users are directed to add data (and not change the default to be Agent and the Synthetics Integration) in 7.16.  Also, we will need to keep the `beta` label on the existing Synthetics Integration in 7.16.

The changes to sup

[2021-11-18 14:49] justinkambic commented on #377
I've put this in Done for now, and will assume it's closed by https://github.com/elastic/synthetics-recorder/pull/60; should we want a more formal set of docs we should create an issue for the Docs team to work with us on.

[2021-11-18 14:49] #377 closed, assigned to justinkambic

[2021-11-19 12:12] paulb-elastic commented on #377
For info, added a small follow up PR (https://github.com/elastic/synthetics-recorder/pull/84) to clarify the Script Recorder is not supported.

[2021-11-19 12:31] shahzad31 commented on #361
removing elastic/kibana#116172  after discussion with the the team.

[2021-11-19 13:33] sanjaruzic commented on #391
Adding a specific customer use case:

The customer has several heartbeat instances monitoring the same URLs from different locations.
Currently it is not possible to group the alerts coming from different heartbeat instances for the same URL.

The customer wants to get an alert if 1 instance is not reporting.
The SQL equivalent would be
select count(distinct(observer.geo.name)) from 'heartbeat-7*

[2021-11-19 14:28] justinkambic opened #395 "Improve default connector creation flow for simple monitor alerts"
**Is your feature request related to a problem? Please describe.**
Today, when I create a connector to use as the default for my Uptime settings, it still requires me to assign it to the default connector setting if there's no connector selected. Oftentimes, when I create a connector, my intention is for it to be the default, and when the current flow completes, I forget to manually make it the de

[2021-11-19 16:14] justinkambic commented on #391
We're going to evaluate putting this request onto our roadmap. Earliest possible target would be 8.1, but at this point we haven't committed to working on it at all.

If it does get added you'll be able to track the board it's on (projects link on the sidebar) and the issue's target version label.

[2021-11-22 09:54] shahzad31 opened #396 "Create uptime monitors saved object data model"
we will have to define data model to save uptime monitor configuration, we will leverage kibana saved objects apis to do that.
Example monitor attributes are
id, Name, type, urls etc all the data that user will define while creating a monitor will need to be saved in a saved object , detailed options can be found here
https://www.elastic.co/guide/en/beats/heartbeat/current/configuration-heartbeat-

[2021-11-22 10:15] shahzad31 opened #397 "Create a schedule Task to push uptime monitor configurations periodically"
We will need to define a scheduled task using Kibana task manager https://github.com/elastic/kibana/tree/main/x-pack/plugins/task_manager,  which will run periodically to push monitor configurations to the synthetics service.

This task will use following configuration

### Schedule
Task will run every 5m, it will fetch configurations which are saved as saved objects and push them to the synthetic

[2021-11-22 10:30] shahzad31 opened #398 "Kibana API key generation for synthetic service"
We need to pass an API key generated by kibana to the synthetic service, that will be used by heartbeat to communicate with elasticsearch.

We will generate an API key and save it as an encrypted saved object and will reuse it every-time we need to pass monitors configurations to the synthetics service.

Docs for encrypted saved objects https://github.com/elastic/kibana/blob/main/x-pack/plugins/en

[2021-11-22 10:44] shahzad31 opened #399 "Determine es hosts for synthetics service communication"
We will need to write a helper function to determine es hosts, so that those can be fetched and pass to the synthetics service.

This will be done in two workflows

## Cloud
When on the cloud, we can use cloud plugin to get user cloud.id and it can be decoded to determine es hosts, when cloud is enabled, we get cloud plugin contract and we can get `cloud.cloudId`

And then we can use decodeCloudId

[2021-11-22 10:49] shahzad31 opened #400 "[Meta] Uptime server enhancements for synthetics service"
[WIP] This is still a work in progress, i will add few more items in the list

This issue is to track all the requirement/enhancements we need in Kibana uptime server code to interact with synthetics service and respective UI code in the uptime app.

### Feature Flag
- [x] https://github.com/elastic/uptime/issues/421 Add a feature flag that will be used via config file to enable all the synthetics

[2021-11-22 13:41] shahzad31 opened #401 "Create monitor route for synthetic service"
Part of Meta Issue: As part of https://github.com/elastic/uptime/issues/400

For synthetics service we need to create a route in the uptime server, give a monitor configuration, it should created a monitor saved object and push it to the synthetics service.

It will also need to create/fetch API key so that it can pass that API key and newly created saved object to the util, which will push the da

[2021-11-22 13:44] shahzad31 opened #402 "Edit monitor route for synthetic service"
We need to create an edit monitor route for synthetic service, given a monitor id and configuration, it should update respective saved object and push the updated configuration to the service.

### Errors

It should return proper errors in case of failed to updated saved object, failed to find saved object , also in case if it's get an error from the synthetics service, that service failed to upda

[2021-11-22 13:46] shahzad31 opened #403 "Delete Monitor route for synthetics service"
Give a monitor id, route should delete the saved object and also makes a call to the synthetics service to delete it.

### Errors
If failed to do any action, deleting from saved object or service, it should return proper error

[TODO] determine proper error state

[2021-11-22 13:48] shahzad31 opened #404 "Monitor status route for synthetics service"
Give a monitor id or multiple monitor ids, route to should make a call to synthetics service to determine current status of the monitor.

### Errors

It should return if service unable to determine the state of the monitor

[TODO] Determine proper error state

[2021-11-22 13:58] shahzad31 opened #405 "Generate synthetics data index templates"
To use elastic synthetics service, we need to install synthetics data stream index templates, this can be done using fleet api by install synthetics integration package.

[2021-11-22 14:41] #361 closed, assigned to nobody

[2021-11-22 15:19] paulb-elastic commented on #323
Moving out of 8.0, into 8.1 for the time being.  Need to plan how this fits in with the bigger design work for Uptime.

/cc @drewpost

[2021-11-22 17:30] dominiqueclarke opened #406 "[Spike] Investigate Encrypted Saved Objects for Synthetic monitors"
Monitor configuration can often include sensitive data, including TLS configuration and authentication information. We should consider ways to secure this via saved objects in Kibana.

We should also consider the performance costs of decrypting these saved objects when syncing the configuration and sending it to the Synthetics Service via task manager.

[2021-11-22 18:10] dominiqueclarke opened #407 "[Meta] Uptime public UI enhancements for Synthetics service"
This issue is to track all the requirement/enhancements we need in Kibana uptime public code to interact with synthetics service and respective server code in the uptime app.

### Feature flag implementation
- [x] elastic/uptime#408
This could be a new feature flag, for example, `xpack.uptime.unsafe.service.enabled` or an existing service-only key that we will set directly for our private beta cus

[2021-11-22 18:14] paulb-elastic commented on #407
@dominiqueclarke I'm going to pop this onto the 8.0 board so it's easier to find

[2021-11-23 10:55] #396 closed, assigned to shahzad31

[2021-11-23 21:38] paulb-elastic commented on #366
@vigneshshanmugam, the last remaining activity here is to open up the script recorder repo.  Do you want to do this now or wait until 7.16 is released?  Is there any reason to wait?

[2021-11-24 19:14] dominiqueclarke opened #408 "[Uptime] [UI Monitor Management] Hide all corresponding pages and new features behind a feature flag"
UI Monitor Management should only be available behind an explicit feature flag.

The feature flag will be `xpack.uptime.ui.unsafe.monitorManagement.enabled`.

Corresponding UI Monitor management routes should be unavailable when `xpack.uptime.ui.unsafe.monitorManagement.enabled` is `false` and available when `xpack.uptime.ui.unsafe.monitorManagement.enabled` is `true`.

_To enable/disable server p

[2021-11-25 13:19] #398 closed, assigned to shahzad31

[2021-11-25 16:29] #399 closed, assigned to shahzad31

[2021-11-26 15:06] #405 closed, assigned to shahzad31

[2021-11-29 21:20] dominiqueclarke opened #409 "[Uptime] UI Monitor Management Stub Add Monitor Page"
As an Uptime user, I want to be able to add monitors from the Uptime app.

As part of the tech preview for the Synthetics service, we will be previewing UI monitor management.

UI monitor management is currently in a state of flux after our recent Synthetics Service rearchitecture, with designs and user stories currently being developed.

To move forward towards tech preview, we should add a new `

[2021-12-01 08:58] #397 closed, assigned to awahab07

[2021-12-01 18:52] awahab07 opened #410 "Add data validation to monitor CRUD routes"
Add data validation to the monitor CRUD routes so that request payload is validated to be a valid monitor config coming from UI.

_Note:_ Accept `locations?: string[]` in all monitor types for now.

[2021-12-02 18:56] paulb-elastic commented on #366
Repo public, last remaining item, closing.

[2021-12-02 18:56] #366 closed, assigned to dominiqueclarke

[2021-12-03 12:06] paulb-elastic opened #411 "SPIKE: Any other places we ignore heartbeat/summary?"
We have had some bugs identified recently where Uptime was not considering the heartbeat/summary doc, meaning there were times where we were looking at partial results (from incomplete runs) in some of our queries.  If there is no heartbeat/summary doc, it means that the test is still in progress (or has crashed, and therefore won't complete), either way, the result is not complete and should not

[2021-12-06 01:53] #409 closed, assigned to dominiqueclarke

[2021-12-06 01:56] dominiqueclarke opened #412 "[Uptime] Add Edit Monitor Page"
As an Uptime user, I want to be able to edit monitors from the Uptime app.

As part of the tech preview for the Synthetics service, we will be previewing UI monitor management.

UI monitor management is currently in a state of flux after our recent Synthetics Service rearchitecture, with designs and user stories currently being developed.

To move forward towards tech preview, we should add a new

[2021-12-06 01:57] #408 closed, assigned to lucasfcosta

[2021-12-06 01:58] dominiqueclarke opened #413 "[Uptime] UI Monitor Management Monitors Table - "New" Monitors"
As an Uptime user, I want to be able to view all of my existing monitors in one place.

As part of the tech preview for the Synthetics service, we will be previewing UI monitor management.

UI monitor management is currently in a state of flux after our recent Synthetics Service rearchitecture, with designs and user stories currently being developed.

To move forward towards tech preview, we shoul

[2021-12-06 02:08] dominiqueclarke opened #414 "[Uptime] Add Monitor Metrics to UI Monitor Management"
As an Uptime user, I want to be able to see metrics for UI Monitor management that provide a summary of the status of my current monitors.

These metrics include:

- Active monitors
- Disabled monitors
- Enabled monitors
- Archived monitors

Figma: https://www.figma.com/proto/wY1t5ElePiSmogTQJ04i5A/Monitor-creation?node-id=1515%3A242974&scaling=min-zoom&page-id=434%3A120

Questions for refinement

[2021-12-06 02:11] dominiqueclarke opened #415 "[Uptime] Add Enabled Toggle to UI Monitor Management table"
As a user of Uptime, I want to be able to quickly enable or disable a monitor from the UI Monitor Management table.

An enabled column will be available within the table with an enabled toggle for each monitor.

When switching the toggle on or off, an API call to the edit monitor route will be made.

If the call is successful, a success toast will be displayed.

If the call is unsuccessful, a fail

[2021-12-06 02:22] dominiqueclarke opened #416 "[Uptime] Display available locations in add and edit monitor flow"
As an Uptime user, I want to be able to select which locations my monitors should be executed from.

The UI should fetch available locations from the synthetics service location API.

Once fetched, these locations should be displayed as available options in a ComboBox on the monitor add and edit pages.

The ComboBox will not accept custom values.

The ComboBox will accept multiple location values.

[2021-12-06 12:40] #392 closed, assigned to nobody

[2021-12-07 09:44] JaoKlintone opened #417 "Add "AND" logic option for the search function in "Tag" filter"
**Is your feature request related to a problem? Please describe.**
When we do the search for tags in Uptime's "Tag" filter and select 2 or more tags, result shows monitors that have any of the selected tags and not both of them. It uses the "OR" logic.

**Describe the solution you'd like**
We would like to see only monitors that contain both tags, so to narrow down the search.
Therefore, we would

[2021-12-07 09:53] paulb-elastic commented on #304
Closing and this is done to the extent it needs to be for the 7.16 release, and will continually be updated via other issues (the script recorder is not part of the stack release).

[2021-12-07 09:53] #304 closed, assigned to vigneshshanmugam

[2021-12-08 17:05] #413 closed, assigned to nobody

[2021-12-08 17:05] #412 closed, assigned to nobody

[2021-12-08 17:05] #416 closed, assigned to nobody

[2021-12-09 13:49] dominiqueclarke opened #418 "[Discussion] Improve alerting for browser monitors"
### **Problem**

Browser monitors are sufficiently different than lightweight checks, leading to unintended bugs in the alerting framework.

### **History**

We have received a handful of SDH's for browser monitor alerts. Some issues include:
* Browser alerts rules triggering before the specified amount of down monitors: https://github.com/elastic/kibana/issues/115928
* Browser alerts flapping bet

[2021-12-13 10:36] awahab07 opened #419 "[Bug] Handle error when Index is used without a configured API key"
## Summary

Fixes a condition where if `xpack.uptime.index: remote_cluster:heartbeat-*` was used and service config key wasn't, it was throwing error on Kibana server.

[2021-12-13 10:38] awahab07 commented on #419
Closed in https://github.com/elastic/kibana/pull/119631

[2021-12-13 10:38] #419 closed, assigned to nobody

[2021-12-13 10:42] awahab07 opened #420 "Use Authorized Saved Objects Client"
## Summary

Use authorised saved object client which is exposed during a route handler call for API generation. Using internal saved object doesn't work with encrypted saved objects.

This will make sure proper encryption and decryption happens.

This is a follow up for elastic/uptime#398

[2021-12-13 10:42] awahab07 commented on #420
Closed in https://github.com/elastic/kibana/pull/120457

[2021-12-13 10:42] #420 closed, assigned to nobody

[2021-12-13 11:16] awahab07 opened #421 "[Uptime] Hide Synthetics Service Setup and Installation behind a feature flag"
## Summary
Part of Meta Issue:  https://github.com/elastic/uptime/issues/400

Add the config entries for synthetics service

[code]

`xpack.uptime.unsafe.service.enabled` Will enable the feature flag when `true`, and setup of the task manager, registration of saved objects to store monitor management monitor, API key generation to pass it to service and installation of fleet package for index temp

[2021-12-13 11:18] awahab07 commented on #421
Resolved in https://github.com/elastic/kibana/pull/119446

[2021-12-13 11:18] #421 closed, assigned to nobody

[2021-12-13 11:27] awahab07 opened #422 "[Uptime] Push monitor configs to Synthetics Service"
## Summary

Part of Meta Issue: https://github.com/elastic/uptime/issues/400

Push monitor configs (saved objects saved from monitor management UI) to Synthetics Service on cloud when
- Monitor are added, edited or deleted
- Task scheduler runs

[2021-12-13 11:27] awahab07 commented on #422
Closed in https://github.com/elastic/kibana/pull/120069

[2021-12-13 11:27] #422 closed, assigned to nobody

[2021-12-13 11:30] awahab07 opened #423 "Add Route to get service locations"
## Summary

As part of https://github.com/elastic/uptime/issues/400

Add a route to get service locations, which will be parsed from manifest file

also a common handler which will be used on service side as well to validate to locations.

[2021-12-13 11:30] awahab07 commented on #423
Closed by https://github.com/elastic/kibana/pull/119964

[2021-12-13 11:30] #423 closed, assigned to nobody

[2021-12-13 14:20] andrewvc commented on #406
We should engage with the Kibana security team for review of our approach here, we can also speak with the Fleet team since there is prior art here.

[2021-12-13 14:40] paulb-elastic commented on #391
@justinkambic the main description (alert when all are down), seems different to https://github.com/elastic/uptime/issues/391#issuecomment-974077226 suggesting an alert if one location is down.  Can you clarify?

[2021-12-13 15:38] justinkambic commented on #391
Per the original forum request:

[code]

Today we will trigger an alert for a rule when _any_ location is down. This is the canonical case, and today we're not accounting for the more esoteric choice of wanting to know only when _all_ are down.

[2021-12-14 10:58] paulb-elastic commented on #391
Pinging @andrewvc re @justinkambic's [comment](https://github.com/elastic/uptime/issues/391#issuecomment-992602617)

[2021-12-14 15:01] lucasfcosta commented on #421
I have just started post-FF testing this feature and indeed I do get the messages you mentioned in the issue when I enabled the configuration you've pasted.

* When using the following configuration, I do get the expected messages, as you can see in the screenshot below.
[code]
    ![Screenshot 2021-12-14 at 14 55 04](https://user-images.githubusercontent.com/6868147/146022444-13349ed4-7aa2-4377-8

[2021-12-14 15:31] paulb-elastic commented on #406
The source for the script should also be encrypted, in case it contains anything sensitive (e.g. webstie credentials etc.)

[2021-12-15 17:20] dominiqueclarke commented on #418
From the above potential solutions:
* Solution 1: Solution 1 is not viable, as there is still the potential to have gaps in the timeline for suite monitors, which are run in serial and have the potential to delay subsequent journeys in significant ways when journeys are long-running
* Solution 2: @dominiqueclarke to investigate this solution as part of https://github.com/elastic/kibana/issues/1213

[2021-12-15 18:49] lucasfcosta commented on #408
I've just had to test this **on 8.1** by following the steps below:

1. Enabling the UI Monitor Management flag in `kibana.yml`:
[code]
2. After enabling that, I do see the "monitor management" link on the top right corner of the Uptime app, as shown in the screenshot below.
    ![Screenshot 2021-12-15 at 17 24 30](https://user-images.githubusercontent.com/6868147/146235291-eda10987-c1e0-4074-b352

[2021-12-15 18:55] dominiqueclarke commented on #408
To clarify, the service is not expected to work in 8.0. We were working on individual features before the 8.0 FF, but post FF we added more MVP features. As such, the work to test that the FF works positively can be done in `8.1.0`.

[2021-12-15 21:12] justinkambic commented on #421
FWIW I have also tested the basic feature and seen the feature flag remove the logging as expected.

[2021-12-16 09:36] lucasfcosta commented on #421
As I was post-FF testing this, I've ran into a couple of problems. I'm not totally sure whether I've done anything incorrectly for them to appear or if they're actual problems we should look into, so I'll report them here.

## Missing indexes

I have found the message in the screenshot below in the `Uptime > Monitors` page after setting a monitor through the monitor management UI.

![Screenshot 20

[2021-12-16 13:56] dominiqueclarke commented on #421
@lucasfcosta To address the two concerns

### Missing indices

This is currently expected until https://github.com/elastic/kibana/issues/121402. Right now, the service indexes to `heartbeat-*` instead of `synthetics-*`. Because of this, you must be run `heartbeat setup` against the es cluster beforehand. This is a current known limitation and not the tech-preview-ready expectation.

### Service no

[2021-12-16 14:30] awahab07 opened #424 "[Uptime] `enabled` key is not pushed to synthetics service when it is `false`"
When monitor configurations are pushed to Synthetics Service, `enabled` key is dropped from payload for disabled monitors (`enabled: false`).

For example the following payload is pushed for an example enabled monitor:
[code]

When the same monitor is edited with it's **Enabled** field toggled off, the following payload is sent:
[code]

Notice that `enabled` key is dropped from the payload. And th

[2021-12-16 14:54] lucasfcosta commented on #421
@dominiqueclarke makes sense, thanks for the explanation.

Considering that you've mentioned the Synthetics service tests should be out of scope for this ticket I'll then move this issue to "done done" given I've already checked the logs which @awahab07 mentioned above when explaining how to test it.

[2021-12-16 14:55] lucasfcosta commented on #408
As per the comment above by @dominiqueclarke and what we discussed on Slack, I'll move on to moving this issue to "Done done" as the testing has been done in 8.1.0 successfully.

[2021-12-16 18:50] paulb-elastic opened #425 "Feedback for suites that cannot run"
This has come about from various discussions about there being little to no feedback when Heartbeat is unable to run a suite of Synthetics tests that have a ZIP URL for the source (e.g. an invalid configuration, or a syntax error in the ZIP).  Part of this was also raised/discussed in https://github.com/elastic/beats/issues/27924.

As a user of Synthetics suites with a ZIP URL source
I want to be

[2021-12-17 20:12] #410 closed, assigned to awahab07

[2021-12-17 21:37] dominiqueclarke commented on #363
I've begun testing this.

### Test Results
There were no glaring errors while performing this test plan. App is working as expected.

### Setup

1. Create a `7.16.1` cluster using `cloud.elastic.co` in the `Los Angeles (us-west2)` region.
2. Create demo monitors using heartbeat yml syntax for each protocol.
3. Create demo monitors in fleet for browser inline, browser zip, TCP, and HTTP using the `

[2021-12-17 23:44] andrewvc opened #426 "Simplified "Single Monitor" browser type"
For users who want to just load a single page and test that it works in a browser, they must write a small synthetics script. We should create a new simplified workflow for this, whereby:

1. We have a new `source` type in heartbeat of `url`, that takes a single URL and checks that it loads
2. The synthetics has a new mode whereby it can simply load a single URL
3. The same settings are exposed in

[2021-12-20 12:59] paulb-elastic commented on #426
I agree this is a good idea to make it easy to set up monitors with a single URL.  I also agree that there needs to be some assertion to check the page is loaded as expected.  A couple of points that come to mind:

* I strongly suggest this is still of the same `browser` type and not separated out from our existing types (it just becomes a different way of creating it, like **Inline**, **Suite/ZIP

[2021-12-20 13:13] paulb-elastic commented on #363
Thanks for going through this and providing the details @dominiqueclarke.  Out of interest, have we also run the automation (or is that automatically done as part of the `8.0.0-beta1` build)?

I also think it’s worth checking User Experience, just to be sure (thanks for reminding us of that).

Regarding `8.0.0-beta1` vs `8.0.0-SNAPSHOT`.  Are you specifically referring to https://github.com/elasti

[2021-12-21 16:53] paulb-elastic opened #427 "Remove Suite Support / ZIP URL in Monitor Management for Tech Preview"
Until we have better support for things like handling errors from suites to Uptime (https://github.com/elastic/uptime/issues/425), and handling concurrency on the Synthetics Service, we have decided to remove support for Suite (ZIP URLs) in Monitor Management for Tech Preview (note that this is only for the Monitor Management UI, not the Fleet Integration UI).

ACs:
* In Monitor Management (that i

[2021-12-21 16:54] paulb-elastic opened #428 "Change frequency in Monitor Management to minutes"
Browser tests are scheduled by the K8 cron scheduler, which has the smallest granularity of minutes.  Although lightweight checks are going to initially be run from a long running container, we don’t know how this will be implemented in the future (and discussions to date have agreed on 1 minute being the most frequent).

We should consolidate / simplify the UI to specify the frequency in minutes

[2021-12-21 16:56] #424 closed, assigned to awahab07

[2021-12-27 16:30] emilioalvap commented on #392
nit: Found that when the user interacts with step duration popover, the event is being propagated to the corresponding row. I've created the following issue to address that: elastic/kibana#122032.

The rest is LGTM.

Tested by:
- Starting Kibana 8.0.0-SNAPSHOT locally.
- Navigating to Observability -> Uptime.
- Selected a browser type monitor -> last execution.
- Checked that step duration is disp

[2022-01-04 23:14] dominiqueclarke commented on #409
Moving this to Done Done, as it is not to be tested in this FF iteration.

[2022-01-05 14:08] andrewvc commented on #425
Somewhat related to https://github.com/elastic/beats/issues/29692

[2022-01-05 17:30] DanRoscigno opened #429 "I would like to be able to include a link to the monitor that triggers an alert in the action associated with the alert."
**Is your feature request related to a problem? Please describe.**
When creating an alert I cannot include the URL for the monitor that triggered the alert.  If I send an alert I want to be able to give the recipient the information to take the first step in finding the problem, which might be a link to the monitor or a link to a dashboard for the service.

**Describe the solution you'd like**
I w

[2022-01-05 17:52] DanRoscigno opened #430 "The filter list in the Create Rule panel only a subset of the fields"
**Describe the bug**
When creating an alert rule in the Uptime app I am presented with a filter area:
<img width="469" alt="Screen Shot 2022-01-05 at 12 39 09 PM" src="https://user-images.githubusercontent.com/25182304/148263584-b892e0cb-ef3e-4800-8aee-d5f4a150b8ab.png">

This leads me to think that this is the list of possible fields that I can use.  I look at the list and wonder what index this

[2022-01-05 18:28] andrewvc opened #431 "[META] Severe error reporting UI / Backend"
This picks up where https://github.com/elastic/uptime/issues/425 left off.

We need a better UX around severe failures in heartbeat that cannot be correlated to a specific monitor. This was specifically inspired by https://github.com/elastic/uptime/issues/425 , where the failure to download a zip_url, or load the files inside (perhaps due to a syntax error) should create an actionable error in the