[2019-01-28 23:32] andrewvc opened #1 "Mapping of URLs to IDs"
We've recently changed the meaning of the ID field in the upcoming 7.0 release via https://github.com/elastic/beats/pull/9697 . In that PR we allow users to explicitly set an `id` and `name` for a given monitor.  The `name` field is human readable and can change at any time. An `id` is meant to be stable over long periods regardless of which monitor settings change.

This means you can write confi

[2019-01-29 00:50] andrewvc opened #2 "Add `heartbeat_states` index"
One challenge we have today monitoring the state of various monitors. Currently this is done by running composite aggregations against heartbeat events. This has a number of limitations. Firstly, we must run composite aggregations (or field collapse) as a 'base' query to find the current state of a monitor. This restricts us to a subset of the query DSL that works with these. Second, the current d

[2019-01-29 14:23] andrewvc opened #3 "How should synthetic names be generated?"
The two key fields for tracking the identity of a job are its `id` and `name` fields, both configurable by the user. While the `id` field is always present (it is generated by heartbeat if not configured), `name` can be blank.

In our UI we should strive to mostly display the `name` field which is intended to be human readable. However, it may not always be present.

I propose that we simply use t

[2019-01-29 16:55] justinkambic opened #4 "Add combo box to Monitors Page"
We were previously using an `EuiSuperSelect` to allow the user to change the selected Monitor directly from the monitors page. We removed this component when we realized it did not scale well with our data.

We've since come to a conclusion that a [ComboBox](https://elastic.github.io/eui/#/forms/combo-box) may work better, as handling a large amount of options/search functionality are part of the

[2019-01-30 15:07] justinkambic opened #5 "URL vs. ID link confusion"
Today, we have two links displayed on the monitors list table. One is the monitor's ID, the other is the URL that the monitor is checking. Clicking the ID will take you to the dedicated monitors view; the URL link will open a new tab with that URL present.

![image](https://user-images.githubusercontent.com/18429259/51989653-7a1ceb80-2475-11e9-9dd6-72a97ad6524d.png)

This presents an obvious usabi

[2019-02-06 03:10] #1 closed, assigned to nobody

[2019-02-11 09:56] dov0211 opened #6 "Uptime Integration with Infrastructure UI / Log UI"
Capturing the notes from the mail [thread](https://groups.google.com/a/elastic.co/forum/?utm_medium=email&utm_source=footer#!msg/uptime/J6W7ko-Qxr0/q3OfHiS4GQAJ).
Integrations between observability solutions (Uptime + Infrastructure IU/ Log UI) will be valuable for our existing customers and appears to be a low hanging fruit
Heartbeat reports the `monitor.ip` (the monitored instance), in case we h

[2019-02-11 20:38] justinkambic opened #7 "Creation of uptime product book"
We'll need to create a new documentation section for Uptime, similar to Logging and other solution-level products.

The docs for the other Observability solutions for 6.6 are relatively brief, they cover the features and the expected use cases. Docs for Uptime will probably be roughly the same size, I'd expect we would maintain two pages, one documenting the _Overview_ and an explanation of the da

[2019-02-14 16:20] justinkambic opened #8 "Monitor page doesn't fail gracefully when it should"
This just occurred to me when I started up the app by refreshing a stale _Monitor page_ URL that still had a `6.7`-style ID specified in the query string. Obviously this ID was no longer present in my cluster because I was running `master` versions of the stack.

![image](https://user-images.githubusercontent.com/18429259/52800714-58f9f480-304a-11e9-8ad7-dc602e832dd2.png)

This is something I thin

[2019-02-14 21:42] andrewvc opened #9 "Dual Support Links Look Weird"
![image](https://user-images.githubusercontent.com/131427/52819461-f5ce8900-306e-11e9-8778-de1ac88c803b.png)

The two life preservers here are just confusing. I propose we remove the link to the discuss forum. It should go somewhere, but it should be standard to all apps. Would love feedback from @snide or @cjcenizal on the design aspect.

[2019-02-22 15:13] jamiesmith opened #10 "Multiple occurrences of the same host are hard to discern when "up""
**Is your feature request related to a problem? Please describe.**
When I have multiple http/s entries against the same host (multiple routes) I can't see which is which:

![image](https://user-images.githubusercontent.com/220994/53251077-cc72b600-3689-11e9-8cca-f95a19ee8e6d.png)
Whereas in the ones that are down you can tell
![image](https://user-images.githubusercontent.com/220994/53251109-e0b6b

[2019-02-22 16:03] justinkambic opened #11 "Error list should display Monitor's Name/URL before it displays the ID"
**Is your feature request related to a problem? Please describe.**
We're displaying the ID today, which at one point made sense but for `7.x` data this is no longer useful to our users.

**Describe the solution you'd like**
We should update the Error List to display `Name`, then `URL`, and lastly `ID`. There should almost never be a case where we display the monitor's ID if we do this.

**Describe

[2019-02-27 15:06] justinkambic opened #12 "Push Heartbeat dashboards to contrib"
It's been expressed that there is some dismay amongst current users of Heartbeat dashboards that they're not going to be supported in 7.0. In the last planning meeting, we decided that it would be fairly low-effort to make them available in a new contrib repo for Uptime.

I figured it would be a good idea to track this in a dedicated issue here, especially because members of our team weren't able

[2019-03-06 14:41] tbragin commented on #12
We discussed this in a live meeting and concluded that putting dashboards in `uptime-contrib` in the short term makes most sense. This mirrors what we do in APM, and allows us to iterate. For now, we should put the 6.7 dashboard in there. For 7.0 dashboards, we'd still have to build them.

@jamiesmith @dov0211 It might be interesting to think through and suggest specific visualizations we may cons

[2019-03-06 22:17] andrewvc commented on #12
I've created the [uptime-contrib](https://github.com/elastic/uptime-contrib/pull/1) repo initial commit. Could someone review it?

Also, any opposition to closing out this issue?

[2019-03-07 20:40] andrewvc commented on #3
Since we've moved on to the execution phase here I'm closing this.

[2019-03-07 20:40] #3 closed

[2019-03-07 21:45] andrewvc commented on #10
Given that this is fixed in 7.0, and it sounds like to the satisfaction of @jamiesmith I'm going to close this. Please re-open if you would like to continue the discussion!

[2019-03-07 21:45] #10 closed

[2019-03-07 21:47] andrewvc commented on #8
@dov0211 would you be able to help us out with a mock here? Once we have that we should move this to a Kibana issue.

[2019-03-07 21:48] andrewvc commented on #9
Closing since the party has moved to https://github.com/elastic/kibana/pull/31663

[2019-03-07 21:48] #9 closed

[2019-03-07 21:49] #4 closed

[2019-03-07 21:50] #12 closed

[2019-03-08 21:56] justinkambic opened #13 "Uptime Telemetry"
We have had numerous discussions about the need to add telemetry to Uptime.

One of the important things we need to decide is what needs to be tracked. I have the bones of a telemetry PR written locally, but until we've made this determination I can't finish the work.

I would say it would be useful to bucket the data by hour, similar to how infra does. Do we want to track the number of requests t

[2019-03-12 04:40] tbragin commented on #13
@dov0211 ^^

[2019-03-12 13:33] dov0211 commented on #13
I think it makes sense to follow along infra logic, any other information we can gather would be most beneficial.
- Number of time Uptime app is been access
- Types of monitors
- Number of monitors

[2019-03-21 00:17] andrewvc opened #14 "CM Integration"
This issue serves to map out an approach to building out CM support for heartbeat.

## Architectural Goals

Before we dive into CM, we should contextualize our plan there with longer term goals for Uptime, namely HA and geographic awareness. This document was created to move us closer to this desired future state of heartbeat. The key components in this future architecture are:

1. Elasticsearch +

[2019-03-21 19:07] justinkambic commented on #14
We had previously discussed the possibility of allowing users to specify custom IDs (like AWS ARNs for instance) when we were considering the need for our own API above CM - will we no longer pursue that concept?

One thought I have regarding this is it may be nicer to label stale monitors as such, and provide the ability to manually delete them, rather than having old monitors silently disappear.

[2019-03-22 00:27] andrewvc commented on #14
@justinkambic Good question about external IDs. I'd wanted users to be able to use their own, but given the limitations of CM surfaced in the last review with @mattapperson  I'm fine with that not being in the initial version. Perhaps in a future version we could figure out a way to do this? Perhaps with some sort of custom metadata?

Good points about stale monitors/beats. There's definitely not

[2019-03-24 13:27] dov0211 commented on #14
I like the idea by @justinkambic on staling monitors, I think we should give the user the ability to manually delete them.

[2019-03-25 16:27] andrewvc commented on #14
I've added a new section to the issue above titled "Advantages over keeping the current schema" that explains why we should ditch the time series indices more concretely.

[2019-03-26 15:53] justinkambic commented on #13
@dov0211 I'm coming back around to this now that 6.7 and 7.0 are releasing.

It's probably best to define exactly what/how we'll be capturing data. Infra's server knows when the user is streaming and does not log those hits to telemetry. It would likely be best for us to detect auto-refresh events and ignore them as well.

Infra buckets their data, so the output for them looks something like:
[cod

[2019-03-27 08:17] dov0211 commented on #13
Its seems that since we have upgraded our telemetry, we are getting much more info, I am working with @pickypg on fixing some issues before we could get a query on this data, however, I believe that right now all we need is to know how many had accessed the Overview, and how many had accessed the Monitors page
something like that

[code]

[2019-03-27 17:59] justinkambic commented on #13
Ok, sounds great. We want it to skip autorefresh requests though, correct?

[2019-03-27 22:48] icefish-creativ opened #15 "Downtime for SLA-Reporting"
Uptime is a really great feature.i think it is useful for everybody or rather essential for SLA-Reporting. it would be nice you could set a SLA-Value , so you could also put a monitor on it and see if the service level are violated. And then i could finally throw Nagios/Icinga out the window.

- a list of downtime per host/services
- via host/service I can set an SLA like 99,9;99,5 etc.
- SLA repo

[2019-03-28 04:12] andrewvc commented on #15
Thanks for posting this Tim. This is a great idea, and honestly not a heavy lift item as well.

I think a next step for this would be to create mocks.

@dov0211 @justinkambic @makwarth  what are your thoughts for this feature?

From a priority perspective, this feels lower than central management and alerting, so it's probably a ways down the road for now.

[2019-03-28 09:28] makwarth commented on #15
Agree this would be a great addition. Thanks for posting, @icefish-creativ.
I wonder how SLA per service would work with Heartbeat. Grouping of monitors?

[2019-03-28 09:53] dov0211 commented on #15
We had similar feedback from our SA team, (SLAs & integration within Observability solutions).
I agree with @andrewvc  to consider those 2 items straight after Central management and alerting.
several vendors provide rich capabilities in terms of SLAs calculation (Different KPIs, different calendars and working hours, downtimes, and more)
I believe we should start with calculating endpoint availab

[2019-03-28 10:45] icefish-creativ commented on #15
@makwarth
my pleasure
for example i have 4 Webserver in back of a Loadbalancer , so i need 5 monitors , 4 to Check the Server and 1 over the Loadbalancer with a Application Endpoint Check. I give the Customer a SLA on the Loadbalancer Check. the availability of the server itself is of secondary importance.

Set Downtime on Groups is of course great :-). groups should base on custom fields , for ex

[2019-03-28 11:51] dov0211 commented on #13
I think it makes sense.

[2019-03-29 00:35] andrewvc commented on #14
One issue I want to call out here with the current roadmap, is that our current plans are to use the CM API directly. A risk here is that when alerting is added, that probably won't mesh with the CM API. So, we'll need to figure out a story there, potentially using our own API. Alternatively, maybe we could piggy-back on top of the CM API with the aforementioned hooks. @ph @mattapperson WDYT?

[2019-03-31 11:37] dov0211 commented on #14
you mention

is the status gets override on every check?
if so how could we handle the alerting logic of  "Alert on X consecutive down checks" (not to be confused with X out of Y locations)

[2019-04-05 15:34] legrego commented on #6
Something to keep in mind as this is getting developed: The introduction of [Feature Controls](https://github.com/elastic/kibana/pull/31652) will make it trivial for kibana admins to disable apps for groups of users and/or spaces. We should design this integration with the assumption that Infra/Logs will not always be available to the end user.

We'll be providing more guidance soon on how to perf

[2019-04-07 06:54] dov0211 opened #16 "Update 7.0 documentation on Heartbeat dashboard"
Since we don't support Heartbeat dashboards today, I think we should remove our documentation regarding Dashboard until we decide otherwise
https://www.elastic.co/guide/en/beats/heartbeat/7.0/configuration-dashboards.html

[2019-04-08 12:24] Benny-Git opened #17 "Set system to maintenance in Heartbeat / Uptime"
**Is your feature request related to a problem? Please describe.**
Our systems sometimes have to go down for maintenance, and our customer wants us to distinguish between expected and unexpected downtimes.

**Describe the solution you'd like**
Heartbeat would need a way to ingest whether a system is down for maintenance (planned downtime) or is actually experiencing unexpected issues. This could b

[2019-04-08 12:45] suikast42 opened #18 "Mircoprofile /health"
I have a Microprofile healthcheck endpoint that exposes multible checks.

For example:

`{
"outcome": "DOWN",
"checks": [
  {
"name": "Serivce1",
"state": "UP",
"data": {
"timestamp": 1554719930201
}
},
  {
"name": "Serivce2",
"state": "UP",
"data": {
"timestamp": 1554719930201
}
},
  {
"name": "Serivce3",
"state": "DOWN",
"data": {
"timestamp": 1554719930201
}
},
  {
"name": "Serivce4",
"state":

[2019-04-10 12:47] justinkambic commented on #18
@suikast42 it seems from looking at [the topic](https://discuss.elastic.co/t/custom-heartbeat-shipper/176165) that lead to the creation of this issue that you were able to resolve your problem. Is that the case?

[2019-04-10 14:31] OrangeDog opened #19 "Service uptime percentage"
Somewhere in the uptime UI there should be the total uptime percentage (per-service and overall), probably with a configurable duration. One year is probably a good default.

A big use-case for uptime monitoring is for SLAs, which are typically concerned with this number.

[2019-04-11 06:47] dov0211 opened #20 "Meta - Unify uptime documentation"
I had mapped out the changes we need to conduct on our documentation regarding Uptime (and Heartbeat)

Several sections on Uptime needs to be added across our documentation https://github.com/elastic/uptime/issues/7:
- [x] Create an uptime section in the [Product](https://www.elastic.co/guide/index.html) documentation
- [x] Create a section in [Kibana](https://www.elastic.co/guide/en/kibana/curren

[2019-04-11 18:38] bmorelli25 commented on #20
FYI: We're having a discussion about Observability documentation over in https://github.com/elastic/observability-dev/issues/14. The first bullet point on this list might change depending on the outcome of that conversation. Feel free to weigh in.

[2019-04-15 15:53] syedsfayaz opened #21 "Wafflemap dashboard for uptime"
It would be nice we can see the same GUI as an infrastructure Dashboard for uptime. where we can monitor multiple sites status as cubes.

Mostly people will want to monitor their site status on main dashboard to see if its up or down.

In my case, we are only monitoring status of multiple internal sites. we are monitoring 500 server urls http status. My requirement is only to see what the last sta

[2019-04-15 16:53] dov0211 commented on #6
@legrego as this integration been developed by @justinkambic, can you provide us with some guidance?

[2019-04-15 16:57] justinkambic commented on #6
++ this is something we'll want to integrate into the features I am actively adding to our UI.

[2019-04-15 19:18] legrego commented on #6
@dov0211 @justinkambic absolutely!

For your immediate needs, you can figure out if Infra/Logs are available for the current user/space by doing something like this on the client-side:

[code]

If you're in a React app, we also have UICapabilities available via context, so you don't have to use the static import if you don't want to. See [`ui_capabilities_provider`](https://github.com/elastic/kiba

[2019-04-15 21:20] dov0211 opened #22 "Uptime integration with APM"
APM and Uptime are different approaches for end user monitoring (Active vs Passive, or Real vs Synthetic), a user can gain value on viewing Uptime metrics alongside APM metrics.
we would like to provide the ability to drill down from our Uptime app into APM in Kibana.
When drilling into APM we want the user to get relevant results in APM, therefore we would pass the `url.domain` field as a paramet

[2019-04-16 06:37] dov0211 commented on #6
thank you @legrego , I guess this also implies to APM (in addition to logs and Infra)

[2019-04-16 06:55] dov0211 opened #23 "Fix telemetry on Uptime"
When looking on our Heartbeat telemetry data I see that some negative numbers
![image](https://user-images.githubusercontent.com/38371227/56166481-66961100-5fde-11e9-85a8-10a6692a1313.png)

[2019-04-16 09:43] #18 closed

[2019-04-16 10:36] dov0211 opened #24 "Allow uptime to recieve parameters through the URL"
We should allow uptime to receive parameters such as: monitor id, time range, Url.domain
this is a pre-requisite for APM to Uptime integration https://github.com/elastic/kibana/issues/35144

[2019-04-16 12:24] legrego commented on #6
@dov0211 yes, for APM, you can check `uiCapabilities.apm.show`

[2019-04-17 06:09] dov0211 opened #25 "Replace search bar with Kuery bar"
We would like to replace the search bar we have today in Uptime, with a Kuery bar

[2019-04-17 09:04] dov0211 commented on #19
proposed wireframe
![image](https://user-images.githubusercontent.com/38371227/56275222-ee783a00-6108-11e9-99a0-bb13690d0900.png)

[2019-04-22 17:46] andrewvc commented on #17
This is an interesting problem. I'm thinking about what the right level of abstraction is for solving this.

My initial hunch is that the right answer here is not to lose the monitoring data, but rather to suppress alerts, and that perhaps as we add support for central management to the uptime Kibana app we can do this there. Maybe a simple `curl -XPOST http://url.to.kibana/uptime/api/monitors/my-

[2019-04-22 17:52] andrewvc commented on #21
Thanks for the idea! Where do you think it'd make sense in the UI? On the current overview page, or maybe an entirely separate one? I'm leaning toward the latter.

[2019-04-22 18:31] syedsfayaz commented on #21
Any thing should be fine.

[2019-04-23 06:34] Benny-Git commented on #17
That's an interesting approach, allowing to suppress the alerts with a simple http request. It would certainly be scriptable. In that case I'd also suggest to have a `?for=5m&startsIn=10m` to allow scheduled maintenance.

In order to not distribute the data between systems, I would however prefer to store an `inMaintenance` flag within the docs, so we can generate reports on it and somehow include

[2019-04-23 07:09] wolframhaussig commented on #17
If I may add my 2 cents here:

A simpler Post request sounds good because our maintenance scripts could easily create the downtime when starting their tasks - I would not even need a startsIn for scheduling in this case. I guess it would also be possible to read dontime info in this case? We still have other monitoring tools like nagios in our environment and I would like to have the information a

[2019-04-23 07:38] ruflin commented on #23
@andrewvc This was initially assigned to me but I didn't get to it yet so I assigned it to you. Let me know if you want to sync up on it.

[2019-04-24 16:03] suikast42 commented on #18
Yes I solve the problem but with a custom collector soltion . Actually it based on spring but planed to migrate to go

[2019-04-24 17:07] justinkambic opened #26 "Disable APM integration button if no data is available for the displayed monitor"
It's likely that in some, or even the majority, of cases our users won't have an APM service configured for a given monitor. In this case it would be best to reflect this in the **Uptime > APM** integration, as noted in [this comment](https://github.com/elastic/kibana/pull/34892#issuecomment-484974486).

At the time of this writing, the integrations are in the early stages of development and this

[2019-04-24 17:56] sqren commented on #24
@dov0211 What's the status of this? We are targeting https://github.com/elastic/kibana/issues/35144 for 7.1 and FF and GAH are fast approaching :)

Do you already know the url scheme you are going to use? In that case, please let me know and I'll start implementing the link on the APM side.

[2019-04-24 18:13] dov0211 commented on #24
Here is the PR https://github.com/elastic/kibana/pull/35375
I am adding @justinkambic to provide an up to date status

[2019-04-24 18:15] justinkambic commented on #24
@sqren we are actually quite far along with addressing this issue. We have a PR open https://github.com/elastic/kibana/pull/35375 and it lists the parameters we will be accepting.

We are hoping to have this at least reviewed by EOD US time, and merged today or tomorrow.

[2019-04-24 18:23] sqren commented on #24
@justinkambic Cool, thanks for the update. Can you update this issue https://github.com/elastic/kibana/issues/35144 with the url scheme that we should link to from APM?

[2019-04-24 19:18] dov0211 commented on #26
In case we are greying out the link integrations we need to provide the user with the explanation on why it is greyed out (probably using a tooltip)

[2019-04-24 20:48] justinkambic commented on #24
@sqren Please let me know if https://github.com/elastic/kibana/issues/35144#issuecomment-486419431 looks ok to you and if you have any questions/concerns.

[2019-04-24 21:46] sqren commented on #24
@justinkambic That's perfect. Thanks!

[2019-04-25 14:56] justinkambic commented on #26
++ we would give them some explanation. "There is no APM data for this monitor yet" or something along those lines. It may be a fairly complicated feature because as we've discussed elsewhere, it's possible that they _are_ monitoring a service in APM that Uptime can't identify using the methods it has available today.

[2019-04-30 22:13] dov0211 opened #27 "Conduct a benchmarking exercise for Heartbeat slider"
Before we can deploy the new slider service for Heartbeat, Elastic cloud team needs to know the hardware and instance type we recommend them to use. we need to conduct a benchmarking exercise to determine what is the smallest/minimal configuration that still provides a good user experience

Cloud pricing is based on memory, CPU or storage. So the instance type needs to be optimized for these resou

[2019-05-01 07:08] #27 closed

[2019-05-01 12:51] andrewvc opened #28 "Better Support Container Info in Uptime UI"
We currently index a good amount of container info through heartbeat (docker/k8s info), but don't display it anywhere. We should show this information to users on the detail pages at the very least, but possibly also on the overview page.

[2019-05-01 12:52] andrewvc opened #29 "Protocol Specific Detail Pages"
Currently the monitor detail pages are very generic, and don't contain protocol specific information, like HTTP status codes. This makes the uptime UI deficient in some ways compared to kibana dashboards. This is low hanging fruit we should fix, maybe after we upgrade the chart libraries.

[2019-05-01 15:07] dov0211 commented on #28
How about adding an icon for host/docker/Kubernetes in each row in the overview page?

[2019-05-01 18:48] andrewvc opened #30 "States Index Meta Issue"
This issue tracks development of the new heartbeat states index. The proposed implementation would require:

1. Adding an option to the beats elasticsearch option (only for heartbeat or other beats opting in), to write to a secondary index. The two options, one for enable/disable, the other to change the index name, could be named:
    * `output.elasticsearch.enable_alternate_outputs: true`
    *

[2019-05-02 09:10] dov0211 opened #31 "Display the data in the UI based on geo locations."
We should provide the ability to display the data in the Uptime UI based on geo locations.
This will help in case the user has multiple Heartbeat instance sharing the same configuration (HA as an example), in the UI we will present duplicate entries with different UUID. The user still can identify which monitor belongs to the instance using the ID, however, it is not user-friendly.
By adding locat

[2019-05-02 14:11] justinkambic opened #32 "[Discuss] What icon should we use for our integrations popover"
Today we're using the `boxesHorizontal` icon. In several places people have [expressed concerns](https://github.com/elastic/kibana/pull/34892#discussion_r279926203) that this is probably not the best icon for us to use. The icon was chosen initially because it's the same one that `EuiBasicTable` employs. The difference is we aren't displaying a set of primary options along with this boxes icon.

W

[2019-05-02 14:44] justinkambic opened #33 "[Discuss] What should Uptime -> Observability integrations copy be?"
Today we are adding integration links from Uptime to the other Observability solutions.

We have some working copy in `master` and our subsequent PRs. These links are displayed in an action-style popover in our monitors list (imaged below).

![image (1)](https://user-images.githubusercontent.com/18429259/57082632-1c42ae80-6cc5-11e9-8b9f-e3ba5a2545aa.png)

The copy is essentially placeholder and sh

[2019-05-02 14:52] makwarth commented on #32
++, it'd be great to streamline this now that we have multiple integrations. How about using either of these in the apps:

1) Copy link: `[exportAction icon] Actions [arrowDown icon]`
2) Icon link: `[exportAction icon] [arrowDown icon]`

We originally went with "Actions" over "Integrations" as this menu will evolve to contain other items, like create ML job, set alert, etc.

[2019-05-02 18:46] justinkambic commented on #30
From an implementation level I don't know how much I have to offer. My technical concerns are all downstream of how the indices are created.
I would say I prefer not to maintain a Kibana API responsible for this sort of work because it would mean Heartbeat would depend on Kibana to provide this feature. Today that's not an issue since its only use is for Kibana, but it adds additional coupling tha

[2019-05-02 20:43] andrewvc commented on #30
+1 to not providing an API here just yet. The index is a pretty dang good API for now.

[2019-05-03 07:04] ruflin commented on #30
In general I'm on board with the above suggestion. I think we should discuss where the configs goes and names directly in a PR in more detail.

[2019-05-03 20:27] justinkambic opened #34 "Users are encountering oversized bucket aggs"
**Describe the bug**
Some of our elastic queries use aggs that we felt were defined in a way that they wouldn't overflow the default bucket size, but [we have had users report problems](https://discuss.elastic.co/t/uptime-error-graphql-error-too-many-buckets-exception-trying-to-create-too-many-buckets-must-be-less-than-or-equal-to-10000-but-was-10001/179432) related to this.

We should revisit our

[2019-05-06 10:45] dov0211 commented on #33
I think we should use the terms: Logs metrics and APM as those are the 3 pillars of observability we keep mentioning, I also think we should be consistent across our solutions
My suggestion:
| Solution name | Integration text |
| -------------- | --------------- |
| Infra UI             | Show pod metrics |
| Infra UI             | Show container metrics |
| Infra UI             | Show host metric

[2019-05-06 18:04] justinkambic commented on #31
What text do you think we should display if there is no location given? We can't give a default location value today, so we should either leave it blank or provide some default text and perhaps link to the documentation for configuring the location field.

Thoughts?

[2019-05-06 18:08] dov0211 commented on #31
We should add something like "Location not configured" with a link to our doc on how to configure location

[2019-05-06 18:08] justinkambic commented on #33
There has been chatter about this on other issues as well.

cc @makwarth @andrewvc @tbragin

Can we use this issue to finalize the copy discussion? We have open PRs for Infra and Logs that I'd like to merge in the next couple of days. We could follow that up with a finalization PR for all of the integrations where we ensure the copy/iconography looks good, and that they're checking feature availab

[2019-05-06 18:11] justinkambic commented on #31
@andrewvc what're your thoughts on this? It seems like an easy win, if we're all agreed.

[2019-05-06 20:23] andrewvc commented on #34
@justinkambic how much of this would be fixed by using the states index once it's done?

[2019-05-06 20:24] andrewvc commented on #29
Nothing concrete here ATM

[2019-05-06 20:24] #29 closed

[2019-05-06 20:24] andrewvc commented on #31
+1 on this, and yes, it's an easy win now that the observer data is merged in

[2019-05-06 21:46] andrewvc commented on #33
These labels are fine for now.

My personal hope is that this is a temporary UI. Once we actually start showing container/other info we should move these links to those items. In other words we should display `ContainerId: foo (Logs | Metrics`.

[2019-05-07 03:38] tbragin commented on #33
I'm not crazy about abbreviation "infra". What's wrong with Dov's suggestions for labels? They seem reasonable to me.

[2019-05-07 08:23] dov0211 opened #35 "Allow Uptime UI to be embedded in Kibana dashboard"
This issue has been opened to track the ability to embed the Uptime UI into Kibana dashboard using the embeddables APIs https://github.com/elastic/kibana/issues/19875

[2019-05-07 13:29] dov0211 commented on #30
I would like to raise the concern about users that send their data to ES using Kafka, Redis or LS, in that case, Uptime UI will break

[2019-05-07 18:53] tbragin commented on #30
@dov0211 I'm concerned about that as well.

@andrewvc You also mentioned that the state index would not work with cross-cluster search in another context. Could you elaborate on that here? That concerns me as well, especially because CCS may be one of the deployment paths we'll need to seriously consider in Elastic Cloud in order to get to a multi-region scale.

[2019-05-07 18:56] tbragin commented on #35
@dov0211 I don't have all the context here as to the use case. Why would someone want to add Uptime UI to the dashboard? Are we talking about the whole UI here or one of the widgets? I'd love to see more discussion around the use cases in the context of this issue.

[2019-05-07 19:51] andrewvc commented on #30
@tbragin @dov0211 the more I think about these issues the more I think the original design here is wrong. Luckily, there's a solution.

In an ideal world this would be easy to implement with something like triggers in a traditional DB. We'd intercept writes to the `heartbeat-7.0.0` ILM alias, and send a copy of them to the update script for the state index, and we'd use CCR to mesh together multip

[2019-05-09 17:31] justinkambic commented on #34
Hm.. I don't know how much it will be improved, it depends on the architecture we build around the new index. We could conceivably build a secondary query to enrich the results of our states index queries from the results of the first one, so we may still be grabbing quite a few buckets.

I'll put an update on this issue summarizing what we discussed earlier:
- we are changing our implementation o

[2019-05-09 17:35] justinkambic commented on #31
PR: https://github.com/elastic/kibana/pull/36317

[2019-05-09 17:48] justinkambic commented on #30
It's worth explicitly noting that we also sacrifice at least 5s of latency between event creation and rendering in our UI going that route. Also means Kibana needs to send many more requests to ES.

If these constraints aren't viewed as problematic then I don't have further reasons not to go that route. I think the states index is worth creating, especially given the feedback we've gotten from man

[2019-05-09 22:04] nabsource opened #36 "display monitor.name instead of host value as a way to alias long urls"
**Is your feature request related to a problem? Please describe.**
The docs provide a way to alias the URL https://www.elastic.co/guide/en/beats/heartbeat/current/configuration-heartbeat-options.html#monitor-name but in the UI it maps to host. the host value can be autogenerated (think aws gateway), random and long. By adding the name configuration in the monitor yaml file, this should display a h

[2019-05-10 13:23] #34 closed

[2019-05-16 20:59] Cho1409 commented on #31
+1 Up

[2019-05-20 22:16] #31 closed

[2019-05-22 07:30] dov0211 opened #37 "[Uptime] Allow Heartbeat to capture body text on error"
Allow Heartbeat to capture text on error.
Since the text might be long we should consider limit its size.

[code]
@andrewvc

[2019-05-22 12:21] sqren commented on #22
@dov0211 Thi can be closed, right?

[2019-05-22 12:40] #22 closed

[2019-05-29 17:48] dov0211 opened #38 "[Uptime] Changes to the Monitors page in Uptime UI"
In 7.2 we had added Geo information to Heartbeat,  we would like it to be reflected on the Monitors page
 - [x] Add chart that will display availability per location
 - [x] Add chart that will display response time per location
 - [x] Ability to filter by locations

In addition, we want to add information from the error page , since we decide to remove it from the Overview page.https://github.com/

[2019-05-29 17:54] dov0211 opened #39 "[Uptime] Remove error table from the Overview page"
The Error table does not provide new information in the Overview page, it's better to move some parts from the error table to the Monitors page in Uptime and remove the table from the overview page

[2019-05-29 18:18] dov0211 opened #40 "[Uptime] Monitor summaries - Changes in the Overview page"
We would like the Overview page in Uptime to be:
- [ ] Compact view that presents an up to date information for each monitored endpoint.
- [ ] Grouping together relevant information on a single endpoint.
- [ ] Expose information such as Locations, IPs, status code, underline infrastructure (Host, Containers, Pods), without overwhelming the UI.
- [ ] Time picker should end with now (last hour/day/w

[2019-05-29 18:30] dov0211 opened #41 "[Uptime] [Design] Monitors page redesign"
Here are the recommended changes for this page:
**Header:**

![image](https://user-images.githubusercontent.com/38371227/58581591-916bba00-8258-11e9-85cf-4ad17e055502.png)

- Add: Monitor name
- Add: TLS expiration date
- Add: Last update
- Remove: locations
- Remove: RTT

**Charts:**
![image](https://user-images.githubusercontent.com/38371227/58581619-ab0d0180-8258-11e9-810b-175a35aef87a.png)

-

[2019-05-29 18:54] dov0211 opened #42 "[Uptime] [Design] Monitor summaries"
### Problem:
When a single domain name resolves more than one IP, Heartbeat, by default will check all of the resolved IPs.
This means that in this current design, we would see duplicated rows containing the same URL, with different IPs (and in some cases different status).
In addition, in 7.2 we added the geo information to Heartbeat, configuring an endpoint to be monitored from multiple location

[2019-05-30 07:54] dov0211 opened #43 "[Uptime] Uptime support for dynamic settings / index names"
Uptime needs to support CCS in order for Uptime slider to support multi-region deployment

[2019-05-30 10:36] dov0211 opened #44 "[Uptime] Update Uptime doc with the new design of Uptime UI"
in 7.2 we introduced design changes in Uptime UI, we need to make sure to update the screenshots we have on our Uptime docs today.

[2019-05-30 14:46] bmorelli25 commented on #20
We've got the 👍for a new Uptime documentation book. Let me know when you're ready and I can make the changes in the docs repo.

[2019-05-30 14:51] bmorelli25 commented on #7
Posted this in #20 as well - We're good to move forward with creating a documentation book for uptime 🎉.

[2019-05-30 14:59] justinkambic opened #45 "Support shortened keys in URL query"
**Is your feature request related to a problem? Please describe.**
Today, we allow the persistence of app state in the URL's query parameters like so:
![image](https://user-images.githubusercontent.com/18429259/58641530-5e154380-82c9-11e9-9704-f13d0eda843d.png)

It would be better if we could allow smaller keys so the URL doesn't get so long:
[code]

..would be shortened to:
[code]

**Describe the

[2019-05-30 16:28] justinkambic opened #46 "Add error callout to bottom of FilterBar component"
**Is your feature request related to a problem? Please describe.**
It's really obscure when our implementation of `EuiSearchBar` fails to parse a user's KQL input.

**Describe the solution you'd like**
We should add an [`EuiCallout`](https://elastic.github.io/eui/#/display/callout) to the bottom of the FilterBar, as this would be a relatively simple addition and provide value to people trying to s

[2019-05-30 22:14] justinkambic commented on #7
@bmorelli25 I think @dov0211 has offered to take the lead on this but I am also willing to help if needed.

[2019-05-31 10:50] dov0211 commented on #7
@bmorelli25 , let us know what is needed and how do you think the demo book should be structured
I had started this google [doc](https://docs.google.com/document/d/1jXe8oZ4woYds_OgICgFOg0LPBAQc7ENaoB5Iktjdtok/edit?usp=sharing) where we should all collaborate on

[2019-06-04 17:50] andrewvc commented on #45
I like this idea! Agreed that it's not the highest priority ATM however.

[2019-06-04 17:51] andrewvc commented on #46
++ to deferring this in lieu of the query bar.

[2019-06-04 18:44] justinkambic commented on #46
@andrewvc and I just had a discussion and we feel that it's actually a bug. The reason is that there can be errors returned by the KQL parsing function provided by EUI (which we use today), and if the error isn't being displayed to the user then it's a bug.

In light of this, we should re-evaluate and see if we can add it as a bug fix for `7.2.0`, or at least in `7.2.1`.

[2019-06-04 20:10] dov0211 commented on #45
In case we would remove time picker will this still be relevant?

[2019-06-04 21:50] justinkambic commented on #45
Yes - we would still pass the URL params between pages, including _Overview_.

[2019-06-05 04:31] bmorelli25 commented on #7
Sorry all, was on vacation. Will take a look at the doc tomorrow. Might be good to schedule a call at some point to chat as well. Would love to include Marjorie (the new Observability tech writer) as well!

[2019-06-06 16:33] andrewvc opened #47 "Create tool to generate large amount of historical heartbeat data"
For various reasons we often want to west with large amounts of historical heartbeat data. The tricky thing here is that we're always improving the code and adding the fields.

I propose we do this by letting a user run heartbeat with a given time with any configuration they desire. Then, they'd run this new tool, which would just make duplicates of all existing documents with backdated timestamps

[2019-06-06 17:01] bmorelli25 commented on #7
Alrighty, so I'm seeing two initial phases here:

**Phase 1**
* Adding the information in [this google doc](https://docs.google.com/document/d/1jXe8oZ4woYds_OgICgFOg0LPBAQc7ENaoB5Iktjdtok/edit) to the Uptime "[Overview](https://www.elastic.co/guide/en/kibana/current/uptime-overview.html)" section in Kibana.

**Phase 2**
* Moving _all_ uptime documentation out of Kibana into its own book. We're not

[2019-06-11 18:35] bmorelli25 commented on #7
Recap of conversation with the uptime squad. Please edit if I missed anything.

**Phase 1** - 7.3
* Create Observability heading on the [documentation landing page](https://www.elastic.co/guide/index.html).
* Create an "Uptime guide" under this new heading.
* Add the information in [this google doc](https://docs.google.com/document/d/1jXe8oZ4woYds_OgICgFOg0LPBAQc7ENaoB5Iktjdtok/edit) and some in t

[2019-06-12 13:59] justinkambic opened #48 "[Bug] Integrations popover does not remain open when app refreshes"
**Describe the bug**
Today when the integrations popover is opened and the app refreshes, the popover will close because the items in the list are re-rendered.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Uptime app
2. Set a fast autorefresh interval, `5s` or `10s`
3. Expand the integrations popover
4. When the app refreshes, the popover will seem to close

**Expected behavior**

[2019-06-13 21:55] andrewvc opened #49 "States Index Implementation"
This takes over from https://github.com/elastic/uptime/issues/30 .

The heartbeat states index is a new index, based on the new [data frames](https://www.elastic.co/guide/en/elasticsearch/reference/7.x/data-frame-apis.html) feature that solves a number of problems. The chief one is making data from multiple heartbeats easier to query. By merging data from multiple instances for 'now' much of our c

[2019-06-13 21:56] andrewvc commented on #30
Closing in favor of #49

[2019-06-13 21:56] #30 closed

[2019-06-19 12:23] #42 closed

[2019-06-19 12:32] alvarolobato commented on #13
Closing after https://github.com/elastic/kibana/issues/31259

[2019-06-19 12:32] #13 closed

[2019-06-19 12:44] alvarolobato commented on #16
This issue is now obsolete with the dashboards being in uptime-contrib. We have a new docs page for it https://www.elastic.co/guide/en/beats/heartbeat/7.1/view-kibana-dashboards.html

[2019-06-19 12:44] #16 closed

[2019-06-19 12:47] alvarolobato commented on #11
This is now obsolete with the new summaries implementation - https://github.com/elastic/kibana/issues/38786

[2019-06-19 12:47] #11 closed

[2019-06-20 15:35] justinkambic opened #50 "[Tests] Add functional API tests for states index"
Once we've finalized the mappings and scripts for the initial version of the states index, we need to add additional API tests for the Uptime server. We should target these for 7.3, as that's the first release we'll feature this new index. We should be able to implement these tests after feature freeze.

[2019-06-25 19:25] andrewvc commented on #5
Will be fixed by #72224

[2019-06-25 19:45] andrewvc commented on #33
This was shipped

[2019-06-25 19:45] #33 closed

[2019-06-25 19:45] andrewvc commented on #32
This was shipped

[2019-06-25 19:45] #32 closed

[2019-06-25 19:46] andrewvc commented on #26
This was shipped

[2019-06-25 19:46] #26 closed

[2019-06-25 19:50] andrewvc commented on #40
In implementation phase.

[2019-06-25 19:50] #40 closed

[2019-06-25 19:50] andrewvc commented on #39
In implementation phase

[2019-06-25 19:50] #39 closed

[2019-06-25 19:51] andrewvc commented on #43
Comes with the states index

[2019-06-25 19:55] andrewvc commented on #44
This is done

[2019-06-25 19:55] #44 closed

[2019-06-25 19:59] andrewvc commented on #36
This is in progress with #42 and should be completed along with it.

[2019-06-25 21:03] #46 closed

[2019-07-02 14:23] justinkambic opened #51 "Handling Empty State for 7.3"
**Describe the bug**
The Uptime UI is currently not notifying the user of a missing index in some cases.

Today, the UI is relying on an ES call like `HEAD heartbeat-8*`, expecting that it will `404` if there are no indices matching the given pattern. However, this request gives a `200` always, even if no indices match that pattern. It requires a specific index name like `HEAD heartbeat-8.0.0` to

[2019-07-02 14:27] andrewvc commented on #51
I think this sounds good. I assume this will be solved with a `_count` request against `heartbeat-VERSION*`

[2019-07-02 15:22] justinkambic commented on #51
Ok. Is it acceptable to infer the index's existence from the `_shards.total` and the doc count from the `count` field in the result set? Or is there a case where the index exists but can also have no shards?

[2019-07-02 15:44] andrewvc commented on #51
Good question about shards. Yes, `> 0` shards indicates the existence of the index.

[2019-07-02 15:58] justinkambic commented on #51
++ ok I will create an implementation issue and get to work on fixing this.

[2019-07-02 21:33] justinkambic commented on #5
@andrewvc do you think we are ok to close this issue?

[2019-07-02 21:53] andrewvc commented on #36
Closing this as monitor summaries are merged as of https://github.com/elastic/kibana/pull/38895

[2019-07-02 21:53] #36 closed

[2019-07-02 22:07] andrewvc commented on #5
Yes

[2019-07-02 22:07] #5 closed

[2019-07-03 03:42] andrewvc commented on #14
I'm closing this because we'll probably take a different approach toward management. Some of this was already effectively merged in https://github.com/elastic/kibana/pull/38895

[2019-07-03 03:42] #14 closed

[2019-07-03 07:49] dov0211 commented on #7
@bmorelli25 Since we reached FF, I think that now is the right time to finalize phase 1 of the suggested plan

[2019-07-03 12:59] justinkambic commented on #41
It should be noted that most of the features outlined in this design issue were implemented in https://github.com/elastic/kibana/pull/39751. We are missing the swim lane visualization due to technical constraints.

[2019-07-03 14:03] justinkambic opened #52 "Monitor page `status` dropdown for Monitor History component should default to `All`"
**Is your feature request related to a problem? Please describe.**
Today we are defaulting the monitor history table on the _Monitor_ page to `Down` status only, we are starting to rethink that and it should perhaps be `All` instead. This issue is soliciting feedback on this idea.

![image](https://user-images.githubusercontent.com/18429259/60594909-f8a6ed80-9d73-11e9-8330-219c9e0d0b52.png)

**Des

[2019-07-03 14:15] justinkambic opened #53 "Add most recent error message to monitor summaries on a per-check basis"
**Is your feature request related to a problem? Please describe.**
We introduced the concept of `MonitorSummaries` in 7.3.0. It's been noted that it is likely useful to have the most recent error message displayed in the list when an error has occurred.
![image](https://user-images.githubusercontent.com/18429259/60598845-6c98c400-9d7b-11e9-9727-b54edc541053.png)

**Describe the solution you'd like

[2019-07-03 14:16] justinkambic opened #54 "Show gaps in monitor duration chart"
**Is your feature request related to a problem? Please describe.**
Today, we're showing an unseparated chart on the _Monitor_ page for the average duration of a given location. We have noted that this can give users a false impression of how the site is actually performing.

![image](https://user-images.githubusercontent.com/18429259/60598944-99e57200-9d7b-11e9-9c3f-73d6487bb59c.png)

We feel that

[2019-07-03 15:04] bmorelli25 commented on #7
Hey team. I'd like some guidance on the outstanding question: What repo should Uptime documentation live in? There are quite a few options: `stack-docs`, `uptime`, `kibana`, `beats`, `observability`, etc. Keep in mind that this is not where the docs will be built to, just where the source will live. I see two main options:

Kibana - Keep the documentation source in Kibana. This doesn't mean the do

[2019-07-03 15:39] andrewvc commented on #7
@bmorelli25 is there any prior art here?

I'm a bit reticent about this repo because then we need to and track releases here. That makes me lean toward Kibana, though it is imperfect from a taxonomical perspective.

[2019-07-03 15:51] bmorelli25 commented on #7
This is a really good point. Perhaps two better options are the Kibana repo, or the stack-docs repo.

[elastic/stack-docs](https://github.com/elastic/stack-docs/tree/master/docs/en) is home to siem, the infrastructure monitoring guide, install/upgrade guide, machine learning, and many other "accross the stack" documentation books.

APM chose not to use stack-docs, but to instead keep our overview

[2019-07-03 20:30] andrewvc opened #55 "Timelines per Monitor"
Some aspects of our UI are currently awkward due to a fundamental limitation in our app's modeling of data. We show a lot of redundant and useless information due to this limitation. For instance our "History" panel will often look like the SS below:

![image](https://user-images.githubusercontent.com/131427/60620819-d2984200-9da1-11e9-9d34-2bb2684174fb.png)

There's a lot of space showing informa

[2019-07-03 20:38] andrewvc opened #56 "Contiguous state blocks"
Placeholder

[2019-07-08 14:11] andrewvc commented on #7
Do you have a preference between repos @bmorelli25 ? It's a toss-up for me. I'm fine keeping docs in Kibana if that's the simplest path.

[2019-07-08 14:18] justinkambic commented on #7
IMO - I'm fine with using Kibana for the present time.

I can envision a future where we'd move them to `observability` as conventions for these things mature, but I don't think it's an initiative we want to try to lead at this time.

[2019-07-08 16:51] bmorelli25 commented on #7
Thanks for the input! Let's move forward with the Kibana repo. I'll get started on this project tomorrow.

[2019-07-09 19:06] bmorelli25 opened #57 "[docs] Create Uptime architecture diagram"
@formgeist created two lovely APM architecture diagrams in https://github.com/elastic/apm-server/issues/2117:

![](https://user-images.githubusercontent.com/4104278/56665497-75e62000-66aa-11e9-9232-70342de96baf.png)

![](https://user-images.githubusercontent.com/4104278/56665506-7b436a80-66aa-11e9-81e1-8b20537d729c.png)

I'd like to have something similar created for Uptime so that @Titch990 or I

[2019-07-09 20:08] andrewvc commented on #35
Closing due to inactivity

[2019-07-09 20:08] #35 closed

[2019-07-09 20:17] andrewvc commented on #57
This is a great idea. I'd like to be a part of the process here. @katrin-freihofner I'll put a meeting on your calendar to discuss this.

[2019-07-09 20:21] andrewvc commented on #53
This is complicated by the fact that scripted metric aggs cannot aggregate full text fields, which is what our errors are. We can solve this with top hits, but that will take more effort.

[2019-07-09 20:28] andrewvc commented on #51
Fixed in #40194

[2019-07-09 20:28] #51 closed

[2019-07-10 10:22] andrewvc commented on #53
I do agree we should do this FYI

[2019-07-10 11:26] Titch990 commented on #57
Sounds good to me!

[2019-07-10 19:42] justinkambic opened #58 "[Bug] Time picker not allowing user to toggle autorefresh back on"
**Describe the bug**
In the Uptime UI, if autorefresh is paused, the picker does not display a button that enables the user to re-start the autorefresh.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up Uptime UI.
2. Pause the autorefresh with the time picker.
3. Attempt to start the autorefresh again.
4. It will not reenable autorefresh.

**Expected behavior**
I expect that the autoref

[2019-07-10 19:45] justinkambic opened #59 "[Design] Improve monitor summaries visualization"
**Is your feature request related to a problem? Please describe.**
The current display for monitor summaries is not very nice. There is a lot of space left that we could utilize. The data is tabular so having headings for each column would also be nice.

Today it's using an `EuiFlexGrid` to express the data. If we were to switch to a table, we'd have a table within a table.

**Describe the solutio

[2019-07-10 19:45] justinkambic commented on #59
cc @katrin-freihofner @alvarolobato

[2019-07-10 19:48] justinkambic opened #60 "[Bug] Pagination on ping list not working"
**Describe the bug**
Today, the list of pings on the monitor page is not working appropriately with its count dropdown.

![image](https://user-images.githubusercontent.com/18429259/60999770-eefc2780-a329-11e9-9abb-1f55ab57390d.png)

It works for 5 or 10 items, but beyond that it does not produce the correct amount of checks.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a monitor wi

[2019-07-10 20:05] justinkambic commented on #53
A thought, we have the monitor IDs and locations of each down check. We could always subsequently query for the monitor IDs and locations for any `down` check, the query should be pretty fast. I know we're already doing a lot of querying for this data as it is though, so it may not be a good enough solution.

[2019-07-11 03:50] kunisen opened #61 "[Feature request] Provide a way to configure the Monitor Status table on the Uptime page to add/remove extra fields"
**Is your feature request related to a problem? Please describe.**
Hi, currently it looks like the fields on the Monitor Status table on the Uptime page is not configurable.
I would like to raise a feature request to configure the Monitor Status table on the Uptime page to add/remove extra fields
(e.g. names, tags, etc).

[2019-07-12 11:32] #58 closed

[2019-07-12 22:36] justinkambic commented on #60
Resolved by https://github.com/elastic/kibana/pull/40909.

[2019-07-12 22:36] #60 closed

[2019-07-16 13:52] justinkambic opened #62 "Type Elasticsearch responses"
**Is your feature request related to a problem? Please describe.**
Today we have many Elasticsearch queries and they are not typed. Elasticsearch responses and requests are typed in Kibana; we should type the aggregations and results we expect and reduce our reliance on lodash `get` calls while increasing our type descriptions.

**Describe the solution you'd like**
We should describe the data we e

[2019-07-16 17:29] #38 closed

[2019-07-16 17:38] andrewvc commented on #17
I'm thinking this is a good issue, but more for the uptime app once alerting is built in than heartbeat .

[2019-07-16 17:53] andrewvc commented on #21
Coming back to this, is the idea here to have higher density by using more compact squares rather than the current list?

[2019-07-16 17:54] andrewvc commented on #41
Shipping in 7.3

[2019-07-16 17:54] #41 closed

[2019-07-16 17:54] andrewvc commented on #6
Was completed and shipped in 7.3

[2019-07-16 17:55] #6 closed

[2019-07-16 17:57] andrewvc commented on #61
Does the `name` field in heartbeat work sufficiently here?

If not, can you describe this in more detail? Would tags be sufficient? Would key value pairs be preferable?

Additionally, can you describe the use case behind this request?

[2019-07-16 18:08] syedsfayaz commented on #21
Yes, We can have more density of squares. The squares can just show status as red or Green. More details can be shown when hover over the square by showing what service or serverurl it is.

[2019-07-16 18:39] andrewvc opened #63 "Add Pagination to overview page"
The overview page table doesn't have pagination. This is a commonly requested feature we should implement. There are clear EUI guidelines/widgets for this already.

[2019-07-16 18:56] andrewvc opened #64 "[META] Core Uptime Alerting"
Uptime alerting implementation:

- [x] Design Issue https://github.com/elastic/uptime/issues/102
- [x] Kibana UI Implementation https://github.com/elastic/kibana/issues/56196

Initial alerting support for queries matching the following DSL.

[code]

an example is below

[code]

Valid values for the various fields are:

* **kql**: Any valid KQL string. Initial value copied from overview page.
* **s

[2019-07-17 10:16] andrewvc commented on #7
Closing with merge of https://github.com/elastic/docs/pull/972

[2019-07-17 10:16] #7 closed

[2019-07-17 12:37] justinkambic commented on #64
A prerequisite to this discussion might be agreeing on the final format we plan to use for our data as well. If we're able to track state changes in a fast and reliable way it becomes much simpler to trigger alerts.

[2019-07-19 16:08] andrewvc opened #65 "[Meta] Monitor Optimization and Enhancements (aka Project MOE)"
This is a meta issue to track improvements to both query performance and accuracy. For further background read [this google doc](https://docs.google.com/document/d/1VjnY5KB7GeeurNwutUzltZJICms-_Re67gQHTx8eQgg/edit). We've decided to use real-time queries only, with no background jobs.

- [ ] Add new ordered group [beats#12920](https://github.com/elastic/beats/pull/12920)
- [ ] Load expandable moni

[2019-07-19 16:24] andrewvc opened #66 "[Meta] Create accurate stacked bar charts"
We had to pulled the stacked bar charts for monitor performance due to the data from heartbeat not currently being combinable. This issue is tracking bringing those back. The main beats issue for this is https://github.com/elastic/beats/issues/11476 .

[2019-07-19 16:25] justinkambic opened #67 "Check if `MonitorKey` type can be removed from GraphQL schema"
In https://github.com/elastic/kibana/pull/41382 we removed a reference to a KVP type in our GraphQL schema. I'd like to see if we can remove the type altogether, but it is referenced elsewhere in the plugin, so there may be additional refactoring needed to get the data into a shape the would be copasetic to the type's removal.

[2019-07-22 15:17] katrin-freihofner commented on #59
What do you think about something like this:
![table](https://user-images.githubusercontent.com/20965076/61644212-940ced80-aca4-11e9-8950-824b4477274a.jpg)

and for smaller screens we would need to rearrange like this:
![mobile-version](https://user-images.githubusercontent.com/20965076/61644199-8ce5df80-aca4-11e9-966c-a9232130baa7.jpg)

[2019-07-22 20:01] andrewvc commented on #37
PR Here: https://github.com/elastic/beats/pull/13022

[2019-07-22 20:38] andrewvc commented on #49
Closed in favor of https://github.com/elastic/uptime/issues/65

[2019-07-22 20:38] #49 closed

[2019-07-23 12:43] katrin-freihofner commented on #59
High-fidelity version:
<img width="1358" alt="Screenshot 2019-07-23 at 14 42 46" src="https://user-images.githubusercontent.com/20965076/61713162-34701a00-ad58-11e9-8b75-ff1938f8c651.png">

[2019-07-23 12:51] andrewvc opened #68 "Simple approach for high availability for Heartbeat/Uptime"
High availability for heartbeat is something that we've heard asks for.

The vast majority of installs are not compute resource constrained for uptime. CPU, memory, etc. use is minimal. Given that, it makes sense to simply run multiple heartbeats if HA is required. If one dies, you still have data from the other(s).

The key questions are:

1. Do we require each heartbeat to have a unique location

[2019-07-23 13:09] andrewvc commented on #57
Some initial ASCII ART ideas for the diagrams:

[code]

[2019-07-23 17:43] tadgh opened #69 "Heartbeats that have a `name` that includes parentheses cannot be filtered upon in uptime."
**Describe the bug**
Uptime cannot filter by name on heartbeats that have parentheses in their name.

**To Reproduce**
Steps to reproduce the behavior:
1. Use this heartbeat config for a monitor
[code]
2. Head over to the uptime page.
3.  Click on the `name` dropdown for filtering
4. Click on the field `name(paren)`

**Expected behavior**
Uptime filters upon this particular name

**Actual Behaviou

[2019-07-24 01:48] andrewvc opened #70 "Display TLS certificate expiration on detail pages"
We should display the TLS certificate expiration and starting validity dates on monitor detail pages. Furthermore, if the certificate is about to expire we should show a warning of some sort. If it is expired we should show the error clearly.

We should follow @katrin-freihofner 's mock below in building this:
![image](https://user-images.githubusercontent.com/131427/62816304-56a0c080-baea-11e9-89

[2019-07-24 01:52] andrewvc opened #71 "ML Detection of Duration Anomalies"
This issue is to track adding ML support to our duration charts on the monitor details page. This is a great way to start integrating ML into uptime. We'd like to start showing:

1. The baseline average duration
2. Highlight spikes and drops in response times as anomalous. We should consider these warnings not errors for this initial MVP.

**Open questions:**

Do we show these as warnings or info?

[2019-07-24 01:54] andrewvc opened #72 "Logical groups for uptime"
As we move toward alerting it'd be nice to be able to logically group monitors. You may not want individual alerts for each webserver, but rather alerts for the group as a whole with summarized data.

Related: https://github.com/elastic/uptime/issues/61

[2019-07-24 01:57] andrewvc opened #73 "Explore better use of location in UI"
We now integrate location info in more places in the app, but we could probably use it more thoroughly elsewhere.

Some initial ideas:

1. A map on the overview page showing the locations of all active heartbeats
2. A new page with charts per location showing up/down status on a histogram, letting users see if everything monitored by a given location is down.

[2019-07-24 01:58] andrewvc opened #74 "SLA/SLI/SLO Reporting"
We should suss out what makes sense feature-wise in terms of SLA reporting and similar for SLIs and SLOs.

Related: https://github.com/elastic/uptime/issues/19 and https://github.com/elastic/uptime/issues/15

[2019-07-24 02:02] andrewvc commented on #2
We've decided to use realtime queries so this will be closed.

[2019-07-24 02:02] #2 closed

[2019-07-24 02:02] andrewvc commented on #50
We've decided to use realtime queries instead, so this can be closed.

[2019-07-24 02:02] #50 closed

[2019-07-24 14:54] andrewvc commented on #37
@katrin-freihofner we'll need some help on the design for this one. We'll want to add this to the monitor detail pages somehow.

[2019-07-24 14:58] andrewvc commented on #37
@katrin-freihofner one additional thought, my initial thinking here is that we should keep it simple for v1, since we're thinking of replacing the ping list component with timelines. Fitting this data (and error data) into timelines is kind of tricky, but I don't think we need to solve that here of course.

[2019-07-25 08:22] katrin-freihofner commented on #37
@andrewvc I would combine it with the error column and give this one more space/width. Similar to this:

<img width="1792" alt="Screenshot 2019-07-25 at 10 09 38" src="https://user-images.githubusercontent.com/20965076/61858239-fee93f00-aec5-11e9-821c-053e41cde0ef.png">

[2019-07-25 16:10] andrewvc commented on #37
@katrin-freihofner to be clear, you'd literally concatenate the error + body strings if I understand. Is that right?

[2019-07-26 05:39] katrin-freihofner commented on #37
@andrewvc yes, that is my proposal. Having it in it's own column would only make sense if users want to sort it by error message and error type separately - but I guess sorting it by error type makes more sense, doesn't is?

[2019-07-26 20:27] andrewvc commented on #37
Hmmm, how would that work when the body is recorded but the response is a success. In the patch that is a possibility. Additionally, displaying a full kilobyte in that column might be a bit much.

I'm thinking a drawer makes a lot of sense here because it will handle larger content sizes really well and we could include the first N bytes of the body + the checksum (with a zoom to filter icon on th

[2019-07-30 12:15] katrin-freihofner commented on #59
Update with latest version:
![00-overview](https://user-images.githubusercontent.com/20965076/62128289-65aa9600-b2d4-11e9-8972-70dcc9556bdf.png)
@andrewvc

[2019-07-30 12:36] katrin-freihofner commented on #37
@andrewvc yes, I agree it is better to move it to an expandable row.

[2019-07-30 14:10] andrewvc commented on #59
Wow, I absolutely love this new layout. Looks so much better in so many ways.

To answer your questions:

1. Yes, I think the URL is still good to show prominently. The first thing many admins will do will click on the URL to see if it's down on their workstation as well to start diagnosing the problem.
2. +1 on adding the solutions icons

[2019-07-30 15:19] katrin-freihofner commented on #57
@andrewvc @Titch990 my sketches:
![single-location](https://user-images.githubusercontent.com/20965076/62142131-0b1e3380-b2ee-11e9-9f8b-d8134f4ea458.jpg)
![multi-location](https://user-images.githubusercontent.com/20965076/62142133-0b1e3380-b2ee-11e9-80ec-15ae9654e01f.jpg)

Just let me know if I interpreted your messages correctly. Thank you.

[2019-07-30 17:42] andrewvc commented on #57
@katrin-freihofner I think that's a great start.

In the future we should add a discussion about how to do it within a single datacenter. My thinking is it'd look something like:

[code]

We can have that accompany additional copy stating something like what's below. I don't think we need diagrams for all the scenarios listed below, but I'm thinking I will open a PR up to add the below copy. @Titc

[2019-07-30 20:03] andrewvc commented on #59
One other thought, I think we should incorporate geo in a more prominent way, perhaps with a mini map? WDYT about halving the `Number of Pings` and making it a 3 column layout on top with a mini map in there somewhere?

Thinking more about the whole map idea, I've been thinking that we may be better off with a textual representation of geo, just a simple table. The rationale there is that you may

[2019-07-30 20:36] andrewvc commented on #59
Thinking about it further we could also just show each location as `up/down/mixed` to be more compact. You could click on a location to filter by it.

[2019-07-31 18:48] BattinaVijayaBhaskarRao commented on #19
Hey, do we have a timeline by when this feature can be implemented?
This feature would help a great for SLA reporting.

[2019-08-01 13:38] Titch990 commented on #57
@katrin-freihofner Looks great to me. I'm not an exert in the area of Uptime/Heartbeat yet, but images certainly make things clearer to me too! @andrewvc If I understand correctly, you're saying there are other possible configurations too? In that case, it would be useful to add a few other common examples. At this stage, I'll leave it to you to determine which other scenarios should be mentioned

[2019-08-05 06:32] katrin-freihofner commented on #57
@andrewvc and @Titch990 as discussed:
![uptime-single-location-diagram](https://user-images.githubusercontent.com/20965076/62443541-75562e80-b75b-11e9-9e48-01b5d94d27be.png)
![uptime-multi-location-diagram](https://user-images.githubusercontent.com/20965076/62443542-75562e80-b75b-11e9-90b5-8fbe7a6b534e.png)

[2019-08-05 11:53] katrin-freihofner commented on #59
@andrewvc do you mean something like this:
![IMG_20190805_134929](https://user-images.githubusercontent.com/20965076/62462728-689bff80-b788-11e9-9ef7-5aa6291de445.jpg)

[2019-08-06 00:29] andrewvc commented on #59
@katrin-freihofner yes-ish. I'm worried about the mixed state, though it is uncommon. One idea is we could flip it and say `30/30 up`. On the one hand I like the number being the number of things with problems, that's probably the number people will focus on, and in my proposal here that makes people do subtraction "11/30 up means 29 are down". However, the advantage of listing the number up is th

[2019-08-06 03:44] andrewvc commented on #57
Looks great @katrin-freihofner , I think we can merge these into the docs.

[2019-08-06 12:00] katrin-freihofner commented on #59
@andrewvc, I have to admit, I'm also struggling with the warning state. And I'm not sure which use case the location list is solving. In the meantime I got great feedback from @hbharding and incorporated parts of it that already in the mockups - I think they are much better now.

One of his comments was regarding the timeline in the expandable row and details page: the coloured sections could beco

[2019-08-06 15:27] andrewvc opened #75 "Improving state granularity"
The main goal of Uptime is to tell you when your site is up or down, however, there are many intermediate states, where it may be up for some, or down for others, or flapping etc.

Currently we report three states:

1. Up
2. Mixed (when some subset of DNS resolved IPs are up but others are down)
3. Down

In the future, with timelines, we may have even more subtle states like flapping (state isn't

[2019-08-08 07:31] katrin-freihofner commented on #59
I'm going to close this as we are already working on a redesign.

[2019-08-08 07:31] #59 closed

[2019-08-08 14:22] andrewvc opened #76 "[META] Show response bodies"
This tracks the implementation of https://github.com/elastic/uptime/issues/37

We want to record and display response bodies in the app as shown in the mockup below. For now we don't need to redo the up/down status widget to keep this in scope, but should move the error message and body to the expandable row.

The beats patch adds a number of new fields:

* http.response.body.bytes (number of byte

[2019-08-08 14:23] andrewvc commented on #37
Closing this in favor of implementation issue here: https://github.com/elastic/uptime/issues/76

[2019-08-08 14:23] #37 closed

[2019-08-08 17:03] bmorelli25 commented on #57
I don't want this to get forgotten about. Is there an issue open for adding this to the docs? Or should we reopen this one?

[2019-08-08 19:09] grabowskit commented on #71
Sample of SIEM/ML UI integration...
<img width="1286" alt="Screenshot 2019-08-08 14 01 51" src="https://user-images.githubusercontent.com/28265798/62730617-f45e9780-b9e5-11e9-964b-d0e406a54ee7.png">
Sample of APM/ML UI integration...
<img width="475" alt="Screenshot 2019-08-08 14 06 37" src="https://user-images.githubusercontent.com/28265798/62730688-1e17be80-b9e6-11e9-93c9-c0d37954929e.png">

[2019-08-08 19:20] grabowskit commented on #71
Example of APM chart with integrated ML results...

![image](https://user-images.githubusercontent.com/28265798/62731360-929f2d00-b9e7-11e9-8a98-5394ef650b46.png)

[2019-08-09 06:46] katrin-freihofner commented on #57
@bmorelli25 I though this is the design issue - I wasn't aware that there is no follow-up. Let's reopen it. cc @Titch990

[2019-08-09 10:50] Titch990 commented on #57
@bmorelli25 @katrin-freihofner. Not forgotten yet! I was planning to open a new issue today to add this to the docs.  But since this has been reopened, I've grabbed it instead.

@katrin-freihofner Do you have a PNG of the graphic for me to include in the docs?

@bmorelli25 @katrin-freihofner Where is the source file stored for this graphic, so it's available if we need changes made in the future?

[2019-08-09 11:04] katrin-freihofner commented on #57
@Titch990 here is the link to the PNGs https://drive.google.com/drive/folders/1YcbQu8S07nwqGqIzNJvduczW17DPZEQ3?usp=sharing
- the design files are stored in Abstract.

[2019-08-09 15:09] andrewvc commented on #57
I've also added the doc changes I recommended in a new PR here: https://github.com/elastic/kibana/pull/43028

[2019-08-12 08:17] katrin-freihofner commented on #70
I think in the case where the certificate is expired, we could emphasise this with a callout https://elastic.github.io/eui/#/display/callout. But I would keep it very simple as long as it is information only (not expired).

[2019-08-12 13:28] katrin-freihofner commented on #73
For example:
<img width="685" alt="Screenshot 2019-08-12 at 15 27 27" src="https://user-images.githubusercontent.com/20965076/62868351-b8913e00-bd15-11e9-88eb-234b39651534.png">

[2019-08-13 13:08] justinkambic commented on #75
From my side, I like the idea of this added simplicity. I do think we can find a subtle way of including _some_ outage information if we went this route. A tooltip (displaying the latest `outage_reason`'s name) when hovering over a monitor's health indicator for example, or designating a space where the latest outage reason can be shown in the summary drawer.

The idea of telling people quickly wh

[2019-08-21 13:32] justinkambic opened #77 "[Telemetry] Track number of locations in use"
We recently decided it would be a good idea to track the number of users that are taking advantage of multiple locations. This would require an addition to our telemetry data for both the Overview and Monitor page views.

[2019-08-21 15:50] alogishetty commented on #15
Hey Guys, can we get this feature implemented? We are looking for these kind of metrics for defining SLO's and SLA's.

[2019-08-21 15:52] dwchurch commented on #15
Yes, uptime would be immensely more valuable with this feature.

[2019-08-21 16:00] mkkeffeler commented on #15
This is a huge blocker for us in our implementation of the elastic stack. We also are looking for these kind of metrics and think that this product can get far more value by providing these metrics.

[2019-08-21 16:17] firewallkevin commented on #15
This is a superlatively useful feature that would extend elastic stack's use in IT Operations and analytics.

[2019-08-27 07:00] katrin-freihofner commented on #25
@justinkambic @andrewvc thanks for sharing. I thought we are going to remove the ID filter dropdown? But anyhow I would set a max-width (~144px/button) for the Up/Down toggle buttons to make sure they look clickable.

[2019-08-29 13:26] #76 closed

[2019-08-29 14:44] andrewvc commented on #75
We've decided in a meeting to only show up/down on the main page, and potentially more states on the details page in the future. Closing this issue.

[2019-08-29 14:44] #75 closed

[2019-08-30 15:39] justinkambic opened #78 "Migrate from `date_histogram` to `auto_date_histogram`"
It's been noted to us that we should use Elasticsearch's `auto_date_histogram` aggregation in favor of our current solution. While the current solution works and is largely alright, Elasticsearch should be able to perform computations for us and give us the correct bucket count each time; this means less code for us to maintain and no longer relying on a lesser duplication of a solution for a solv

[2019-08-30 18:23] andrewvc opened #79 "[Meta] Uptime Redesign"
This meta issue tracks the implementation of the design overhaul of the Uptime app. Screenshots are provided at the bottom of this issue.

## Tasks
- [x] New overview page
  - [x] New overview status panel ( https://github.com/elastic/kibana/issues/44533 )
  - [x] New MonitorList Expanded row ( https://github.com/elastic/kibana/issues/44541 )
    - [x] Add filters to expanded row https://github.co

[2019-09-03 14:05] andrewvc commented on #25
PR here: https://github.com/elastic/kibana/pull/43621

[2019-09-03 15:00] #73 closed

[2019-09-03 22:13] justinkambic commented on #79
@andrewvc what is your thinking about the implementation process for these enhancements? Should we create separate components that we can host in `master`, and then perform a switch when all items are completed? Or we complete them piecemeal and have `master` straddle the enhanced design with the legacy styling?

[2019-09-06 02:10] andrewvc commented on #79
@justinkambic we can go piecemeal here, the components are an improvement individually as well as combined.

[2019-09-06 17:19] robgil opened #80 "SSH Type Polling"
**Is your feature request related to a problem? Please describe.**
There are a lot of cases where a service is not publishing a public port nor is accessible via other means. Some examples of this would be checking if processes are running that are not publicly accessible or don't have a listening port.

The simplest example would be something like crond.

**Describe the solution you'd like**
A wa

[2019-09-06 17:21] robgil commented on #80
I should also note that in the BGP example, SNMP polling would work as well if the data was exposed via SNMP.

[2019-09-06 17:30] andrewvc commented on #80
This is a pretty nifty idea. It would be a substantial change in that this would not be a protocol-based monitor per-se. I'd love to hear an opinion on this from @tbragin and @roncohen  in particular.

[2019-09-06 17:31] andrewvc commented on #80
I'll just add that I'm on the fence on this. I'm not sure heartbeat should try and be expansive in the protocols it supports. The current ICMP/TCP/HTTP set feels very tightly focused, but loosening that could be a slippery slope, and I worry about maintainability.

[2019-09-13 15:03] yanndb opened #81 "Save Uptime filtered dashboards"
I would like to monitor lots of different environments and each of these environments might have tags that define them.  I should be able to define a query string in uptime and save it like I would a normal dashboard.  This means we don't have to have favorite links with search criteria in the urls, that might actually change over time.

That way I could share the links without fear if I change th

[2019-09-17 14:17] #25 closed

[2019-09-17 17:15] #48 closed

[2019-09-19 08:16] #70 closed

[2019-09-19 18:07] justinkambic opened #82 "Autocomplete for custom fields"
**Is your feature request related to a problem? Please describe.**
We're adding the ability to use the Kuery Bar and its autocomplete goodness in `7.5.0`.

![Sep-19-2019 13-55-42](https://user-images.githubusercontent.com/18429259/65268480-3c90cf80-dae5-11e9-8e15-67b06f5bf719.gif)

One drawback to the current implementation is the mapping utilized for this functionality is static and controlled by

[2019-09-19 21:28] andrewvc commented on #82
Reading through the linked issue, I think the ultimate solution here is for us to support arbitrary metadata through k/v pairs. We'd implement this probably as nested documents, with a key/value property (both strings). This could be supported directly in heartbeat, something like:

[code]

The advantage here is that the user wouldn't need to deal with custom ES mappings at all.

This might be a b

[2019-09-20 10:28] #57 closed

[2019-09-20 10:28] Titch990 commented on #57
All done!

[2019-09-20 13:23] justinkambic opened #83 "Stop dropping current bucket before it's filled"
Presently, we drop the latest bucket from our visualizations. The thinking at the time of implementation was that an "unfinished" bucket results in a misleading visualization, where the most recent data looks like it has changed in some significant way when in reality we are simply waiting for the bucket to fill up and and flow into the next one.

This is particularly unsettling in newly-started d

[2019-09-23 09:16] katrin-freihofner commented on #83
<img width="1532" alt="Screenshot 2019-09-23 at 11 15 25" src="https://user-images.githubusercontent.com/20965076/65414185-7880a900-ddf3-11e9-92d5-aefdc18fe86b.png">
Could we calculate an expected value via ML and draw that in the chart?

[2019-09-23 18:48] justinkambic opened #84 "Provide tag filtering dropdown"
**Is your feature request related to a problem? Please describe.**
We had recently discussed with a user the lack of support for tag filtering in our KueryBar implementation. We think it would be useful to add tags to the list of items users can select from in the UI's filter dropdowns.

**Describe the solution you'd like**
Add additional filter dropdown and server-side fetching code for any tags

[2019-09-23 19:08] andrewvc commented on #84
This is a great idea, I think it'd be a quick easy win.

The user has a pretty common setup that is a good example of how you'd use this. They have sites in either `production`, or `staging`. Being able to quickly filter by either makes a ton of sense.

[2019-09-23 20:26] justinkambic commented on #84
From a design perspective we'd just add another dropdown to the existing list, with some additional hookup code on the backend. Given the simplicity, are you ok with moving forward to an implementation issue?

cc @shahzad31

[2019-09-23 23:13] andrewvc commented on #81
This is a nifty idea. @tbragin @katrin-freihofner would love to hear your thoughts on this one.

[2019-09-23 23:14] andrewvc commented on #61
I'm going to close this for two reasons:

1. Lack of response
2. I think we'll go with something more structured like a 'tags' or 'groups' feature or similar. I think this will cover most similar use cases.

[2019-09-23 23:14] #61 closed

[2019-09-23 23:17] andrewvc commented on #65
Closing this as  #63 involved making the queries so fast this is unnecessary.

[2019-09-23 23:17] #65 closed

[2019-09-23 23:21] andrewvc commented on #83
I think we should just draw it. If you use any monitoring software you're pretty used to charts having a short right-most bucket.

I like the ML @katrin-freihofner , but I'm not sure the value it'd add would be worth the cost. Also, it's not a common pattern, I assume users would be confused by it.

@grabowskit WDYT?

[2019-09-23 23:24] justinkambic commented on #82
I'm fine with using a filter widget. We could employ a combo box or some other EUI component that allows us to find the fields and display those the user has selected. We will probably want some design help on the implications for the layout.

[2019-09-23 23:25] andrewvc commented on #82
Great, then I'll close this issue out. Thanks for writing it up however!

[2019-09-23 23:25] #82 closed

[2019-09-24 15:50] justinkambic commented on #81
So, is there a reason we can't do this today? We allow the user to specify tags they would like to filter on, and persist those filters in the URL.

<img width="1027" alt="image" src="https://user-images.githubusercontent.com/18429259/65527880-6836ff80-dec1-11e9-9df2-d8b58521a89b.png">

Am I misunderstanding the ask here?

[2019-09-24 16:06] justinkambic commented on #80
I think that this is a cool idea, but that it is kind of far off in terms of where our current focus is. I almost wonder if long-term we could consider providing a mechanism by which folks can implement their own "plugins" for generating heartbeat monitor docs for custom cases such as this.

[2019-09-24 16:12] justinkambic commented on #72
Does `tags` give us this without having to implement something custom? I'd imagine for alerting we will be able to specify tags of interest, and we had [another issue](https://github.com/elastic/uptime/issues/81) already looking to increase our reliance on tags for filtering. Plus, we want to [add a tags list](https://github.com/elastic/uptime/issues/84) to the UI to make filtering simpler.

[2019-09-24 16:51] andrewvc commented on #72
I'm glad to close this in favor of tags for now.

[2019-09-24 16:51] #72 closed

[2019-09-24 16:55] andrewvc commented on #81
@yanndb we have an existing issue to add tags (https://github.com/elastic/uptime/issues/84). Would that be sufficient?

Reading through what you've posted it sounds like you'd like tags *and* the ability to save a query. Is that correct?

I think that's a nifty idea, especially in the context of alerting. In other words, you could alert on a saved search or an individual monitor.

[2019-09-24 18:04] justinkambic opened #85 "Remove memory adapter classes"
**Is your feature request related to a problem? Please describe.**
In the original implementation of the Uptime UI plugin, we created memory adapter classes with the desire of having decoupled running of our application. Given that this plugin is built specifically to function in Kibana and run against Elasticsearch, and that we have the ability to mock API call responses, these `MemoryAdapter` im

[2019-09-24 19:10] justinkambic commented on #83
It's a really good and interesting solution to the problem! We don't really have an infrastructure built around ML to leverage it like that today, so it might be really complex for minimal gain.

[2019-09-24 19:47] grabowskit commented on #83
I agree... I think it could cause confusion and might not be worth the cost.  I'm pretty use to the short right-most bucket and I think that is consistent even in how ML represents the "current" bucket span.

[2019-09-25 01:43] justinkambic commented on #83
Just drawing whatever is accumulated is definitely the simplest and cheapest solution to this issue.

[2019-09-25 02:09] andrewvc commented on #15
To add to this issue, some of the metadata that's a pre-req for calculating this is here: https://github.com/elastic/beats/pull/13672

I'm thinking we can add this along with this improvement in https://github.com/elastic/kibana/issues/44546 since the timeline calculation gives us that info for free more or less.

It would be great to hear from more people in this thread about what a downtime indi

[2019-09-25 11:14] shahzad31 commented on #21
i think it's definitely an interesting use case, it's just like the way cctv control rooms works.
There can be 100's of cameras in a building, but usually softwares allows you to just monitor couple of them on a main page, for a focused view. So you are only looking at important ones like entry/exit.
So if we go by that, that would probably be an overview page, then we can have all monitors page a

[2019-09-25 11:29] shahzad31 commented on #81
@justinkambic we can still save list of favorites/most-used filters while keeping the search criteria in url, it's just that once you load that filter, your url get's updated.

And as far as sharing goes, we can define like for example a filterId, and have route to resolve that filter if user insert it into user,

like for example if we have filter "most-used" and user shares it with colleague, up

[2019-09-25 12:52] andrewvc opened #86 "Timeline compressed history panel on detail page"
This issue is a placeholder for our discussion around how to better integrate timelines onto the monitor details page. While our redesign (#79) adds the timeline visual, we're retaining the "History" panel on the bottom of the detail page, which doesn't address the central issues raised in #56 .

In essense, in the history panel we say things like the below:

[code]

When we could say

[code]

@ka

[2019-09-25 13:44] andrewvc commented on #84
Pinging @katrin-freihofner on this for design considerations

[2019-09-25 19:25] justinkambic commented on #84
Do we think it'd be ok to add this so the functionality is there, and we can roll any design considerations into the future of the app's filtering?

[2019-09-25 19:28] justinkambic commented on #81
@shahzad31 are you recommending we add a new component for "saved" or "most-used" filters? Just trying to make sure I understand.

[2019-09-26 17:53] justinkambic opened #87 "Add sample data for Uptime"
We should provide sample data for Uptime to improve the getting started experience.

There is a broader initiative (see: https://github.com/elastic/kibana/issues/40704) to provide sample data for all Observability solutions. We should do this to ensure we have parity with the experience provided by the other Obs. teams.

This would involve the generation of sample data. Ideally, we would integrate

[2019-09-27 03:06] #85 closed

[2019-09-27 13:30] #47 closed

[2019-09-27 13:31] andrewvc commented on #47
Done in https://github.com/elastic/uptime-contrib/pull/13

[2019-09-27 15:19] alogishetty commented on #15
We are mainly looking for internal metric with multiple Geo locations.
Defining contract breaches will also be a great addition to this feature.

Thank you,
Abhishek

On Tue, Sep 24, 2019 at 9:10 PM Andrew Cholakian <notifications@github.com>
wrote:

[2019-09-27 16:17] andrewvc commented on #15
@alogishetty it'd be great to hear more details here about contract breaches and geo locations.

1. Are you looking for individual statistics per geo location?
2. How would you define contract breaches? It may be hard or impossible for us to support custom formulas for SLA.

[2019-09-28 21:55] alogishetty commented on #15
For geo locations, we often loose connectivity between data centers, we
would like to track how often we loose connectivity between data centers.

For contract breaches, we haven't considered until I saw it in your
previous email. This is something we would like to start talking about it
to our vendors and uptime will be a great tool to track breaches.

Regards,
Abhishek

On Fri, Sep 27, 2019, 11:

[2019-10-01 02:20] andrewvc commented on #80
Hi @robgil after discussing this with the team, this would widen the scope of the project more than we can currently handle. If you'd like you could still accomplish this by coding up a web service with an HTTP endpoint that does this, then using heartbeat to ping that.

We're going to close this now because we don't think we'll do this in the near to medium term. Closing issues helps us keep our

[2019-10-01 02:20] #80 closed

[2019-10-01 02:23] andrewvc commented on #21
After discussing this as a team, our upcoming redesign https://github.com/elastic/uptime/issues/79 should handle the use cases here, albeit with a more traditional list. We've decided this isn't a feature we'll be tackling in the near to medium term. One of the deciding factors was that waffle maps don't scale as well as lists. They can be hard to read at high cardinalities.

While we may take a d

[2019-10-01 02:23] #21 closed

[2019-10-01 12:20] robgil commented on #80
Thanks for the consideration @andrewvc.

[2019-10-01 14:41] #74 closed

[2019-10-01 14:41] andrewvc commented on #68
No one's asked for this, so we should close it.

[2019-10-01 14:41] #68 closed

[2019-10-02 05:43] Svengalx commented on #19
This would be an excellent addition to an already great service. It is fairly important for SLA reporting for us too.

+1

[2019-10-02 18:42] andrewvc commented on #15
@alogishetty hmmm, how do you track connectivity between data centers? Do you have a heartbeat job in each DC that does nothing but ping the other? Or do all your monitors run once in each DC? Both?

[2019-10-03 08:57] #52 closed

[2019-10-04 09:28] katrin-freihofner commented on #84
Quick question: Do we want to use this only for filtering the environment? In APM we have something like this:
<img width="430" alt="Screenshot 2019-10-04 at 11 25 15" src="https://user-images.githubusercontent.com/20965076/66197027-d5088180-e699-11e9-82c1-48eabf9142a6.png">
And yes @justinkambic I think it would be ok to add the functionality and combine it's design with other filter consideratio

[2019-10-04 12:39] justinkambic commented on #84
Tags are user-defined so they aren't specific to the environment.

[2019-10-04 14:10] justinkambic commented on #84
@andrewvc I'm assuming ECS supports this, but I can't find the appropriate field. I'm thinking we should create a separate issue to add this.

[2019-10-04 16:43] andrewvc commented on #84
@justinkambic I don't believe ECS supports this. To be clear, I'm not saying that we should add the environment dropdown, I'm saying it'd be a separate issue that would be part of a larger change across observability. I don't think we need to do anything about this here for now.

[2019-10-07 23:56] tbragin commented on #84
@andrewvc I agree a dedicated environment filter across Observability is probably a separate issue. Worthwhile effort, and if we go down that path, it'd make sense to standardize the field we use.

[2019-10-08 02:31] lukelee1987 opened #88 "Down sites listing does not tally"
**Describe the bug**
the summary and the listing of sites went down does not tally

**To Reproduce**
Steps to reproduce the behavior:
 heartbeat.config.monitors:
  3   path: ${path.config}/monitors.d/*.yml
  4   reload.enabled: true
  5   reload.period: 5s
  6
  7 max_retries: 100
  8
  9 heartbeat.monitors:
 10 - type: icmp
 11   schedule: '* 1 * * * * *'
 12   hosts: ["10.0.106.144"]
 13   ipv4:

[2019-10-08 11:31] shahzad31 commented on #63
With this configuration
[code]

i don't see elastic-co monitor after i merged your branch into my local branch , let me know we can debug it together. It does says total six monitors, but only 5 rows are returned in monitor states.
![image](https://user-images.githubusercontent.com/3505601/66392308-e24ea480-e9e8-11e9-9f3e-449478e27e7d.png)

[2019-10-08 14:01] #63 closed

[2019-10-08 14:08] andrewvc commented on #53
Will be fixed in https://github.com/elastic/kibana/issues/44541 , closing as a dupe.

[2019-10-08 14:08] #53 closed

[2019-10-08 14:15] shahzad31 opened #89 "Uptime after pagination, numbers of records doesn't match number of monitors"
With this configuration
[code]

i don't see elastic-co monitor after i merged your branch into my local branch , let me know we can debug it together. It does says total six monitors, but only 5 rows are returned in monitor states.
![image](https://user-images.githubusercontent.com/3505601/66392308-e24ea480-e9e8-11e9-9f3e-449478e27e7d.png)

Ok issue isn't consistent, sometimes, it does return that

[2019-10-08 14:21] katrin-freihofner commented on #71
We have something very similar for the logs UI planned:

<img width="1350" alt="Screenshot 2019-10-08 at 16 20 17" src="https://user-images.githubusercontent.com/20965076/66403816-89324100-e9e7-11e9-92a4-eb3071e49075.png">

I think this could work for uptime too.

[2019-10-08 14:39] katrin-freihofner commented on #71
This is how it could turn out for the duration chart:

<img width="684" alt="Screenshot 2019-10-08 at 16 37 17" src="https://user-images.githubusercontent.com/20965076/66405218-16769500-e9ea-11e9-9422-82a9548963fe.png">

[2019-10-08 14:50] justinkambic commented on #84
Regarding tags - are we ok to add this filter group to our existing filters at any time, with the understanding that future changes to Uptime's filtering UX will wrap this addition?

[2019-10-08 15:41] Titch990 commented on #71
@katrin-freihofner I just want to say that all these look great!

[2019-10-08 15:44] Titch990 commented on #71
I also have a couple of comments about the UI text in some of the earlier screenshots above. I'm not sure how far down the line these changes are, and hence whether it is appropriate to comment yet. Also, I wonder who is a good person to raise these points with initially? @gchaps perhaps?

Point 1: I think the text in both the SEIM **Anomaly detection settings** dialog, and the APM **Enable anomal

[2019-10-09 01:55] andrewvc commented on #89
Fixed in elastic/kibana#47598

[2019-10-09 01:55] #89 closed

[2019-10-09 01:57] andrewvc commented on #88
Thanks for the report!

This should be fixed with https://github.com/elastic/kibana/pull/42933 which will be released in version 7.5.0 . Sorry for the poor experience here, a fix is coming!

[2019-10-09 01:57] #88 closed

[2019-10-09 02:04] lukelee1987 commented on #88
Thank you for your kind reply and updates.

[2019-10-09 02:32] lukelee1987 commented on #88
Dear Andrew, may I know will it be possible that you guys can release a patch rather than an upgrade to the entire ELKS?  We are facing this issue whereby one part of the system is having bug and causing a major system upgrade, thereafter will cause other parts to break.

[2019-10-09 10:00] katrin-freihofner commented on #84
From my perspective, this is fine, we can add it to our existing filters. 👍

[2019-10-09 12:46] andrewvc opened #90 "Need better Kubernetes examples"
Setting up Uptime with Kubernetes / Docker could be more straightforward. I've seen customers in the field confused as to the best config values and when to use which settings. There's also this [forum post](https://discuss.elastic.co/t/wont-start-runner-monitor-id-user-center-is-configured-for-multiple-monitors-ids-must-be-unique-values/200961/10).

Ideally we'd have a full-on guide here. However

[2019-10-09 16:49] andrewvc commented on #88
@lukelee1987 unfortunately the scope of this change is large and does change some behavior, so we feel that it is better suited for a minor release than a patch level release.

[2019-10-10 13:20] katrin-freihofner commented on #86
I'd like to emphasize long outages, maybe like this:

![timeline](https://user-images.githubusercontent.com/20965076/66572493-5a47d680-eb71-11e9-8202-f7d557c14e0b.png)

[2019-10-11 15:11] justinkambic opened #92 "Introduce a specific error message for invalid processor YAML"
**Is your feature request related to a problem? Please describe.**
We made a mistake when configuring Heartbeat's observer processor. We had something like:

[code]

and further down the file we also had...

[code]

This configuration causes Heartbeat to run like normal but without embedding any location data.

**Describe the solution you'd like**
If possible, it would be better if we could alert

[2019-10-11 19:36] SlavikCA opened #93 ""Monitor duration" panel doesn't show data for last 1.5 hours"
**Describe the bug**
"Monitor duration" panel doesn't show data for last 1.5 hours

**To Reproduce**
I have this monitor:
[code]
As you can see it probes every minute.
Looking at the raw data - It work, as expected.
The issue is that "Monitor duration" panel doesn't show data for last 1.5 hours, as you can see on this screenshot:
![Screen Shot 2019-10-11 at 12 27 52 PM](https://user-images.githubu

[2019-10-11 19:40] SlavikCA commented on #93
Also, as you can see on the screenshot, that data on the screen is for "Last 2 days".

If I switch to "Last 2 hours" - I will see last few minutes. It will not miss last 1.5 hours. But it will miss last few minutes.

So, I would still say: the latest data point on all panels are most important data and needs to be rendered.

[2019-10-12 18:59] SlavikCA commented on #93
One more example:
- one of my site just went down
- you can see, that it is down in the "History", as expected
- But neither "Monitor duration", not "Pings over time" shows any failure. Because these panel doesn't show latest samples. Expected result: every panel shall show latest sample.

![KibanaUptime](https://user-images.githubusercontent.com/6293679/66706466-c1879700-ece7-11e9-8029-9137c1b94e

[2019-10-14 17:20] justinkambic opened #94 "Uptime 7.5.0 release tracking"
This issue should track all backport PR's related to the `7.5.0` release, and any fix or test PR's we want to add to the release that have yet to be merged/backported.

## Features (due Oct 15)
- [x] https://github.com/elastic/kibana/pull/48037
- [x] https://github.com/elastic/kibana/pull/47952
- [x] https://github.com/elastic/kibana/pull/48120

## Tests / Fixes
- [x] https://github.com/elastic/ki

[2019-10-14 21:21] andrewvc commented on #92
@urso @ph thoughts on this one? Can our YAML processor suss out issues like this?

[2019-10-15 16:31] justinkambic opened #95 "Update messaging for zero down monitors"
**Is your feature request related to a problem? Please describe.**
We recently updated the messaging for down monitors on our overview page. It doesn't look the greatest if there are *no* down monitors though:

![image](https://user-images.githubusercontent.com/18429259/66850248-6c958c00-ef46-11e9-8300-ca4505bf6019.png)

**Describe the solution you'd like**
Simply update the messaging to give a mo

[2019-10-17 14:38] andrewvc commented on #43
As an update to this as an MVP we just need to support custom index patterns in kibana.yml, letting users search across clusters. We also need to test this.

[2019-10-17 15:12] justinkambic opened #97 "[Tech debt] Test `Saved Objects` interactions"
Today we're leveraging `Saved Objects` for our Kuery Bar mapping storage. This adapter is untested. We should avoid writing tests for it until we've migrated to the New Platform saved objects client, because the tests would likely need to change as well. Part of our migration to the new client should include the writing of tests.

[2019-10-18 07:48] katrin-freihofner opened #98 "Up/Down selection in Uptime monitor details UI does not work as expected"
**Describe the bug**
The filter in the monitor details view to select Up/Down monitors is a combobox - therefore, it is possible to input text.

<img width="1680" alt="Screenshot 2019-10-18 at 09 36 02" src="https://user-images.githubusercontent.com/20965076/67075667-e9657780-f18b-11e9-8a1a-a8c08034af93.png">

<img width="360" alt="Screenshot 2019-10-18 at 09 41 47" src="https://user-images.github

[2019-10-18 15:26] andrewvc opened #99 "[Uptime] Design for display of redirects"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)

With https://github.com/elastic/beats/pull/14125 we will now include a list of redirects traversed in checking a URL. There's currently no way to see this info. A check that involves redirects may be interpreted differently than one that does not, so we should indicate this. One key difference is that redire

[2019-10-21 10:49] katrin-freihofner opened #100 "[Monitor details UI] pings panel missing"
<img width="1680" alt="Screenshot 2019-10-18 at 09 36 02" src="https://user-images.githubusercontent.com/20965076/67199128-bf68bb00-f400-11e9-97ac-1276bd993f07.png">

The panel wrapping Pings chart is missing.

I made this screenshot when building Kibana (master branch) locally (with shared dev cluster).

On Mac with Chrome Version 77.0.3865.90 (Official Build) (64-bit)

[2019-10-21 11:10] katrin-freihofner commented on #95
I think we should also consider adding the green checkmark if all monitors are up.

<img width="444" alt="Screenshot 2019-10-21 at 13 09 38" src="https://user-images.githubusercontent.com/20965076/67200443-0efcb600-f404-11e9-97f7-9956257dc752.png">

[2019-10-21 20:48] justinkambic commented on #95
@andrewvc @shahzad31 thoughts on the green checkmark?

[2019-10-21 22:14] shahzad31 commented on #95
Green all the way , i love green color anyway :)

I think yes it makes sense.

Btw what if all monitors are down? Are we devising any state for that? though all red is already probably highlighted enough.

[2019-10-21 22:21] andrewvc commented on #95
@shahzad31 IMHO the current design works for all monitors being down. Glad to hear what others think!

[2019-10-21 22:22] andrewvc commented on #95
To clarify my thinking, there are broadly two states:

1. Everything OK
2. Something not OK

Everything being down is a subset of "Something not OK" IMHO

[2019-10-21 22:27] shahzad31 commented on #95
Yes i agree as well, whole red pie(current design) is enough for all down monitors. I was just trying to see if anyone else has any idea.

[2019-10-22 12:53] justinkambic commented on #95
I agree that a pure-red circle is a pretty strong indicator. I think it will be rare that users are seeing _everything_ being down, it almost comes across more as an indicator that the Heartbeat agent itself is having a problem; alternatively they could be monitoring only one or two things, which is also probably less common.

[2019-10-22 14:21] andrewvc opened #101 "[Uptime] Redirects in UI"
This is the non-design issue tracking

With https://github.com/elastic/beats/pull/14125 we will now include a list of redirects traversed in checking a URL. There's currently no way to see this info. A check that involves redirects may be interpreted differently than one that does not, so we should indicate this. One key difference is that redirects can be slower than a non-redirects, so one may i

[2019-10-22 14:43] andrewvc commented on #94
Closing as there is one item left that is already well tracked.

[2019-10-22 14:43] #94 closed

[2019-10-24 07:05] katrin-freihofner opened #102 "[Design] Alerting for Uptime"
This is a pre-requisite for alerting design within Uptime.

Research
- [x] user flow
- [x] how to handle Uptime alerts (covered by alert overall concept)
- [x] requirements for different no. of monitors (not covered for now)
- [x] alerts on all monitors vs. individual ones/groups of monitors (not covered for now)

Related: https://github.com/elastic/uptime/issues/64

[2019-10-25 06:28] katrin-freihofner commented on #100
Duplicated by https://github.com/elastic/kibana/issues/49243

[2019-10-25 06:29] #100 closed

[2019-10-25 13:30] justinkambic opened #103 "Snapshot counts ignore supplied filters"
**Describe the bug**
Today, if the user applies filters on the Overview page, their snapshot totals won't change based on the filters, while the rest of the UI does change. In the past this was done on purpose, but we've re-evaluated it in light of the newer visualizations we've introduced to the Uptime UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up Kibana with some Heartbeat mon

[2019-10-25 16:35] justinkambic opened #104 "Add locale-aware string formatting for chart labels"
**Is your feature request related to a problem? Please describe.**
Today we do some custom formatting for our labels in our charts. These look good for US users because a US person wrote the code that creates them.

**Describe the solution you'd like**
We should add some locale-aware logic to the generation of these label formatters. This will require some investigation because it's likely Kibana

[2019-10-25 20:06] justinkambic opened #105 "Stop adding _all_ default values to URL when navigating"
**Is your feature request related to a problem? Please describe.**
Today, we add all the default parameters to the URL path when we navigate the app. This looks bad when the user hasn't specified any custom values, and since they're defaults it does nothing but pollute our URL with lots of unnecessary markup.

**Describe the solution you'd like**
Only add parameters that are not equal to defaults,

[2019-10-25 22:42] #83 closed

[2019-10-28 19:12] andrewvc commented on #93
Tested the fix in https://github.com/elastic/kibana/pull/48157 , which wound up solving this.

[2019-10-28 19:12] #93 closed

[2019-10-28 20:28] justinkambic opened #106 "[Meta] Bug fixes targeting 7.5.0"
The goal here is to maintain a list of the remaining bugs we are planning to fix for the 7.5 release.

- [ ] https://github.com/elastic/kibana/issues/49391
- [ ] https://github.com/elastic/kibana/issues/49263
- [ ] https://github.com/elastic/kibana/issues/49246
- [ ] https://github.com/elastic/kibana/issues/49243
- [ ] https://github.com/elastic/kibana/issues/48576

[2019-10-29 14:18] #106 closed

[2019-10-29 14:45] andrewvc commented on #95
Closing this design issue, implementation issue here: https://github.com/elastic/kibana/issues/49640

[2019-10-29 14:45] #95 closed

[2019-10-30 15:51] andrewvc commented on #99
@katrin-freihofner yes, exactly. We also have the order in which they were traversed. Internally, it's an ordered list of redirects we followed.

[2019-11-01 01:32] matschaffer opened #107 "Easier navigation to downtime details from overview page"
**Is your feature request related to a problem? Please describe.**

When I see downtime on the main overview page, I'd like to investigate it as quickly a possible.

I first tried clicking on these bars, but there's no interaction there.

![Kibana](https://user-images.githubusercontent.com/690/67996447-9ebb2380-fc92-11e9-9f5e-55e5a371fae8.png)

Instead I have to click on the monitor name, then man

[2019-11-04 17:26] justinkambic opened #108 "[Telemetry] Track feature usage"
**Is your feature request related to a problem? Please describe.**
One of the future asks from Observability in general is more granular telemetry for solution feature usage. We’ve added numerous interactions in more recent versions of our UI; it would be useful to get more visibility into how frequently our users leverage them.

For example, it will be really useful to track how frequently our in

[2019-11-06 21:27] andrewvc commented on #107
CC @katrin-freihofner would love to hear your thoughts here on the proposed solutions. They both seem like things we should do.

Clickable mini-histogram makes sense to me, as does the suggestion for draggable time selections on the details page.

[2019-11-07 23:24] #98 closed

[2019-11-11 11:40] andrewvc commented on #103
I dove into this.The query backing the counts is wrong. It should really use the monitor states query. As is it usually gives the right answer, but doesn't do status filtering right.

We should refactor this to use the monitor states query, but since GQL types are broken we're blocked on refactoring to REST/io-ts first.

While we can 'fix' this proximate issue without that, I think testing it make

[2019-11-12 11:41] katrin-freihofner commented on #99
I'm not sure if we even need this information on the overview page. But for the details, for sure.

I have tried two options

**Text + Icon**
<img width="844" alt="Screenshot 2019-11-12 at 12 38 13" src="https://user-images.githubusercontent.com/20965076/68668902-862bf280-0549-11ea-9e76-67ae51616da6.png">

**Accordion**
<img width="675" alt="Screenshot 2019-11-12 at 12 38 24" src="https://user-ima

[2019-11-12 15:28] justinkambic opened #109 "Click and drag on Uptime charts"
**Is your feature request related to a problem? Please describe.**
This request comes out of https://github.com/elastic/uptime/issues/107.

**Describe the solution you'd like**
Essentially users would like to click and drag to change the selected timespan in the application.

**Describe alternatives you've considered**
N/A

[2019-11-12 15:35] justinkambic opened #110 "Enhance Uptime client routing"
**Is your feature request related to a problem? Please describe.**
There's some weirdness with the way our current routing works that causes some issues when trying to navigate without a `#` in the URL. Mainly this causes the page to reload when navigating between our Detail page and the Overview page, but it's also a pattern that should be improved to make future additions easier.

**Describe the

[2019-11-12 16:00] justinkambic opened #111 "Click buckets in Uptime charts to navigate to details page"
**Is your feature request related to a problem? Please describe.**
In https://github.com/elastic/uptime/issues/107 we had a user ask for the ability to click on a single bucket in their uptime chart, and have the app navigate to the details page, scoped to the timespan of that particular bucket.

I'm curious to hear thoughts @katrin-freihofner might have about this, as well as the rest of the team

[2019-11-12 18:58] justinkambic opened #112 "Rename all references to `Infra` with `Metrics` in Uptime UI/solution"
**Is your feature request related to a problem? Please describe.**
The Infrastructure solution has been renamed to Metrics, we should go through our codebase and rename any user-facing text to reflect this, and change it in any code/resource where it's reasonable.

**Describe the solution you'd like**
Rename `Infra` or `Infrastructure` to `Metrics`.

**Describe alternatives you've considered**
N/A

[2019-11-13 08:43] katrin-freihofner commented on #111
I understand that this might be convenient. But I'm not convinced that this is a good idea for the current chart. I would prefer to postpone this until we have the new timeline chart. Additionally, if we decide to do something like that, we need to make sure these areas are big enough to be touchable (> 40px).

[2019-11-14 21:04] justinkambic commented on #111
Agree we shouldn't invest in visualizations that will go away 👍

[2019-11-14 21:06] justinkambic commented on #103
@andrewvc check out the backend code for https://github.com/elastic/kibana/pull/48035, I believe it will fix this, as well as getting this component off of GQL and onto REST/`io-ts`

[2019-11-18 09:03] #111 closed

[2019-11-19 10:51] katrin-freihofner commented on #99
@shahzad31 @justinkambic @andrewvc do you have any feedback on my proposal?

[2019-11-19 10:51] katrin-freihofner commented on #99
@shahzad31 @justinkambic @andrewvc do you have any feedback on my proposal?

[2019-11-19 11:32] shahzad31 commented on #99
Looks great, i don't have preference between popover or accordion for this to be honest.
One change i would like is to display links as breadcrumbs chain

link1 > link2 > link3 etc

Or

use list with arrow down icons, instead of 1,2 ,3 , something like

&#8675; Home link
&#8675; Details link
&#8675; Table link

it can also be one way full expanded EUI tree view
![image](https://user-images.githubu

[2019-11-19 12:41] katrin-freihofner commented on #99
I like this proposal very much! We have a sort down icon we could use here.

[2019-11-19 15:16] shahzad31 opened #113 "Monitor expanded list, display Monitor Status info by dns in new design !!"
**Summary of the problem**
While working on expanded list https://github.com/elastic/kibana/issues/44541, i realized we are omitting monitor status information per dns, which was being displayed in previous design.
Does it make sense to display monitor status up/down information per dns, is it useful for user to see that?
**Ideal solution** (optional)
We can display status up/down for each dns in

[2019-11-19 15:17] shahzad31 commented on #113
@katrin-freihofner can you please give some feedback on this.

[2019-11-19 17:26] andrewvc commented on #99
I love where we've wound up here with the down arrows. I think we can omit the copy "This may have a negative effect on duration". Maybe we can replace the copy with:

"Heartbeat followed N redirects while executing ping.", which is more concise and implies that those checks occurred within the ping, and hence its timing measurement.

[2019-11-19 17:27] andrewvc commented on #99
We also need to show this in the ping history. I'm thinking we can make this another section in the expanded rows for each entry. WDYT @katrin-freihofner ?

[2019-11-20 09:39] katrin-freihofner commented on #99
@andrewvc you mean here?

<img width="890" alt="Screenshot 2019-11-20 at 10 36 06" src="https://user-images.githubusercontent.com/20965076/69227396-083b9d00-0b82-11ea-8264-c6b9de4c63c5.png">

[2019-11-20 13:41] andrewvc commented on #99
@katrin-freihofner yes, exactly! I was thinking we could add a sibling of "Response Body" called "Redirects" WDYT?

[2019-11-20 14:09] shahzad31 commented on #99
Well thinking ahead, maybe once we do that, we can also says how much each redirect took?
@andrewvc are we tracking that in heartbeat?

[2019-11-20 14:12] justinkambic commented on #113
We chatted a bit about this yesterday, it seemed like the consensus was that this isn't a huge pain point for most users. I'm open to suggestions of how we can display DNS data if others want to have it here though; as Shahzad already mentioned, this is something that we've had in the past.

[2019-11-20 14:17] shahzad31 commented on #113
Yeah i am going to close it, we discussed that this isn't really useful. If anyone has any-other idea, we can reopen it.

[2019-11-20 14:17] #113 closed

[2019-11-21 07:41] katrin-freihofner opened #114 "Monitor details view: avoid empty Error type column"
In the history panel, on the monitor details view we are showing an Error type column. This column might be empty if there are no errors - in my opinion, this could also be interpreted as missing data.

I think we should add a `-` when there is no error.

<img width="897" alt="Screenshot 2019-11-21 at 08 36 51" src="https://user-images.githubusercontent.com/20965076/69317194-b276fb80-0c3a-11ea-804

[2019-11-21 07:51] katrin-freihofner commented on #99
@shahzad31 @andrewvc maybe like this?

<img width="742" alt="Screenshot 2019-11-21 at 08 51 08" src="https://user-images.githubusercontent.com/20965076/69317827-13eb9a00-0c3c-11ea-81c0-84b8b16449ed.png">

[2019-11-21 12:39] andrewvc commented on #99
@katrin-freihofner I think with real URL values we'll need them across separate lines. They'll be too long to look right side by side.

[2019-11-21 13:21] katrin-freihofner commented on #99
Yes, let's better stack them.

<img width="547" alt="Screenshot 2019-11-21 at 14 18 57" src="https://user-images.githubusercontent.com/20965076/69341445-e0276900-0c69-11ea-938b-fa43d5fb3327.png">

For smaller screens: If the URL is too long, I suggest to use no-wrap + ellipsis.

[2019-11-22 09:32] katrin-freihofner opened #115 "Uptime overview: Warning callout in expandable row needs more whitespace"
This does not look very nice.

<img width="770" alt="Screenshot 2019-11-22 at 10 16 09" src="https://user-images.githubusercontent.com/20965076/69414470-1f5dc480-0d13-11ea-97e3-1cf2f1653d7d.png">

The callout definitely needs more whitespace.

[2019-11-22 09:34] katrin-freihofner opened #116 "Pagination looks broken on smaller screens"
**Describe the bug**
<img width="665" alt="Screenshot 2019-11-22 at 10 16 45" src="https://user-images.githubusercontent.com/20965076/69414715-8a0f0000-0d13-11ea-8ac1-80d2b83839e7.png">

The pagination on the current master branch looks broken on smaller screens.

It's also slightly off on bigger screens:
<img width="224" alt="Screenshot 2019-11-22 at 10 16 53" src="https://user-images.githubuserc

[2019-11-22 09:41] katrin-freihofner opened #117 "Expandable rows in Uptime UI"
**Describe the bug**
We use expandable rows in both, the overview and the monitor details page. These expandable rows look different although they should be consistent (and use EUI expanding row).

The button to expand the row is not centered with the section on the right side - is this an EUI bug?

**Overview**
<img width="624" alt="Screenshot 2019-11-22 at 10 16 24" src="https://user-images.gith

[2019-11-22 16:44] justinkambic opened #118 "Remove reliance on lodash in favor of new TypeScript features"
We are seeking to replace old framework calls with new features of the standard TS language that have made the older code unnecessary.

This includes:
- [ ] usages of `lodash.get`
- [ ] introduction of nullish coalescing
- [ ] fix static type issues previously masked by framework calls' assumed types

[2019-11-25 21:42] justinkambic opened #119 "[Uptime] Make backend iterator class support an `infinite` size option"
**Is your feature request related to a problem? Please describe.**
In https://github.com/elastic/kibana/pull/48035 we introduced a very high constant value to ensure we chunk up all the monitors while counting them. It would be cleaner to patch the iterator code itself so we don't have to maintain this weird constant default.

**Describe the solution you'd like**
Remove the existing constant value

[2019-11-26 17:07] andrewvc commented on #103
This issue is being tracked by https://github.com/elastic/kibana/issues/47376 , so we can close this one.

[2019-11-26 17:07] #103 closed

[2019-11-26 18:33] justinkambic opened #120 "[Uptime] [Uptime] Make overview heading handle filtered states better"
**Is your feature request related to a problem? Please describe.**
While reviewing https://github.com/elastic/kibana/pull/48035 [it was noted](https://github.com/elastic/kibana/pull/48035#issuecomment-555015920) that we should denote to the user that a message like `All monitors are up` should be tempered with some descriptor if a filter is applied.

**Describe the solution you'd like**
If the use

[2019-11-26 20:44] andrewvc opened #121 "Add HA docs"
Heartbeat today supports HA in multiple ways, but they aren't documented. We should add these docs describing how to:

1. Make multiple heartbeats in one geographic region act as one (with duplicated checks)
2. Use separate geo tags for an alternate strategy.

[2019-12-02 12:22] #99 closed

[2019-12-02 12:26] katrin-freihofner commented on #101
Monitor page status:
<img width="677" alt="Screenshot 2019-12-02 at 13 25 23" src="https://user-images.githubusercontent.com/20965076/69959345-3c5e7880-1507-11ea-90a9-4186a78b0200.png">

Individual check details:
<img width="426" alt="Screenshot 2019-12-02 at 13 22 09" src="https://user-images.githubusercontent.com/20965076/69959349-3ff1ff80-1507-11ea-8e05-9a33817e8b9f.png">

[2019-12-02 23:16] SlavikCA opened #122 "Overview Pagination: add ability to specify N of rows/page"
7.5.0 added Pagination to the overview page.
However, it always 10 rows per page.
Doesn't look good on my 32" 4k monitor.
Previously (without pagination) I can overview all of my entries by opening one page by one click. Now it takes me a few clicks to load a few pages.

**Request:**
- Add the ability to specify N rows per page. With one choice being "All rows"
- Add the ability to make it default

[2019-12-02 23:17] SlavikCA commented on #122
Here is how it looks on my large monitor:

![Screen Shot 2019-12-02 at 3 09 26 PM](https://user-images.githubusercontent.com/6293679/70003050-cd891b80-1516-11ea-81fd-0741abd849a1.jpg)

[2019-12-02 23:56] andrewvc opened #123 "[META] Improve performance of overview queries via range data"
Currently the overview page can be slow when working with large numbers of monitors due to the high cardinality of documents.By using range data for the timespan a ping is effective for we can optimize these queries.

Impl issues:

- [x] Add `monitor.timespan` field to heartbeat https://github.com/elastic/beats/pull/14778
- [x] Add query support in kibana https://github.com/elastic/kibana/pull/524

[2019-12-03 00:01] andrewvc commented on #122
Thanks for the suggestion @SlavikCA  , I think this makes sense, except the 'All Rows' part. That could be quite intense performance-wise if you have 10k+ rows etc.

[2019-12-03 00:15] SlavikCA commented on #122
In the "10k+ rows" case you just will not select 'All Rows'.
In the previous version (7.4) 'All Rows' was the default. Why we can't have it as an option now?

[2019-12-03 14:38] andrewvc commented on #122
In 7.4 all rows wasn't truly all rows. We had a limit built into the server, and it would just select at most that limit. Unbounded data fetching isn't something we can build without causing crashes or adverse performance.

[2019-12-05 09:05] katrin-freihofner commented on #102
For the first iteration, we are going to address the issue of creating an alert for **all monitors**. Therefore, I would put the button to create an alert on the overview page as part of the **monitor status panel** (because it will alert me about the monitor status).

![uptime-alert](https://user-images.githubusercontent.com/20965076/70219879-e9becf80-1745-11ea-88e5-d5c1d0bcbd7b.png)

@andrewvc t

[2019-12-05 11:03] #115 closed

[2019-12-05 13:01] #116 closed

[2019-12-05 19:16] andrewvc commented on #102
@katrin-freihofner that works for me! Yes, we don't need more than the initial button. Thanks for mocking this up :)

[2019-12-06 18:55] #114 closed

[2019-12-09 17:51] shahzad31 opened #124 "[Uptime] Expanded list row should follow filters"
Currently expanded list query route doesn't follow filters, date range, status filters, this query should follow those params just like all other queries in Uptime.

[2019-12-09 22:39] justinkambic opened #125 "Should PingList expandable row be disabled if there is no content to show?"
**Is your feature request related to a problem? Please describe.**
It's possible to create a monitor that has no response body. Today this renders like this:
![image](https://user-images.githubusercontent.com/18429259/70479104-a7c9bc80-1aaa-11ea-9826-4712638f9d3c.png)

**Describe the solution you'd like**
Should we disable the expand button for a monitor when it doesn't have any content?

**Descri

[2019-12-10 11:37] #117 closed

[2019-12-10 16:51] andrewvc commented on #107
Closing in favor of making this a feature on timelines.

[2019-12-10 16:51] #107 closed

[2019-12-11 02:28] matschaffer commented on #107
@andrewvc can you point me to an appropriate issue to watch on that?

[2019-12-11 02:29] matschaffer commented on #107
took a guess that maybe it's https://github.com/elastic/uptime/issues/109 though it doesn't mention "timelines" specifically so let me know if I got it. Thanks!

[2019-12-11 18:36] justinkambic commented on #84
Another concern we are addressing in the patch associated with this enhancement is allowing our filters to cross-apply to each other. We can't simply `AND` everything because there could be multiple options the user wants to filter on.

Example:
[code]

In the above list of filters, if the user wants to apply port 80, they'd lose the option to apply the port 443 today. We're looking to amend the o

[2019-12-12 17:45] justinkambic opened #126 "Give server lib files less verbose names"
It [was noted](https://github.com/elastic/kibana/pull/51403#discussion_r357111130) in a recent PR that we are calling files by fairly verbose names. We can probably do away with some of these longer naming conventions, as they were created to follow a paradigm that we have largely dropped from our codebase.

Examples are things like `elasticsearch_monitor_states_adapter`, associated `adapter_types

[2019-12-12 22:16] andrewvc opened #127 "Custom executable checks"
**Is your feature request related to a problem? Please describe.**

People sometimes want to check a thing that is not an ICMP/TCP/HTTP endpoint. See https://github.com/elastic/uptime/issues/80 and some ERs from customers. Unfortunately their needs are diverse, for instance checking through SSH that a certain process is running, checking that Postgres database is alive, or running a custom executa

[2019-12-13 15:52] exekias commented on #127
This super interesting, we have been discussed this option also for a while in the Metricbeat context

[2019-12-13 15:55] fearful-symmetry commented on #127
This is a really great idea! At my last job we used nagios heavily, and it was universally despised for a number of reasons.

Setting the UID properly will be important. However, I would be wary of making whitelists/script config overcomplicated in the name of security. At my last job we had a huge and ever-growing list of custom script-based checks, if someone needs to tweak more than one or two

[2019-12-13 16:02] andrewvc commented on #127
@fearful-symmetry thanks for the support!

You're right that a strict whitelist could be a stumbling block for a lot of users, so we'll have to do an in-depth threat model to determine what the right balance is here.

[2019-12-13 18:35] ph commented on #127
I do understand the flexibility it provides, the possibilities of composition and the reusability of existing users scripts when deploying Heartbeat. But the security aspect worries me a bit, especially in the context of Central management or fleet.

Now there a few things in my mind.

1. Blocking that feature when the configuration is remotely managed but this effectively kill the feature in that

[2019-12-13 19:45] andrewvc commented on #127
@ph thanks for the considered response. I need some time to think about some of the security points. WRT a sandboxed API, there isn't a way I can see of using one to do the use cases mentioned in this issue such as:

1. SSHing to a remote server, then executing an arbitrary command there
2. Invoking a special tool and checking its result
3. Connecting to a remote database and checking its result u

[2019-12-13 19:47] andrewvc commented on #127
I'll add here that Nagios has existed for a long time with this model, and there aren't complaints about its security, so I think it is doable.

We could also advise that when enabling this feature it be done in the context of a secure VM as well, where gaining root would have minimal impact.

[2019-12-13 19:59] ph commented on #127
This is true for Nagios. Is there a remote management tools for that, I am concerned about the threat model here.

We can do that, yes.

Also, running in containers might reduce the risk and possible escalation.

I am going to give more thoughts about it.

[2019-12-13 20:36] andrewvc commented on #112
PR in https://github.com/elastic/kibana/pull/53007

[2019-12-16 09:25] exekias commented on #127
It's clear that the combination of any kind of script execution and fleet represents an attack vector. That said, I think we can come up with good defaults that are safe enough, and allow the user to override them with the proper warnings. For instance:

- Disable scripts by default when running on Fleet, require some specific setting on the client side to enable it.
- Drop privileges and run scri

[2019-12-16 15:34] ph commented on #127
I think we need to consider this feature to possibly have the following impacts:

1. Privileges escalation.
2. Exposure of unwanted information.
3. DoS on a machine.
4. DoS on an external machine or network.

In the case of **local configuration**, I do not see problems with the above in having this feature when the admin with access on the machine takes the decision. We assume that each machine i

[2019-12-17 12:19] katrin-freihofner commented on #125
That's a good idea. Or we could describe that there is no response body. So as a user I see that Uptime did check it but there simply is nothing to show.

[2019-12-17 13:40] drewpost commented on #71
@katrin-freihofner In this example with multiple series, how would the user know which series that anomaly highlighting pertains to?

[2019-12-17 16:34] andrewvc commented on #77
Migrating to a larger issue.

[2019-12-17 16:34] #77 closed

[2019-12-17 16:37] andrewvc commented on #62
We'll do this slowly as we go, so this can close.

[2019-12-17 16:37] #62 closed

[2019-12-17 16:52] andrewvc commented on #118
We'll make this an incremental refactor, no need to track it.

[2019-12-17 16:52] #118 closed

[2019-12-18 10:45] katrin-freihofner opened #128 "[Uptime UI] actions menu update"
**Is your feature request related to a problem? Please describe.**
The current actions menu (holding links to other solutions) is overwhelming and hard to grasp/read. Furthermore, we have this kind of menu all over observability - but not consistent.

**Describe the solution you'd like**
We would like to update the overall appearance of the actions menu. There is only one instance of the actions m

[2019-12-18 16:10] ph commented on #127
cc @ruflin I think you need to be aware of that issue, see my points above.

[2019-12-19 23:04] andrewvc commented on #43
I'm shifting the goalpost here. Technically its actually easier to just do this dynamically in saved objects vs. the kibana.yml, and its a better feature.

@katrin-freihofner when you get a chance it'd be great to get a UI mockup of how an uptime settings page (or dialog) might look. It would just be for the one index-pattern value. I'm thinking it could just be a popup dialog next to the date pic

[2019-12-20 19:16] justinkambic opened #129 "[Uptime] Consume Kibana HTTP core services"
**Is your feature request related to a problem? Please describe.**
We've been asked to remove references to third party fetch libraries like `axios`.

**Describe the solution you'd like**
Implement code that will leverage the Kibana platform's core services for these types of requests.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2019-12-23 08:16] katrin-freihofner commented on #43
@andrewvc I suspect, that there will be more settings in the near future!? If so, I propose to create a similar experience as in APM and Logs. The settings page is reachable via one of the tabs on the very top.

<img width="969" alt="Screenshot 2019-12-23 at 09 15 38" src="https://user-images.githubusercontent.com/20965076/71345149-d2188100-2564-11ea-8e16-4089aada72db.png">

[2019-12-23 10:20] katrin-freihofner commented on #71
@drewpost like discussed, these (red and yellow) indicators are suggesting that there is an anomaly. Similar to the Logs UI, there needs to be a tooltip and a button to drill-down to the ML view for further details.

[2019-12-31 13:39] ruflin commented on #127
@andrewkroh Perhaps you can also chime in here because if I remember correctly you were thinking about something similar a few years ago.

[2020-01-02 18:43] andrewvc commented on #120
Maybe we should move back to showing an exact count? I think the problem is that `all` implies that every monitor we know about is up, a count seems like its tied more to the search.

Would love to hear from @katrin-freihofner and @drewpost

[2020-01-02 18:45] andrewvc commented on #128
I love this @katrin-freihofner . The one thing I think might be nice to add would be the actual `pod.id`, our `container.id`, or `host.ip` that we link out with. Right now this is hidden till you click through, at which point it appears in the destination app kuery bar. WDYT here?

[2020-01-02 23:08] andrewkroh commented on #127
When we were last discussing a similar feature we were thinking at a minimum to have a security model similar to that of suEXEC (see the model at http://httpd.apache.org/docs/2.4/suexec.html). The only threat model we were considering was privilege escalation by a user that already had machine access.

In general there are more threat models to consider when pairing any Beat with Fleet as ph menti

[2020-01-02 23:49] bmorelli25 commented on #128
Ohhh I like @andrewvc's idea. Here are some spitball ideas for what text might be:

\-----------------------------------
**Domain details in APM**
_url.domain: 10.8.0.119_
[Domain details](url)

**View host details**
host.ip : 10.8.0.119
[Host logs](url)
[Host metrics](url)

**View pod details**
_pod.uid : f298d16e-2abb-11ea-afc2-42010a8400f0_
[Pod logs](url)
[Pod metrics](url)

**View container d

[2020-01-06 17:27] andrewvc opened #130 "[Uptime] Filter bar should ignore URL values that do not exist"
If a user copy/pastes a URL that has a filter bar value that is not valid (say a port that is not found in the current time range), we should not filter by that value.

We should be able to detect this and filter those values in the UI rather than the backend, because the UI has the list of correct values as well as the URL.

We could potentially leverage react router hooks to do this.

[2020-01-06 17:44] andrewvc commented on #122
I've created https://github.com/elastic/kibana/issues/54031 to track work on this issue in greater detail, I'm going to close this issue in favor of that more action oriented one.

[2020-01-06 17:44] #122 closed

[2020-01-06 23:00] #129 closed

[2020-01-07 13:06] justinkambic opened #131 "Break up API request files into per-function files"
**Is your feature request related to a problem? Please describe.**
It [has been noted](https://github.com/elastic/kibana/pull/50837#discussion_r363490979) several times that we have API request files (primarily used for interfacing with Elasticsearch) that are getting very tall and difficult to reason about.

**Describe the solution you'd like**
Now that these files are merely collections of funct

[2020-01-07 16:59] justinkambic opened #132 "Migrate index pattern fetching from component level effect to state store"
**Is your feature request related to a problem? Please describe.**
Today we are having multiple components responsible for fetching the index pattern utilized by the application. This is inefficient, because we only have one index pattern, and we shouldn't be pulling it down multiple times for a single run.

**Describe the solution you'd like**
We should add the pattern to our state store, and pro

[2020-01-07 17:47] #124 closed

[2020-01-07 21:47] andrewvc commented on #127
@andrewkroh Would there be any issues if we favored convention over configuration? If we just had a folder full for whitelisted scripts at a directory that was `/heartbeat/config/dir/scripts` for instance.

Since that directory is only configurable from the CLI/init scripts it would be impossible to override via fleet AFAIK, and would be a lot less hassle then registering scripts etc. We would als

[2020-01-08 05:17] andrewkroh commented on #127
I think it we only allow local scripts (no remote installation) and scope the choice of scripts to those in a dedicated directory this would help prevent an RCE. Someone that gets API access cannot remotely install and execute a script. And someone cannot execute arbitrary tools to give themselves a remote shell.

Consul had this problem at one point (it allows script checks for services). https:/

[2020-01-08 10:18] katrin-freihofner commented on #128
Thank you so much @bmorelli25 - this is great. I think this version would work best...but with abbreviated IDs.

The structure would be:

**Subject**
View details for [container/host/....]
[Link](url)
[Link](url)

-----------------------------------

Another thing that came up during my discussion with the other designers: @hbharding pointed out that we should use **Kubernetes pod** instead of **P

[2020-01-08 13:11] PhaedrusTheGreek commented on #127
Nagios executables are usually installed by package manager into specific directories such as `/usr/lib64/nagios/plugins`.    It make make sense for the whitelist setting to be an array.

[2020-01-08 15:35] andrewvc commented on #128
Love the way it looks with abbreviated IDs . In fact, I'd be fine with them being even shorter (maybe 10 chars)?

[2020-01-09 11:12] drewpost opened #133 "Enhanced Uptime Telemetry"
As a product engineering team
We want to collect a broader range of user behaviour telemetry from the Uptime app
So that we can make better informed product prioritisation and design decisions

ACs:

The following metrics are captured and available in Elastic Telemetry:

- Count of Monitors
- Count of characters of Monitor names
- Frequency of monitors
- Count of geolocations
- Count of characters

[2020-01-09 15:19] justinkambic opened #134 "Host `connect`ed components in a dedicated directory"
**Is your feature request related to a problem? Please describe.**
We don't have an established convention for how we host our connected/presentational components now that we're utilizing redux for state management.

**Describe the solution you'd like**
We should store `connect`ed components in a dedicated directory and continue to export dumb components as we have in the past.

**Describe alterna

[2020-01-09 15:32] justinkambic opened #135 "Remove `useUrlParams` hook in favor of `useParams`"
**Is your feature request related to a problem? Please describe.**
React Router provides hooks for interacting with things like URL params and the History API. We have a custom hook for tracking URL params, and we should see if it's possible for us to do away with this hook and instead leverage the React Router solution.

**Describe the solution you'd like**
Ideally we could just replace the hook

[2020-01-09 15:38] justinkambic opened #136 "Add Tests for Uptime Page Components"
**Is your feature request related to a problem? Please describe.**
Today we have three page components and a page heading component in the Uptime solution. None of them have unit tests. In the past this was a bit less of an issue but over time we have increasingly added logic and potential for defect injection to these page functions, and we need to be testing them to help ensure they are stable a

[2020-01-10 16:15] #84 closed

[2020-01-10 17:31] andrewvc opened #137 "Document HA for heartbeat"
We decide firmly on, then document the practice of multiple heartbeats in one region running in an HA setup. This mostly works AFAIK today, you just use the same geo name in multiple heartbeats in a region and they can act as a single heartbeat.

We probably need to discuss what happens when they're in disagreement, but that can come later.

[2020-01-13 18:25] justinkambic opened #138 "Refresh relative times on monitor map location labels"
**Is your feature request related to a problem? Please describe.**
We've discussed that in the monitor page, we should continuously update the values shown in the relative timestamps per location on the map component, regardless of whether the app is set to auto-refresh or not.

![image](https://user-images.githubusercontent.com/18429259/72281078-be15eb80-3607-11ea-97c1-8f18eacad3b0.png)

**Descri

[2020-01-14 13:36] katrin-freihofner opened #139 "Polish monitor details history table"
<img width="871" alt="Screenshot 2020-01-14 at 14 28 20" src="https://user-images.githubusercontent.com/20965076/72348381-95125b00-36da-11ea-8a1e-25d4beacd9cb.png">

The response code column in the history table is too close to the expand arrow. It needs a bit (16px) of additional whitespace. Adding the whitespace to the arrow column does not work for the mobile version. the `Response code ` heade

[2020-01-14 17:14] andrewvc commented on #55
Closing in favor of #44546

[2020-01-14 17:14] #55 closed

[2020-01-14 18:18] ph commented on #127
If we limit the number of scripts to local scripts, sanboxed to a directory, local whitelisting and **not allow fleet** to deliver the scripts to the machine. I think I will be **OK** with that.

I think we should also make it off by default in fleet and make it an **opt-in** feature, we could also make it opt-in per policy. @ruflin I think we have found a new beats specific configuration.

[2020-01-15 16:14] #139 closed

[2020-01-16 12:18] shahzad31 opened #140 "Improve Test Coverage for Uptime App"
After our 7.6 FF we have decided to enhance test coverage for our uptime app.

IMO we should also try to diversity our test in terms of snapshot usage, There are three aspect in which we should try to strive to improve tests

**Shallow or shallowWithIntl:**
Always begin with shallow, use SnapShotMatch, it should be noted that in shallow, no children are rendered.

**render or renderWithIntl**
Next

[2020-01-17 21:20] justinkambic opened #141 "[Uptime] [Test] Add functional test to verify named location without geo is supported"
**Is your feature request related to a problem? Please describe.**
We recently became aware of an issue described in https://github.com/elastic/kibana/issues/55233. We've [created a fix](https://github.com/elastic/kibana/pull/55234) for this bug, but we feel it's important to include a functional test for this case.

The purpose of this issue is to document the TODO status of this test, which we p

[2020-01-21 13:20] shahzad31 commented on #135
react-router useParams doesn't support queryParams, it is only meants for url params, so we can't use it. We will continue to use for url params, like monitorId in our application.

[2020-01-21 13:20] #135 closed

[2020-01-22 09:55] #125 closed

[2020-01-23 12:51] #102 closed

[2020-01-23 13:46] alvarolobato commented on #138
@Justin-Kambic  does this actually need design? I see the screen with the lastest designs.

[2020-01-23 13:48] justinkambic commented on #138
👍 no we didn’t need that label, thanks

[2020-01-23 23:52] andrewvc commented on #107
@matschaffer sorry I missed your last comment. It's added as an item on https://github.com/elastic/kibana/issues/44546

[2020-01-24 12:12] katrin-freihofner opened #142 "[Monitor details] improve layout in status panel"
**Describe the bug**
The status panel in the monitor details view shows some stats and the world map. Especially on smaller screens the layout has some issues, see screenshots:

A lot of whitespace on the right:
<img width="1282" alt="Screenshot 2020-01-24 at 12 03 23" src="https://user-images.githubusercontent.com/20965076/73068067-94cc4980-3eaa-11ea-95a5-edf3cae4a0e9.png">

Truncated world map a

[2020-01-24 12:16] katrin-freihofner opened #143 "[Monitor history panel] pagination seems odd"
**Describe the bug**
When I entered the monitor view there was only a single page available in the history. But when extending the table to show 20+ rows, I could see that there is further history available:

![small](https://user-images.githubusercontent.com/20965076/73068463-9c402280-3eab-11ea-8754-d464aded0033.gif)

**To Reproduce**
I found this bug in master and `7.6` branch

**Expected behavi

[2020-01-24 14:08] matschaffer commented on #107
Subscribed. Thanks!

On Fri, Jan 24, 2020 at 8:52 Andrew Cholakian <notifications@github.com>
wrote:

[2020-01-27 14:04] andrewvc commented on #143
Great find @katrin-freihofner . I suspect we're still using an EUI in memory table here. We should definitely fix this.

[2020-01-27 20:42] #119 closed

[2020-01-27 22:18] andrewvc commented on #138
I would appreciate @katrin-freihofner 's opinion on this however.

IMHO there's a balance between too many refreshes (e.g. once per second) which is distracting, and too few, which is confusing.

[2020-01-28 08:22] katrin-freihofner commented on #138
@andrewvc that's true...but don't we state `a few seconds ago` until we reach a full minute? And would this mean the UI updates once a minute?

[2020-01-28 14:23] andrewvc commented on #138
@katrin-freihofner I don't believe so, it should go transition to a specific number of seconds until it reaches a minute.

I was thinking a good refresh rate would be once every 5-10s or so.

@drewpost a penny for your thoughts?

[2020-01-29 19:05] #141 closed

[2020-01-31 12:24] justinkambic commented on #8
This issue is referencing a very outdated version of the UI and we are ok to close it for now.

[2020-01-31 12:24] #8 closed

[2020-01-31 12:30] justinkambic opened #144 "[Monitor Page] Make empty states for monitor charts more uniform"
**Summary of the problem**

Our charts show empty states, which is good. Unfortunately, they are not uniform, and it looks weird. See:
![image](https://user-images.githubusercontent.com/18429259/73539326-241db380-43fb-11ea-8695-c4f9d8c76aa3.png)

**Ideal solution**

I think we should adapt the empty state on the left to a more general component that takes a few props to specify what the output sho

[2020-01-31 20:39] shahzad31 commented on #132
This is fixed by https://github.com/elastic/kibana/pull/55446

[2020-01-31 20:39] #132 closed

[2020-02-03 07:10] SlavikCA opened #145 "Add warning about near-expired SSL to "Overview" page"
Currently, the overview page will show monitors, which are UP or DOWN explicitly.
However, if endpoint's SSL cert is about to expire - nothing shown in the "Overview" page.
Even, if you open endpoint-specific page - there is only one gray line about it:
![Screen Shot 2020-02-02 at 11 06 01 PM](https://user-images.githubusercontent.com/6293679/73632499-b8ad2f00-4610-11ea-8b81-862b807c646b.jpg)

I'm

[2020-02-04 12:30] shahzad31 commented on #126
This is essentially duplicate of https://github.com/elastic/uptime/issues/131

[2020-02-04 12:30] #126 closed

[2020-02-04 16:11] andrewvc commented on #123
Done in 7.6

[2020-02-04 16:11] #123 closed

[2020-02-04 16:12] andrewvc commented on #112
Closing since the metrics team still uses infra in code.

[2020-02-04 16:12] #112 closed

[2020-02-05 10:24] shahzad31 commented on #110
@justinkambic i think this is not needed anymore, our routes has been refactored.

I think presence of # is fine , it aligns with other app APM, Infra, they are also using #.

So i am closing this.

[2020-02-05 10:24] #110 closed

[2020-02-05 16:08] #131 closed

[2020-02-07 09:57] shahzad31 commented on #109
duplicate of https://github.com/elastic/kibana/issues/46936

[2020-02-07 09:57] #109 closed

[2020-02-11 14:55] Varun-garg opened #146 "Other Dashboards"
Currently, there is only HTTP dashboard in the repo, is there any plan to add others such as ICMP, TCP, etc?

[2020-02-11 15:11] shahzad31 commented on #146
all the tcp/icmp monitors does appear in same dashboard, are you looking for separate dashboards for each category?

[2020-02-11 15:22] Varun-garg commented on #146
I am sorry, I opened this issue in wrong repo (confused with uptime-contrib)

[2020-02-11 15:22] #146 closed

[2020-02-11 21:48] #136 closed

[2020-02-13 17:34] #134 closed

[2020-02-13 18:49] justinkambic opened #147 "Add functional test to cover map"
We recently had a concern that our map was broken. Thankfully it wasn't, but it made us realize there should be a test that ensures this map component is rendered in a default setting.

We should add a test that verifies the map isn't broken when Kibana is running.

[2020-02-19 19:05] andrewvc opened #148 "Overview Expandable Drawer Polish"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)

In 7.6 we made some last minute changes to the expandable rows. We now duplicate the URL field data in a couple places. I've attached a screenshot below:

![image](https://user-images.githubusercontent.com/131427/74866242-2ac38a80-5318-11ea-9d93-08b374a26571.png)

This differs from the [original mocks](https

[2020-02-19 19:05] elasticmachine commented on #148
Pinging @elastic/observability-design (design)

[2020-02-20 08:27] katrin-freihofner commented on #148
I think it's fine to have the information in both places. Especially if it is a long URL it could be handy to show the full text in the expandable row.

[2020-02-20 15:19] andrewvc commented on #148
@katrin-freihofner I think you're right here. In that case I'll close this issue.

[2020-02-20 15:19] #148 closed

[2020-02-20 18:14] andrewvc opened #149 "[Uptime][Docs] Add crosslinking to docs"
We have our docs in three separate places, [Kibana](https://www.elastic.co/guide/en/kibana/current/xpack-uptime.html), [Beats](https://www.elastic.co/guide/en/beats/heartbeat/current/index.html), [Solutions](https://www.elastic.co/guide/en/uptime/current/index.html), and the cross linking between them could be improved.

[2020-02-24 14:30] justinkambic opened #151 "Alerting UI in Uptime"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)
We want users to be able to see what alert(s) they've defined, and allow them to manage them from within our solution.

We'd also like other solutions to be able to link to our UI to see the status of an individual alert, or all the alerts, from the context of the Uptime solution.

From this page, users shoul

[2020-02-24 14:30] elasticmachine commented on #151
Pinging @elastic/observability-design (design)

[2020-02-25 23:59] andrewvc opened #152 "Add design around cert age (not expiry)"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)

Safari will [soon](https://thenextweb.com/security/2020/02/24/safari-will-soon-reject-any-https-certificate-valid-for-more-than-13-months/) start considering sites with certs > 13mo of age to be expired. We currently have the requisite data in our indices, but don't surface this in our UI at all.

We should

[2020-02-25 23:59] elasticmachine commented on #152
Pinging @elastic/observability-design (design)

[2020-02-26 03:20] andrewvc commented on #108
This feels like two separate issues:

1. Changing the technical infrastructure of telemetry
2. Changing what's measured with telemetry.

@justinkambic do you mind clarifying / refocusing / splitting this issue? Alternatively, I'm fine closing this for now. I think we'll organically get to cleaning up our telemetry code as we expand it.

[2020-02-27 13:33] katrin-freihofner commented on #120
Summary of what we have discussed:
- add the number of monitors to the list.
- move the up/down filters to the table.
- change the headline to a more generic one (that is not affected by the filtering)

This is how I imagine this could look (edited):
![Overview](https://user-images.githubusercontent.com/20965076/75541744-c8a50c80-5a1e-11ea-88ce-ca4c2e78ca53.png)

[2020-02-28 12:04] katrin-freihofner commented on #152
This is how I imagine we could display this information:
<img width="697" alt="Screenshot 2020-02-28 at 13 02 12" src="https://user-images.githubusercontent.com/20965076/75547144-8eda0300-5a2a-11ea-9bdb-4167912e4bed.png">

I think we should add more information about what can be done to fix this in a link or tooltip. Let me know what's your opinion.

[2020-02-28 13:38] justinkambic commented on #108
@andrewvc there's been a lot of movement on the telemetry front since I created this issue. I think that the scope of what this attempted to address has broadened significantly, and will encompass anything this issue would've covered, so we should just close this.

[2020-02-28 17:04] justinkambic opened #153 "[Uptime] Create generic type for API fetch functions"
We have a lot of code that looks like this:

[code]

[code]

It's possible that we could achieve a significant reduction in code by creating a generic api fetch factory, similar to what we've done for fetch `effect`s.

[2020-02-28 17:15] justinkambic opened #154 "Abstract application of `access:uptime` from API endpoint implementation"
Today, when we create a REST API endpoint, we specify a number of options like so:

[code]

Under `options`, we specify a `tags` field with `access:uptime` as the sole item. We need to specify this for all of our API functions, and it shouldn't be up to the implementer to make sure it gets done, as we already have a wrapper function that abstractions some other parts of the route creation.

We sho

[2020-03-03 16:40] andrewvc commented on #133
Implementation issue ready here: https://github.com/elastic/kibana/issues/57016

[2020-03-03 16:40] #133 closed

[2020-03-03 16:41] andrewvc commented on #108
Closing in favor of https://github.com/elastic/kibana/issues/57016

[2020-03-03 16:41] #108 closed

[2020-03-03 16:44] andrewvc commented on #128
@katrin-freihofner should we just go with what metricbeat has done? SS below:

![image](https://user-images.githubusercontent.com/131427/75798250-eedaed00-5d3b-11ea-9e87-7f5fa532e27d.png)

[2020-03-04 07:38] katrin-freihofner commented on #128
Yes. 👍

[2020-03-05 11:31] katrin-freihofner commented on #71
Loom walk-through https://www.loom.com/share/963531dee13e472796ad51768c8c718a

[2020-03-05 15:52] #120 closed

[2020-03-09 15:04] katrin-freihofner opened #155 "[Uptime UI] duration anomaly detection"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)
With ML in place, we can show anomalies in duration.

Questions to solve:
- How can users set up anomaly detection?
- How do we indicate anomalies in the duration chart?
- How can users investigate anomalies?

[2020-03-09 15:04] elasticmachine commented on #155
Pinging @elastic/observability-design (design)

[2020-03-09 15:06] katrin-freihofner commented on #155
[Figma prototype](https://www.figma.com/proto/lDlGXMzUTnzAlHPQu7lZAH/Uptime?node-id=69%3A5&viewport=-5012%2C1550%2C0.5&scaling=min-zoom)

[2020-03-10 11:02] katrin-freihofner commented on #155
This video shows the basic user flow to enable anomaly detection:

![uptime-ml](https://user-images.githubusercontent.com/20965076/76305238-12b2ab80-62c5-11ea-8f81-ac1efa7f39b9.gif)

## Changes in detail

### Overview page
If anomaly detection is enabled, an additional column in the monitor table shows the anomaly score.
<img width="1368" alt="Screenshot 2020-03-10 at 16 57 01" src="https://user-i

[2020-03-10 11:03] katrin-freihofner commented on #71
[Design issue](https://github.com/elastic/uptime/issues/155)

[2020-03-10 11:17] drewpost commented on #155
The way this should be done is, upon the creation of the ML job, to look at the frequency of the monitor and automatically create a window that includes enough data points with a minimum duration threshold to prevent too much noise. So, we check every minute, the last 15 minutes worth of data UNLESS the monitor has a frequency of 5minutes or more in which case we will expand the interval to includ

[2020-03-11 14:01] andrewvc commented on #155
After discussing the current design/flow we will make the following changes:

1. No enable button at the top of the page
2. "Enable Anomaly Detection" button will take the place of the "Explore in ML" button on the chart
3. Clicking the button to enable will check to see if the `observer.geo.name` field is present. If it is a multi-metric job will be created, if not a single metric job will be cre

[2020-03-13 21:13] justinkambic opened #156 "Stop returning stack traces for failed requests"
It's been noted that there are security implications of returning stack traces and detailed exception messages as a part of request failures. We can throw these errors so the server's log has a record of them, but we should return general messages with appropriate error codes as a result of some failure on our REST requests.

The implementation of this issue should audit the REST endpoints we supp

[2020-03-19 16:49] justinkambic opened #157 "[Alerting] Make Uptime Monitor Status alert type pre-selected on Overview page"
Today, the user must click through an alert type selection in our add alert flyout.

The user should be able to simply start filling out their Uptime alert, since there is only one Uptime alert type right now.

[2020-03-19 21:57] justinkambic opened #158 "Add 7.7 Feature docs"
Add docs for the following features:

- [x] Alerting
- [x] Settings
- [x] ML
- [x] Pagination
- [x] Multiple status codes in heartbeat

[2020-03-21 23:13] #43 closed

[2020-03-23 07:24] #151 closed, assigned to katrin-freihofner

[2020-03-23 07:24] #155 closed, assigned to katrin-freihofner

[2020-03-25 08:32] #71 closed

[2020-03-25 15:17] andrewvc commented on #97
We now use the official adapter, not relevant anymore.

[2020-03-25 15:17] #97 closed

[2020-03-25 15:42] andrewvc commented on #105
Already fixed.

[2020-03-25 15:42] #105 closed

[2020-03-25 15:43] andrewvc commented on #130
Dupe of https://github.com/elastic/kibana/issues/59081

[2020-03-25 15:43] #130 closed

[2020-03-25 15:44] andrewvc commented on #45
We could use [rison](https://github.com/Nanonid/rison) for this.

[2020-03-25 15:49] andrewvc commented on #153
Already fixed

[2020-03-25 15:49] #153 closed, assigned to nobody

[2020-03-25 20:12] andrewvc commented on #122
Fixed in https://github.com/elastic/kibana/pull/60573

[2020-03-26 12:50] katrin-freihofner opened #159 "Certificate status table/list"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)
As someone responsible for managing TLS/SSL Certificates
I want be able to view a table of all my monitors with SSL certificates, the expiration of those certificates and if any are in A"alert" state
So that I have a single source of truth for my certificates that I can check against and proactively plan upda

[2020-03-26 12:50] elasticmachine commented on #159
Pinging @elastic/observability-design (design)

[2020-03-26 17:30] justinkambic commented on #69
As of 7.7 this will no longer be an issue.

It may even work in earlier versions, but the upcoming release definitely escapes parens, see below:

![image](https://user-images.githubusercontent.com/18429259/77677388-020d6100-6f66-11ea-9010-daa2fe0449b4.png)

[2020-03-26 17:30] #69 closed

[2020-03-27 14:50] shahzad31 commented on #64
already done

[2020-03-27 14:51] #64 closed

[2020-03-27 14:53] shahzad31 commented on #79
Seems like we need to get to timelines at some point.

[2020-03-27 15:43] justinkambic opened #160 "Add unit test for new telemetry functionality"
In https://github.com/elastic/kibana/pull/61376 we fixed an issue where we had some issue with an undefined value. We should add a unit test or set of unit tests to cover this functionality to make sure revisions/changes that cause the output to change are accounted for.

[2020-03-31 15:38] andrewvc commented on #152
Closing, we have an in development product brief that covers this.

[2020-03-31 15:38] #152 closed, assigned to nobody

[2020-03-31 15:45] #79 closed

[2020-03-31 22:51] #147 closed

[2020-04-01 17:58] andrewvc opened #161 "TLS/Cert validity reporting"
Design Issue:  https://github.com/elastic/uptime/issues/159

Personas / User Stories
As someone responsible for managing TLS/SSL Certificates
I want be able to view a table of all current TLS certificates where I can determine which are in danger of becoming invalid due to either expiration or advanced age (e.g. Safari)
So that my services that rely on these certificates remain available

ACs:

-

[2020-04-01 17:59] andrewvc opened #162 "TLS Cert validity alerting"
Design Issue:

**Personas / User Stories**
As someone responsible for managing TLS/SSL Certificates
I want my certificates to be checked a regular basis and to be notified when I have a certificate that is aged over X days or within Y days the certificate expiry
So that I can ensure we aren't at risk of data being compromised or services going down from an expired certificate
AND so that I can tak

[2020-04-01 18:00] andrewvc opened #163 "Add filter dropdowns to alerting dialog"
Design Issues: TBD

Personas / User Stories
As a user of Uptime alerts
I want to have my filter selection from the UI available and pre-populated when creating an alert
So that I can create more targeted alerts
AND they match the context of what I'm seeing on the display

ACs

    "Location" values added to alert creation and pre-populated
    "Port" values added to alert creation and pre-populate

[2020-04-01 20:56] andrewvc opened #164 "[Uptime] ML job creation fails on some monitor names"
I tried to enable ML on a monitor with an autogenerated ID and got the following error:

![image](https://user-images.githubusercontent.com/131427/78185707-1b645080-7431-11ea-913a-a93967b8115b.png)

Looking in the network debugger I see the following response:

We should:

1. Surface the error visibly to the user
2. Only send valid job names. I'm a bit confused because the job name seems valid. We

[2020-04-02 01:29] andrewvc commented on #157
Closing in favor of https://github.com/elastic/kibana/issues/61836

[2020-04-02 01:29] #157 closed, assigned to nobody

[2020-04-02 07:00] katrin-freihofner commented on #161
[Design issue](https://github.com/elastic/uptime/issues/159)

[2020-04-02 07:01] katrin-freihofner commented on #162
[Design issue](https://github.com/elastic/uptime/issues/159)

[2020-04-02 08:16] drewpost commented on #138
This touches on our concerns around this page having a time picker. As long as we have that time picker, we need to have everything on the page refresh at the same rate. Mixing refresh rates would be confusing and lead to potential misinterpretation. I think a simple solution that we've discussed to address this was to put the date/time stamp of the last refresh under the list of relative times. T

[2020-04-02 14:42] justinkambic commented on #138
I think this discussion led to us deciding we should have an `updated @` visualization somewhere on the page that will denote how fresh/stale the data is, but I didn't see anything mentioning that on this thread.

[2020-04-02 17:00] #164 closed, assigned to shahzad31

[2020-04-06 10:32] #78 closed

[2020-04-06 12:48] katrin-freihofner commented on #159
## Certificates page design
![certificate-list](https://user-images.githubusercontent.com/20965076/78560397-5641fc00-7816-11ea-956c-1dd37887db29.png)

Quick walk-through
![uptime-tls](https://user-images.githubusercontent.com/20965076/78559735-34944500-7815-11ea-83b2-18fc3149c305.gif)

## Navigating to the certificates page

### From the overview
There is a button in the top right corner of the mo

[2020-04-06 13:12] shahzad31 opened #165 "Reimagine uptime landing page when no index/data"
**Is your feature request related to a problem? Please describe.**
When user lands on uptime in kibana, if they are using it first time/have no heartbeat configured, they see, simple error saying, "No Uptime index found".

**Describe the solution you'd like**
I think we should give user more info about uptime, probably by highlighting few features.
Something like

- With Uptime you can monitor you

[2020-04-07 07:16] #154 closed, assigned to shahzad31

[2020-04-07 07:19] #160 closed, assigned to shahzad31

[2020-04-07 13:09] andrewvc commented on #159
Looks great! I think you're right about the search box, we could add one that searches CommonName, SAN, `monitor.url.full` and `monitor.name` as a start. I'd think that would make sense vs. the kuery bar style where we break it out by field.  It would intuitively yield what you want 99% of the time.

[2020-04-08 09:27] katrin-freihofner commented on #159
Update from yesterdays meeting:
- We will be able to show expired certificates (red indicator in status column)
- We are going to use the EuiDatagrid instead of a table. By default, we are going to display the following columns: Status, common name, monitors, issuer, and expiration date.
- Columns can be changed and sorted. (We don't need the density or fullscreen functionality)
- By default, the

[2020-04-08 12:57] katrin-freihofner commented on #159
[Figma link](https://www.figma.com/file/lDlGXMzUTnzAlHPQu7lZAH/Uptime?node-id=130%3A1)
[Prototype link](https://www.figma.com/proto/lDlGXMzUTnzAlHPQu7lZAH/Uptime?node-id=130%3A2&viewport=390%2C342%2C0.16354478895664215&scaling=min-zoom)

[2020-04-08 12:57] katrin-freihofner commented on #161
[Figma link](https://www.figma.com/file/lDlGXMzUTnzAlHPQu7lZAH/Uptime?node-id=130%3A1)
[Prototype link](https://www.figma.com/proto/lDlGXMzUTnzAlHPQu7lZAH/Uptime?node-id=130%3A2&viewport=390%2C342%2C0.16354478895664215&scaling=min-zoom)

[2020-04-08 12:57] katrin-freihofner commented on #162
[Figma link](https://www.figma.com/file/lDlGXMzUTnzAlHPQu7lZAH/Uptime?node-id=130%3A1)
[Prototype link](https://www.figma.com/proto/lDlGXMzUTnzAlHPQu7lZAH/Uptime?node-id=130%3A2&viewport=390%2C342%2C0.16354478895664215&scaling=min-zoom)

[2020-04-08 15:21] #159 closed, assigned to katrin-freihofner

[2020-04-08 15:24] katrin-freihofner opened #166 "[Uptime UI] details for certificates"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)

As a user, I want to get more details about my TLS certificate.
@andrewvc @drewpost would you mind adding the data that we want to display for each certificate?

**User stories**

Prerequisite for this issue: https://github.com/elastic/uptime/issues/159

[2020-04-08 15:24] elasticmachine commented on #166
Pinging @elastic/observability-design (design)

[2020-04-09 13:53] shahzad31 opened #167 "Cache Index Pattern locally through LRU or Local Storage"
We should consider using cache for response sizes like index pattern, it doesn't makes sense loading them on every session.

We can safely cache Index pattern response for a month or so.

[2020-04-09 21:54] andrewvc commented on #159
@katrin-freihofner to update this with I believe where we finally wound up on the design changes:

1. We will not use a datagrid, but rather a table
2. We will use expanding table rows, as on the overview page, to show SHA1/SHA256/MD5 fingerprints as well as the full monitor list.

Did I miss anything @drewpost @katrin-freihofner ?

[2020-04-09 21:55] andrewvc commented on #166
I'm starting to wonder if iterating here is necessary at this point. Since we have other features we can move forward on, I wonder if holding off until this is in the hands of users and getting real-world feedback would be worth delaying design work here for?

@drewpost thoughts?

[2020-04-10 13:40] drewpost commented on #166
@andrewvc I'd tend to agree. I don't have a compelling customer use case for this yet. Common Name, Related monitors, Issuer and expiry date are the must have columns with a hidden option to display and copy the SHA are MVP, in my mind.

[2020-04-10 15:28] justinkambic opened #168 "[Tech debt] Improve runtime type validation of Ping Histogram"
**Describe the enhancement**
Today we have a type for the points we show in Ping Histograms, but it's not using `io-ts` for validation, and it [has been pointed out](https://github.com/elastic/kibana/pull/59392#discussion_r406123265) that the type is less than ideal in its complexity.

We should make this an `io-ts` type, add validation, and make it simpler.

[2020-04-13 10:30] #167 closed, assigned to nobody

[2020-04-13 15:09] justinkambic opened #169 "Ping List expand multiple items at once"
CC @drewpost @katrin-freihofner any thoughts/objections to the introduction of this functionality?

**Is your feature request related to a problem? Please describe.**
Today, the Ping List only allows us to expand one item at a time. It may be helpful to allow the user to expand multiple pings at once.

**Describe the solution you'd like**
Modify the component to support multiple expansions.

**Des

[2020-04-13 15:09] elasticmachine commented on #169
Pinging @elastic/observability-design (design)

[2020-04-14 01:43] andrewvc opened #170 "Provide way to integrate with metrics/infra based without matching IP/hostname"
Today it is possible to cross-link from Uptime to Infra/Metrics/APM if you have matching host names / URLs/Container IDs. However, it is not possible to do that otherwise.

We should investigate a way to do this with a synthetic ID or similar. See this discuss post: https://discuss.elastic.co/t/how-to-add-real-host-name-to-heartbeat-for-metricbeat-integration-of-website-url-ip/226288

CC @cyrille-

[2020-04-14 05:55] drewpost commented on #169
I'm fine with this feature. We may want to "plus it" and add an option at the top to expand all rows at once and then telemeterise it and see how often that's being used

[2020-04-14 07:36] katrin-freihofner commented on #169
@justinkambic absolutely! 👍 I think we should use this behavior for all our tables. I'm not so sure about the expand all, although I see that this could be useful...let me think about it.

[2020-04-14 07:37] #166 closed, assigned to nobody

[2020-04-14 13:24] #169 closed, assigned to justinkambic

[2020-04-14 18:22] shahzad31 opened #171 "Display top Anomalies list alongside duration chart"
Logs recently enhanced anomaly detection view by adding top anomalies list complimenting chart https://github.com/elastic/logs/issues/16, we can do the same for Uptime duration chart anomalies.

![image](https://user-images.githubusercontent.com/3505601/79259814-972cb700-7e8d-11ea-8223-1d08c479c1e1.png)

[2020-04-15 10:35] shahzad31 commented on #165
We can get some inspiration from Graph and missing index pattern redesign being done in kibana  https://github.com/elastic/kibana/issues/57401
![image](https://user-images.githubusercontent.com/3505601/79327892-7f007a80-7f15-11ea-8ead-105a6701308f.png)

![image](https://user-images.githubusercontent.com/3505601/79327926-8f185a00-7f15-11ea-985b-58b3f443cf13.png)

@katrin-freihofner @drewpost can we

[2020-04-15 14:04] andrewvc commented on #163
Some thoughts re: syntax

[code]

[code]

[2020-04-17 07:38] shahzad31 opened #172 "Reset filter states button on overview page"
**Is your feature request related to a problem? Please describe.**

When viewing overview, playing with different filters, it can be hard to reset page state, you have to manually clear all the filters or you have to clear the url. A hidden filter can wreck your results.

**Describe the solution you'd like**

There should be a reset button for filters, that should clear all the filters and make ov

[2020-04-17 13:30] justinkambic opened #173 "Prefer `from...to` pattern for date ranges"
Today, there's a lot of code relying on parameters for date ranges. This is really common throughout our solution. Almost all of these parameters are called `dateRangeStart` and `dateRangeEnd`. This is a really cumbersome taxonomy for such a common set of values.

We feel it would be preferable for our code to use a type like:

[code]

This type should be implemented using `io-ts` so it's easy to

[2020-04-17 20:40] andrewvc commented on #162
I'm thinking we need copy in the alert dialog that links to the settings page to adjust the days. Maybe:

"You can change the thresholds for certificate expiration warnings on the [settings] page", with 'settings' being a link. Thoughts?

[2020-04-20 08:53] shahzad31 commented on #101
@katrin-freihofner are we displaying redirects in expanded row in history panel on details page or on monitor list?

From image
![image](https://user-images.githubusercontent.com/3505601/79733194-0161b380-82f5-11ea-9d15-c8235278f604.png)

it looks like it's a expanded row in monitor list also figma link images says the same https://www.figma.com/file/lDlGXMzUTnzAlHPQu7lZAH/Uptime?node-id=130%3A1

[2020-04-20 12:26] katrin-freihofner commented on #101
@shahzad31 I think the redirect info belongs to the details page. cc @andrewvc

[2020-04-20 12:30] andrewvc commented on #101
Yes, the mock is for the history panel in the details page. Not sure where the confusing comments are, but I'm on the same page as @katrin-freihofner

[2020-04-20 12:38] shahzad31 commented on #101
Confusion was from the image actually, row style is from monitor list
![image](https://user-images.githubusercontent.com/3505601/79752388-84decd00-8314-11ea-9c71-c2c231d400bb.png)

Katrin clarified it.

[2020-04-20 12:40] shahzad31 commented on #101
I think for the monitor detail, i liked the original idea better
![image](https://user-images.githubusercontent.com/3505601/79752484-ab9d0380-8314-11ea-8091-23d5de95953f.png)

just displaying text doesn't convery much, we should also display popover with redirect list
![image](https://user-images.githubusercontent.com/3505601/79752531-c1aac400-8314-11ea-9251-a3c585b64f09.png)

In original issue, i

[2020-04-20 13:45] justinkambic commented on #162
What would be the path to get back into the flyout after that? Would they have to return to the certs page and reopen?

Could we just allow them to edit the settings from this page, with copy explaining that the values can also be viewed in _Settings_ with a link?

Alternatively, we could allow them to open the Certs alert flyout from the settings page, but that seems to go against the flow that w

[2020-04-20 14:35] katrin-freihofner commented on #101
The header gives only a quick overview. The details about redirects are further down in the table. That is why we decided to go that way.

[2020-04-21 15:17] justinkambic opened #174 "Add timestamp value tooltip on hover in Ping List"
**Is your feature request related to a problem? Please describe.**
Today, the Monitor List's relative timestamp copy (i.e. `2m ago`) provides a tooltip with the absolute time value `onHover`, like below:

![image](https://user-images.githubusercontent.com/18429259/79883086-7bf80500-83c1-11ea-958f-6cad3a9d2c70.png)

I think the Ping List on the Monitor Detail page should implement this as well:
![i

[2020-04-21 15:17] elasticmachine commented on #174
Pinging @elastic/observability-design (design)

[2020-04-21 17:43] mdelapenya commented on #161
I've some questions about the ACs:

I'd like to know if there is a strong **business** requirement to limit the number of tables in Uptime. If not, I would not add this criteria to the list, or at least to the spec. If it's a business requirement, I'd like to understand the importance of tables here. Could you please help me here? 🙏

I see this as an implementation detail, because the table could

[2020-04-21 21:24] andrewvc commented on #161
@mdelapenya It sounds like the goal is to have feature files describe just the business use case, but not any of the design details. So far we're using the issue here to capture the output of our discussions, which includes a mix of product decisions and design decisions.

With regard to the feature files would it be fair to say they capture user stories, without particular notes about implementat

[2020-04-22 05:53] mdelapenya commented on #161
Yes, I agree we need both: technical (design, implementation, ...) and product details. Maybe we can have, in the same issue, two lists of ACs: one for product criteria and technical criteria. It would be simply splitting above list into two, here in the issue. Does it makes sense?

About the feature files, yes, they should capture user stories, with no implementation detail (no clicking, no typin

[2020-04-22 14:23] andrewvc commented on #172
I'm worried about clutter here, but what about making the "Overview" header clickable to reset state?

[2020-04-22 14:39] #158 closed, assigned to andrewvc

[2020-04-22 15:41] katrin-freihofner commented on #161
The copy SHA action could look like this:
<img width="281" alt="Screenshot 2020-04-22 at 18 20 59" src="https://user-images.githubusercontent.com/20965076/80007211-3ec96b00-84c6-11ea-9848-945694171dc2.png">

I'm going to update the issue description accordingly

[2020-04-23 17:42] justinkambic opened #175 "Make settings type flat"
We have a type defined for our application's settings, but a nested data structure (like the one we use today) inherently adds complexity when modifying slices of state. We can't simply `Object.assign` our state changes overtop of the existing settings values, because if only one field is modified, the unmodified fields in a nested object are overwritten.

This leads to us doing weird things like

[2020-04-23 21:05] justinkambic commented on #162
I updated the description to reflect some new reqs about the alert state and default message we display to users, feel free to comment and share recommendations or concerns.

[2020-04-27 16:37] shahzad31 commented on #172
Another use case is if you have selected bunch of filters and if you unselect filters in such a way, that remaining few filters have no data , UI looks frozen and there is no way to uncheck those filters
Example below, selected tag and port have no data, but there is no way to uncheck them.
![image](https://user-images.githubusercontent.com/3505601/80397191-1078d080-88b6-11ea-81df-7e991e048431.png

[2020-04-27 18:28] justinkambic commented on #162
We are planning to have the Add Alert flyout default to our TLS alert when the button is clicked in our UI, but we should also determine the proper icon to use for the different alert types we support. Today, the selection dialogue would look like this:

![image](https://user-images.githubusercontent.com/18429259/80407268-5e301180-8893-11ea-9885-babead82ad4a.png)

cc @andrewvc @katrin-freihofner

[2020-04-27 21:40] shahzad31 opened #176 "[Uptime] Increase ml anomlay job analyzing data range to 2 weeks in the past"
In uptime anomaly job detection we are currently using 24h time range in the past to start analyzing data. According to ML team, it's too small a window to get significant results.
Logs team is also using 2 weeks window, in ML time, 2 weeks is a small window, there won't be enough data to generate cluttered results.
So we need to update range from 24h to 2 weeks.

[2020-04-28 08:51] katrin-freihofner commented on #162
Fyi, this is how APM handles multiple alert types.
![Kapture 2020-04-28 at 10 49 59](https://user-images.githubusercontent.com/20965076/80467514-31850400-893e-11ea-8847-87e5779e36d7.gif)

[2020-04-28 14:35] shahzad31 commented on #176
Duplicated of https://github.com/elastic/kibana/issues/64657

[2020-04-28 14:35] #176 closed, assigned to nobody

[2020-04-28 17:33] justinkambic opened #177 "Keep links to other solutions in same tab"
Previously when navigating between Uptime and other apps/solutions in Kibana, we were opening a separate browser tab so the user didn't lose access to their Uptime view while the new app loaded.

With NP migration coming in 7.8, we will be able to link between apps in a much quicker fashion, with little latency/loading. In light of this, it's probably safe to change cross-app linking to open in th

[2020-04-28 21:31] andrewvc opened #178 "View geolocation data for monitoring target"
Some [users](https://discuss.elastic.co/t/help-with-heartbeat-setup-of-locations/227555) could use the geodata for the target being monitored, not just the heartbeat instance doing the monitoring. On the map, perhaps, this might make for a nice visualization as well.

We could do this in a number of ways. For instance, we could make a per-monitor config option that allows users to statically defin

[2020-04-29 17:10] justinkambic opened #179 "Uptime alerts aren't editable in Alerting Management UI"
Even after NP migration has completed, we can't seem to edit our alerts in the management view. This requires further investigation, it's possible we are failing to complete the registration process consistent with the Alerting team's expectations.

[2020-05-01 14:04] #161 closed, assigned to nobody

[2020-05-04 10:47] shahzad31 commented on #178
i think this is a great idea, we should record this data with heartbeat regardless of if we are showing it in uptime or not, there can be useful visualization that can be created using maps app.
I know accuracy is low, but usually accuracy depends on operators. so it's somewhat useful.

[2020-05-05 00:01] #162 closed, assigned to andrewvc

[2020-05-05 01:57] andrewvc commented on #177
I'm +1 on this. Thoughts @katrin-freihofner @drewpost ?

[2020-05-05 01:59] andrewvc commented on #174
I like this idea. Looking at how it works today, I think the relative timestamps are functionally broken. In the SS provided everything looks like it was checked at the same time even though that clearly is not the case.

I'm actually wondering if it makes more sense to report an absolute timestamp instead of the relative one always. We could also add a state to the page when we detect stale data

[2020-05-05 07:50] katrin-freihofner commented on #174
- I think the tooltip is a great idea.

- To me, the absolute timestamp is harder to read that is why I would leave the relative one in the table as we have it right now.

[2020-05-05 07:52] katrin-freihofner commented on #177
That is great!

[2020-05-05 09:35] #163 closed, assigned to justinkambic

[2020-05-05 09:54] drewpost opened #180 "Client Side Experience Metrics"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)
We want to start surfacing client side metrics collected from our RUM agents in a front-end focussed dashboard view. There's three key segments of this dashboard that we'll iteratively built towards.  This issue is for the first part of that dashboard focussing specifically on displaying top level metrics.

*

[2020-05-05 09:54] elasticmachine commented on #180
Pinging @elastic/observability-design (design)

[2020-05-05 10:05] shahzad31 opened #181 "Add Visualizations in Certificate Page"
**Is your feature request related to a problem? Please describe.**
Currently we have certificate list as a table in Cert page, getting an overview from table can be hard.

**Describe the solution you'd like**

I would like to have few visualizations on certificate page, it can be a bar chart, describing upcoming charts expiring in a month, so each bar essentially tells you how many certs are expir

[2020-05-05 16:57] justinkambic opened #182 "[Testing] Add functional test for TLS alert type"
As part of our recent enhancements for 7.8.0, we added a new alert type for TLS cert expiration/age. One thing we did not include was an E2E-style functional test for the creation of this alert type.

We should add a test like this before the first BC for 7.8.0 to help ensure the stability of the new feature.

[2020-05-05 19:05] #175 closed, assigned to andrewvc

[2020-05-05 22:41] andrewvc commented on #177
Zube went nuts

[2020-05-06 02:24] andrewvc opened #183 "Add `error.code` to heartbeat errors"
We'd like to be able to collate errors in Uptime. The problem is we have two fields `message` and `type` for errors.

Message is too specific, it's indexed as full text and has things like IPs interpolated into it.

Type is mostly too coarse. It only has two values today `io` and `validate`. The former for all network issues, the latter for anything related to user validation functions. We should

[2020-05-06 08:01] drewpost opened #184 "Visitor Breakdown"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)
As RUM data includes impressions for all visitors to a monitored website, there is great variation in the user cohorts as defined by their device type, OS, browser and location. These variables can have a big impact on overall user experience but can be optimised for given that the makeup of key cohorts is kn

[2020-05-06 08:01] elasticmachine commented on #184
Pinging @elastic/observability-design (design)

[2020-05-06 08:40] drewpost opened #185 "Impactful Metrics"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)
RUM providers are all good at showing the metrics (measurements) but less good at showing some of the reasons WHY the metrics are the way they are. With this section, we are surfacing a list of data points that are highly impactful on site speed to help people using the dashboards understand the impact and po

[2020-05-06 08:40] elasticmachine commented on #185
Pinging @elastic/observability-design (design)

[2020-05-06 08:59] drewpost opened #186 "Friendly Segmentation/Filtering Controls"
**Summary of the problem** (If there are multiple problems or use cases, prioritize them)
One of the biggest problems with RUM data is that the experiences within it are so variable based on what cohort they belong to, that you really need to break down the data to get actionable insight. Right now this requires the user to know exactly what data points they are looking for (ie the field name inst

[2020-05-06 08:59] elasticmachine commented on #186
Pinging @elastic/observability-design (design)

[2020-05-06 12:52] katrin-freihofner commented on #180
I think this is how it could work
![rum-dashboard-wireframes - large@2x (1)](https://user-images.githubusercontent.com/20965076/81186697-6be04800-8fb3-11ea-95da-36f84f6124b6.png)

<img width="821" alt="Screenshot 2020-05-06 at 14 53 01" src="https://user-images.githubusercontent.com/20965076/81178995-536b3000-8fa9-11ea-87bf-1f78e1565d77.png">

[2020-05-06 12:55] shahzad31 opened #187 "Improve uptime experience for smaller screens"
OverView page issue on smaller screens

In Tablet Views

![image](https://user-images.githubusercontent.com/3505601/81177990-cd021e80-8fa7-11ea-8a77-e7f819f0a680.png)

[2020-05-06 12:58] katrin-freihofner commented on #185
I think this is how it could work
![rum-dashboard-wireframes - large@2x](https://user-images.githubusercontent.com/20965076/81178803-0e46fe00-8fa9-11ea-85b0-7d2395e68e4b.png)
<img width="821" alt="Screenshot 2020-05-06 at 14 53 01" src="https://user-images.githubusercontent.com/20965076/81178995-536b3000-8fa9-11ea-87bf-1f78e1565d77.png">

[2020-05-06 14:21] katrin-freihofner commented on #186
<img width="1151" alt="Screenshot 2020-05-06 at 16 14 44" src="https://user-images.githubusercontent.com/20965076/81187774-c332e800-8fb4-11ea-8d27-56bd1aa0533c.png">

@drewpost did I understand this correctly, that you expect our users to select multiple options? For example "Safari or Chrome". Do you think it could work if we state something like "Multiple browsers" in this case?
<img width="1236

[2020-05-06 14:27] drewpost commented on #186
@katrin-freihofner Yes, that's what I'd expect to see for a multi-option selection. If I click on the value it opens up the filter selection box with the currently selected options visible at that point.

[2020-05-06 17:59] shahzad31 opened #188 "Monitor list result runtime type issue"
Monitor list API call generate runtime type issue and prints it in console, need to fix it's type

![image](https://user-images.githubusercontent.com/3505601/81211568-da350280-8fd3-11ea-98b2-7380f2bdc86f.png)

[2020-05-06 20:31] andrewvc opened #189 "Make IDs mandatory, and hosts singular in heartbeat 8.0"
There are rarely situations where users really benefit by having an auto-generated ID. In every situation we've seen in the wild it makes more sense to specify one, even if that ID is just the URL. Having IDs gives the UI continuity and makes programming sane.

Along with this, we should rename the `hosts`, `ports` and `urls` options in heartbeat to  `host`  `url`, and `port` and make those only a

[2020-05-06 20:37] andrewvc opened #190 "Capture/Display of header data"
Sometimes if a server is available, there can still be user impacting errors. We want to capture all of the data points that come back to us in the HTTP reposes header (ie if GZIP is enabled, cookies being set, cache settings etc). The goal is then to use this data to power alerting when a change is detected.

We should add header support to heartbeat (APM already does this) then build a UI around

[2020-05-06 20:41] #182 closed, assigned to justinkambic

[2020-05-06 21:48] justinkambic commented on #161
Tested this for 7.8.0 test plan and it LGTM. Commenting in lieu of a label.

[2020-05-06 23:00] andrewvc opened #191 "Show location of monitored site in Uptime UI"
Per [this discuss thread](https://discuss.elastic.co/t/help-with-heartbeat-setup-of-locations/227555/8) it might be nice to show the location of the monitored site in the Uptime UI.

Right now the syntax in heartbeat is tricky, and we only show the source of the info in Uptime.

One challenge here is that this would only work for monitoring sites that have one geo location, many monitored URLs are

[2020-05-06 23:56] jmceniery opened #192 "Allow Uptime geo location visualisation optional"
**Summary of the problem**
The Uptime Geo location visualisation is fixed and can not  to be removed/toggled for users that have no use for this visualisation

![image](https://user-images.githubusercontent.com/56210812/81239426-fec8c300-9043-11ea-9cd1-9f696c7a7f89.png)

**User stories**
Not everybody uses IP location data, and for those who don't lose a lot of screen real estate to this visualisa

[2020-05-06 23:56] elasticmachine commented on #192
Pinging @elastic/observability-design (design)

[2020-05-07 08:30] #188 closed, assigned to shahzad31

[2020-05-07 10:35] shahzad31 commented on #191
@andrewvc isn't this duplicate of https://github.com/elastic/uptime/issues/178?

[2020-05-07 13:38] andrewvc commented on #191
Ah, you're right @shahzad31

Closing as a dupe of https://github.com/elastic/uptime/issues/178

[2020-05-07 13:38] #191 closed, assigned to nobody

[2020-05-07 21:41] justinkambic commented on #181
I have an idea for a useful visualization for this page as well.

I wanted to create a visualization that answered the question, "how are all my certs doing in terms of expiration/age right now?". The motivation to look at this viz would be to glean the overall status of all certs in the index in a few seconds.

An implementation of this visualization would display the monitor/cert info on hover,

[2020-05-07 23:33] andrewvc opened #193 "Uptime certs page doesn't show multiple certs for monitor well"
Interestingly, in the case where a site serves different certs at different times, we don't really make it easy to figure out what's going on. It appears that youtube sometimes switches certs (verified by fingerprint). In this case you'll see the page like the SS below. We should consider maybe showing cert serial number to disambiguate here. Serial numbers are only unique per issuer, however, sin

[2020-05-08 17:52] justinkambic opened #194 "Too many buckets error on Monitor List on the Overview page"
**Describe the bug**
I tried to set the page size to 100 items on the Overview list, and the page told me there was an internal server error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create 100+ monitors, let them run for some time (> 15m).
2. Attempt to set the page size of the monitor list to 100 items.
![image](https://user-images.githubusercontent.com/18429259/81433469-9a386180-91

[2020-05-08 20:20] justinkambic commented on #174
I find the same thing for the absolute values we show on the certs page today as well. It can be hard to know when an event happened relative to now when looking at absolute dates.

[2020-05-08 20:31] justinkambic opened #195 "Make default age limit for certs longer"
**Describe the bug**
We've decided to increase the age limit for TLS certificates to two years.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings
2. View default age limit
3. This should be `730`

**Expected behavior**
The default number of days for cert age limit should be `730`.

[2020-05-11 08:10] katrin-freihofner commented on #192
I'm going to move this to the Uptime board so we can discuss it in our weekly.

[2020-05-11 17:06] shahzad31 commented on #181
i think this is a great idea, it will improve user understanding of the
severity, it's far simpler to understand, i think this visualization can be
used to give users an overview and table will compliment the whole picture
including search.

On Thu, May 7, 2020 at 11:42 PM Justin Kambic <notifications@github.com>
wrote:

[2020-05-11 21:15] #195 closed, assigned to justinkambic

[2020-05-12 12:55] shahzad31 opened #196 "Duplicate Rendering cycles in Uptime Overview page"
When we navigate to Overview page in uptime, the page renders multiples times unnecessarily, generating duplicate api calls, as well as hampering load time, we need to debug and optimize render of the overview page

check below, this is single reload of overview page
![image](https://user-images.githubusercontent.com/3505601/81690880-3a0c2d00-945c-11ea-8ec9-a3462f6d0a55.png)

Page rendering 6 time

[2020-05-12 15:17] justinkambic opened #197 "Certs column in Monitor List needs to be left-aligned"
**Describe the bug**
The certs column in the monitor list is centered today, but we've gotten design feedback that it needs to be left-aligned.

![image](https://user-images.githubusercontent.com/18429259/81712013-2f449e80-9442-11ea-9ea5-d64a70afd023.png)

[2020-05-12 21:45] andrewvc opened #198 "[Uptime] Make certificate max age optional"
In 7.8 we have added a new option for letting users set a max certificate age (spec here: https://github.com/elastic/uptime/issues/162). This issue proposes that we make this setting optional and make it disabled by default. In other words, we could allow users to skip the max age check.

The reasoning behind the max age check feature is that [apple will be limiting certs](https://support.apple.co

[2020-05-13 02:05] andrewvc opened #199 "Certs page should only show currently active certs"
Today we use a 24h window for our cert report page. The problem is that means it can take up to 24 hours for a fix to be reflected in an alert. Your alert will still fire for a full day after you've fixed the issue.

This is somewhat tricky to calculate efficiently on a real-time basis. However, given that all events with cert data support the new timespan fields we can look back 5m over `monitor.

[2020-05-13 10:40] drewpost commented on #180
++ I like these. Is your view to then add the bottom panel onto this same screen or to have a tabbed nav?

[2020-05-13 12:42] andrewvc opened #200 "Heartbeat `internal` monitor"
One thing we're missing in Uptime is the ability to check if heartbeat itself is up. This could let us answer the following questions:

1. How can I tell if heartbeat itself is running?
2. What is the delay between a check being performed and the data being indexed?

Ideally this would be coupled with fleet. In the case of heartbeat itself, the only way to know if it's down is if data is missing,

[2020-05-13 13:18] katrin-freihofner commented on #184
I think this is how it could work
![rum-dashboard-wireframes - large@2x (1)](https://user-images.githubusercontent.com/20965076/81186697-6be04800-8fb3-11ea-95da-36f84f6124b6.png)

<img width="821" alt="Screenshot 2020-05-06 at 14 53 01" src="https://user-images.githubusercontent.com/20965076/81178995-536b3000-8fa9-11ea-87bf-1f78e1565d77.png">

[2020-05-13 13:27] #197 closed, assigned to justinkambic

[2020-05-13 13:32] katrin-freihofner commented on #180
Very good question! I assumed it should be on the same view - which could make the filtering easier.

[2020-05-13 13:46] justinkambic opened #201 "Register UI alert types before app `mount` event"
**Describe the bug**
Related to https://github.com/elastic/kibana/issues/65549 and https://github.com/elastic/uptime/issues/179.

Today the Uptime alert types aren't registered with the alerting UI until after our app mounts. This is too late in the setup process. Instead, we need to register our alerts at either `start` or `setup` time.

**To Reproduce**
Steps to reproduce the behavior:
1. Start

[2020-05-14 07:07] katrin-freihofner commented on #186
Another question that came to my mind:

Is there a reason why we should not use the filter bar that is used in APM?
<img width="224" alt="Screenshot 2020-05-14 at 09 05 56" src="https://user-images.githubusercontent.com/20965076/81903537-2f6ba800-95c2-11ea-9d83-e01543e22b92.png">

It seems more scaleable to me.

[2020-05-14 07:12] formgeist commented on #186
We'll be making some improvements to that component soon-ish https://github.com/elastic/kibana/issues/49153

[2020-05-14 08:02] katrin-freihofner commented on #186
Great - thank you!

[2020-05-14 10:11] #187 closed, assigned to shahzad31

[2020-05-14 15:17] #199 closed, assigned to andrewvc

[2020-05-14 18:27] SlavikCA opened #202 "Downtime history shows incorrect data"
**Describe the bug**
I have one monitor, which is down for a couple hours (~9 hours) already.
Uptime monitor status is "Down", as expected.
However, "Downtime history" shows no down history and says: "This monitor has never been down".

**To Reproduce**
My monitor config:
[code]

I'm using Elastic Cloud version 7.7 of Elastic and Kibana.
The heartbeat is installed on Ubuntu and is version 7.7.
The

[2020-05-14 18:30] SlavikCA commented on #202
And here is the detailed view of the same monitor:

![Screen Shot 2020-05-14 at 11 29 30 AM](https://user-images.githubusercontent.com/6293679/81971638-40beaf80-95d6-11ea-9a37-255d66bed8ff.jpg)

[2020-05-15 01:52] DanRoscigno opened #203 "Alerts created from Uptime app do not allow filter specification via selecting from suggestion"
7.7.0 ESS in Azure

**Describe the bug**
When creating a filter for an alert I cannot choose one of the suggestions that Kibana provides.
**To Reproduce**
Steps to reproduce the behavior:
1. Click on Alerts > Create
2. Start typing in the filter, for example `monitor`
3. Try clicking on `monitor.name`
4. Notice that focus shifts away from the flyout

**Expected behavior**
I expect that the suggest

[2020-05-15 07:36] shahzad31 commented on #202
Hi @SlavikCA thanks for reporting the problem, we have already fixed it in 7.8 https://github.com/elastic/kibana/issues/64017
We will evaluate now, if we want to backport it to 7.7.x.

Thank you

[2020-05-15 12:43] shahzad31 opened #204 "kuerybar shows index pattern loading error while loading"
Kuerybar on uptime overview page shows yellow loading error on page reload, when index pattern is loading, it shouldn't show that on load

![image](https://user-images.githubusercontent.com/3505601/82051557-645b2600-96ba-11ea-99ea-1ab60600bacd.png)

[2020-05-15 15:47] andrewvc opened #205 "Add URL to Up/Down alerts"
We should satisfy the following story:

I think we can do this by making `downMonitorsWithGeo` include the URL in the output.

[2020-05-15 22:24] justinkambic opened #206 "Preserve monitor status alert parameters' atomicity"
**Describe the bug**
When we designed the Monitor Status alert, we engaged in a little premature optimization when it came to how we stored our parameters. At the time, we were unable to support editing; because of this we overlooked the need to be able to re-create the UI state based on the parameters we stored for our executor function.

For example, we're storing the definition of the time wind

[2020-05-18 12:07] shahzad31 commented on #203
Seems like a bug in on mouse click event, @DanRoscigno can you please verify if it works fine with keyboard ?

[2020-05-18 12:37] DanRoscigno commented on #203
Interesting, I never tried to use keyboard.  What should the experience be? Something like type, tab, return?

[2020-05-18 12:38] shahzad31 commented on #203
so you will type, and will see suggestions, and using key up/down, once the field, you want to select, press enter.

[2020-05-18 12:48] DanRoscigno commented on #203
keyboard navigation works partially.  If the suggestion list does not need to scroll then it works.  If it needs to scroll I have to use the mouse to scroll and then the arrow to highlight the proper entry, and then enter to select.  If the list does not need to scroll then I can just use keyboard.