[2022-01-05 19:48] andrewvc opened #432 "[META] Suite Discovery / Monitor Management Integration"
Suites, today, operate in a stateless manner, and have a number of UX shortcomings especially when it comes to error reporting (see https://github.com/elastic/beats/issues/27924). This issue is the longer term fix for https://github.com/elastic/uptime/issues/425.

The proposed fix here (originally @drewpost 's recommendation) is to use suites to control the monitor management objects in Uptime.

#

[2022-01-05 19:49] andrewvc commented on #425
This is now superceded by:

https://github.com/elastic/uptime/issues/431
and
https://github.com/elastic/uptime/issues/432

[2022-01-05 19:49] #425 closed, assigned to nobody

[2022-01-06 00:21] vigneshshanmugam commented on #432
Had some conversations with Andrew regarding the approach listed here vs https://github.com/elastic/beats/issues/29709, Even though the manifest proposal explained here is a bit complex than the other one, it does have better control over the journeys/monitors that are created via suites. It solves both the personas listed above and allows more fine tuning on the journey level.

### Needs solving

[2022-01-06 16:18] #427 closed, assigned to nobody

[2022-01-06 16:18] #428 closed, assigned to nobody

[2022-01-06 17:21] dominiqueclarke opened #433 "[Meta] Uptime UI Enhancements for Synthetics Service Beta"
### Management page, "legacy" monitors
- [ ] UI Monitor Management Monitors Table - "Legacy" Monitors

### Monitor management page, metrics
- [x] elastic/uptime#414

### Filters
- [x] https://github.com/elastic/kibana/issues/120785
- [x] https://github.com/elastic/kibana/issues/121126

### Search
- [ ] Add search bar to UI Monitor Management table

### Sorting
- [x] https://github.com/elastic/kiba

[2022-01-06 21:12] andrewvc opened #434 "[Heartbeat] Run_once blocks on `kill -15` when output is blocked"
When the elasticsearch output (or presumably other outputs) are blocked in `run_once` mode heartbeat cannot be killed with `kill -15` (or `ctrl-c`). We should probably fix this, but it may involve libbeat changes.

[2022-01-06 23:30] andrewvc commented on #431
Having spoken to @liciavale about this, I think we should revisit the idea discussed here: https://github.com/elastic/beats/issues/27924#issuecomment-992861432 . While a generic error facility may be useful, we're straying a good ways from the initial use case. In our conversation we discussed that it makes more sense for the entities on the overview page to mirror those on the monitor management

[2022-01-10 09:49] #415 closed, assigned to nobody

[2022-01-10 12:41] dominiqueclarke commented on #431
@andrewvc
I'm on board with keeping monitor management and overview in sync, however part of the original goal was to find a fix for this issue that also worked in the short term, and ideally also for `heartbeat.yml` based monitors.

It sounds like we should continue to pursue the generic error facility, and plan the proposed UX into an upcoming suite feature for Monitor Management.

A generic err

[2022-01-10 15:05] paulb-elastic commented on #391
@drewpost to find out some more about the *why* for this, for example, to handle the unreliability of ICMP for example with retry capabilities.

[2022-01-10 15:35] paulb-elastic commented on #417
Thank you for the suggestion and identifying the use case you’re trying to achieve.

There are some considerations around having a consistent behaviour between filters (e.g. `AND` makes sense for `tag`, but does not for `port`, however this would introduce a difference in behaviour).

Right now, this would have to be achieved using the KQL query bar with the search term `tags : "service" and tags

[2022-01-10 15:35] #417 closed, assigned to nobody

[2022-01-10 18:24] dominiqueclarke commented on #363
@paulb-elastic automation runs hourly so automation would have been run before `8.0.0-beta1` was built.

[2022-01-10 18:45] vigneshshanmugam commented on #431
Agree with the confusion part.

Just a thought, What if we establish a relationship between the suite and the final monitors that are created from it and nest them inside the `My Suite` monitor?

The relationship does already exists and we don't use them anywhere on the UI, I thought this would be a nice opportunity to explore that idea.

[2022-01-10 18:48] dominiqueclarke commented on #363
User Experience
--
A test upgrade was performed in cloud on the cloud first testing region from `7.16.2` to `8.0.0-beta1` for User Experience. After the upgrade, the User Experience app ceased to show data. After investigating, APM Server was dropping unsampled transactions in `8.0.0-beta1` causing a broken experience in the User Experience app.

Sampled transactions should no longer be dropped in

[2022-01-10 18:59] dominiqueclarke commented on #363
@paulb-elastic Here I was referring to elastic/kibana#112757. This has been tested in `8.0.0-rc1` and is working as expected with heartbeat version `7.16.2`.

[2022-01-10 23:36] huemac commented on #391
Hi @paulb-elastic
This is useful when we have heartbeat deployed to multiple availability zones (e.g. in Azure) and we only want to be alerted if an endpoint is reported down on ALL the az's.
It may be acceptable for the application that is under monitoring to be inaccessible from some az's. But if all heartbeat deployments are all reporting the endpoint as "Down", then there is a real issue that

[2022-01-11 02:28] andrewvc opened #435 "[Kibana] Suites tab on overview page"
# NEW PLAN

After discussing with @liciavale it makes more sense to not implement this flow but the forthcoming suites management flow, which is closer to the new synthetics app and thus will be less effort with maximal code re-use. Let's pause on this till the right issue is filed there.

# IGNORE BELOW

This supercedes https://github.com/elastic/uptime/issues/431 in solving https://github.com/el

[2022-01-11 02:29] andrewvc commented on #431
After speaking with @liciavale I'm closing this in favor of https://github.com/elastic/uptime/issues/435 . Still open to any good reasons not to go in the new direction, but let's move the convo there for now.

[2022-01-11 02:29] #431 closed, assigned to nobody

[2022-01-11 10:18] paulb-elastic commented on #363
Thank you @dominiqueclarke for running through all the testing, especially with the various other issues that made this more complex.

[2022-01-11 10:18] #363 closed, assigned to dominiqueclarke

[2022-01-11 20:16] andrewvc commented on #435
TODO: Make a follow-up issue to cover displaying those errors in monitor management

[2022-01-12 09:29] paulb-elastic commented on #323
@drewpost can this be closed now, in favour of the upcoming Synthetics App UI?

[2022-01-13 11:17] shahzad31 opened #436 "Use Mtls to communicate with synthetics service"
Synthetics service has implemented dual auth strategy using credentials or Mtls, kibana is using credentials and Basic auth to communicate with synthetics service currently.

We need to read ssl certificates used by kibana to communicate with elasticsearch on cloud within uptime plugin and use those existing certificates to create an HttpAgent , that will be provided to axios client to communicate

[2022-01-14 09:40] shahzad31 opened #437 "Implement one shot/test now mode while adding/editing monitors"
As part of monitor management we need to implement test now mode while user is adding/editing monitors. So that user can instantly run the monitor, validate the changes via inline results.

## Browser Monitors:
For browser monitor we can use existing step list to display results inlne

## Simple monitor:

For simple monitors we will display ping list for results

## Filtering:
Test now results sho

[2022-01-14 17:24] #436 closed, assigned to shahzad31

[2022-01-17 16:16] paulb-elastic opened #438 "[Uptime] Show suite errors on Monitor Management"
Following on from https://github.com/elastic/uptime/issues/435 (which adds a new tab for showing suite errors in the Uptime Monitors (overview) page), these should also be shown in Monitor Management, as that’s the page where a user will CRUD a monitor (a user could well stay on this page before going to the main Uptime/Monitors page).

ACs:
* The Monitor Management page should show any suite erro

[2022-01-17 16:16] paulb-elastic commented on #435
https://github.com/elastic/uptime/issues/438 raised

[2022-01-18 13:27] #401 closed, assigned to awahab07

[2022-01-18 13:28] #402 closed, assigned to nobody

[2022-01-18 13:28] #403 closed, assigned to nobody

[2022-01-20 10:17] #437 closed, assigned to shahzad31

[2022-01-20 20:08] paulb-elastic opened #439 "[Uptime] Show inline errors on Monitor Management"
This is the `inline` error version of those we'll be adding for `suites` in https://github.com/elastic/uptime/issues/438.

This depends on https://github.com/elastic/beats/issues/29897.

As a Synthetics Service User
I want to clearly see if my inline script has a problems (syntax error) that is preventing the monitor from running
So that I quickly debug the issue to a resolution and get the monito

[2022-01-24 11:19] shahzad31 opened #440 "Implement run now/trigger now mode in UI"
This is an extension of one shot mode in the UI which was added while adding/editing monitors. Those test runs doesn't appear in actual results.

Run now mode will be handled from the overview list.

Basic use case is that, user sees a monitor up/down and they want to trigger a run for that, essentially bypassing it's scheduled run.

1. Monitor should run and display results as soon as the result

[2022-01-24 19:34] andrewvc opened #441 "[Agent][Synthetics] On prem monitoring locations via Fleet. AKA Private Location"
We'd like to shift away to a new type of synthetics integration termed "Synthetics Node", where each installation of the integration represents a new custom monitor location rather than a discreet monitor.

Jump below the ACs for a narrative description:

ACs
- User can create synthetics node integration including location details
- User can perform checks from that location in the uptime app
- Us

[2022-01-24 19:35] andrewvc commented on #441
Paul had asked a question elsewhere:

I'm +1 on exposing this all separately

[2022-01-24 20:27] shahzad31 opened #442 "Allow importing existing monitors via `heartbeat.yml` file"
With new monitor management UI, user can add HTTP/TCP/ICMP and browser monitors.

Our existing customers likely have many `heartbeat.yml` based monitors.

We should add an import utility in management UI, where user can select those files or either copy/paste those .yml based monitors, i think it's going to be low cost effort.

We may have to filter out few of the options we don't support in our m

[2022-01-25 10:44] paulb-elastic commented on #441
Can I just check the behaviour, based on these two statement:

and

Does this mean that the user has no control over how the load balancing happens, but load balancing does happen (in that the monitors are shared across all agents in the policy, in which case, how is this done, half and half, or some other kind of sharding)?

[2022-01-25 11:51] paulb-elastic commented on #323
Agreed with @drewpost that this can be closed in favour of the upcoming Synthetics App UI.

[2022-01-25 11:51] #323 closed, assigned to nobody

[2022-01-25 12:04] shahzad31 commented on #323
@paulb-elastic will that also cover user experience app?

[2022-01-25 18:59] paulb-elastic commented on #323
Eventually, yes (although that will come after the initial focus on Synthetic (Lightweight + Real browser) monitors)

[2022-01-26 11:00] shahzad31 opened #443 "Add mappings for test now/run once mode"
We are adding few fields from UI for test now mode and run once mode.

We are using heartbeat fields api for ingesting those fields

But we should add explicit mapping for those.

So far i have identified following fields

`config_id`. This is a configId, essentially a kibana saved object id. This is being using in test now mode while adding/editing moniotrs.

`test_run_id` This is being used in T

[2022-01-27 11:42] paulb-elastic opened #444 "[Monitor Management] Monitor Type drop down not selectable by mouse in Firefox"
Using the `main` branch (so, what will be `8.1.0`).

When using Firefox and attempting to select the type of monitor (TCP, ICMP etc.) from the Monitor Management, Add Monitor page, I cannot select anything with the mouse, as it remains on the default HTTP selection.  The only way I can select it, is to use the keyboard to scroll down and then press enter.

https://user-images.githubusercontent.com

[2022-01-27 12:56] paulb-elastic opened #445 "[Monitor Management] Test Now progress and results often not visible in viewport"
When using the **Run test** option (added in https://github.com/elastic/uptime/issues/437) whilst adding a monitor (before saving it, to check it works), it’s often not possible to see the progress or results, in the viewport, so as a user, I don’t know anything is happening (in fact, I thought the button wasn’t working initially, until I randomly scrolled up).

The following video shows the UX ru

[2022-01-27 12:58] shahzad31 commented on #445
With current design, it should definitely auto scroll up once button is pressed.

[2022-01-27 14:31] paulb-elastic commented on #445
To add some detail, it's behaving as shown in both Firefox and Chrome.

[2022-01-27 17:12] dominiqueclarke commented on #443
This needs to be added to the Synthetics Integration and released to production before `run_once` will work in our tech preview clusters.

[2022-01-28 11:18] shahzad31 opened #446 "Implement permission for monitor management"
We need to enforce kibana save permissions on uptime monitor management

User without `uptime:save `permissions shouldn't be able to Add/Edit/Delete uptime monitors

[2022-01-28 15:31] paulb-elastic opened #447 "[Exploratory View] Better option for showing ping status"
**This is an Uptime specific use case, so is expected to be handled by the Synthetics/RUM team as opposed to the Unified Observability team**

There are cases where it is useful to represent the **Pings over time** chart that’s available in Uptime, within Exploratory View (with further options to save in a custom dashboard, or further modify in Lens (for example, in a recent [forum post](https://d

[2022-01-28 23:08] dominiqueclarke commented on #443
@andrewvc @shahzad31 Do we need to add these mappings to beats as well? Seems to me that this is only applicable for the service.

[2022-01-31 14:49] paulb-elastic commented on #414
This won't get implemented in Uptime, but considered in the Synthetics App, and options considered there.

/cc @liciavale

[2022-01-31 14:49] #414 closed, assigned to nobody

[2022-01-31 18:49] paulb-elastic commented on #433
More UI enhancements moved to 8.3 planning

[2022-02-01 09:24] shahzad31 opened #448 "Handle API keys for the synthetics service"
## Current Implementation:
We are using Elasticsearch API keys in the heartbeat to communicate with Es. We generate one API key when user creates a monitor for the first time, we store that as an encrypted saved object.

Every-time we need to pass monitor configs to the service, we decrypt that saved object and pass the API keys along with es host to the service, which then get passed along to the

[2022-02-01 13:21] paulb-elastic opened #449 "Migrate away from deprecated indexPattern Service"
Uptime requirements for handling https://github.com/elastic/kibana/issues/124063

More details to follow...

[2022-02-01 14:47] dominiqueclarke opened #450 "Telemetry V2 Migration of Existing Stack Stats"
This issue is targeting migration our current kibana-snapshot-powered telemetry to the new ingestion system.  Known tasks (based on the [end-to-end example](https://github.com/elastic/telemetry/blob/main/kpi-engine/custom-index-creation.md#an-end-to-end-example-using-the-new-endpoint)) are:

- [x] Add index configuration https://github.com/elastic/telemetry/pull/970
- [x] Add staging jenkins index

[2022-02-01 16:07] #446 closed, assigned to shahzad31

[2022-02-03 20:00] #440 closed, assigned to nobody

[2022-02-04 09:09] shahzad31 commented on #439
@paulb-elastic @drewpost i am bit confused what's the scope of errors here.
Do we display errors when journey can't even start, or any error will appear here?

[2022-02-04 09:16] drewpost commented on #439
I think the wording is confusing. This page is meant to only show an error if it's related to monitor config (in this case a syntax error in an inline script). It does NOT show the status of test runs.

The confusing part is mentioning showing the same errors as on the overview page. What this means is that if a monitor is unable to run because of an error, we want to tell users of that on the ove

[2022-02-04 11:18] paulb-elastic commented on #439
Apologies for any confusion.  Correct @drewpost, this is to show users when there is a problem with the monitor configuration (script code), which means it cannot run (i.e. we are unable to determine if the site under test is UP or DOWN).  It is **not** meant to reflect the status of the monitor (UP or DOWN).

The reference to _…the same errors as on the overview page_ which may have caused confus

[2022-02-07 14:34] #378 closed, assigned to drewpost

[2022-02-07 14:38] #379 closed, assigned to nobody

[2022-02-07 14:38] #380 closed, assigned to nobody

[2022-02-07 14:38] #381 closed, assigned to nobody

[2022-02-07 14:38] #382 closed, assigned to nobody

[2022-02-07 14:38] #383 closed, assigned to nobody

[2022-02-07 14:38] #384 closed, assigned to nobody

[2022-02-07 14:38] #385 closed, assigned to nobody

[2022-02-07 16:04] paulb-elastic opened #451 "[Monitor Management] Deleting a monitor should prompt "Are you sure?" before removing"
The current Monitor Management UI deletes a monitor as soon as clicking the trash icon, which can easily be done by mistake:

![Video_2022-02-07_160136](https://user-images.githubusercontent.com/70908889/152825082-b8181bf2-5c58-4f44-a330-6964525d0e2c.gif)

As a user of Monitor Management
I want to confirm I really want to delete a monitor before it’s removed
So that I don’t accidentally delete the

[2022-02-07 18:46] shahzad31 opened #452 "APM Service name mappings are missing from synthetics-*"
We add apm service name as `service.name` in synthetics, but it's mappings are missing. We should map it as `keyword`.

- [x] Heartbeat side done in https://github.com/elastic/beats/pull/30324
- [x] Integration package side in https://github.com/elastic/integrations/pull/2725

[2022-02-08 17:48] paulb-elastic commented on #443
This is done

[2022-02-08 17:48] #443 closed, assigned to nobody

[2022-02-08 20:22] awahab07 commented on #444
Should be fixed with #445

[2022-02-08 20:22] #444 closed, assigned to awahab07

[2022-02-09 15:01] paulb-elastic commented on #444
@awahab07 just cross referencing a comment to the drop down here, with the referenced PR: https://github.com/elastic/kibana/pull/125017#issuecomment-1033694893

[2022-02-09 15:35] paulb-elastic opened #453 "[Spike] Investigate separate Index lifecycle policies for each datastream"
All monitors added in **Monitor Management**, use data streams to write back results to ES.  There is a separate data stream for each monitor type (ICMP, HTTP or TCP), with browser monitors being further split down between the type of data we store (network, screenshot etc.).

In addition, the namespace that’s been defined when setting up the monitor (which will be `default` by default), is append

[2022-02-09 16:46] dominiqueclarke commented on #453
Looks like Fleet may be keen to allow configuring ILM policies per data stream, based on this comment. https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/server/services/epm/packages/_install_package.ts#L124
I also seem to remember having this conversation a while back.

@jen-huang Has moving forward with ILM policies per data stream been discussed at all on the Fleet side?

[2022-02-10 08:51] shahzad31 opened #454 "Move UX server side code out of APM UI"
We still have node server side code in the APM UI for user experience app, we need to move that out of APM UI.

This is a follow up to https://github.com/elastic/kibana/issues/78430

There are two approaches that will be taken to accomplish this.

User exploratory view to replace charts, this will auto remove server side routes and will make charts completely client side.

In cases where we can't

[2022-02-10 09:04] shahzad31 opened #455 "Enable single metric charts on exploratory view"
Lens allows metric visualisation where you can add a single metric to the chart, like average page load time value

<img width="1064" alt="image" src="https://user-images.githubusercontent.com/3505601/153373698-8d767c41-fd1e-4b65-beb9-fddcd5360954.png">

we have many of those visualisations in user experience app, to get rid of UX app code from APM UI, we need to enable single metrics in explorato

[2022-02-11 10:37] #451 closed, assigned to shahzad31

[2022-02-11 16:20] shahzad31 commented on #452
we still need these for integration side of things.

[2022-02-14 22:59] #452 closed, assigned to andrewvc

[2022-02-14 23:36] jen-huang commented on #453
Hi @dominiqueclarke, it is possible* today to set different policies for different datasets (i.e. `browser.network`, `http`) by making use of the component templates that Fleet already installs. It is not possible to set them at the namespace level (i.e. `http-jenNamespace`). We have a proposal of how to achieve namespace-level policies, which involves creating even more component templates, but t

[2022-02-15 11:21] awahab07 opened #456 "[Monitor Management] Add Monitor form becomes invalid before user interaction"
In Uptime -> Monitor Management, when user lands on Add Monitor page, the form starts with an invalid state. All required fields show validation error messages on start.
<img width="1134" alt="Screenshot 2022-02-15 at 12 09 45" src="https://user-images.githubusercontent.com/2748376/154051418-c593467e-431c-41b8-9fa5-c67764d0b506.png">

### AC
The form should only becomes invalid after user has inte

[2022-02-15 15:33] #445 closed, assigned to awahab07

[2022-02-15 16:32] shahzad31 commented on #400
Closing this as pieces needed for tech preview are already done !!

[2022-02-15 16:32] #400 closed, assigned to nobody

[2022-02-15 17:39] paulb-elastic commented on #426
Discussed in refinement, input will have a URL and text input (to be on the loaded page) only

[2022-02-15 17:41] paulb-elastic commented on #449
@shahzad31 to add more details here, including the User Experience app

[2022-02-16 12:38] paulb-elastic opened #457 "Issues with Test Now in Monitor Management UI"
There seem to be some issues in the current **Test Now** feature in Monitor Management.

# Timeout / delay loading screenshots

On a multi step monitor, it seems that the screenshots are not initially loading (often they will load for later steps, but not the first ones).  The screenshots are there, as they can be seen if collapsing/expanding the result, or opening the result in a new tab.

![Vide

[2022-02-16 12:47] shahzad31 commented on #457
I am going to resolve few of these issues with new inline errors capabilities. Will update the issue accordingly

[2022-02-16 12:56] paulb-elastic commented on #426
Here is an example of the new flow

![image](https://user-images.githubusercontent.com/70908889/154268597-5081432a-0e20-4aac-b7b7-e25d06264ac1.png)

    1. What level of validation should we perform?
    2. How do we determine the page is 'done'?

Validation:
* Validate the URL input (mandatory), just like we do for the HTTP monitor type
* In terms of validating the monitor, just a text assertion

[2022-02-16 17:28] paulb-elastic opened #458 "Maintain history when a monitor is modified and include sequence of steps"
Monitors can often change over time as the website under test may subtly change.

For example, imagine a monitor with a journey configured with the following steps:

* My Monitor
  * Step 1 - Homepage
  * Step 2 - Click My Account
  * Step 3 - Type username and password
  * Step 4 - Click Login button
  * Step 5 - View Order History

At some point, the website changes, and makes the username and p

[2022-02-16 17:44] lucasfcosta commented on #435
As we have discussed in https://github.com/elastic/synthetics/issues/451, we'll proceed with the term suites for now.

It seems like @liciavale has already taken care of separating the suite creation flow from the individual monitor creation flow, and, therefore, this issue already adheres to the terminology set in the aforementioned issue.

**From a terminology point-of-view, no further refinemen

[2022-02-16 17:55] lucasfcosta commented on #438
We were discussing the terminology proposal in https://github.com/elastic/uptime/issues/438 earlier today, and we have agreed to proceed with the term `suite` for now.

During that meeting, we've also seem Annalisa's designs which do separate the creation of suites from monitors, and the further impact it would have in this issue.

We haven't however, decided on whether we'd like to tackle suites

[2022-02-23 15:54] dominiqueclarke commented on #406
Tested 500 regular monitors vs 500 encrypted monitors for load on Kibana.

I used HTTP monitors for these tests. HTTP monitors contain the most amount of fields that need potential encryption, including things like request headers, response body checks, TLS settings, and more.

Control (Simple)
<img width="594" alt="Screen Shot 2022-02-18 at 4 10 48 PM" src="https://user-images.githubusercontent.c

[2022-02-23 16:50] dominiqueclarke commented on #448
@shahzad31 does this mean that in order to use suites, a user has to have permissions `manage_security`, `manage_api_key`, `manage_own_api_key`.

Let's assume we have an admin with API key privileges and an uptime user without API key privileges. Is there a workflow where we can have an admin first "set up" the API key? Or does the API key for permissions to write to saved objects need to be tied

[2022-02-23 17:03] #456 closed, assigned to awahab07

[2022-02-23 17:38] paulb-elastic commented on #441
@andrewvc has confirmed that with the approach (of passing the policy through to the Agent when the monitors are changed in Uptime), the policy will be applied to any/all agents assigned to that policy, so each would duplicate the workload (i.e. there is no sharing or sharding of the workload, all agents will run all monitors).

In realty, the expectation is that there should be a single Agent con

[2022-02-23 22:06] jportner commented on #406
Here's a link to a Kibana PR where we've done some performance testing of encrypted saved objects: https://github.com/elastic/kibana/pull/72420#issue-661766046

[2022-02-23 23:08] dominiqueclarke commented on #406
One thing to note is that I did include a rather large list of fields to encrypt in my POC, upwards of 30, to be safe. We could likely see performance improvements if we determined only a smaller subset of fields actually needed to be encrypted. https://github.com/elastic/kibana/pull/125168/files#diff-0e2159135205dee5b6cef3d83eebf4767f94b3a664d68887a2489c77d7ad6574R39

[2022-02-24 03:37] andrewvc commented on #448
We could always have the service pull the API key from the discovery job and use it in the execution jobs if that's easier for suites I should mention.

[2022-02-24 09:49] paulb-elastic commented on #441
As part of this, the plan is to deprecate the current **Synthetics Integration**, so we only have one.

**Question** - what do we do about existing integrations that are set up when we do this (and upgrade the stack)?  Are we expecting a migration (to the saved object version)?  Assume we’d need the new to be integration installed by default to handle the index patterns (which are currently manage

[2022-02-24 11:50] drewpost commented on #441
Thanks Paul. Even though the product is in beta, I think that providing an automated migration path for users of the soon to be deprecated version of the synthetics integration is the right thing to do.

[2022-02-24 21:14] dominiqueclarke commented on #453
As Jen mentioned, it is possible today to create different ILM policies tied to specific datasets within the integration package spec. Unfortunately, we are blocked on namespace-level customizations as mentioned above.

Draft POC: https://github.com/elastic/integrations/pull/2744

This draft creates separate ILM policies for each data set, browser, browser.screenshot, browser.network, HTTP, ICMP,

[2022-02-26 13:46] drewpost commented on #453
@dominiqueclarke - We have the retention period defined by data type requirements already however we didn't go into the depth of hot/cold storage tiers as this was an option that the implementation gave us. Is that storage tier definition all you need (alongside the retention periods) to define OOTB settings?

[2022-02-28 12:36] paulb-elastic commented on #407
Last item (https://github.com/elastic/kibana/issues/125739) done, so closing

[2022-02-28 12:36] #407 closed, assigned to nobody

[2022-02-28 17:12] paulb-elastic opened #459 "Test Now should run from all locations"
When using the **Test Now** feature, a test should be run from all the locations that have been selected for that monitor.  Currently, the test only runs from one location.

There are two ways a test can be run **now**
* From the Uptime Monitors (Overview) page
  * Using the **Test now** button
* In Monitor Management
  * When adding/editing a new monitor, using the **Run test** button
  * When la

[2022-03-02 16:28] jportner commented on #406
We spoke offline in Slack, @azasypkin clarified that our benchmark indicates ~30ms to decrypt each saved object (with significant HTTP overhead), and he suggested that a best practice is to encrypt _all_ saved object attributes in a single field to reduce overhead. Dominique indicated she would try that next week and get back to us for next steps.

In the meantime, it's clear we are lacking proper

[2022-03-02 18:05] paulb-elastic opened #460 "Content download wrong for cached requests"
It seems that the content download for a network request are incorrect and _filling_ up the duration of the step, for cached network requests.

Specifically, if the script is configured to wait for something to appear on the page, irrespective of the load state (a common use case to wait for and assert that some content exists on the page), the content download is being reported as the duration of

[2022-03-02 20:17] vigneshshanmugam commented on #460
Seems like the reported events from Synthetics agent is wrong.
[code]

Performance metrics are indeed reported correctly.
[code]

We are not handling the resources that are loaded from cache on successive runs correctly. However if we are moving to the newer version of PW, we can bring the new logic that works on top of PW events https://github.com/elastic/synthetics/pull/372 and not need to handl

[2022-03-07 16:34] paulb-elastic commented on #458
For reference, right now (using Monitor Management, and running a test through the service), changing the `Type username and password` step to become two separate `Type username` and `Type password` steps, looks like this in Lens (having made no changes in Lens):

![image](https://user-images.githubusercontent.com/70908889/157074023-a1ef8927-c170-40c8-b79b-9d966333aeeb.png)

Similarly, in Explorat

[2022-03-07 21:51] andrewvc opened #461 "Add proper recorder download pages"
We currently release the synthetics recorder via github. We should move to proper download pages on elastic.co once we have code signing.

There's an open question around whether we align the recorder with stack releases. I'd propose that we do this simultaneously for the simple reason that customers won't have to worry about compatibility with the Elastic stack etc.

We should only do this once w

[2022-03-07 23:01] dominiqueclarke commented on #406
@jportner @azasypkin Good news, adding all fields under a single payload has taken the average to decrypt 500 synthetics monitors down to approximately 3500 milliseconds on average. I haven't calculated load on Kibana CPU yet, but you can already plainly see that the issue is all but resolved.

[2022-03-08 18:42] paulb-elastic commented on #458
In the case of changing the name of the monitor (in Monitor Management), which was done between 18:20 and 18:25, it maintains history in the Uptime results view:

![image](https://user-images.githubusercontent.com/70908889/157303626-fb449938-46b6-4c78-a671-ea9142fdad44.png)

However it does not in Lens (where the monitor appears to have stopped):

![image](https://user-images.githubusercontent.com

[2022-03-09 17:00] dominiqueclarke commented on #453
@drewpost Sorry for the delay. That is correct.

[2022-03-14 14:16] dominiqueclarke commented on #453
Findings of the spike
---
cc: @drewpost @paulb-elastic @andrewvc

Segmenting by data set
---
Segmenting by data set is possible today in the Integration Package spec. Defaults for each data set can be specified, resulting in the creation of new ILM policies for each data set and component templates for each data set pointing to the specified ILM policies.

Segmenting by namespace
---
Segmenting by

[2022-03-14 17:55] paulb-elastic commented on #458
We are going to leave this based on the name (for monitor and step) for the time being

[2022-03-14 22:08] andrewvc commented on #432
Closing in favor of https://github.com/elastic/synthetics/issues/470

[2022-03-14 22:08] #432 closed, assigned to nobody

[2022-03-14 22:09] andrewvc commented on #435
Closing in favor of https://github.com/elastic/synthetics/issues/470

[2022-03-14 22:09] #435 closed, assigned to nobody

[2022-03-14 22:09] andrewvc commented on #438
Closing in favor of https://github.com/elastic/synthetics/issues/470

[2022-03-14 22:09] #438 closed, assigned to nobody

[2022-03-15 11:36] drewpost commented on #455
@shahzad31 does this mean we can't remove the code from APM until this is done? Is this a hard dependency?

cc @paulb-elastic

[2022-03-15 11:48] shahzad31 commented on #455
Yes, i think that's the path we want to take. Though we can also use asyncsearch directly to remove remaining code out of APM.

[2022-03-15 18:51] dominiqueclarke commented on #441
Summary from 3/15/12 Meeting
---
In attendance: @andrewvc @paulb-elastic @joshdover @mostlyjason @dominiqueclarke

Synthetics to move forward with the above plan, with the caveat that users of Synthetics Node will require Fleet ALL permissions in the first iteration.

With regards to future iterations, @joshdover to perform a POC for RBAC evolution. This POC was originally focused on the Endpoint

[2022-03-16 19:34] vigneshshanmugam commented on #460
Timed boxed this issue and confirmed this is an edge case and we can defer it along with updating PW version which would require rewriting the logic around Network timing information along with fixing popups and requests on subsequent pages.

Moving this to backlog.

[2022-03-21 12:04] paulb-elastic opened #462 "Separate Index lifecycle policies for each dataset"
Following on from the [spike uptime#453](https://github.com/elastic/uptime/issues/453), this is the implementation issue to get this feature added (understanding that the platform does not currently allow separation based on namespace, but may do [in the future](https://github.com/elastic/kibana/issues/121118#issuecomment-1066845288)).

As a user of Synthetic Monitoring (lightweight and browser)
I

[2022-03-21 12:26] joshdover commented on #462
From my understanding this should be implemented by adding new ILM policies to the `synthetics` package, and there should not be any custom Kibana code needed to support this.

One thing to note is the current issues we have around privileges for ILM policies, which will likely require some privilege changes to Elasticsearch's kibana_system role definition. Please see https://github.com/elastic/pa

[2022-03-21 17:26] paulb-elastic commented on #462
Thank you @joshdover for the additional insight

[2022-03-21 20:41] andrewvc opened #463 "[META] Reconcile spaces with monitor management and data views"
With the new monitor management feature we now have monitors defined using saved objects in kibana. This creates a situation where the data visible in the Uptime app is contingent on the space in-use. The app reads from two places:

1. Data streams
2. Kibana saved objects

It is currently up to the user to configure this which is confusing. If a user creates monitors in spaces A and B, they will s

[2022-03-21 20:57] andrewvc commented on #463
CC @drewpost @liciavale thoughts on the UX here?

[2022-03-23 16:05] andrewvc opened #464 "[Synthetics UI] TLS UI should be oriented around SANs, not CNs"
Our current TLS UI (pictured below) has a row per certificate, prominently featuring the `CommonName` field, which is deprecated in favor of SANs in modern TLS. Chrome, in fact, requires SANs in all certs. It's also common to have long lists of SANs (whereby the cert applies to multiple sites), sometimes in the thousands.

I propose that we improve the TLS view by:

1. Showing the first 3 SANs in

[2022-03-23 16:33] andrewvc commented on #453
@dominiqueclarke thanks for digging up all those answers. It seems to me that we can create a new issue to encapsulate our ultimate plans to create a lifecycle policy for namespaces, and between that issue and https://github.com/elastic/uptime/issues/462 we can close this one out.

Does that sound right?

[2022-03-23 17:19] dominiqueclarke commented on #453
@andrewvc Yep, @paulb-elastic actually already created an issue off the back of this spike https://github.com/elastic/uptime/issues/462

[2022-03-23 20:34] #439 closed, assigned to shahzad31

[2022-03-24 12:49] joshdover commented on #441
Did some digging here and it seems that this like artifacts as they exist today aren't going to solve many problems here. Specifically, they won't allow a user without access to edit package policies to ship new monitors to custom locations running on Elastic Agent because they _do require a policy change_ to instruct an agent to download an updated artifact.

We'll need to explore other options t

[2022-03-24 14:48] shahzad31 opened #465 "[Uptime] Detect if user has out of sync clock in kibana/heartbeat"
We often times gets users SDH's around where they can't see monitors in overview list and snapshot count, but they can see the data in pings over time chart.

This happens when the system where heartbeat is running or system where kibana is running, it's clock goes out of sync, for example it get's set to 5-6 mins in future.

In that case, the timespan filter we have in snapshot query and overview

[2022-03-28 12:00] shahzad31 opened #466 "[Public Beta] Add callout if fair usage policy is breached"
In 8.2 we have enabled public beta for monitor management.

In which user can request access to public beta, once user is in public beta, they will have to abide by the fair usage policy.

Since there will be no cost to run monitors in the service in this phase, we will enforce to make sure, there is limit.

AC's

Once an API is added in the service which will return if user has breached the fair

[2022-03-28 14:29] paulb-elastic commented on #466
Do we have a view on how this will be presented, in a toast, or some other way?

cc @drewpost @hbharding @liciavale

[2022-03-28 15:03] paulb-elastic commented on #453
Thank you @dominiqueclarke for finding out how to proceed.  Closing ths as discussed ^^.

[2022-03-28 15:03] #453 closed, assigned to dominiqueclarke

[2022-03-28 16:28] paulb-elastic commented on #355
No longer needed as Uptime will eventually be replaced by the Synthetics app

[2022-03-28 16:28] #355 closed, assigned to nobody

[2022-03-28 16:52] paulb-elastic commented on #433
Covered in https://github.com/elastic/kibana/issues/128300

[2022-03-28 16:52] #433 closed, assigned to nobody

[2022-03-28 17:15] paulb-elastic commented on #454
Pushing to 8.3, and the expectation is that the simplest implementation is done for this to get out of the APM UI codebase

[2022-03-28 17:44] paulb-elastic commented on #426
Requirements are going to be moved from here to https://github.com/elastic/kibana/issues/128473
(cc @drewpost @hbharding)

[2022-03-28 17:45] paulb-elastic commented on #353
No longer needed as Uptime will eventually be replaced by the Synthetics app

[2022-03-28 17:45] #353 closed, assigned to nobody

[2022-03-28 17:46] paulb-elastic commented on #356
Need to get https://github.com/elastic/uptime/issues/454 done first, which, based on implementation (e.g. using Exploratory View / Lens), will determine what's left to do.

[2022-03-28 17:47] paulb-elastic commented on #352
No longer needed as Uptime will eventually be replaced by the Synthetics app

[2022-03-28 17:47] #352 closed, assigned to nobody

[2022-03-29 01:49] dominiqueclarke commented on #406
Closed by implementation https://github.com/elastic/kibana/issues/127158

[2022-03-29 01:49] #406 closed, assigned to dominiqueclarke

[2022-03-29 13:55] emilioalvap commented on #441
Discussed with @andrewvc, `Location Id` field should be added to the integration form to mimic service location's `id`.

**Edit**: The requirement is to provide users with the possibility to define the `id` for a custom location, so that it can be specified during the push command or from cli, instead of location's name. Same logic already applies to service locations.
Custom location ids should b

[2022-03-29 14:42] paulb-elastic commented on #448
Based on the current implementation, @shahzad31 is considerting defining a new / updated issue to replace this one

[2022-03-29 17:02] kyungeunni commented on #461
@justinkambic, @v1v, and I discussed this topic today and drafted up a plan for code signing, releasing, and publishing.

Here are the milestones we'd like to tackle one by one.

1. Build and release recorder from Jenkins on tag push (without signing)
2. Sign and notarise recorder for Mac and Windows
3. Publish recorders to elastic's artifacts storage and deprecated Github release

[2022-03-29 19:36] andrewvc commented on #441
I've added a list of ACs including what you've mentioned to the top level description @emilioalvap

[2022-03-30 13:49] dominiqueclarke commented on #441
Hi @joshdover. Thanks for the updates regarding the use of artifacts. With regards to the other options we have to support this use case, is a finer tuned RBAC model that allows for users to have write access for specific packages only still an option? I see that some further investigation has been done for https://github.com/elastic/obs-dc-team/issues/731.

[2022-03-30 13:58] dominiqueclarke commented on #462
@drewpost @paulb-elastic

We need default storage tier and retention period definitions to begin this ticket, and to evaluate what permissions, if any, the kibana_system user will need to support this feature.

[2022-03-30 17:15] drewpost commented on #462
Sorry @dominiqueclarke - This has been documented but it appears it didn't get into this ticket. Here's the defaults:

365 days
HTTP lightweight checks (synthetics-http)
ICMP lightweight checks (synthetics-icmp)
TCP lightweight checks (synthetics-tcp)

Browser checks - core data (synthetics-browser): 365 days

Browser checks - network data (synthetics-network): 14 days

Browser checks - screenshot

[2022-03-30 19:24] dominiqueclarke commented on #450
@paulb-elastic This is complete with elastic/telemetry#970.

One thing to note is that the telemetry can be found in `https://telemetry-v2-staging.elastic.dev/`, not `https://stack-telemetry.elastic.com`. The legacy stack stats telemetry data is only forwarded to the staging cluster, not prod. It's a bit confusing, because the data that is being forwarded is production customer data. Nevertheless,

[2022-03-30 19:24] #450 closed, assigned to dominiqueclarke

[2022-03-30 19:37] dominiqueclarke opened #467 "[Elasticsearch] Add necessary `manage` privileges for synthetics indices to the `kibana_system` user to support ILM"
Related to https://github.com/elastic/uptime/issues/462

Fleet uses the internal `kibana_system` user to install integration package assets into Elasticsearch in order to support automatic upgrades of packages without end user intervention. To support , we'll need to add extra permissions for this user.

In particular, we must add the `manage` index privilege on all the indices being managed by th

[2022-03-31 11:29] paulb-elastic commented on #450
Thanks @dominiqueclarke

@drewpost if there are specific dashboards you need creating, can you create an issue please?

[2022-03-31 12:57] joshdover commented on #441
Yes that's definitely an option, but note that we're planning to implement that via Spaces authorization to the parent Agent policy. So if you wanted a user to have access to edit any monitors that should be run in custom locations, they'd also need to be granted Fleet access to all agent policies for a given Space.

[2022-04-01 00:16] andrewvc commented on #441
@dominiqueclarke  @joshdover I think that's reasonable for an initial approach in that we can document that. It also makes sense in that you might want a custom monitor location only available within one space, but not another.

[2022-04-01 09:49] paulb-elastic commented on #441
I've added to the ACs:

As in 8.2, _Manage monitors_ will only appear for Cloud installations

[2022-04-01 14:01] joshdover commented on #441
Sounds good. In that case, I think we can table the artifacts discussion for later and address the Synthetics use case when the time comes. I don't see any reason we couldn't provide a mechanism of some sort that supports the type of authz you all need, whether that's artifacts or something else.

[2022-04-04 10:46] paulb-elastic opened #468 "Update the Enable Monitor Management links"
The _Enable Monitor Management_ page contains two URL links that need to be updated to the correct location for the Public Beta

![image](https://user-images.githubusercontent.com/70908889/161528390-a47d419a-c95b-4e77-8c05-b2d8e2042257.png)

ACs:
* @drewpost to confirm the details of the URL locations*
* Update the _Request access_ button to link to the correct location
  * Details in https://gith

[2022-04-04 15:39] #465 closed, assigned to justinkambic

[2022-04-05 10:49] shahzad31 opened #469 "Use a different method for adding a monitor"
Synthetics service has been refactored to use a separate handler to add monitor.

`/monitors `end point with POST will be used to add monitors
`/monitors `end point with PUT will be used to sync monitors

This is necessary to display and calculate public beta limits in service.

We need to make changes in kibana to account for these new methods.

[2022-04-05 19:37] andrewvc commented on #441
I've added a new approach here that gives us load balancing after speaking with @joshdover and @ph today. It's under the section "Fleet / Agent Interaction - Take Two". Please take a look all, it's quite different than the original approach, but should not be much more work.

[2022-04-06 11:43] #469 closed, assigned to shahzad31

[2022-04-06 20:07] andrewvc commented on #441
I've added an AC that Location ID should require a prefix of custom- to ensure it does not clash with hosted IDs

[2022-04-06 22:22] axrayn commented on #441
Is there the option to also allow tagging of the agent nodes to specify/filter on capabilities of the specific node?

e.g. tagging with 'saml' if the agent is deployed on a windows endpoint that can support synthetics for websites that require SAML authentication vs  a linux endpoint that doesn't support SAML.

This could also assist with delineating agent endpoints that are deployed to different

[2022-04-07 11:35] joshdover commented on #441
A couple of notes on the action-based load balancing approach being discussed:
- An estimation of the potential number of actions/second produced by this on larger clusters would be helpful. We're engaging in some in-depth scale testing of Fleet/Agent and we could use this calculation to inform our performance targets.
- We need to evaluate whether or not there are any problems with the `.fleet-ac

[2022-04-07 12:01] shahzad31 commented on #457
i haven't been able to reproduce the first issue.

[2022-04-07 13:18] shahzad31 commented on #466
this was doen in https://github.com/elastic/kibana/pull/128770

[2022-04-07 13:18] #466 closed, assigned to nobody

[2022-04-07 14:09] #457 closed, assigned to shahzad31

[2022-04-08 00:34] andrewvc commented on #441
I've tried to writeup more complete thoughts on this before I go on vacation. I hope this is complete enough. @joshdover if you jump to the "Messaging overhead and perf concerns" section you'll find some back of the envelope math that may be helpful, but I'd love your thoughts on this full comment. In short, I'm not too worried about perf. Also, ++ on not defining an API for now, I think we may wa

[2022-04-11 11:14] joshdover commented on #441
Thanks for the detailed writeup @andrewvc. I suspect the message overhead of the basic work queue approach to be negligible as well. Likely the most valuable benefit of the other approaches is that it removes Kibana (and Task Manager) from the critical path of executing monitors. When Kibana is down or Task Manager / Alerting is being heavily used, the task running to schedule Uptime monitors will

[2022-04-12 09:20] paulb-elastic opened #470 "[Monitor Management] Update beta badge hover copy"
When hovering over the `Beta` badge on Monitor Management, the copy should be changed to reflect the limitations of the beta programme, more like what we have with the Synthetics Integration, like this:

![image](https://user-images.githubusercontent.com/70908889/162925566-1d42960f-1393-411e-a6cb-2732a9c4c95f.png)

If there is a standard for beta copy, use that.  Alternatively, use this:

[2022-04-12 11:40] shahzad31 commented on #456
Tested on Edge-olbt, working as expected !!

[2022-04-12 14:49] bmorelli25 commented on #470
The standard beta copy that we have is:

[2022-04-12 19:29] #460 closed, assigned to vigneshshanmugam

[2022-04-13 15:09] #470 closed, assigned to dominiqueclarke

[2022-04-18 20:21] justinkambic commented on #465
Post-FF Testing LGTM

<img width="1054" alt="image" src="https://user-images.githubusercontent.com/18429259/163871733-b714d158-72e3-4671-89c1-195e5372e3b3.png">

[2022-04-19 10:42] paulb-elastic commented on #468
Updated the AC with the _read the docs_ link (https://docs.google.com/document/d/1hkzFibu9LggPWXQqfbAd0mMlV75wCME7_BebXlEH-oI/)

[2022-04-19 17:10] dominiqueclarke commented on #468
The request access link LGTM in production. Takes you to https://docs.google.com/forms/d/e/1FAIpQLSfWPWhpGmKzE8KteuRywVRqqKEhahG-494q8tIldZMp3xo2SQ/viewform

<img width="1008" alt="Screen Shot 2022-04-19 at 1 07 32 PM" src="https://user-images.githubusercontent.com/11356435/164058380-0f29f9a0-acef-4c7d-ae64-225d7ea7e3c9.png">

[2022-04-19 21:04] #468 closed, assigned to nobody

[2022-04-20 14:58] #467 closed, assigned to dominiqueclarke

[2022-04-20 17:26] #459 closed, assigned to awahab07

[2022-04-25 13:44] drewpost commented on #430
Hey @DanRoscigno - Thanks of this. Can you help me out with what you're trying to do here that requires you to use the filters. We're looking at the alerting experience with our new Synthetics app and creating a more user friendly experience is a big part of that. I'm not sure what you were trying to that prompted this feedback!

[2022-04-25 14:08] DanRoscigno commented on #430
Hi @drewpost I don't remember what my goal was, but this issue is to say "the UI should not show the laundry list of fields unless the user can scroll through all of the fields and not just the first 100"

To find out real use cases I would suggest working with the Cloud SREs and Infra to find out what they alert on with watcher and then try to recreate those with Alerting.

[2022-04-26 11:19] shahzad31 commented on #449
closed by https://github.com/elastic/kibana/pull/130952 and https://github.com/elastic/kibana/pull/130949

[2022-04-26 11:19] #449 closed, assigned to shahzad31

[2022-04-26 18:47] dominiqueclarke opened #471 "[Synthetics Service] Run staging synthetics service smoke in the staging environment"
Currently, staging smoke tests for the full stack along with the synthetics service are run in the prod cloud first testing region.

The Kibana.yml file is pointed to the staging version of the service manifest.

Instead of running staging synthetics service tests in the prod cloud environment, we should run staging synthetics service in the staging cloud environment.

[2022-04-27 09:58] lucasfcosta commented on #441
@andrewvc thanks for such a detailed write-up! Before I go on holidays I thought I'd also outline yet one more approach which came to mind after our last discussion: **create a pull-based mechanism from the Hearbeat side, rather than pushing work through Kibana**.

In this comment, I'll explain how this approach would work, and why I think it might be a good one. Then, I'll relate this approach ba

[2022-04-27 10:58] lucasfcosta commented on #441
@andrewvc thanks for such a detailed write-up! Before I go on holidays I thought I'd also outline yet one more approach which came to mind after our last discussion: **create a pull-based mechanism from the Hearbeat side, rather than pushing work through Kibana**.

In this comment, I'll explain how this approach would work, and why I think it might be a good one. Then, I'll relate this approach ba

[2022-05-03 13:28] andrewvc commented on #441
Thanks for the thorough writeup @lucasfcosta ! I agree that there's a lot to be said for a pull vs. push architecture, and TBH I'd generally favor that myself. It's how most work queues are implemented.

The key reason for going with the push approach was to simplify network configuration, the push approach can work atop the existing fleet server comms channel. With a pull approach users need to m

[2022-05-04 16:43] emilioalvap commented on #441
Thanks for the detailed overview @andrewvc! I've gone through the proposal a few times already and I just have a couple of points that I might not have picked from your comment:

- Regarding `overprovisioned` flag in a scenario where _total monitor execution time > total cpu available_ for a given location, how are we going to handle snowballing the local queue? Should we flush it on every message

[2022-05-04 17:40] andrewvc commented on #441
@emilioalvap what is the `overprovisioned` flag? I don't see that word elsewhere here, but I think I understand what you mean? At any rate, we could make sure the queue holds at most one message per monitor ID at a time. So, if one message is missed, subsequent ones don't pile up. Since everything in ES is easily indexed this should be easy, and could possibly be done even more optimally by encodi

[2022-05-05 11:43] shahzad31 commented on #448
This was only valid for suit monitors, concept which is outdated with new push monitors approach so I am going to close this.

[2022-05-05 11:43] #448 closed, assigned to nobody

[2022-05-05 13:25] emilioalvap commented on #441
@andrewvc Sorry about that, I meant `overscheduled`. You answered it anyway.

With this approach, will monitor configuration and source code still be added to fleet integration policy or sent to each individual agent on each iteration? Do these "action" documents need to be encrypted as well?

[2022-05-05 14:31] andrewvc commented on #441
That's an excellent question about encryption. I'm not entirely sure what the best approach here is. Some thoughts:

## Approach A

We should look into what security guarantees there are on this data at the moment. I assume these docs are already highly restricted, I don't see us needing much more in terms of encryption than the existing saved objects have. I'd expect those indices to already be h

[2022-05-15 18:46] #430 closed, assigned to nobody

[2022-05-18 13:48] #463 closed, assigned to nobody

[2022-05-18 13:49] andrewvc commented on #463
Closed due to a new approach of filtering based on saved objects

[2022-05-19 00:27] andrewvc commented on #441
After discussing this extensively with @paulb-elastic and @drewpost we've decided to revert to @dominiqueclarke 's original design.

While it would be nice to do load balancing etc. from the get go, it's not worth the extra effort at this point, we have other higher priority items on the roadmap to tackle. I've updated the top comment accordingly.

[2022-05-19 14:30] ph commented on #441
@andrewvc FYI https://github.com/elastic/ingest-dev/issues/1000 concerning security/credentials.

[2022-05-30 11:14] paulb-elastic opened #472 "Update the "Learn more" link from the "Generate API Key" flyout"
The **Generate API Key** flyout in Uptime, Monitor Management, includes a link to **Learn more**.  This needs to be updated for the 8.3 stack release, to point to the correct documentation location.

![image](https://user-images.githubusercontent.com/70908889/170980928-a987207a-cd11-483d-b4d7-4b7d97f38429.png)

The URL for the link should refer to https://www.elastic.co/guide/en/observability/curr

[2022-05-30 12:50] #455 closed, assigned to shahzad31

[2022-05-31 16:01] #375 closed, assigned to shahzad31

[2022-05-31 16:10] paulb-elastic commented on #454
Moving to 8.4 as these PRs are not being merged on for 8.3

[2022-06-03 11:44] shahzad31 commented on #449
Skipping post FF Testing

[2022-06-06 14:41] paulb-elastic commented on #426
This is covered in https://github.com/elastic/kibana/issues/128473 (with the addition of the assertion requirement as mentioned in https://github.com/elastic/kibana/issues/128473#issuecomment-1147524569)

[2022-06-06 14:41] #426 closed, assigned to nobody

[2022-06-06 16:19] paulb-elastic opened #473 "Deprecate Synthetics Integration and ZIP URLs"
With the introduction of the self-managed node integration (https://github.com/elastic/uptime/issues/441) and project based monitors (https://github.com/elastic/synthetics/issues/494), we need to clean up the previous beta implementations that will be superseded.

ACs:
* None of these should be done until both https://github.com/elastic/uptime/issues/441 and https://github.com/elastic/synthetics/i

[2022-06-07 10:55] emilioalvap commented on #454
@shahzad31 @justinkambic Checking percentile component, it seems to be [statically declared](https://github.com/elastic/kibana/blob/main/x-pack/plugins/ux/public/components/app/rum_dashboard/user_percentile/index.tsx) inside the UX plugin. Can we remove that from the task list or is there anything else that needs migrating here?

[2022-06-07 18:53] shahzad31 commented on #467
Since during testing lifecycle, it deleted data, we can this works so marking this as POST FF Testing succesfull.

[2022-06-15 16:20] dominiqueclarke commented on #462
@paulb-elastic

While Drew's requirements are clear, there are many ways we can implement a 14 day retention period for network data and screenshots.

When configuring phases, a max age or max size of the write index is specified. If either the max age or the max size is reached for the main write index, a rollover occurs, a new write index is created, and the old write index becomes a read index.

[2022-06-15 17:51] paulb-elastic commented on #462
From a time perspective, it seems having a hot of 14 days and then a delete of 0 days would meet @drewpost’s default requirement (I haven’t tried it in action, but I can certainly build a policy with this configuration).  That’s for time based.

You raise an interesting point about the size element too.  Does this _have_ to be set?  In the UI, I seem to be able to not set this (same as the max num

[2022-06-17 08:55] paulb-elastic commented on #472
Updated the description with the docs link https://www.elastic.co/guide/en/observability/current/synthetic-run-tests.html

[2022-06-17 14:17] #472 closed, assigned to shahzad31

[2022-06-20 18:43] justinkambic opened #474 "[Uptime/Synthetics] Remove UI Snapshot tests"
We often get pinged for reviews like [this one](https://github.com/elastic/kibana/pull/133927) where most, or sometimes all, of the changes are related to generated classnames changing when an EUI version bump happens in Kibana.

We could re-write these unit tests in a way that makes them resilient to these modifications and reduce the review burden on ourselves and the EUI team when they're perfo

[2022-06-29 14:31] kazagz commented on #473
@paulb-elastic will this make `inline` the only option for running scripts? It won't be possible to run docker.elastic.co/beats/heartbeat with `source: local:` in `heartbeat.yml` file?

[2022-06-29 17:45] paulb-elastic commented on #473
Hi @kazagz, [project based monitors](https://github.com/elastic/synthetics/issues/494) are going to be an improved solution that replaces ZIP URLs.

This will allow you to have externally configured user journeys (similar to how you have these currently as a ZIP URL) and `push` them to Kibana (either from the command line, or from a CI pipeline).

As part of this `push` you also configure where to

[2022-07-07 11:30] paulb-elastic commented on #441
Final decision for this is to call it **Private Location**

[2022-07-11 19:32] andrewvc opened #475 "Private monitor management locations MVP"
This takes over for https://github.com/elastic/uptime/issues/441 which has grown long and unwieldy.

This issue defines ACs for an initial implementation of private locations for monitor management in the Uptime app. The locations are
to be implemented atop fleet continuing the work in @shahzad31 's POC

## ACs

### Design

![image](https://user-images.githubusercontent.com/847805/178748965-480f7e

[2022-07-11 19:33] andrewvc commented on #441
Closing in favor of https://github.com/elastic/uptime/issues/475

[2022-07-11 19:33] #441 closed, assigned to shahzad31

[2022-07-11 19:37] dominiqueclarke commented on #475
For users entering through the Elastic Synthetics page, should we disable the ability to add integrations directly and navigate them to MM?

Test now functionality should also be disabled.

[2022-07-21 19:35] hbharding commented on #475
## Update

I added some designs for the Private location flyout to the issue description based on a session with @shahzad31 and @dominiqueclarke. I made these pretty quickly based on Shahzad's work. I'm hoping these are relatively small improvements we can get in, but I certainly don't want to block this feature from getting into the next release. Let me know if there are any areas we can simplify

[2022-07-26 15:57] paulb-elastic commented on #454
Mostly done but moving over to 8.5 board where the last remaining item https://github.com/elastic/kibana/pull/135367 will be targeted for.

[2022-07-26 21:28] dominiqueclarke commented on #475
Setup
---
Testing this feature requires Fleet server and `elastic-agent-complete` running in Docker.

You can choose to either set up Fleet server and elastic-agent manually or automated using `elastic-package`. Both methods require a bit of investment upfront to set up.

Via `elastic-package`
---
1. Run `elastic-package stack up --version 8.4.0-SNAPSHOT -v`
2. Once the stack is up, stop kibana us

[2022-07-27 03:12] #462 closed, assigned to nobody

[2022-07-27 15:05] lucasfcosta commented on #475
It took me quite a bit of time to set things up due to https://github.com/elastic/synthetics-service/issues/685. So I had to fix that locally before proceeding. Also, setting up a remote OBLT cluster was not possible because of the `SNAPSHOT` version there.

I ended up testing this locally against the elastic stack with the change which allows the service to disable SSL on dev mode.

Will post fee

[2022-07-29 03:52] dominiqueclarke commented on #475
@lucasfcosta Please see https://github.com/elastic/kibana/pull/137526 for the fix to the critical issue. It isn't related to the issue with the beta status label at all, though I will ping you seperately about that

Step 5: It's not immediately obvious what the user should do because there are two primary buttons. Should they click the one on the bottom or the one on the top? This is confusing IMO

[2022-08-01 13:17] emilioalvap commented on #475
@dominiqueclarke I'm in the process of running on-prem checks, just wanted to make sure, fleet user should not have permission to enable Monitor Management right? There's a explanatory note for uptime user but nor for fleet, so I'm not sure what the expectation is here.

(Ignore this comment, it's the same @lucasfcosta posted above) ~~A minor thing, if the user selects `cancel` or close the flyout

[2022-08-01 13:44] emilioalvap commented on #475
@dominiqueclarke qq about lightweight checks. I've noticed `ICMP` and `TCP` checks are displaying `Fleet managed` as locations in the result page, is this intended?

[HTTP](https://user-images.githubusercontent.com/95703246/182161496-0e99af3f-2e45-4cb1-b8f5-2b97a1892d69.png)
vs.
[ICMP](https://user-images.githubusercontent.com/95703246/182161604-6e229060-7539-4969-ae2d-89c1688e0ba2.png)

[2022-08-01 13:46] justinkambic opened #476 "[Synthetics UI] Investigate/remove exhaustive deps comment from enable/disable hook"
**Describe the bug**
Not a bug per se but an implementation detail that we [called out](https://github.com/elastic/kibana/pull/136895#pullrequestreview-1048313707) in review. The code in question was already in prod, so we did not deem it necessary to hold up that PR. That said, I have not been back to investigate/fix this and wanted to make sure it did not go unresolved indefinitely.

**To Reprod

[2022-08-01 13:58] emilioalvap commented on #475
About these two:

<html>
<body>

When | I have a monitor configured for a private location | I cannot delete that private location until all monitors for that location are removed |  
-- | -- | -- | --
When | I have no monitors for a given location | I can delete that private location

</body>
</html>

Found a race condition where if Kibana takes long to respond, it's actually possible to remove a

[2022-08-01 19:06] dominiqueclarke commented on #475
@emilioalvap That is not intended. Good catch! Please pull down the fix from this PR and retest. Testing instructions included https://github.com/elastic/integrations/pull/3925

[2022-08-02 13:37] lucasfcosta commented on #475
Thanks for the updates @dominiqueclarke! I've just tried adding a location and then a monitor and it's now working for me!

# Fleet user on Cloud context

Images:
* [Location added](https://user-images.githubusercontent.com/6868147/182367681-5b774ca5-cfe3-4bc4-b7d4-e6ee8bd9ddd3.png)
* [Selecting the desired location when creation a monitor](https://user-images.githubusercontent.com/6868147/1823676

[2022-08-02 14:15] dominiqueclarke commented on #475
Yes, we do not currently support run once for private locations

Unfortunately, this is where we are at for MVP. We don't have as much control over those two fields, as they are controlled by the Fleet UI codebase. In the future, we can make improvements, but for MVP we ran out of time to improve this through contributions on the Fleet side.

I agree. This has been discussed, and again came down t

[2022-08-02 15:16] lucasfcosta commented on #475
# On Prem Feedback

## Fleet user

1. [Add monitor button is disabled as expected with the prompt for new location](https://user-images.githubusercontent.com/6868147/182404089-608eddf1-073d-4ced-bfbc-c197349fabad.png)
2. [I can save a new location just fine](https://user-images.githubusercontent.com/6868147/182405048-f3c7f6f6-c7e6-4dbd-8e4e-f1b438fd1339.png)
3. [I can create a monitor just fine](h

[2022-08-02 16:05] lucasfcosta commented on #475
# Project monitors

## On cloud with fleet

1. [I was able to push a project monitor succesfully to my private location.](https://user-images.githubusercontent.com/6868147/182419152-ae5e97e9-c99f-45ed-9f27-07c93b7a5725.png) [Here's the pushed monitor.](https://user-images.githubusercontent.com/6868147/182419024-8e74cb29-0d4f-4a41-94d1-57a12f04726e.png)
2. [I can see my monitor's results](https://u

[2022-08-02 16:12] dominiqueclarke commented on #475
@lucasfcosta I'm assuming this is for an Uptime only user. Did you remove this key in your Kibana.yml file? `xpack.cloud.id: something`

[2022-08-02 16:28] lucasfcosta commented on #475
@dominiqueclarke that was it, thank you! Removing it did disable the button. Everything else seems fine still. Thank you very much!

[2022-08-02 20:36] #476 closed, assigned to nobody

[2022-08-03 12:19] lucasfcosta commented on #475
Closing this one and actually moving straight to "Done Done" as recommended by @shahzad31 on Slack.

[2022-08-03 12:19] #475 closed, assigned to shahzad31

[2022-08-08 15:50] paulb-elastic commented on #473
Closed as covered in https://github.com/elastic/synthetics-dev/issues/124 and items in https://github.com/elastic/kibana/issues/137508

[2022-08-08 15:50] #473 closed, assigned to nobody

[2022-08-09 14:35] awahab07 commented on #462
**Post FF Testing**

- Separate ILM Policies are created for each Synthetics Steam Type.
- The Delete Phase Age corresponds to the AC per Stream Type.

||Hot Phase - Maximum Age (days)|Hot Phase - Maximum Index Size (GB)|Delete Phase - Max Age (days)|
|:---|:---:|:---:|:---:|
|browser-default_policy|30|50|365|
|browser_network-default_policy|1|_default_|14|
|browser_screenshot-default_policy|1|_de

[2022-08-26 10:00] emilioalvap commented on #454
Marking as done, last PR was merged into 8.5

[2022-09-06 13:13] dominiqueclarke commented on #471
Superseded by https://github.com/elastic/synthetics-dev/issues/146

[2022-09-06 13:13] #471 closed, assigned to dominiqueclarke

[2022-09-13 11:47] #171 closed, assigned to nobody

[2022-09-28 19:47] dominiqueclarke commented on #454
POST FF Testing:

Did general smoke tests of the UX page on 8.5 local branch via data from oblt-cli.

Looks great, generally, but the browser breakdown and operating system breakdown appears to be broken.

<img width="753" alt="Screen Shot 2022-09-28 at 3 46 16 PM" src="https://user-images.githubusercontent.com/11356435/192875003-446d41ac-7c8c-4918-9439-4abbb7715546.png">
cc: @justinkambic @emilio

[2022-09-29 18:10] paulb-elastic commented on #454
Reopening as per @dominiqueclarke's discovery

[2022-10-11 12:03] emilioalvap commented on #454
Fixed by elastic/kibana#142992.

Moving to Done Done, as @shahzad31 and I have validated it.

[2022-10-11 12:03] #454 closed, assigned to emilioalvap

[2022-11-15 11:27] kyungeunni commented on #461
We will follow [instructions](https://docs.elastic.dev/release/stack/publishing-adhoc-artifacts#request-a-download-page) from the Release eng team.
- [ ]  Update CI to push artifacts to designated storage
    - [ ] Pick a download URL that meets stats service criteria
- [ ] Request a download page by creating a ticket for web content team
    - [ ] Google doc of expected landing page

[2022-11-16 17:09] #281 closed, assigned to nobody

[2022-11-16 17:29] #140 closed

[2022-11-16 17:31] #331 closed, assigned to nobody

[2022-11-16 17:31] #181 closed, assigned to nobody

[2022-11-16 17:33] #315 closed, assigned to shahzad31

[2022-11-16 17:34] #303 closed, assigned to nobody

[2022-11-18 09:21] jonathanrbarney commented on #272
Any updates on plans to add this? Would be nice to have.